[2021-01-28 18:03] StefanPenndorf commented on #796
Hi @jwcarman!

Pitest requires a special JUnit 5 Plugin (https://github.com/pitest/pitest-junit5-plugin) to run JUnit 5 tests (whereas JUnit 4 tests will be supported out-of-the-box). Could you provide a minimal sample app?

[2021-02-06 12:38] TomerFi commented on #766
Same here.
Working with Java11, using try-with-resources, I always end up with a bunch of surviving mutants.
e.g. a mutant removing the close() statement inside the auto-generated finally block.

[2021-02-07 00:23] dalewking opened #859 "Provide documentation/way to add custom mutations"
This may be more of a question than an issue, but I was wondering if there was an easy way to create custom mutants specific to your code.

For example, our code base has our own version of a Result monad that represents a success or failure. It would be nice to have a mutant that if a function returns a successful result it replaces it with an error result to verify that the tests are handling er

[2021-02-07 09:43] hcoles commented on #859
At the moment it is not possible to plugin in new mutation operators, just complete mutation engines. I agree this would be a good feature to have, unfortunately it would require reworking a lot of code and tests due to some bad decisions made early on.

[2021-02-07 16:25] dalewking commented on #859
Looking into it some more I am not sure it is so hard. The key class is org.pitest.mutationtest.engine.gregor.config.Mutator. Right now that has a static block that does a bunch of calls to add and addGroup. If you instead provided a plug-in architecture for a library where you pass an interface to the plug-in where that interface has the add and addGroup methods then a plug-in could add its own m

[2021-02-16 09:45] hcoles commented on #766
Sorry for the delay fixing this folks, it is very annoying. Should have something out early next week.

[2021-02-16 11:34] hcoles commented on #689
Clsoing as this is being fixed under #766

[2021-02-16 11:34] #689 closed

[2021-02-16 12:11] hcoles commented on #766
This has gone a little easier than I'd exepected, so I'll push a release out later today.

New filtering catches the issues in @johnsterken 's example, plus some sample real world projects. I expect there will be further issues with more complex examples, but current code seems to give 90% of the benefit.

[2021-02-16 14:32] johannesn commented on #767
Actually I do have the same issue. I set up a test project here: https://github.com/johannesn/pittestskippingtests .

[2021-02-16 14:41] johnsterken commented on #766
Looking good! I just tried your 1.6.3 version in the project that triggered this issue. It's working like a charm. Thanks @hcoles!

[2021-02-16 14:41] #766 closed

[2021-02-17 08:04] pbludov commented on #255
@hcoles Does  #860 fix this issue? Our build is green after upgrading Pitest to 1.6.3.

[2021-02-17 09:29] hcoles commented on #255
@pbludov possibly. The bytecode that is generated for try with resources varies by compiler (java, eclipse, others) and by java version.

The change in #860 is confirmed to work with java eclipse, javac8 and javac11. There may be issues with other compilers or java versions not tested for, and it might be possible to trip it up with more complex code than has been tested for.

Guess it's a questio

[2021-02-21 13:46] Crissal1995 opened #863 "PIT finds only a subset of tests"
I am doing research on [Defects4j](https://github.com/rjust/defects4j), and its core function is to clone and work with open source projects, one of which is Lang (commons-lang). I was mutating just one class, **org.apache.commons.lang.time.DateUtils**, and I needed to know how many mutations were killed by the default test suite.

The structure of the (compiled) project is standard: **target/clas

[2021-02-22 09:16] johannesn commented on #863
I have the same issue with ant and I set up a sample project at https://github.com/johannesn/pittestskippingtests and asked a question at stackoverflow https://stackoverflow.com/questions/66154859/pitest-skips-tests-in-ant

[2021-02-22 13:56] johannesn commented on #863
I was able to fix my sample project. See my answer at:
https://stackoverflow.com/a/66317031/6509292

[2021-02-22 14:22] Crissal1995 commented on #863
Hi @johannesn, thank you for your reply, but unfortunately even with your suggestion (adding hamcrest-core to the dependencies) PIT didn't find the other tests

[2021-02-22 14:26] johannesn commented on #863
I am currently trying an edited version of this file. Try inserting the following code into the class org.pitest.junit.RunnerSuiteFinder so that it logs the error found by the runner:

`...
    @Override
    public List<Class<?>> apply(final Class<?> a) {
        try {
            final Runner runner = AdaptedJUnitTestUnit.createRunner(a);

            if (runner instanceof ErrorReportingRunner) {

[2021-02-22 15:07] Crissal1995 commented on #863
Thanks to your edit, I could see what's going on under the hood; it seems that the classpaths of classes and tests got mixed, because while searching for testclasses, the Log gave me something like this:
[code]
So it was trying to parse tests even from classes.

The problem is, for some packages the tool tries to get as test class both the actual class and the test, so there is no problem; while f

[2021-02-22 15:37] Crissal1995 commented on #863
Some edit:
With this little edit, I was able to see how the test finder **skips** the tests that contains inner classes.

[code]

As you can see, if the test class has subclasses inside, the finder will skip the main class (the test itself); in the above example, [UnhandledExceptionTest](https://pastebin.com/iEtGWkPW) doesn't contain any subclass, and it's found correctly as test case, while [Comp

[2021-02-23 09:00] Crissal1995 commented on #863
Update:
I tried to change my test classes glob with this - `org.apache.commons.lang.time.*Test` - and decided to follow the execution flow, until I got this report.
[code]
No test was found in any of these classes, but that's not possible ([here](https://pastebin.com/WFdgx2ZU) is the source of DateFormatUtilsTest), since they are valid Junit3 test cases. Even when trying with [TimeTestSuite](https

[2021-02-23 10:30] Crissal1995 commented on #863
Finally found the problem, that is the method `isJUnitThreeSuiteMethodNotForOwnClass` inside the class `org.pitest.junit.JUnitCustomRunnerTestUnitFinder`.

In the same class, there are two other methods, `findTestUnits` and `isNotARunnableTest`.
The first create a Runner and will return an empty list of tests if one of the three conditions - `isExcluded(runner) || isNotARunnableTest(runner, clazz.

[2021-02-23 11:53] Crissal1995 commented on #694
Probably same problem found as #863

[2021-02-25 12:43] rishabhgpt opened #864 "Jacoco noclassdef found error"
Running pitest 1.6.3 maven plugin.

`mvn -DwithHistory org.pitest:pitest-maven:mutationCoverage`

Getting this error in logs while running pitest :

PIT >> INFO : MINION : java.lang.NoClassDefFoundError: org/jacoco/agent/rt/internal_6da5971/Offline

And at the end pitest reports all tests did not get green signal and bails out.
Locally tests run fine.

jdk : 8
jacoco version : 0.7.8
pitest version

[2021-02-25 13:06] rishabhgpt commented on #864
Also what does this error means ?

[code]

[2021-03-01 15:25] LorenzoBettini commented on #619
Hi

sorry if I go back to this issue but I've been trying to get in touch with @echebbi without success.
There are few problems with the deployed composite update site of Pitclipse that should be fixed. Moreover, Bintray is going to shut down soon and we should find another place to host the Eclipse update site of Pitclipse (not to mention that probably also Travis CI is not a good solution anymor

[2021-03-01 17:40] hcoles commented on #619
Hi @LorenzoBettini. Thanks for looking into this. I'm happy to set you up with admin rights. I'd suggest creating an issue on the pitclipse project to cover the "few problems" with the update site so there's a place for discussion in case there's any disagrement on the approach.

[2021-03-01 20:58] echebbi commented on #619
Hi Lorenzo, Henri.  I'm sorry for the absence: I've been terribly busy with personal and professional matters. @LorenzoBettini, I just gave you the Admin rights on the Pitclipse repository so that you can contribute freely. I wasn't aware of the upcoming issues with Travis CI and Bintray; could you create an issue on the repository so that we can discuss about the possible alternatives?
Thanks, Em

[2021-03-02 13:56] LorenzoBettini commented on #619
@hcoles thank you for the admin rights!
@echebbi no problem! I'll create issues where we can discuss the next step

[2021-03-04 11:22] hcoles opened #865 "Filter equivalent flatMap mutants"
Flatmap treats nulls as empty streams, so this common code pattern

[code]

Results in an equivalent mutant when someMethod is mutated to return Stream.empty.

It should be possible to filter a large percentage of these mutants out by looking for private methods that are only accessed in flatMap calls by the class that defines them.

[2021-03-04 20:40] markd315 opened #866 "Request: Filter survivor mutants by type from index.html"
It occurred to me after getting a run with many dozens of NO_COVERAGE and TIMED_OUT that it was unintuitive to search through all the code classes for what each mutant failed with.

It would be much nicer to filter for specific failure enums from the main screen, because most other types of survivor mutants would be much more interesting to investigate than simply heaps of NO_COVERAGE and TIMED_OU

[2021-03-05 02:21] cjt0226 opened #867 "Conflict with spring-boot-dependencies 2.4.3"
Found Error during run "mvn pitest:mutationCoverage",The reason is that I introduced spring-boot-dependencies 2.4.3. It's works fine on 2.4.2.

[ERROR]
[ERROR] Please copy and paste the information and the complete stacktrace below when reporting an issue
[ERROR] VM : OpenJDK 64-Bit Server VM
[ERROR] Vendor : AdoptOpenJDK
[ERROR] Version : 25.265-b01
[ERROR] Uptime : 2929
[ERROR] Input ->
[ERROR]

[2021-03-05 02:22] cjt0226 commented on #867
[ERROR]
[ERROR] Please copy and paste the information and the complete stacktrace below when reporting an issue
[ERROR] VM : OpenJDK 64-Bit Server VM
[ERROR] Vendor : AdoptOpenJDK
[ERROR] Version : 25.265-b01
[ERROR] Uptime : 2929
[ERROR] Input ->
[ERROR]  1 : -Dclassworlds.conf=/Users/frank.chen/Library/apache-maven-3.6.0/bin/m2.conf
[ERROR]  2 : -Dmaven.home=/Users/frank.chen/Library/apache-mave

[2021-03-05 10:07] hcoles commented on #867
It is not clear what the error you are reporting here is, however the earlier edit of your issue included this

`zip file is empty (/Users/frank.chen/.m2/repository/io/projectreactor/reactor-core/3.4.3/reactor-core-3.4.3.jar`

Which suggests it may be an issue with your local cache of the reactor-core dependency. You could try wiping out your .m2 cache and see if that fixes the problem.

If it doe

[2021-03-06 04:35] cjt0226 commented on #867
After delete reactor-core-3.4.3 in m2 repository, the issue was fixed. Thanks!

[2021-03-06 04:35] #867 closed

[2021-03-10 20:07] krzyk opened #868 "Add support for Java 16"
Java 16 is due to be released next week so it would be goot for pitest to be ready.
Right now it fails with `Unsupported class file major version 60`

[2021-03-11 09:17] hcoles commented on #868
Thanks. This is most likely already fixed in master where the ASM dependency has been bumped to 9.1. I'll see if I can get some actual testing done against 16, but will release either way this weekend.

[2021-03-11 13:00] hcoles commented on #868
@krzyk Release 1.6.4 should sync to maven central in the next hour or so. The pitest test suite passes with 16-ea, but not tried it on any real code.

If it works for you, please report back in this issue.

[2021-03-11 13:36] oscarlvp commented on #859
@dalewking take a look at https://github.com/STAMP-project/pitest-descartes if you want to try to build your own mutation engine. The code is simpler as we implement only method-level mutation operators that completely rewrite the methods. Also, I would like to know a bit more about your use case. We want to support custom and plugable mutation operators in the engine.

[2021-03-12 12:28] hcoles opened #871 "Avoid intellij annotations code"
Intellij will "helpfully" generate null check code when it is used as a compiler. The generated methods are correctly marked synthetic, but the call to them are not.

If a clean build with a proper compiled is not performed the analysed classes may have surviving mutants in code such as the following

[code]

This should be filtered out.

[2021-03-12 14:32] acffagundes opened #872 "Mutation tests showing wrong results when using AssertJ recursive comparison"
Hello,

I am checking if it is possible to use pitest with the application I work with. I setup everything and was checking the results and I have found some classes with an interesting result. I have a class with 95% coverage (140/148) and 4% mutation coverage (2/49). I got intrigued with the result and open the unit test so understand why the results were that bad.
I didn't find anything wrong w

[2021-03-12 14:53] hcoles commented on #872
Could you create a minimal project that re-produces this issue? There is no obvious reason why the assertion would behave differently when run via pitest.

[2021-03-12 19:09] acffagundes commented on #872
Henry,

I have created a sample project as you asked.
https://github.com/acffagundes/mutation-test-sample

There is one package for recursive and non recursive comparison in the unit tests.
![image](https://user-images.githubusercontent.com/17880047/110986078-83275900-836d-11eb-9edd-999f4888c28f.png)

Comparing both result you can see that there is a difference. When I open the recursive result th

[2021-03-12 19:40] hcoles commented on #872
Mutation coverage is working as expected and is revealing that the reflection based assertion is not able to detect the mutation.

The difference between the recursive and non recursive assertions that you've written is that the non recursive ones are also checking that the value the getters return is not null, it is this check that is killing the mutants.

If you just check that the dto getters r

[2021-03-15 16:29] acffagundes commented on #872
I got your point, I have made several tests to understand better how the mutations work.
What understand is that doesn't matter if use reflection or not, the only way to kill the that mutation is by asserting that is not null or empty. I wrote a custom recursive method using reflection and adding a check for null or empty and it does kill all the mutations. However in the real application there ar

[2021-03-16 07:56] acffagundes commented on #872
I have made more tests and studied the behaviour of the mutations. The conclusion I have is that my unit tests have a good coverage despite mutation coverage being low. I have compared 3 cases:

**Case 1: Actual and expected are instances of the same object**
com.package1.PersonDto actual;
com.package1.PersonDto expected;
assertEquals(expected.getFirstName(), actual.getFirstName());  ==  -->  muta

[2021-03-16 08:55] hcoles commented on #872
I'm not sure what you mean by "not effective", it is correctly highlighting that your tests would not fail if one of your getters returned null instead of the intended field. You may be happy for your test suite to pass when this type of bug is present, but this does not mean that mutation testing has not been effective.

[2021-03-17 00:19] scampbell5 opened #873 "Tests Reporting Failed Without Mutation Using Pitest >= 1.6.2"
Hello,

We have recently upgraded to pitest 1.6.4 and started experiencing issues where pitest says tests did not pass without mutation. If I change the version back from 1.6.4 to 1.6.1, the issue goes away and pitest runs successfully. It looks like the issue may have been introduced in version 1.6.2 of the plugin. I created a very minimalistic project outlining our issue:

https://github.com/sca

[2021-03-17 09:24] hcoles commented on #873
Hi @scampbell5

Thanks for the report and the minimal project, always a huge help.

The issue looks to be the change in modifiers for the coverage probe field. Previously this was always marked as final, but this change

https://github.com/hcoles/pitest/pull/850

required that it be made non final in order to deal with a nasty initialisation order issue.

Is seems that the assertion library you ar

[2021-03-17 21:36] scampbell5 commented on #873
Hi @hcoles,

Thank you for such a well written and detailed reply on this issue. I agree that it sounds like an issue that should be fixed in the openpojo library. I've opened up an issue on their repository along with a PR to fix the issue. Please feel free to close this issue. Thanks again for your assistance with this!

[2021-03-19 16:35] t1 commented on #426
It's been almost a year now, but as much as I'd like to help, I'm way to busy with other stuff. I just wanted to let you know.

[2021-03-22 18:27] jwcarman commented on #796
@StefanPenndorf I'm already using the JUnit5 plugin. It works great! It just doesn't seem to pick up all available tests, unfortunately. Let me see if I can whip up an isolated example.

[2021-03-23 12:49] oscarlvp commented on #859
Check out a new mutation engine for that : https://github.com/oscarlvp/pitest-extensible-engines. It is functional but, it is still a work in progress.

[2021-03-29 01:53] ricardosm opened #878 "Is it possible to use the pitest tool with the jqwik tool (property-based test tool)?"
**Can I use the jqwik tool (property-based test tool) with the pitest?**

My goal is to automatically generate the values (inputs) for my test cases and evaluate the strength of these values against the mutants generated by Pitest.

The problem is that running Pitest 1.6.4 with jqwik 1.5.0 the Pitest tool did not recognize the properties (@Property) in my PropertiesTest classes.

**Below is an exa

[2021-03-31 08:53] Rbasarat opened #879 "Generate mutants without executing"
Hi,

Is it possible to generate mutants without executing them. I want to see which mutants are generated. I know of the `Dfeatures=+EXPORT`  flag I can add. But I do not want to wait every time for execution to finish.

[2021-03-31 08:57] hcoles commented on #879
There's nothing built in at the moment. The export should happen before execution though, so you should be able to kill the process once it starts. If that doesn't work for you, you'd need to hack the code.

[2021-04-17 01:26] biabs1 opened #880 "EvoSuite tests failing on PIT code coverage"
Hello,

I've been trying to run PIT with tests generated by EvoSuite. However, some tests fail while PIT is running code coverage. These tests pass when I run them with JUnit and EvoSuite runtime test dependency (evosuite-standalone-runtime-1.0.6.jar) on the command line.

I know that Evosuite tests do not always work with PIT. I already tried the following approaches to try to solve this problem:

[2021-04-17 14:36] ben-clegg opened #881 "Tests requiring AssertJ Swing as a Maven dependency encounter a NoClassDefFoundError under Pit"
I have some JUnit tests for my Swing GUI using AssertJ-Swing, which work fine under other Maven `test` goals, but they crash out when running Pit. In addition, my other (non-AssertJ) tests work fine with Pit.
This issue occurs for both OpenJDK 11 and OpenJDK 8.

The exact issue I am facing is that a `java.lang.NoClassDefFoundError` is thrown when running any `AssertJSwingJUnitTestCase`, when it tr

[2021-04-20 19:58] ricardosm opened #886 "Does Pitest work with the junit-quickcheck property test tool?"
I am trying to use the junit-quickcheck property testing tool together with Pirtest 1.6.4. However, I am encountering a problem. Pitest doesn't seem to be able to find the tests in my test class.

The message "PIT >> INFO: Found 0 tests" is always returned.

I believe that this problem occurs because the junit-quickcheck tool requires @RunWith (JUnitQuickcheck.class).

Does anyone have a solution

[2021-04-22 07:05] StefanPenndorf commented on #881
Hi @ben-clegg

Could you provide the full stack trace of the NoClassDefFoundError?

Pitest uses `-Djava.awt.headless=true` to prevent stealing focus on Mac (see #581). This might interfere with GUI-testing.

[2021-04-22 07:26] StefanPenndorf commented on #864
Hi @rishabhgpt

You need to include JaCoCo Agent as a dependency, see https://stackoverflow.com/questions/40067455/jacoco-caused-by-java-lang-classnotfoundexception-org-jacoco-agent-rt-inter

The `ScriptEngineManager` class doesn't belong to pitest and might be called by org.apache.maven.scm:maven-scm-provider-integrity. If this is a problem and you're not using Integrity SCM you might try to excl

[2021-04-22 07:30] StefanPenndorf commented on #854
Hi @Spourang

unfortunately it's almost impossible to reproduce and fix this issue with the information provided. Could you provide a minmal example project reproducing the issue? Could you run maven with the `-e` switch and provide the full stacktrace / log output?

[2021-04-22 08:57] hcoles commented on #886
From a quick experiment pitest seems to detect tests runw with JUnitQuickcheck correctly.

If you can create a self contained project that recreates the issue I can take a look.

[2021-04-22 09:47] ben-clegg commented on #881
Hi Stefan,

Thanks for the reply. Here are the logs with the headless setting enabled and disabled, the issue seems to occur with or without this setting. In case it helps, I'm using Linux.

Default : https://gist.github.com/ben-clegg/975ffbd09e0850e2b0208884e308d7ab
No Headless : https://gist.github.com/ben-clegg/3a1875904115aabfde2f60be15e41fd4

Thanks

[2021-04-26 10:15] C-Otto commented on #868
Works for me (1.6.5, Gradle, Java 16, JUnit 5 with junit5PluginVersion = '0.14'). Thank you!

[2021-04-26 20:02] oscarlvp commented on #880
@biabs1 take a look at https://github.com/STAMP-project/pitest-evosuite-plugin to be able to run EvoSuite generated tests with PIT. The versions are a bit old, but they should be updated in the near future.

[2021-04-29 12:32] LorenzoBettini commented on #619
Dear @hcoles , following https://github.com/pitest/pitclipse/issues/122#issuecomment-827412993 , we would need someone with admin rights to create a new GitHub repository under the pitest organization for storing the p2 update site for pitclipse (me and @echebbi would also need admin rights on that new repository). The repository could be called `pitclipse-releases`. If possible, another repositor

[2021-04-29 12:46] hcoles commented on #619
You should both now have invites to the new repositories.

[2021-04-29 14:01] LorenzoBettini commented on #619
Thank you so much @hcoles !

[2021-05-02 02:56] romani commented on #673
we switched to most recent version already.

[2021-05-02 02:56] #673 closed

[2021-05-03 11:27] Ekryd opened #892 "Chatty plugin output"
Hi,
Thanks for a great plugin!

The output from a normal run of the plugin is very long compared to other Maven plugins. I would prefer it to stay quite quiet, by default, if everything is ok. This is my normal output:
[code]

And this is my desired output:
[code]

The rest of the information can be debug/verbose messages or be placed in the actual report.

I am aware that the message 'OpenJDK 64-

[2021-05-03 14:10] Ekryd commented on #892
Configuration
[code]

[2021-05-08 10:05] basavarajb opened #893 "How to display pitest results in azure devops Summary"
I'm using using Gradle with pitest. I'm unable to publish mutation test results in azure devops build summary tab.

[2021-05-08 18:57] C-Otto opened #894 "EMPTY_RETURNS should ignore Set.of(), List.of()"
I have a method that returns `Set.of()`, and `pitest` complains because no test fails if this is replaced by `Collections.emptyList()`. According to https://pitest.org/quickstart/mutators/#EMPTY_RETURNS:

As such, I expect the return values `Set.of()`, `List.of()`, `Map.of()`, and possibly others to be ignored for this analysis.

Reproduced with version 1.6.6.

Confusingly, the method cannot retur

[2021-05-08 19:43] C-Otto opened #895 "Wrong message: "replaced return value with Collections.emptyList" should be "emptySet""
https://github.com/hcoles/pitest/blob/5962ff1473c10e8e2cf98559b22969f7f0d664e8/pitest/src/main/java/org/pitest/mutationtest/engine/gregor/mutators/EmptyObjectReturnValsMutator.java#L217

Should be emptySet, not emptyList

Related to #894

[2021-05-09 10:58] C-Otto opened #896 ""return 0" is not filtered out if inside try-with-resources block"
Version 1.6.6

As you can see in the bytecode shown below, the return value `0` is stored in a local variable, then the `AutoClosable.close()` method is invoked, and only then the value previously stored in the local variable is loaded and returned. The filter that ignores `return 0;` and similar "constants" is unable to deal with this store-close-load interruption introduced by try-with-resources

[2021-05-09 10:58] C-Otto commented on #894
Superseded by #895 and #896

[2021-05-09 10:58] #894 closed

[2021-05-10 07:06] #895 closed

[2021-05-11 15:01] StefanPenndorf commented on #881
As your stacktraces tell HeadlessGraphicsEnvironment will be used which fails with HeadlessException in either gist. You cannot disable headless for test minions due to #581 .

The change merged in #601 adds `-Djava.awt.headless=true` to every mutation minion created. There is only the option to add further settings but not to remove the default.

So far so good. The problems seems the new default

[2021-05-26 12:24] viniciusmartinsds opened #901 "Problem to setup pitest with groovy spock gradle"
Hello, i'm trying to set up the environment but i got this error message:

`Exception in thread "main" org.pitest.help.PitHelpError: No mutations found.`

i use this guide to configure: https://gradle-pitest-plugin.solidsoft.info/ but didn't work.

is there any chance to configure pitest with groovy? thanks.

[2021-05-26 16:30] szpak commented on #901
Is it an open source project which you could share a link to?

If not, please paste your pitest configuration in your project, together with the Gradle project `group` property value - it has to match a place where your production code and tests are located. In addition, what test framework do you use?

Btw, I have to update the page you mentioned. In the meantime I propose to use https://github.c

[2021-05-26 18:47] viniciusmartinsds commented on #901
Hello, it's a private project.
A group property is like 'com.org.org', i set the source too, 'sourceSets.main.groovy.srcDirs = ['src/main/groovy']'
spock is used as a test framework.

I use the version 1.6.0 now, but still got the error message: Exception in thread "main" org.pitest.help.PitHelpError

i think it's because i change the sourceSets, and the pitest is not finding the compiled code.

m

[2021-05-26 19:29] szpak commented on #901
Is your production code entirely written in Groovy? Or there is also some code in Java? PIT doesn't support mutating production Groovy code (however, using Spock to test Java production code is fine).

[2021-05-26 22:39] viniciusmartinsds commented on #901
All is in Groovy, but, we generate the source to Java. Is there any way to point the pit to look to generate source code?

[2021-05-28 17:54] apoorva-sriv opened #902 "Mutations for Operators Not Even Present in Code"
There is no "not equal to" operator (`!=`) on line 7 of the code, so why does PIT have mutations like "not equal to less than" (12 to 16)? This is with `ALL` mutators. The code (including the test) is [here](https://github.com/apoorva-sriv/pitest-example).

![Capture](https://user-images.githubusercontent.com/22404638/120023618-0d21ae00-bfbc-11eb-8969-e80a59719e86.PNG)

[2021-05-28 22:38] rnveach commented on #902
https://github.com/hcoles/pitest/search?q=%22not+equal+to+less+than%22
The message is coming from the ROR1 mutator.

According to https://pitest.org/quickstart/mutators/ , it swaps `==` with `<`.

The message is confusing that it doesn't mention how it is doing the substitution compared to the others.

[2021-05-29 00:38] apoorva-sriv commented on #902
This is the output of `javap -c Example` (in the `target` folder, containing `Example.class`):
[code]

The [optimized](https://stackoverflow.com/questions/11478326/java-how-does-the-operator-work-when-comparing-int/11478453#11478453) bytecode instruction `if_icmpne` is why the "not equal to" message arises.

[2021-05-29 00:38] #902 closed

[2021-05-29 06:17] apoorva-sriv opened #903 "Mutants SURVIVED Incorrectly in Singleton Pattern (Example Included)"
For the test [here](https://github.com/apoorva-sriv/pitest-example-2/blob/main/src/test/java/org/example/ExampleTest.java) with PIT 1.6.6 `ALL` mutators, the mutants for line 4 survive incorrectly with the singleton pattern.

**Singleton**
![Singleton](https://user-images.githubusercontent.com/22404638/120060101-c6679e80-c023-11eb-9a4c-f82c0b27fdac.PNG)

---

**Without singleton**
![Without Single

[2021-05-29 08:34] szpak commented on #901
There is a [`mainSourceSet`](https://github.com/szpak/gradle-pitest-plugin/blob/c54467b6698ad17e3884fcb8ef97bf2322c05e4e/src/main/groovy/info/solidsoft/gradle/pitest/PitestPluginExtension.groovy#L102) property in the plugin configuration. You can try to add your generated source set there. I haven't tried it, so after that run the `pitest` task with `--info` and see in the PIT command line that yo

[2021-05-31 12:16] viniciusmartinsds commented on #901
@szpak how can i change the source in mainSourceSet?

[2021-06-01 05:39] iadcode commented on #822
@hcoles, it seems that this issue was fixed for a time but in commit [7876f3c9723e6072e7968282f62027ab677e456f](https://github.com/hcoles/pitest/commit/7876f3c9723e6072e7968282f62027ab677e456f), file `pitest/src/main/java/org/pitest/classpath/ClassPath.java`, the fix was reverted to the previous version. Can I ask if this is intentional? I seems to have run into the same issue due to having a clas

[2021-06-01 08:11] hcoles commented on #822
@iadcode Thanks for digging into this. No, that was not intentional and is very concerning. That commit was meant to just be uninteresting static analysis fixes, I can't imagine how it reverted something.

I'll revert that change and go through the rest of it.

[2021-06-01 09:43] hcoles commented on #903
Static state such as singletons are known cause of issues for mutation system that use coverage data and do not launch a jvm per mutant.

My best guess for why you are seeing the above behaviour is that the calls to `Example.to getInstance` exercised by the tests are being made by other static initializer code. This is just a guess however, and something else might be going on.

If you can post a

[2021-06-01 12:20] apoorva-sriv commented on #903
@hcoles https://github.com/apoorva-sriv/pitest-example-2

[2021-06-01 13:18] hcoles commented on #903
Ok, looking at this, it is a classic static state issue.

When the class is a singleton, the value of num is set when the class is initialised. The mutation is not activated until after the initialisation of the static state, so effectively does not happen.

The only bulletproof way to avoid this issue is to launch a new jvm for each mutant. Unfortuantely this makes mutation testing impractically

[2021-06-01 21:16] szpak commented on #901
I haven't tried, but to give it a quick check you could write:
[code]
somewhere in you `build.gradle`.

Please complete the path to match the place Gradle generates files in your project configuration.

[2021-06-03 11:33] pzygielo opened #906 "`o.p.u.PitError: Coverage generation minion exited abnormally!` on upgrade to 1.6.7"
On (multi-module) project, that uses pitest 1.6.6, on upgrade to 1.6.7 following happens:
[code]

Few modules before the failing one are tested without exception. I haven't extracted standalone reproducer yet, though.

Plugin has `pitest-junit5-plugin`:`0.14` dependency set.

It seems, this starts with 283f3874de7cb4.

[2021-06-03 11:36] hcoles commented on #906
Thanks for the report, I'll take a look if you can extract something that reproduces it.

[2021-06-03 16:56] pzygielo commented on #906
Turned out - the culprit is on my side - (non-abstract) test base class, annotated with `@RunWith(JUnitPlatform.class)`.
Making the base class abstract, or running its children with engine rather than runner - solves the issue for me.

[2021-06-03 16:56] #906 closed

[2021-06-04 16:12] mxx1219 opened #907 "How to perform mutation analysis of inner classes by using --targetClasses parameter?"
If there is an inner-class B in class A, either the format "path.to.A" or "path.to.A$B" which are used as part of the parameters of --targetClasses cannot perform the mutation analysis for lines in inner-class B. So how to achieve this requirement? (command line interface)

[2021-06-05 12:07] patpatpat123 opened #908 "[WARNING] /!\ At least one Mutation Analysis rule needs to be activated the current profile."
Hello Pitest Team,

I am currently using pietist 1.6.6, and get this warning, 100% reproducible.
```[WARNING] /!\ At least one Mutation Analysis rule needs to be activated the current profile.```

I believe there is an issue here, as you can see in my configuration block, I did the configuration.
Moreover, the analysis is done, I am able to see a report with the mutation coverage.

May I ask what

[2021-06-05 12:19] hcoles commented on #908
That is not a warning generated by pitest. A quick google suggests it might be from a SonarQube plugin. If you are using SonarQube, I suggest raising an issue against whichever plugin you have installed.

[2021-06-06 03:57] patpatpat123 commented on #908
Many thanks @hcoles for the answer, closing this

[2021-06-06 03:57] #908 closed

[2021-06-06 06:41] RealHurt opened #909 "How do I test JUnit 5 with PITEST"
my pom.xml have

        <build>
        <plugins>
          <plugin>
          <groupId>org.pitest</groupId>
          <artifactId>pitest-maven</artifactId>
          <version>1.6.6</version>

          <dependencies>
            <dependency>
              <groupId>org.pitest</groupId>
              <artifactId>pitest-junit5-plugin</artifactId>
              <version>0.14</version>
            </

[2021-06-07 16:50] A248 opened #910 "Pitest should add all dependencies to forked classpath"
Using JUnit 5 and Maven surefire, it is common to declare the dependency on JUnit-Jupiter-Engine separately, so that test classes can't depend on Jupiter-Engine classes.

This is explained at https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html . The example described there is:

[code]

### Relation to Pitest

This doesn't work with Pitest-maven. Pitest-maven collec

[2021-06-09 14:32] A248 commented on #910
What maven-surefire seems to do is maintain the possible test providers which have to be added to the forked classpath:

https://github.com/apache/maven-surefire/blob/14bce33c7a350d85df8db49f00cf650556d1131a/maven-surefire-common/src/main/java/org/apache/maven/plugin/surefire/AbstractSurefireMojo.java#L3288

[2021-06-09 14:44] hcoles commented on #910
Thanks for raising and looking into this. I think cherry picking dependencies surefire style is probably the way to go

[2021-06-11 06:00] #907 closed

[2021-06-12 16:06] 62mkv opened #912 "no idea how to make PIT fail simplest test possible (or so I think)"
Here's the reproduction repo: https://github.com/62mkv/mutation-testing-maven

when I run `mvn pitest:mutationCoverage`, this is what I get in the results:

(a lot of log omitted, but easy to reproduce if you clone the project and run the command as per above)

[code]

as I even added `System.out.println` into my test code, I can clearly see in the logs that

[code]

mutation _has_ happened, but t

[2021-06-12 16:06] 62mkv commented on #909
hi @RealHurt can you try with this project ? https://github.com/62mkv/mutation-testing-maven I am curious as to which results you will have?

[2021-06-12 16:23] 62mkv commented on #912
actually, it works, just not as I was expecting. and probably I had to `mvn clean` first...

[2021-06-12 16:23] #912 closed

[2021-06-12 16:37] hcoles commented on #912
A common error if you are running the goal manually is to forget to recompile the code or tests first. To avoid this gotcha bind it to a maven stage in a profile (see step 1 of the pitest on pr post -> https://blog.pitest.org/pitest-pr-setup/)

[2021-06-12 17:32] 62mkv commented on #912
whoa, thanks @hcoles. I think this is the kind of information that would fit right in the "Maven Quick Start" page.

this is what I have added for future me, I guess some other users might also find some of it useful.. https://github.com/62mkv/mutation-testing-maven

[2021-06-14 16:59] astrod0m commented on #621
Hey, seeing the same problem, are there any updates on this, please?

[2021-06-15 18:53] #901 closed

[2021-06-29 13:43] prdoyle commented on #868
Do you have an ETA on pushing this to plugins.gradle.org? That version is still 1.6.0 so I can't use Java 16 with Gradle.

[2021-06-29 13:47] szpak commented on #868
@prdoyle You don't need to wait. As mentioned in [README](https://github.com/szpak/gradle-pitest-plugin/#plugin-configuration), you can use (almost) any PIT version that is available. Just set `pitest.pitestVersion`:

[code]

[2021-06-29 13:48] prdoyle commented on #868
Excellent, thanks for the tip!

[2021-07-05 16:04] cyrusjk opened #914 "OpenPojo can create test that fails under PiTest, but not Junit"
If in an OpenPojo test you add a SetterMustExistRule, the class may pass under regular Junit, but when the same test is run under PiTest, the instrumented class creates an error like:

 ```java.lang.AssertionError: [PojoFieldImpl [field=private static transient boolean[] com.company.package.model.ModelPojo.$$pitCoverageProbes, fieldGetter=null, fieldSetter=null]] is missing a setter```

 OpenPojo

[2021-07-05 16:11] hcoles commented on #914
This sounds like a duplicate of #873, which should be fixed by this change in OpenPojo https://github.com/OpenPojo/openpojo/issues/139

Does upgrading OpenPojo resolve the issue?

[2021-07-05 16:26] cyrusjk commented on #914
I can confirm that upgrading to the latest version of OpenPojo DOES resolve the issue. Using PiTest 1.6.7 and OpenPojo 0.9.1 does not cause the issue described above. I will close this issue.

Thank you for the analysis and prompt response.

[2021-07-05 16:26] #914 closed

[2021-07-05 16:27] hcoles commented on #873
Closing as this looks to be resolved in an openpojo release.

[2021-07-05 16:27] #873 closed

[2021-07-06 16:03] kamesh95 commented on #347
@alexmnyc @hcoles @kernle32dll Any update on this issue? I am also facing this, I have the lombok.config configured with these options:

[code]

[2021-07-06 16:11] hcoles commented on #347
If you are using a recent version of pitest, and lombok is adding the annotation, the pitest should not be mutating any classes/methods where the annotation had been added.

If this is not working for you, create a minimal (but complete) project that reproduces the issue and I can take a look.

[2021-07-07 05:14] kamesh95 commented on #347
@hcoles Added an example reproducing this issue. Also committed the generated pitest report in the root folder of the repo.
Repo - https://github.com/kamesh95/openapi-springboot-sample
Run below commands after cloning the repo:

[code]

[2021-07-07 07:57] hcoles commented on #347
@kamesh95 thanks, which of the mutant do you think are within generated code?

[2021-07-07 09:41] kamesh95 commented on #347
@hcoles If you look at the attached image, the packages inside the box are not present in the source code and are generated through opengenerator config, but these packages are still coming here in mutation report. These packages are used in opengenerator config:

[code]

<img width="987" alt="Screenshot 2021-07-07 at 3 07 21 PM" src="https://user-images.githubusercontent.com/16370987/124737301-72

[2021-07-07 09:53] hcoles commented on #347
Those packages are not generated by lombok, so will not contain the lombok generated annotation. Mutations in the lombok generated code are being correctly suppressed.

The classes in the openapi packages have been annotated with `javax.annotation.Generated`, but this has only source retention so is invisible to pitest.

If you wish these classes to be ignored, whatever generates them will need to

[2021-07-07 11:08] kamesh95 commented on #347
Oh okay, thanks @hcoles Yeah, I am now excluding classes based on this pattern.

[2021-07-14 06:48] kamesh95 opened #915 "Increase timeouts in gradle pitest plugin"
I see that in maven pitest plugin there is a property timeoutConstant where we can specify the additional timeout we would like to keep. I am not able to find such property in gradle pitest plugin. Can you please help me on this? I am getting a lot of timeouts on my project and I want to see if it really is caused by infinite loops or due to low resources. I reduced the threads to 1 but that also

[2021-07-22 10:47] JKutscha opened #916 "No way to get all mutator IDs"
I am currently working on the Plug-in PITclipse and we would like to make each mutator selectable for a run, but there is no way of getting the key of the mutators.

The `Mutators` map in the class `Mutator.java` is private and you are only able to get the values of the map and not the keys, which are used for the CLI.

A method which would return all keys of `Mutators` would be great.

[2021-07-23 02:52] echebbi commented on #915
As your issue seems related to the Gradle plug-in for Pitest I would advise you to ask on the corresponding repository: https://github.com/szpak/gradle-pitest-plugin

[2021-07-26 08:50] hcoles commented on #916
@JKutscha Your PR has been merged in with a slight name change to the method 'allMutatorIds'

[2021-07-26 08:50] #916 closed

[2021-07-26 09:52] JKutscha commented on #916
Thank you very much.

[2021-08-03 10:32] milindbangar79 commented on #669
Hi,

Is there a solution for above.

I have similar configuration and scmMutationCoverage goal is not picking the changes .

Maven command : ``` mvn clean test org.pitest:pitest-maven:scmMutationCoverage -Dinclude=ADDED,MODIFIED -DdestinationBranch=origin/develop ```

As per documentation , it suggests to configure SCM Plugin , which is set in POM.XML, but changes in class (public), the diff is no

[2021-08-03 10:37] hcoles commented on #669
I'm afraid the scm plugin has not received much love for a few years now. I'll take a look at this when I finally get chance, but in the meantime you might be interested in looking at https://pitest.groupcdg.com.

If you're using git, this provides a much better experience.

[2021-08-03 12:22] milindbangar79 commented on #669
Hi @hcoles ,

Thanks for the response. I will try that plugin.

If you can help, can you share a sample POM for scmMutationCoverage goal, with SCM Maven Plugin.

Here is what I have and is not working :

[code]

Getting the exception --
[code]
Thanks in advance.

Regards
Milind

[2021-08-03 19:39] szpak commented on #915
https://github.com/szpak/gradle-pitest-plugin is indeed a better place to report that kind of problems, however, GPP supports that property. It is just named [`timeoutConstInMillis`](https://github.com/szpak/gradle-pitest-plugin/blob/c54467b6698ad17e3884fcb8ef97bf2322c05e4e/src/main/groovy/info/solidsoft/gradle/pitest/PitestPluginExtension.groovy#L88) as I prefer to have a unit explicitly mentione

[2021-08-04 07:24] kamesh95 commented on #915
Thanks @szpak I was just looking for that. Will try it out.

[2021-08-04 07:24] #915 closed

[2021-08-04 16:44] TomRK1089 commented on #420
I hate to revive such an old thread, but this feels applicable to records as well. The accessor methods for a record's fields are generated by the compiler -- mutating them provides 0 value in the overall report. I can't easily exclude all record types because they won't have some consistent naming convention.

[2021-08-04 16:51] hcoles commented on #420
@TomRK1089 If you can put an example project together that reproduces the issue I can take a look. Although this issue is still open pitest ought to already be filtering out code marked as synthetic, so something more may be required for records.

[2021-08-04 18:55] TomRK1089 commented on #420
I'll put one together. In the meantime here's a screenshot from the report that spurred this comment (with identifying package info omitted):
![image](https://user-images.githubusercontent.com/3771242/128238772-235747f8-26ca-4cab-a597-275c3f74aed7.png)

For some reason I also thought Pitest automatically skipped mutating equals/hashcode/toString as well?

[2021-08-04 19:16] TomRK1089 commented on #420
Did a clean Maven build and toString and friends are now excluded properly, so I will attach a sample project later this week demonstrating the record issue.

[2021-08-05 12:58] hcoles commented on #420
@TomRK1089

Taken a look at records, junk should be filtered once this branch is merged -> https://github.com/hcoles/pitest/pull/919

[2021-08-06 02:19] Starwalker2000 commented on #788
I have the same problem.

[2021-08-06 02:35] Starwalker2000 opened #920 "Skipping report-aggregate does not work"
I am aggregating reports by using `report-aggregate` goal of `pitest-1.6.8`.
By default, I don't want to run the aggregation. So I defined a property which value is true in order to change it by `mvn -D` parameter and passing the property value using a variable to the configuration named 'skip' of pitest-maven.
I'm expecting that the report-aggregate will not run while not passing the correspondin

[2021-08-06 07:17] hcoles commented on #920
Happy to accept a pull request. I never use the aggregation myself, so it doesn't receive much attention.

[2021-08-12 13:48] #872 closed

[2021-08-12 13:49] hcoles commented on #865
Fixed with #922

[2021-08-12 13:49] #865 closed

[2021-08-12 13:50] #868 closed

[2021-08-16 20:49] rnveach commented on #892
Is there any update on how to make pitest silence the stderrs? I get a lot of them from the mutations being worked on normally and would like a way to turn them on/off when they aren't being looked at.

[2021-08-18 00:32] brentryan opened #924 "Support maven toolchains plugin for pitest-maven"
Please add support for maven toolchains plugin so that the pitest-maven plugin can be used with projects that utilize multiple JDK's, etc.

See https://maven.apache.org/plugins/maven-toolchains-plugin/ for details.

[2021-08-18 14:21] ReturnHttp402 opened #925 "Coverage generator Minion exited abnormally due to UNKNOWN_ERROR"
[code]

Please help with this! Thanks!

[2021-08-18 14:31] hcoles commented on #925
If you can create post a minimal (but complete) project that replicates the issue I can take a look.

[2021-08-19 02:05] ReturnHttp402 commented on #925
Hi @hcoles , thanks for the quick response, I've created a minimal project that can replicate the issue, please run:
` ant compile_orig` `ant compile_test` and then `ant pit` to reproduce the issue mentioned. Thanks.

[2021-08-19 08:15] hcoles commented on #925
Thanks for the minimal project, it makes debugging these things *much* easier.

The problem looks to be the classpath supplied to the minion that runs the tests

```classPath="classes/"```

This includes only your own compiled code, without Junit (or any other library the code depends on). The minion is therefore erroring when it tries to load junit classes.

There's a (very old) working ant examp

[2021-08-19 11:45] ReturnHttp402 commented on #925
Thank you! After adding junit jar file into test.path it is working, I will close this ticket.

[2021-08-19 11:45] #925 closed

[2021-08-20 11:05] davidburstrom opened #926 ""Coverage generation minion exited abnormally" with JUnit 5.8.0-RC1, not with M1"
I've got a project (non-disclosable) using JUnit 5.8.0-M1, and when trying to bump to 5.8.0-RC1, the coverage minions fail. I've tested this on JDK 8, 11 and 15.

This is the difference in the `--classPath` (`<` is working, `>` is failing):

[code]

[2021-08-20 11:51] krzema12 opened #927 "Mutation switching - is it present or planned for PITest?"
Hi,

I've been using PITest for several months now, and every time I needed to very carefully choose a subset of classes under test. Otherwise, the test runtime would be not acceptable in daily iterative work.

Last time I wanted to introduce mutation testing in my TypeScript project and I stumbled upon Stryker which boasts with [mutation switching](https://stryker-mutator.io/blog/announcing-stryk

[2021-08-20 12:04] hcoles commented on #927
In the literature "mutation switching" is known as "mutant schemata". I discussed the pros and cons of this vs other approaches a few years ago when talking about the trade offs when designing a mutation tool.

https://pitest.org/java_mutation_testing_systems/

For compiled languages schemata have performance advantages at the generation stage vs multiple compilation runs, but no advantage over pi

[2021-08-23 13:46] krzema12 commented on #927
Thanks @hcoles for your comprehensive answer, all clear!

[2021-08-23 13:46] #927 closed

[2021-08-29 20:25] davidburstrom commented on #926
I found the issue.

Side note: Even with verbose logging, it wasn't reported to the main log Maybe because it's an exception that gets logged to stdout. I eventually managed to connect a debugger to the minion, which required patching the argument parser so that the `-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=5678"` commandline wasn't mangled (as the parser splits on `","`s).

T

[2021-08-29 20:42] szpak commented on #926
Not related to the original problem, but:

Unfortunately, it is a know problem: https://github.com/jopt-simple/jopt-simple/issues/147

[2021-09-03 09:36] kamesh95 opened #931 "[Question] Pitest compatibility with integration tests"
I am using pitest on one of the java repositories where a large part of the tests are integration tests, and able to integrate Pitest to execute the mutation testing, But I want to know how effective/valid the generated mutation score is when most of the parts of code are covered via integration tests only.

Is it right to use Pitest in such scenarios, or is their an option to let pitest know that

[2021-09-03 09:52] hcoles commented on #931
"Integration Test" is not a well defined term.

If you have tests that executes the code under test in a different JVM from the tests themselves (eg hitting a running webserver), then pitest will not work at all.

If you have tests that execute the code in the same JVM, but rely on some external resource (eg a database) then you will hit two issues

1. It will be very slow
2. Mutations may be fals

[2021-09-03 10:39] kamesh95 commented on #931
Thanks for the quick response @hcoles This does make sense, will close this.

[2021-09-03 10:39] #931 closed

[2021-09-03 16:05] MahatmaFatalError commented on #259
Any news on this?

IMHO the `javax.validation.constraints.*` Bean Validation annotations would be a valid use case (i.e. it would be reasonable to test the proper functioning of the validation)

[2021-09-03 16:14] hcoles commented on #926
@davidburstrom Thanks for digging into this. It sounds like the simplest fix would be to wait for the release of 5.8.0 and build a new release against it. I don't think the plugin can avoid the hard dependency on the platform jars.

[2021-09-03 19:32] davidburstrom commented on #926
You know best :) Out of curiosity, why does the plugin bundle classes from JUnit? Shouldn't they be provided on the test runtime classpath anyway?

[2021-09-06 07:14] davidburstrom commented on #926
I've given the problem some thought over the weekend:

Maybe there is a good reason the JUnit classes are bundled, but _if_ there isn't, this is a suggestion to increase the range of compatible versions for a future pitest-junit5-plugin release:

* Set up a compatibility test suite that runs against different versions of JUnit 5 and different versions of Pitest.
* Set up source sets that compile a

[2021-09-08 20:48] davidlinse commented on #741
I'm facing the same issue. Any news on that ?

[2021-09-13 09:42] hcoles commented on #926
@davidburstrom

A new release of the plugin has now been pushed out, built against JUnit Platform 1.8.0.

I've not had time to dig into what's happening on the classpath of the plugin, but agree that it ought to be possible to switch the scope of the platform dependency to 'provided' and pull the current version from the classpath. This may be trivially straight forward, or plagued with issues (as

[2021-09-13 19:05] davidburstrom commented on #926
Thank you for the new release! I'm interested in making some improvements in pitest-junit5-plugin, but as I mentioned, since I'm fairly certain Maven doesn't support the test scenarios I'm thinking of, is it OK if I introduce Gradle as a build tool? It does not necessarily mean that the Maven build will be replaced, rather that I'd implement the scenarios where applicable and we can take it from t

[2021-09-21 08:31] Ekryd commented on #892
Seriously, stop this chatty nonsense!
Your log output is drowning essential information, I just want to know the result.
For now, I will throw out this plugin because there is a real risk that this plugin drowns important messages from other plugins.

[2021-09-21 08:37] hcoles commented on #892
Hi @Ekryd,

I fix for this was merged in a few minutes ago, just before I read your delightful comment. Thank you so much for that.

[2021-09-21 08:43] Ekryd commented on #892
Hi @hcoles !
Sorry for the rude tone, I got the feeling that nothing was happening at all with this issue.
Looking forward to next release to retry it again.

[2021-09-21 09:08] hcoles commented on #892
Fixed by #934

[2021-09-21 09:08] #892 closed

[2021-09-24 02:30] nagkumar opened #935 "Unable to view generated code in target - generated-sources folder exists but it has no java files"
Unable to see the generated sources of the mutants created..folder exists, but with no mutant source code

![image](https://user-images.githubusercontent.com/332234/134609255-86306498-70a8-4617-896c-168a856a95fb.png)

[2021-09-24 07:11] hcoles commented on #935
Pitest is a bytecode mutator and does not generate source files.

The generated-sources folder created by maven and has not relation to pitest.

[2021-09-24 07:11] #935 closed

[2021-09-24 10:25] nagkumar opened #936 "a++ and a-- should the tests be killed"
when -mutators MATH, I do see a++ and a--, when the tests don't fail, the report says mutations are not killed for this change.

Do a++ and a-- not an equivalent mutant, as the value of 'a' only changes after operation gets the value 'a'?

Is this a bug in the framework to consider it as a killable mutant?

[2021-09-24 10:30] hcoles commented on #936
Pitest mutates bytecode, not source code. That said, can you provide an example of some code where you have a surviving mutant, and the test that is failing to kill it?

[2021-09-24 10:34] feckertson commented on #936
It sounds like the code contains `a++` somewhere. If someone accidentally chanted that code to be `a--` instead, a defect would be introduced. I believe pitest is saying that there is no unit test to catch such an accident. Have you tried actually making that code change and running the unit tests?

[2021-09-24 11:51] nagkumar commented on #936
No, my code does not have a++ anywhere..

![image](https://user-images.githubusercontent.com/332234/134669625-090e1d4a-63c1-44b3-8931-b0038f26f876.png)

Code is

![image](https://user-images.githubusercontent.com/332234/134669680-193070c5-b9c6-4517-b2d3-ee23ea50fda0.png)

Full code at https://github.com/nagkumar/mutate-test-kata

[2021-09-24 12:18] feckertson commented on #936
Perhaps it is a Unary Operator Insertion then. The mutation is to change `setSalary(aNewSalary)` into `setSalary(aNewSalary++)`.

[2021-09-24 12:20] hcoles commented on #936
The mutations you are seeing are generated by the UOI mutator, not the math mutator. They are active because you have set the mutators to "ALL".

Do not do this. It activates experimental mutators and mutators (such as UOI) that are present for use in research only. They are not suitable for general development, and will be moved into a seperate repo soon, now that pitest supports pluggable mutato

[2021-09-24 13:24] nagkumar commented on #936
As this is  equivalent mutants, should reporting needs a fix?

[2021-09-24 13:29] hcoles commented on #936
It is a mutator that you should not enable, partly becuase it is likely to create equivalent mutants.

Although pitest filters out some equivalent mutants, it is not possible to do it in every case, and not practical to do it for all mutations. We only attempt it for mutators in the DEFAULT and STRONGER sets.

[2021-09-24 13:29] #936 closed

[2021-09-24 20:32] khmarbaise opened #937 "Link on pitest.org is not valid anymore"
The link on the starting page http://pitest.org/quickstart/maven/ about jcenter is not valid anymore.

[2021-09-24 20:44] khmarbaise commented on #909
I'm not sure what you expect but based on your test project it produces the following output (JDK 11..)...
[code]

[2021-09-25 02:17] nagkumar opened #938 "report - Unable to navigate to source code"
Click on the hyperlinks of line numbers 13,18 39, etc.. does not show up in the source code

![image](https://user-images.githubusercontent.com/332234/134754545-60fc0e6c-e50a-4e1b-a43d-13745fd939af.png)

[2021-09-25 03:21] nagkumar commented on #938
This is happening when the source path given is wrong..

![image](https://user-images.githubusercontent.com/332234/134756190-357ae49f-0614-49d4-860c-389683b1ecdb.png)

[2021-09-25 09:25] szpak commented on #937
Good spot @khmarbaise . Would you like to crate a PR with the fix?

https://github.com/hcoles/pitest-site/blob/gh-pages/quickstart/maven.markdown

[2021-09-25 19:17] 62mkv commented on #909
thanks, @khmarbaise I think I should have been more explicit in my comment :) I guess the point is that this project (most probably) answers the OP question.. But the issue is still open, though, so may be it does not.

[2021-09-25 19:31] khmarbaise commented on #909
In the original post I can't see the whole pom.xml. The issue can be caused by the missing:
[code]
which would result in a failure. Also could it being caused by missing JUnit jupiter dependencies in general but that can't being told based on the missing pom file...based on the missing feedback you can't tell what the real problem is...

[2021-09-25 19:38] khmarbaise commented on #937
Done https://github.com/hcoles/pitest-site/pull/120

[2021-09-25 21:16] szpak commented on #937
Thanks @khmarbaise !

[2021-09-28 22:08] galstyanzara opened #941 "pitest 1.7.0 gradle '7.0' does not show test coverage correct for java 11"
Hello. here are my configurations.

[code]

When I change `JavaLanguageVersion.of(11)` to ` JavaLanguageVersion.of(8)` it is working and showing the right Coverage Report.

But with `JavaLanguageVersion.of(11)` everything is always not covered and always 0%.

[2021-09-29 06:17] szpak commented on #941
It's a known limitation in the Gradle plugin - https://github.com/szpak/gradle-pitest-plugin/issues/301

[2021-09-29 18:24] szpak commented on #941
Btw, just to be sure, remove/comment the toolchain section and run the `pitest` task with Java 11 set with `JAVA_HOME`.

[2021-10-08 14:47] IMVector opened #944 "Why not found org.pitest.coverage.execute.CoverageMinion"
[code]

[2021-10-08 14:55] IMVector commented on #944
![image](https://user-images.githubusercontent.com/20250697/136578422-cb1a2756-dca9-4045-b117-f90c52ec9996.png)
Verbose is now on

[2021-10-08 14:59] hcoles opened #945 "Message to enable verbose logging incorrectly shown"
Looks to be being displayed when verbose logging is enabled. (See https://github.com/hcoles/pitest/issues/944)

[2021-10-08 15:15] #944 closed, assigned to nobody

[2021-10-12 15:52] theKashyap opened #947 "pitest:mutationCoverage finds Spock tests in src/test/groovy but does not execute them"
A reproducible example here: https://github.com/theKashyap/stord-tinyurl

I have a few groovy Spock test specs.
All my project's files are in one package.
Before adding `<goal>addTestSources</goal>` to `gmavenplus-plugin`, pitest "found no tests" and "skipped project".
Once added, I'm able to run it `./mvnw -X clean compile test pitest:mutationCoverage > pit-maven.log 2>&1`
log file is attached he

[2021-10-15 08:41] galegofer opened #948 "Maven pitest plugin not able to detect test classes with Kotlin if the test directory is src/test/kotlin"
I have a Kotlin project with Maven in which my tests are located at src/test/kotlin, but when I am configuring the plugin and adding the package, the plugin says that they are no tests.

I suspect that the plugin is searching the tests at src/test/java, maybe it would be helpful to add an option to the plugin to change that, or is there any workaround possible?.

[2021-10-18 07:34] UchihaYong opened #949 "one opcode, two or more different mutation location."
hello,
      now I am developing a custom mutator. I want two mutation operations inserted to source code when meeting opcode ARETURN. First operation is deep copying an object B to duplication A when the object B is just created, the other one is comparing A and B before ARETURN. There are some ideas about it? Thank you very much!

     husky

[2021-10-19 09:53] guillomep opened #950 "excludedMethods seems to not work"
Hello, I have a problem with using excludedMethods in pitest 1.7.2 with maven.

I have the following test class

[code]

And my pom.xml is the following

[code]

The method `testToExclude` is still executed resulting in an error that's my test is not green.
I am sure that I missed something but I don't know what.

[2021-10-19 10:54] felix1982 opened #951 "mutationCoverage failed: Coverage generation minion exited abnormally!"
[ERROR] Failed to execute goal org.pitest:pitest-maven:1.7.2:mutationCoverage (default-cli) on project myproject: Execution default-cli of goal org.pitest:pitest-maven:1.7.2:mutationCoverage failed: Coverage generation minion exited abnormally!
[ERROR]
[ERROR] Please copy and paste the information and the complete stacktrace below when reporting an issue
[ERROR] VM : OpenJDK 64-Bit Server VM
[ERRO

[2021-10-19 14:51] guillomep commented on #950
That make so sense. So there is a missing `excludedTestMethods` feature

[2021-10-28 14:45] umeshnebhani733 opened #953 "Pitest running for over 3 hours & stucked with no outcome, had to cancel"
Hi,

I am trying to integrate pitest as an importat step of code quality, we have integrated it over a year ago & it was working well.

Since few weeks its not working as we expect, it kept running over 3 hours sometimes even 6 hours even though we enabled history & it use to take minutes.

We would like to debug what is causing this problem. ( Most likely one of the test which its trying to execu

[2021-10-30 11:19] npathai opened #954 "Support for excluding mutators"
Carrying over this feature request from https://github.com/szpak/gradle-pitest-plugin

Issue:
[Support for excluding mutators](https://github.com/szpak/gradle-pitest-plugin/issues/187)

Feature Request:
Ability to specify the mutators like this:

[code]
or, if that is not possible, with something equivalent, like this:

[code]
Use case: instead of having a long list of all mutators to run, be able

[2021-11-01 13:08] hcoles commented on #954
Hi @npathai,

I think something like this would be useful. The easiest syntax to implement would be

mutators = ['ALL', '-UOI', '-CONDITIONAL_BOUNDARY']

This would work without updating any of the tooling.

That said, unless you are doing research, enabling ALL mutators and then disabling one or two of them is not a good idea. Most of the mutators in the 'RV' research set are not usable for day t

[2021-11-03 12:01] alperen21 opened #956 "How to access mutants generated by PiTest?"
Hello,

I would like to access the mutated versions of the code as a java file / binary file / etc. and I would be very pleased to learn which configurations and steps I should follow in order to do this.

Thank you in advance,

[2021-11-04 09:18] umeshnebhani733 commented on #953
Update : We found an issue, it was due to the fact that we are running our tests parallel with  "@Execution(CONCURRENT)"

So we are still running it in parallel when we execute them, but we disabled this while running pitest as follows:

jvmArgs= ["-Djunit.jupiter.execution.parallel.enabled=false"]

[2021-11-04 09:18] #953 closed

[2021-11-04 15:19] hcoles commented on #953
Thanks for reporting back.

[2021-11-06 12:08] davidburstrom opened #957 "TRUE/FALSE_RETURNS at odds with NAB_NEEDLESS_BOOLEAN_CONSTANT_CONVERSION from fb-contrib"
With Pitest 1.7.2:

Given

[code]

the `TRUE_RETURNS` mutator will produce the mutation

[code]

which will always survive as the `true` will be auto-boxed to a `Boolean` instance (unless we're testing Boolean instance identity, which seems pointless). The problem is that changing the production code to match the mutation is at odds with the `NAB_NEEDLESS_BOOLEAN_CONSTANT_CONVERSION` bug type from

[2021-11-06 16:47] hcoles commented on #957
It is highly unlikely that the autoboxing in `return true` will have any measurable impact on performance/object allocation etc, so personally I would always use this more readable version, and not enable static analysis rules such as this.

Having said that, codebases and opinions differ, and there may be scenarios where the boxing does make a difference.

I'll take a look out at filtering mutata

[2021-11-06 16:59] davidburstrom commented on #957
@mebigfatguy My apologies for roping you into this, but maybe you have some input on the performance benefits of the linter in question?

[2021-11-08 14:32] hcoles commented on #956
Pitest mutates bytecode rather than source, so it is not possible to access mutated source files.

Adding `+EXPORT` to the feature string will however active writing the mutated bytecode to disk.

This functionality was originally developed as a plugin

https://github.com/pitest/export-plugin

But is now built into pitest.

[2021-11-09 08:30] hcoles commented on #957
Released in 1.7.3

[2021-11-09 08:30] #957 closed

[2021-11-09 08:31] hcoles commented on #954
Released in 1.7.3

[2021-11-09 08:31] #954 closed

[2021-11-09 08:37] #937 closed

[2021-11-09 08:46] davidburstrom commented on #957
Thank you very much for addressing it so fast :)

[2021-11-09 08:48] hcoles commented on #957
This repo has 2 response times: 3 years or 3 days.

[2021-11-09 08:52] davidburstrom commented on #957
I think you decreased the average response time with this one :)

[2021-11-12 14:18] esovan commented on #159
A specific annotation for excluding a test class or method from pitest would be much better. The  `javax.annotation.Generated` suggested in #347 is used for generated code and therefore is also excluded in other tools like jacoco, checkstyle and others.

 The format suggested by @AFulgens would make a lot of sense:

.. and if annotated class or function by default is excluded for all mutations, th

[2021-11-12 14:19] esovan opened #959 "Exclude test classes with annotation"
A specific annotation for excluding a test class or method from pitest would be much better. The  `javax.annotation.Generated` suggested in #347 is used for generated code and therefore is also excluded in other tools like jacoco, checkstyle and others.

 The format suggested by @AFulgens would make a lot of sense:

.. and if annotated class or function by default is excluded for all mutations, th

[2021-11-12 14:26] hcoles commented on #959
As discussed in #347 `javax.annotation.Generated` has source retention, so is not visible in the bytecode. Pitest could only ignore it if it processed source code instead/as well as bytecode.

Jacoco cannot igore `javax.annotation.Generated` for the same reason.

[2021-11-12 14:34] esovan commented on #959
I dont think that is right, or maybe i misunderstand you.
I have tested by putting `@javax.annotation.processing.Generated("foo")` on my test class. When I do so, the coverage in jacoco goes below 100%. So jacoco must have found a way to exclude it.

[2021-11-12 14:35] esovan commented on #959
I think a pitest specific annotation would make sense in order to make sure big performance tests are not used for mutation coverage.

[2021-11-12 14:39] esovan commented on #959
I might have mixed my tests up, because I can't reproduce my result now. So you are probably right after all.

[2021-11-12 14:41] esovan commented on #959
I just re-read your comment and it makes sense. I had misinterpreted it. Closing this even though annotations would be very nice.

[2021-11-12 14:41] #959 closed

[2021-11-12 14:46] hcoles commented on #959
Annotations can be used to exclude code from analysis, so long as they have class retention (or higher).

Pitest will ignore anything annotated with an something named

* Generated
* DoNotMutate
* CoverageIgnore

[2021-11-12 16:32] hcoles commented on #948
Closing as no repsonse from OP.

[2021-11-12 16:32] #948 closed

[2021-11-12 16:34] hcoles commented on #909
Closing as no response from OP.

[2021-11-12 16:34] #909 closed

[2021-11-12 16:37] hcoles commented on #859
Closing as mutation operator extentsion point added in release 1.7.0.

[2021-11-12 16:37] #859 closed

[2021-11-12 21:13] esovan commented on #959
Does it work on test classes?
My case is that we have a really slow and expensive integration test class. We want it to run only once due to pipeline integration limitations. So if we could make sure no mutations tests are using it that would solve our problem.
Its not possible for us to configure the pitest configuration, hence we would like to be able to solve it with annotations.
I hope it work

[2021-11-12 21:21] hcoles commented on #959
No, the annotation support is for code to mutate only.

For tests, you can either uses pitest's excluded test classes parameter (which accepts globs), or use junit 4 categories/junit 5 test tags.

[2021-11-15 09:39] catfishuang opened #960 "Minion exited abnormally due to TIMED_OUT"
if pom.xml like this, it's OK

 <configuration>
                    <targetClasses>
                        <param>com.test.UserServiceImpl</param>
                    </targetClasses>
                    <targetTests>
                        <param>com.test.UserServiceImplTest</param>
                    </targetTests>

but if pom.xml like this, error occours,  "Minion exited abnormally due to TI

[2021-11-15 13:52] mgonzcast opened #961 "maven pitest reports warning when importing into Sonarqube"
Not sure if the issue is from the mutation plugin in Sonarqube or the reports created in Maven:

https://github.com/devcon5io/mutation-analysis-plugin/issues/55

but I get a bunch or warnings reporting:

WARN: Found unknown mutation operator: org.pitest.mutationtest.engine.gregor.mutators.returns.NullReturnValsMutator

or

WARN: Found unknown mutation operator: WARN: Found unknown mutation operato

[2021-11-15 14:17] hcoles commented on #961
That warning is not generated by pitest. I suggest you raise an issue against whichever sonar plugin you are using.

[2021-11-16 03:26] nicolasSoyeur commented on #375
@romani I have the same issue sometimes. My team is alway putting the threshold to 100. I found a round in the source code of the plugin, which put the percentage to 100% even if you have mutant still alive.
e.g : you have 500 mutant generated, but 499 killed, the pluging compute a Math.round((100 / 500) * 499) = Math.round(99.8) = 100

 I don't know for the coverageeThreshold. I will check later

[2021-11-16 05:42] romani commented on #375
Is it same as https://github.com/hcoles/pitest/pull/638 ?

[2021-11-16 09:42] catfishuang commented on #801
same problem

[2021-11-16 10:28] Pfoerd opened #962 "Missleading 0% TestStrength when no covered mutations were found"
Hi.
TestStrength reports 0% with a red highlighting when the ratio is 0/0 as no covered mutations were found.
![image](https://user-images.githubusercontent.com/17569373/141969311-957b95d4-34ec-4c64-96d2-5b3dd3c5de78.png)

This is quite misleading as it indicates there is any problem, but imho this just means: okay no problem here, just no covered mutations found.

Maybe it would be better to repl

[2021-11-16 11:23] mgonzcast commented on #961
thanks @hcoles for the quick answer. I was wondering if maybe the mutation operators used by default with maven were not recognized by the mutation analysis plugin from Sonarqube. That´s why I asked here

[2021-11-18 03:05] nicolasSoyeur commented on #375
Ohh sounds like there are conflict about rounding down and up :(

[2021-11-18 03:46] nicolasSoyeur commented on #950
Per my understanding :
`excludedTestClasses` is to exclude test class during the execution of the mutation test. Is it not about : don't put mutation in this test class.

Below is what you can find in the documentation :
List of globs to match against test class names. Matching tests will not be run (note if a suite includes an excluded class, then it will “leak” back in)

What do you want ? to av

[2021-11-18 10:23] hcoles commented on #950
Pitest won't add an excludedTestMethods feature, there are awkward corner cases where this would sometimes not work as expected.

Instead you can use the test exclusion methods already built into the test frameworks, such as JUnit 4 Categories and JUnit 5 tags.

[2021-11-19 21:49] Arraying commented on #878
Facing the exact same issue. Did you/anyone else find a solution?

[2021-11-19 21:52] hcoles commented on #878
I'm assuming jqwik is built on junit5. Is the pitest junit 5 plugin configured?

[2021-11-19 22:01] Arraying commented on #878
Yup, it's on the platform. I'm not sure what you mean by configured, but when we mix in "regular" `@Test` units from JUnit5 then these get picked up.

As far as I can tell, everything is in the classpath. Here's a verbose dump:
[code]

Unfortunately we have a lot of libraries, but a quick CTRL+F will show you that Jqwik, JUnit API/Engine and the plugin are present.

This is the test class that is

[2021-11-21 20:35] timothyolt commented on #764
Just an FYI for anyone else looking at this, you can use this to exclude these from mutation testing. Not ideal, but it gets pitest working on the rest of the source.
[code]

[2021-11-22 10:14] dan323 commented on #621
When is this going to be merged @hcoles @aurelien-baudet so we have a working report-aggregate? Seems such a simple solution. Thank you for your hard work!

[2021-11-23 08:25] guillomep commented on #950
Okay good to know I will look at JUnit5 tags

[2021-11-23 18:54] Arraying commented on #878
I found a fix. By default jqwik includes its engine as a runtime only dependency. It did not end up in PIT's `ReportOption`'s `classPathElements` for us. Ensuring that `jqwik-engine-X.X.X.jar` was present in there solved the problem. For us, this meant explicitly setting the `jqwik-engine` dependency's `<scope>` to `compile`. YMMV.

[2021-11-27 03:12] joel-costigliola commented on #841
Hi,

AssertJ is experiencing the same issue I believe when we check contributors PR test coverage, ex: https://github.com/assertj/assertj-core/runs/4335956195?check_suite_focus=true.

We experienced this issue for a while, the AssertJ codebase has expended a bit but I would think not significantly enough to run into a memory error. Being executed on github actions I'm not sure if we can specify to

[2021-11-29 21:49] Cousnouf opened #963 "Pitest doesn't take groovy test files (Spock) into account from maven"
Hello,

Everrything is in the title. Using the basic PITRunner for intelliJ or the mvn org.pitest:pitest-maven:mutationCoverage command line, the generated report doesn't contain any test coverage or mutation coverage despite the tests are present and have been run by maven.

This occurs if the Spec Groovy files are in the src/test/groovy or src/test/java files.

[2021-12-03 17:07] aurelien-baudet commented on #621
Waiting for @hcoles to merge it

[2021-12-08 21:56] MariaSalim opened #964 "Can pitest be used with Java 17?"
**Error:** Exception in thread "main" java.lang.IllegalArgumentException: Unsupported class file major version 60

[2021-12-08 22:32] szpak commented on #964
It would be much easier to address your problem knowing what PIT version you are trying to use and how (Gradle, Maven, ...).

[2021-12-08 22:37] MariaSalim commented on #964
I am using plugin pitclipse version 2.1.2 in Eclipse 2021-09 release.

[2021-12-08 22:39] szpak commented on #964
I don't know the Eclipse plugin, but first, please verify and under the hood, that plugin version uses some recent PIT version (e.g. 1.7.3). Earlier might not be JDK 17 compatible.

[2021-12-13 04:00] krishnan-mani commented on #964
Error running pitest with Java 17, see below

[code]

I ran
`$ mvn org.pitest:pitest-maven:mutationCoverage` and my `pom.xml` includes the plugin

[code]

[2021-12-13 07:19] szpak commented on #964
@krishnan-mani Are you using it in the same project as Maria?

In your case:

There could be some failing tests. Re-run the command with the verbose output (AFAIR `<verbose>true</verbose>`).

[2021-12-14 05:13] krishnan-mani commented on #964
@szpak Thank you for a prompt response.
I am not using this in the same project as Maria (as I see earlier in the thread).

I verified that there are no test failures, and running with verbose output reveals the following:

[code]

Note that I am using JUnit5 (Jupiter) for tests within the project.

[2021-12-15 02:50] tanyagorn opened #966 "Not issue but rather a question, what is test strength in the report?"
I just couldn't find it in any document for Pitest. I've cloned the source code to look exactly what it is and found that it was calculated base on this formula;

Math.round((100f / getTotalMutationsWithCoverage())
            * getTotalDetectedMutations());

However, I still could not find a word to describe what it exactly is... anyone can help clarify?

[2021-12-15 17:17] hcoles commented on #966
Test strength is a measure of how good the tests you have are at verifying the code they *cover*.

So, if you have a million lines of code, and a test suite that covers 10 of those lines, and kills all the mutants there, your test strength will be 100%.

If you have 10 lines of code, and a test suite that covers all of them, but kills none of the mutants, your test strength will be 0%.

[2021-12-17 13:52] krishnan-mani commented on #964
Is there an update on this issue?

[2021-12-17 21:06] szpak commented on #964
Do you by any change use JUnit 5 (Jupiter)?

[2021-12-23 14:34] jayudey-wf commented on #455
One thing I've noticed that seems odd is that when `pitest` performs its initial test run the tests run and coverage information is collected but then it seems like on the subsequent 'mutation' killing test runs no tests are run

[2021-12-29 15:57] Nahuel92 commented on #963
Hi @Cousnouf, hope you are doing well!!
I am using Pitest 1.7.0 with Spock 2.0 (Groovy 3) and Gradle and it works like a charm.
This is my `build.gradle` config:

`plugins {
    id 'groovy'
    id 'info.solidsoft.pitest' version '1.7.0'
}

pitest {
    junit5PluginVersion = '0.12'
    targetClasses = ['com.my.src.under.test.*']  //by default "${project.group}.*"
    threads = 4
    outputFormats =

[2021-12-31 14:05] Benjamin-Duez opened #967 "PIT with Eclipse"
Hello,

I propose a documentation about using Pitest on Eclipse with Maven and Junit5.

I put an attached file that I wrote about this, I think it can help some people who never used that.

[PIT-Maven-Eclipse.pdf](https://github.com/hcoles/pitest/files/7796368/PIT-Maven-Eclipse.pdf)

I made it on Ubuntu 20.04 LTS with Maven 1.7.3 and JUnit5.

Respectfully

[2022-01-04 15:53] mathiascouste commented on #964
@krishnan-mani I got the same issue when bumping my project from Java 11 to 17.
I fixed it by changing some versions in the plugin:
![image](https://user-images.githubusercontent.com/3739271/148086112-2ad2757e-baf7-4ced-ae3a-b4aab0ea88d6.png)

Good luck !

[2022-01-05 05:37] krishnan-mani commented on #964
thanks @mathiascouste
I am able to run pitest with JUnit 5 on Java 17 with this plugin configuration.

[2022-01-08 18:34] AnomalieXB-6783746 commented on #964
Hey,
with the setup suggested by @mathiascouste I still don't get pitest to run.
I'm using `Java 17.0.1 2021-10-19 LTS` and maven as build tool as well.
I can't really make sense off the result off running with the verbose setting enabled, anybody an idea what could cause this?

`19:08:28 PIT >> FINE : System class path is <myPath>/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/213.5744.223/plugi

[2022-01-08 18:46] AnomalieXB-6783746 commented on #964
Hey,
I followed the setup suggested by mathiascouste, yet I face a comparable error when trying to run pitest with Junit5.
I'm using `java 17.0.1` and maven as build-tool.
When trying to run pitest with the verbose option enabled I get the following output:
[code]
It seems to be a problem with finding the tests, but as stated in line 8 there are 68 classes found to test.
Might this be due to the p

[2022-01-08 23:04] szpak commented on #964
@AnomalieXB-6783746 Please analyze your PIT execution classpath and ensure that there is JUnit Platform 1.8.x (not 1.7.x).

[2022-01-08 23:34] nikosstais opened #968 "Returning an Optional.empty() inside try-with-resources causes mutant to survive"
I have a mutant that cannot be killed with message:
`replaced return value with Optional.empty for com/blah::createFile → SURVIVED`

[code]

I am using version 1.7.3

Based on quick start guide https://pitest.org/quickstart/mutators/ :
_Pitest will filter out equivalent mutations to methods that are already hard coded to return the empty value._

It seems that above statement is not respected in m

[2022-01-10 16:44] Cousnouf commented on #963
Okay so it works with the info.solidsoft.pitest plugin on gradle.
But unfortunately, not with the maven plugin 😞

[2022-01-10 17:38] szpak commented on #963
@Cousnouf You can take a look at the functional tests of PIT itself - https://github.com/hcoles/pitest/tree/master/pitest-groovy-verification . Maybe it will help you to find a reason.

[2022-01-11 01:16] dan323 commented on #621
@hcoles not merging it?

[2022-01-11 07:44] hcoles commented on #621
@dan323 as per my comment on the PR, happy to merge if someone can resolve the conflicts and confirm that it works.

[2022-01-15 12:41] AnomalieXB-6783746 commented on #964
Thank you for the hint @szpak , after finally finding time to try to fix the issue it really was due to the JUnit version not being up to date. Works fine now!

[2022-01-15 20:45] szpak commented on #964
@MariaSalim Do you still experience the problem? If yes, I propose to report it directly to the Eclipse plugin maintainer with request to bump dependencies (and probably linking to that thread). PIT itself is capable of running with JDK 17.

[2022-01-15 22:19] Arraying opened #969 "JUnit Test Flaky When Run in PIT"
All the (JUnit5) tests in this project pass when running them through our IDE or the Gradle task.

But I cannot run mutation tests when I run the PIT Gradle task due to this exception:
[code]

The test that fails looks like this:
[code]
`adminPermission` is the only method that modifies the description. If I then add an assertion before `assertThrows` to ensure that the description is `null` and t

[2022-01-16 10:33] hcoles commented on #969
Mutable static fields in JUnit tests are allows a rich source of test order dependencies and should be avoided. The default JUnit model is to create an instance of the test for each test case, and this pattern shouldn't be broken unless you have an excellent reason to do so. Breaking it results in difficult to debug issues such as this one.

So, this most likely is a test order dependency, in whic

[2022-01-16 13:20] MariaSalim commented on #964
@szpak, I wasn't able to find a fix for it at the time I opened this issue but, I managed to use it with Maven. I will close the issue. Thank you!

[2022-01-16 13:20] #964 closed

[2022-01-27 04:20] kphannan opened #970 "PIT fails to execute any tests; rooted in ClassNotFound: org.junit.runner.manipulation.Filter"
Included are versions of Java, Gradle and the verbose output from PiTest.

This was a clean build with JUnit 5.8.2 based unit tests.

If needed I can put the entire project into GitHub for access to the entire codebase.  It is just prototype code being used to demonstrate some design and coding, nothing proprietary.  the project is relatively small 33 total source files including unit tests.

----

[2022-01-27 04:47] kphannan commented on #970
After doing some digging through internet searches I stumbled on a post noting there is a dependency needed.

   testRuntimeOnly 'org.pitest:pitest-junit5-plugin:0.15'

After adding the dependency the mutation tests ran.
This could be an issue with the PiTest Gradle plugin instead of PiTest itself.

[2022-01-27 18:43] carmeloquilez opened #971 "Exclude method from line coverage not possible"
Hi,

I'm trying to exclude getter/setter methods from line coverage but I cannot.
I tried with the annotations @Generated, @DoNotMutate and @CoverageIgnore with CLASS as RetentionPolicy but it didn't work. These annotations are mentioned here:  [https://github.com/hcoles/pitest/issues/347](url), and here: [https://github.com/hcoles/pitest/issues/959](url).

In JaCoCo it is possible to ignore these

[2022-01-27 18:58] hcoles commented on #971
Hi @carmeloquilez thanks for the report and the example repo (which makes things hugely easier when investigating).

Pitest supports annotations to exclude methods, but currently they are only excluded from mutation analysis, not from coverage. If you remove the Generated annotation from getNum you'll see that pitest will create a mutant that returns 0 instead of `num`.

[2022-01-27 20:04] carmeloquilez commented on #971
Hi @hcoles, thanks for your quick response.
Yes, I read that this was the function of those annotations, but although it is not the main task of PITest, is it planned to also provide any annotation to exclude from coverage in the short or medium term?

[2022-01-27 22:20] szpak commented on #970
To use PIT with JUnit 5 you need pitest-junit5-plugin as a dependency or you can ask the Gradle plugin to do it for you, as [mentioned](https://github.com/szpak/gradle-pitest-plugin/#junit-5-plugin-for-pit-support-gradle-pitest-plugin-147) in the FAQ:

[code]

[2022-01-27 22:25] szpak commented on #970
Nevertheless, you should get some nicer error and a suggestion about adding some PIT plugin for TestNG or JUnit 5 instead of:

@hcoles Might it be some regression in 1.7.x? I was improving the error message in https://github.com/hcoles/pitest/pull/745, so probably it was displayed in the past.

[2022-01-29 22:29] marwin1991 commented on #920
I would also love the feature to skip aggragate, when piTest skip, because this is breaking the build.

[2022-01-30 11:26] Arraying commented on #969
I've created a minimum working example [here](https://github.com/Arraying/PITMVP). It's private for now (+ I have sent the invitation). Right now, it's failing if you run the `pitest` Gradle task, but the `test` task works.

[2022-01-30 12:30] hcoles commented on #969
Taken a quick look. It is indeed a test order dependency - but with a twist.

Because JUnit 5 tests are dynamic (generators can create more tests at runtime) the pitest JUnit 5 plugin has to execute them to discover which tests they create, before running them for real.

So the test gets run twice. It passes the first time, then fails the 2nd as the static variable has been updated.

I need to tak

[2022-01-30 19:44] #750 closed

[2022-02-05 03:28] rnveach commented on #750
@hcoles @marwin1991
What is the proper way to skip test execution and just run pitest?

Checkstyle was hit with this at https://github.com/checkstyle/checkstyle/pull/11276#issuecomment-1030508925 .

When I remove the `test` and run straight `mvn clean org.pitest:pitest-maven:mutationCoverage` (Note this is also the command listed on https://pitest.org/quickstart/maven/ ), I get the error:
[code]

[2022-02-05 15:46] marwin1991 commented on #750
@hcoles @rnveach

Maybe we should reopen this issue and discus the problem, because from what I understand piTest should create mutation even if tests are not executed, as @rnveach mentioned above there is an command example in a documentation.

On the other hand we have this special flag `skipTests` in piTest configuration that everyone was using, and in addition
we have had #157 which was adding

[2022-02-06 08:31] marwin1991 commented on #750
@rnveach

I have made some test and it looks like, `mutationCoverage`  is not compiling test classes and that is why it is not finding mutations.

IMO you should use:
[code]

[2022-02-06 09:34] hcoles commented on #750
Yes, the tests won't be compiled if you run just the pitest goal. I've updated the docs now to add test-compile.

Calling the goal directly requires minimal setup, but is not a great way to run pitest. I recomend creating a profile as discussed here.

https://blog.pitest.org/pitest-pr-setup/

This also shows one (slightly hacky) method of avoiding surefire also running, but binding pitest to test-

[2022-02-07 21:25] qinfendeheichi opened #984 "Coverage generation minion exited abnormally."
I met the "Coverage generation minion exited abnormally" problem. There seems to be some answers, but I tried adding "pitest-junit5-plugin" dependency and it didn't work.

Here are some necessary configuration information
The project is a Maven project;
I'm using java 17;
the project contains "org.junit.jupiter.api" test lib;

I can run pitest under the 1.3.0 version with this POM file. However, w

[2022-02-09 17:19] mschnayd opened #985 "PITest 1.7.4, JUnit5 Plugin 0.14, NullPointerException"
<plugin>
                <groupId>org.pitest</groupId>
                <artifactId>pitest-maven</artifactId>
                <version>1.7.4</version>

                <dependencies>
                    <dependency>
                        <groupId>org.pitest</groupId>
                        <artifactId>pitest-junit5-plugin</artifactId>
                        <version>0.14</version>

[2022-02-09 20:58] mschnayd commented on #985
Will try to put something together, wander if there is some surefire plugin version incompatibilities.  At least place where Excption is encountered seems to indicate that.

[2022-02-10 15:52] mschnayd commented on #985
Hello again @hcoles,

I found the issue, which was in one of the parent POMs.

In my case this had to do with surefire plugin configuration including empty "excludes" as a workaround for
some Surefire concern with "inner test classes".  That to me is a smell; however, as a very low priority thing, PITest could deal with this sort of configuration.

			<plugin>

				<groupId>org.apache.maven.plugin

[2022-02-10 22:57] qinfendeheichi commented on #984
It's simply that I used the outdated version of  pitest-junit5-plugin, it should be 0.8 rather than 0.3

[2022-02-10 22:57] #984 closed

[2022-02-11 17:07] dudu12091 commented on #944
Hi IMVector, I meet the same problem. Do you know the reason for this problem and did you solve it in the end?

[2022-02-11 21:27] dudu12091 opened #987 "Running pitest using Maven java.lang.ClassNotFoundException: org.pitest.coverage.execute.CoverageMinion"
![image](https://user-images.githubusercontent.com/40813915/153672515-753fe0f9-54e9-4476-aaa8-16043f12f538.png)

Cannot find the class org.pitest.coverage.execute.CoverageMinion
![image](https://user-images.githubusercontent.com/40813915/153672560-691365af-5e6d-4b6d-b252-db39dc88c935.png)

[2022-02-11 21:36] hcoles commented on #987
If you can post a complete, minimal project that reproduces the issue I can take a look.

[2022-02-12 13:03] dudu12091 commented on #987
Thanks, Henry!  But it still has the same error after I added in the compiler plugin.

[2022-02-12 13:18] dudu12091 commented on #987
And my maven version is 3.8.4, java version is 1.8.0_144. Should I try to run it under another java version?

[2022-02-12 14:11] dudu12091 commented on #987
![image](https://user-images.githubusercontent.com/40813915/153714646-3cb910fb-456b-4dc9-aed0-17951fd8bf05.png)

I checked the info in the log. I guess the classpath is wrong. Maybe it should be .org.pitest:pitest-1.7.4. Is there anyway to change the configuration of classpath?

[2022-02-12 14:20] hcoles commented on #987
The project is fine (one the compiler plugin config is added), but there is something strange about the system you are running it on. Best guess is that you have added jars to the system classpath.

I'd also have expected the project to error for you without the compiler config if you are running maven 3.8.4. Is that definitely the version being picked up?

What is the full output of running

[cod

[2022-02-12 14:26] dudu12091 commented on #987
```mvn --version```
Apache Maven 3.8.4 (9b656c72d54e5bacbed989b64718c159fe39b537)
Maven home: E:\apache-maven-3.8.4
Java version: 1.8.0_181, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk1.8.0_181\jre
Default locale: zh_CN, platform encoding: GBK
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

```java -version```
java version "1.8.0_181"
Java(TM) SE Runtim

[2022-02-13 11:11] hcoles commented on #987
Not sure what the issue is here. It's definitely something to do with you environment. Do you have access to a different machine to try it on?

Also, can you try moving the project to a directory on a local drive with no spaces or non ascii characters in the path. Pitest has no current known issues with this, but it did have path related bugs in the past.

[2022-02-13 16:54] malvinpatrick opened #988 "Some test case error "tests did not pass without mutation when calculating line coverage. Mutation testing requires a green suite.""
This is my test class. I'm using
- spring-boot-starter-parent:2.6.3
- h2 memory database
- pitest-maven:1.4.5

[code]
My error gone when I've comment test number 3 and 7. However, when I uncomment, pitest got error
[code]

[2022-02-15 18:56] muzammil786 opened #989 "Class-level mutation operators"
Is there a plan to extend the operators to support inheritance and polymorphism? The full list of operators in this category was proposed by Ma and Offut and implemented in muJava. See Table 1 in this paper: https://cs.gmu.edu/~offutt/mujava/mutopsClass.pdf

[2022-02-15 18:59] hcoles commented on #989
No. This would would not fit with inserting mutants through bytecode manipulation or targetting based on coverage.

[2022-02-15 18:59] #989 closed

[2022-02-17 10:40] christophsturm opened #990 "new feature idea: create a report of all failed assertions"
Its really important that assertion errors are useful and good to read but its really hard to review them because when you review code the tests usually pass.
If just there was a possibility to make them all fail automatically!
oh, there is! pitest.
I think this would be a tremendously useful feature, and maybe super easy to add to pitest.
It could even be taken one step further, create coverage f

[2022-02-20 21:57] rnveach opened #991 "Pitests Download Page Outdated and No Downloads"
https://pitest.org/downloads/

`Historic releases` latest information is 0.32. While https://github.com/hcoles/pitest/releases is up to 1.7.4 .

The main reason this is coming is the downloads page does not link to anywhere that actually lets you download pitest.

I work with the command line version of pitest, no maven and such, and so I wanted to download the pieces needed to test out the latest

[2022-02-22 22:59] victorgveloso commented on #789
https://pitest.org/faq/

You should be fine, as long as you don't change PIT's configs (timeouts and mutators)

[2022-03-01 13:18] hcoles commented on #991
'Historic releases' contains details of releases not recorded in https://github.com/hcoles/pitest/releases. There would be no point in duplicating the current releases there.

We longer upload binaries to the release section. All jars (including the command line tool) can be downloaded from maven central where they are uploaded as part of the release.

https://search.maven.org/search?q=org.pitest

[2022-03-02 11:06] #966 closed

[2022-03-02 11:08] #961 closed

[2022-03-02 11:08] #956 closed

[2022-03-02 11:09] #950 closed

[2022-03-02 11:36] hcoles commented on #707
For anyone using pitest with kotlin coroutines, the [arcmutate kotlin plugin](https://docs.arcmutate.com/docs/kotlin.html) now provides some support.

[2022-03-02 11:46] hcoles commented on #652
#934 added a verbosity parameter which allows the amount of noise to be configured.

[2022-03-02 11:46] #652 closed

[2022-03-02 11:50] #612 closed

[2022-03-02 11:51] #602 closed

[2022-03-02 11:53] hcoles commented on #579
The [Arcmutate kotlin plugin](https://docs.arcmutate.com/docs/kotlin.html) now provides support for coroutines

[2022-03-02 11:53] #579 closed

[2022-03-02 11:59] #492 closed

[2022-03-02 12:00] #470 closed

[2022-03-02 12:11] #420 closed

[2022-03-02 12:20] #389 closed

[2022-03-02 12:22] hcoles commented on #370
closing as cannot reproduce.

[2022-03-02 12:22] #370 closed

[2022-03-02 12:27] #345 closed

[2022-03-02 12:28] #331 closed

[2022-03-02 12:29] #329 closed

[2022-03-02 12:30] #311 closed

[2022-03-02 12:32] #284 closed

[2022-03-02 12:34] #277 closed

[2022-03-02 12:35] #276 closed

[2022-03-02 12:39] hcoles commented on #235
The [Arcmutate extended operators](https://docs.arcmutate.com/docs/extended-operators.html) provide stream api operators and more.

[2022-03-02 12:53] #86 closed

[2022-03-08 13:01] kiov opened #994 "Mutating "return true" with return true, imposible to kill the mutation"
Hi, we are having problems with the BooleanTrueReturnValsMutator.
We have a code like:

[code]

Because the method `return true` is mutated with a return true the mutation survives all test.
We only experienced this problem with lambdas with try/catch

Tested with gradle plugin 1.7.0, pitest 1.70 and 1.7.4, junit 5.8.2 with 0.15 junit plugin using JDK 8, 11 and 17.

I couldn't figure out if there

[2022-03-08 13:06] hcoles commented on #994
Thanks @kiov, I'll take a proper look in a moment, but at a first glance this looks like a bug. Equivalent mutants like this should be filtered out. I'm guessing the try catch block is tripping up pitest's analysis.

The POC project will be a big help - thanks for that.

[2022-03-08 16:48] #994 closed

[2022-03-09 17:33] hcoles commented on #968
Hi @nikosstais, thanks for the report (and sorry for the slow response).

I've taken a look at this, and it is going to be an awkward issue to resolve. The filtering of `return Optional.empty()` mutants works by looking for bytecode the pushs empty onto the stack, immeditately followed by a return.

Unfortunately, try-with-resources is causing the compiler to store the ref in a local variable befo

[2022-03-10 11:40] hcoles commented on #968
Ok, couldn't help picking at this. There should be something in the next release which picks up at leasst some cases of this.

[2022-03-11 15:12] antemo commented on #964
Hi
We are moving our project to JDK17 and pitest-maven plugin is failing our build due to failed mutation score.
There are no logs to explain why this is happening (even with -X flag and -Dverbose option), so it's hard to figure out why is this happening.

Initially we were using plugin version 1.4.9, but I tried updating to 1.7.4 to no help.
We are also using junit 4.12 in this project, which I t

[2022-03-11 15:21] hcoles commented on #964
@antemo

By "failing due to failed mutation score" do you mean you have set the build to break if the score drops below a certain number? If so you will need to compare the reports from running on <17 and 17 and identify which mutants now survive which were killed (or filtered out before).

If you've made changes to the code as part of the change to 17, these additional surivors may be legitimate.

[2022-03-11 15:30] antemo commented on #964
We didn't make any code changes for JDK17. Or to be more exact, we still have our JDK11 build and it's passing.

And yes, our build has threshold that seems to fail for JDK17.
I'll try to make the comparison, but I'm not sure if I'll be able to make example project as I can't share any of the our code.

With only cursory check, this seems to be the biggest offender (most survivors):

[2022-03-11 15:33] hcoles commented on #964
@antemo

An example doesn't need to contain any of your actual code. It should contain the simplest possible code that demonstrates the issue.

[2022-03-21 10:51] cmarchand opened #1000 "[1.7.4] Coverage generation minion exited abnormally!"
Using 1.7.4 from Maven with Java 17, I get an exception saying I should open an issue. So...

Here is the stack trace :

[code]

I can provide code if required, it's opensource-able

Best regards,
Christophe

[2022-03-21 11:14] hcoles commented on #1000
Hi @cmarchand,

Yes, if you could provide a minimal example that reproduces the issue that would help.

Thanks

Henry

[2022-03-21 15:40] cmarchand commented on #1000
Ooops...

[2022-03-21 15:58] cmarchand commented on #1000
Solved : removed test that starts Spring, and added a simple UT on a simple calculation.

Just `git pull origin master`

[2022-03-21 16:07] hcoles commented on #1000
Issue looks to be that the tests use junit jupiter, but the pitest junit 5 plugin is not installed. The error message used to be a lot better when this happened, looks to have regressed when support for multiple concurrent test frameworks was added.

To fix the problem configure the junit 5 plugin as per

https://github.com/pitest/pitest-junit5-plugin

[2022-03-21 17:54] cmarchand commented on #1000
Thanks a lot, applying this to my pom solved the problem.

Seems that I've missed this in documentation...

Thanks a lot for your help,
Christophe

[2022-03-21 17:54] #1000 closed

[2022-03-23 11:12] ydolzhenko opened #1005 "Skipping project because "Test execution should be skipped (-DskipTests)." while tests are in fact skipped."
`mvn -DskipTests=true verify -P mutation-incremental` doesn't run mutation tests with the following message:
[code]
Problem exists in `1.7.4` while `1.7.3` works just fine, so I guess #750 is to blame.

Attached you can find the pom.xml where problem can be reproduced.

[pom_xml.txt](https://github.com/hcoles/pitest/files/8332479/pom_xml.txt)

[2022-03-24 09:42] #1005 closed

[2022-03-24 10:09] hcoles commented on #1005
@ydolzhenko

Sorry, yes this is working as expected, although the impact of the change hadn't really been thought through. On balance, skipping running when `skipTest` is set does make sense since there are other ways of disabling surefire. There are also good arguments for it working as it did before, but rather than raking over them the intention is to leave the behavious as is.

[2022-03-31 04:04] plastic-karma commented on #675
We are having a similar problem in 1.6. We are trying to pass `-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005` to attach a debugger to the forked JVM, but it won't pick up the parts behind the comma correctly. It could be because of [OptionsParser](https://github.com/hcoles/pitest/blob/master/pitest-command-line/src/main/java/org/pitest/mutationtest/commandline/OptionsParser.

[2022-03-31 15:11] plastic-karma commented on #675
One option could be to just merge them all to a single list.

I'll do that. It is going to take a few days, but I am interested. :-)

[2022-04-04 08:32] #675 closed

[2022-04-07 02:31] Lucasark opened #1009 "TRUE_RETURNS on filter report"
Hi, we are having problems with the BooleanTrueReturnValsMutator.

I have this example:

[code]

This is a few example of my real implemention.
And have this test:

[code]

I tried everthing to cover TRUE_RETURN. Any help is good!
Thx :D

And, this is my POC:
[https://github.com/Lucasark/POC_pitest](POC)

[2022-04-07 08:03] hcoles commented on #1009
Hi @Lucasark

Pitest is correctly highlighting that the tests do not demonstrate the behaviour of the filter. If you comment the filter out, the tests still pass.

You are missing at least one test case. The tests in the POC pass in a matching id and matching name, and a non mathcing id and non matching name. They do not cover the case where the name matches but the id does not, or the id matches

[2022-04-07 17:25] Lucasark commented on #1009
Hi @hcoles!

Thx for fast answer, after your explanation I found where I need change in my code!

[2022-04-07 17:25] #1009 closed

[2022-04-08 18:46] #864 closed

[2022-04-09 12:24] tijanssen opened #1010 "Possible problem regarding report-aggregate mojo"
I made a new multimodule maven project und wanted to use the report-aggregate mojo.
 Here the link to my github repo: https://github.com/tijanssen/tresty

When I execute 'mvn clean install site' then the tresty/target/site/pitreports directory is empty. Therefore I can't look at the aggregate report.
Is this a bug?
Am I using the report-aggregate mojo incorrectly? Am I missing something or do I ha

[2022-04-09 14:48] nespera commented on #1010
Have a look at this issue re: test strength https://github.com/hcoles/pitest/issues/966

[2022-04-28 15:53] valentinacupac opened #1011 "org.pitest.util.PitError: Coverage generation minion exited abnormally"
The following are my plugins

`plugins {
    id 'org.springframework.boot' version '2.6.6'
    id 'io.spring.dependency-management' version '1.0.11.RELEASE'
    id 'java'
    id 'info.solidsoft.pitest' version '1.7.4'
}`

I then try to run

`gradle pitest`

I get the error

`> Task :pitest
5:48:41 PM PIT >> INFO : Verbose logging is disabled. If you encounter a problem, please enable it before rep

[2022-04-28 15:54] valentinacupac opened #1012 "Test classes are being mutated"
I expected that classes ending with Test should be ignored (i..e only source code should be mutated, not the tests themselves).

Is this expected or unexpected behavior?

[2022-04-28 15:55] valentinacupac commented on #1011
Note: This error is manifested only when configuring in build.gradle and running from the command line.

However, if I use the IntelliJ plugin for PIT, the plugin runs normally.

[2022-04-28 16:00] hcoles commented on #1012
If you are using maven or gradle, pitest should not mutate classes in the test tree. This not determined by which code root they are in, not by their name.

[2022-04-28 16:00] hcoles commented on #1011
If you can provide a complete, minimal executatable example, I can take a look.

[2022-04-28 18:02] mikesmithson opened #1013 "Kotlin emptyList() or listOf() ignored when mutating Kotlin class"
Not sure if this is a lack of understanding on my part or this is an issue. I have a Kotlin function in a class that does something like this:

`if (string.isEmpty()) {
    return emptyList()
}`

the pitest reports out this on the line that returns the empty list:

`replaced return value with Collections.emptyList for ..... -> SURVIVED`

I was originally using the kotlin.collections.KotlinCollecti

[2022-04-28 18:53] hcoles commented on #1013
Pitest understands Java and its libraries, out of the box it doesn't undestand kotlin.

It's smart enough to know that it shouldn't create a mutation that returns an empty list if the function already returns Collections.emptyList. As it doesn't understand kotlin, it does not recognise a call to KotlinCollections as equivalent.

If you're interested in mutating kotlin you should take a look at htt

[2022-04-28 19:10] hcoles commented on #1011
Assuming this relates to this project

https://github.com/valentinacupac/banking-kata-java

The issue is that you are using junit5, but have not configured the pitest junit5 plugin.

As per the documentation at https://gradle-pitest-plugin.solidsoft.info/ you can configure it with

[code]

[2022-04-28 19:17] szpak commented on #1011
@hcoles I improved the error message some time ago - https://github.com/hcoles/pitest/pull/745. Do you know why it is not displayed any longer?

[2022-04-28 19:22] hcoles commented on #1011
@szpak thanks, I'll take a look tomorrow and see what I've broken.

[2022-04-29 07:45] valentinacupac commented on #1011
@hcoles yes, that's the project, I've now updated the config as per above, it works now. Thanks!

[2022-04-29 08:11] hcoles commented on #1012
@valentinacupac This sounds like a problem with the Intellij plugin you are using. I suggest you raise an issue there.

[2022-04-29 12:24] #1011 closed

[2022-04-29 12:25] #1012 closed

[2022-05-05 09:46] #1013 closed

[2022-05-16 07:50] HrFlorianHoffmann opened #1019 "Coverage calculation failure with reflection unit test"
Our unit test suite includes a unit test that uses reflection to inspect the String constants in a production class. This test class breaks PIT's coverage minion. When PIT runs the test suite (without mutations), it experiences the following error:

[code]

Please find below the complete code of the involved production class and its test. This should enable easy reproduction of this issue. Note th

[2022-05-18 13:11] gdcmarinho opened #1021 "Quarkus Test doesn't have compatibility with PIT"
I've been creating a back-end service with Quarkus (tests in JUnit/PIT) and I'm not having a good experience with mutation testing (specifically with the first mutant I have to kill). The mutant is: `replaced return value with null for org/company/controller/UserController::getUserInformations → SURVIVED`.

**Controller**
[code]

I have some unit tests to this controller method. Thinking about the

[2022-05-18 13:26] hcoles commented on #1021
If you can post a minimal project that reproduces the issue, I can take a look.

[2022-05-18 13:39] gdcmarinho commented on #1021
I sent an invite to you. The repo is [located here](https://github.com/gdcmarinho/quarkus-mutation-testing).
<img width="1104" alt="invite project" src="https://user-images.githubusercontent.com/34725877/169052266-d4e00478-62e1-4802-bf01-523c2212379f.png">

[2022-05-18 15:18] hcoles commented on #1021
Having taken a brief look, the issue is that your tests do not run the code normally in the jvm.

I've not yet got my head around what `@QuarkusTest` is doing that is preventing pitest inserting mutations, but it is clear that they are not active in the bytecode it is running.

`@QuarkusTest` seems to be quite heavy weight, launching the quarkus stack. There is no need to do this for your tests. T

[2022-05-18 16:03] hcoles commented on #1021
Having blundered about a little in the code for `QuarkusTestExtension` it doesn't look to be doing anything too unusual/problematic (like launching jvms or instrumenting code). Issue is likely around the fact that it resets the context class loader. If so, it ought to be fixable (with the earlier performance warning).

[2022-05-18 20:05] gdcmarinho commented on #1021
How was the test class working without quarkus test? I couldn't reproduce it here. :(

[2022-05-18 20:22] hcoles commented on #1021
You need to change  your controller and service classes to use constructor injection so they can be constructed normally with new. Then write tests as you would for any other class.

[2022-05-19 09:45] hcoles commented on #1021
Got a bit further into what is happening here. Quarkus test looks to be running the classes in a non delegating class loaders. Pitest is mutating the class, but only in the context class loader set before the quarkus tests runs. The test therefore does not see the mutation.

I have a partially working fix (works for quarkus, but breaks things for gwt mockito) that will hopefully become a fully wor

[2022-05-20 15:20] hcoles commented on #1021
@gdcmarinho https://github.com/hcoles/pitest/releases/tag/1.8.0

[2022-05-20 16:18] gdcmarinho commented on #1021
Amazing work, @hcoles! Thank you so much for the support.

[2022-05-21 08:25] hcoles commented on #1021
@gdcmarinho No problem, it was an interesting one. I suspect there are other test runners out there that have a similar problem that hasn't been reported. Unfortunately I couldn't find a clean general soloution to this, so if any more are identified, the code will have to be updated to recognise them and apply the fix.

Closing as fixed in 1.8.0.

[2022-05-21 08:25] #1021 closed

[2022-05-25 09:23] AlexandruGG opened #1023 "🐛 PIT Excludes Classes With a Repository Dependency 🐞"
## Issue

The Pitest report seems to exclude any classes which have as dependency injections interfaces extending any of these:

- `org.springframework.data.jpa.repository.JpaRepository`
- `org.springframework.data.repository.CrudRepository`

The odd aspect is that PIT sees the classes during its run:

`10:04:10 PIT >> INFO : MINION : 10:04:10 PIT >> FINE : Gathering coverage for test Description

[2022-05-25 09:56] hcoles commented on #1023
Hi @AlexandruGG, thanks for the report and the reproducing repo (makes life so much easier).

The issue is that MyService has no code in it which the active mutators can detect. Pitest doesn't produce a report for classes that have no mutants, which is admittedly a bit confusing in cases such as this, and should perhaps be examined.

If you activate the non void method calls mutator, it will be ab

[2022-05-25 10:14] AlexandruGG commented on #1023
Hey @hcoles, thank you for the quick reply!

I should've thought about that one 😅. It makes perfect sense, but indeed might be less confusing to still show those classes in the report.

I get the idea behind `NON_VOID_METHOD_CALLS` -> in this case it can be valuable because the main reason the method is called is for the _side effect_, even though its returned value is ignored.

One last question

[2022-05-25 10:19] hcoles commented on #1023
You can activate a group using its name in the same manor as an individual mutator

[code]

And deactivate mutators or groups using a leading '-'

[code]

[2022-05-25 10:21] AlexandruGG commented on #1023
Thank you!

[2022-05-25 10:21] #1023 closed

[2022-06-08 19:24] qinfendeheichi opened #1026 "test case for mutants failing at @BeforeAll or @AfterAll method reported "pass" in Pitest"
When I tried making test cases fail at BeforeAll and AfterAll methods, I found that mutants are reported survived while the test case actually failed.
The problem could be reproduced by the following code.

[code]

[code]

Pit configuration is below for maven project

            <plugin>
                <groupId>org.pitest</groupId>
                <artifactId>pitest-maven</artifactId>

[2022-06-08 19:46] hcoles commented on #1026
@qinfendeheichi If you package this up as a complete executable project I'll take a look.

[2022-06-09 10:00] hcoles commented on #1026
@qinfendeheichi thanks for reporting this, and for the minimal project.

It looks to be a bug in the JUnit5 plugin. Tests with failing BeforeAlls look to be identified as "containers" rather than tests by jupiter, and seem to fail without registering as starting.

I've opened an issue against the plugin to track the problem.

https://github.com/pitest/pitest-junit5-plugin/issues/64

I should have

[2022-06-09 10:00] #1026 closed

[2022-06-10 11:54] hcoles commented on #1019
Hi @HrFlorianHoffmann sorry for the slow response.

On the one hand this is expected behaviour - pitest adds a synthetic field to the class to hold a coverage probe. It is generally accepted that any relection based code (particularly within tests) should filter out synthetic fields to avoid this problem.

What I don't understand is why you are not seeing the same issue with jacoco. Having just ch

[2022-06-10 11:57] hcoles commented on #987
closing as no response since 13 Feb

[2022-06-10 11:57] #987 closed

[2022-06-14 09:07] #637 closed

[2022-06-15 10:05] mgonzcast opened #1032 "GC overhead limit exceeded"
Hi,

  I have several modules in a project and only (the biggest one) fails with GC overhead limit exceeded.

  I have searched around and I can´t find how to fix this.

  Originally I run this command (which works in the rest of modules):

  `mvn clean install org.pitest:pitest-maven:mutationCoverage -DtimeoutConstant=10000 -DoutputFormats=XML -DexportLineCoverage=true -DtimestampedReports=false

[2022-06-15 11:50] mgonzcast commented on #1032
Thanks! As you can see I already use jvmArgs. Is there anything am I missing?

Junit tests. Is there anyway to narrow down which test(s) is(are) the culprit?

This is exactly the output of the error on the second command:

`12:12:57 PIT >> INFO : Verbose logging is disabled. If you encounter a problem, please enable it before reporting an issue.
12:13:02 PIT >> INFO : Incremental analysis reduced

[2022-06-15 12:47] #941 closed

[2022-06-15 12:58] hcoles commented on #886
closing as no response in over a year

[2022-06-15 12:58] #886 closed

[2022-06-15 13:14] mgonzcast commented on #1032
How do I do that? Setting MAVEN_OPTS maybe? If I try to set up:

`set MAVEN_OPTS="-Xmx1024M, -XX:ReservedCodeCacheSize=1024M,-XX:-UseGCOverheadLimit"  `

I get an error complaining about the heap size. I remove the -Xmx1024M flag I get an error regarding the reservedcochecachesize

How do I disable any particular test? with excludedTestClasses?

How do I do that?

[2022-06-15 13:25] Stephan202 commented on #1032
This is because of the commas. Try:
[code]

[2022-06-15 13:34] mgonzcast commented on #1032
I still get

`Invalid maximum heap size: -Xmx1024M -XX:ReservedCodeCacheSize=1024M -XX:-UseGCOverheadLimit
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.`

[2022-06-16 09:28] jzy3d opened #1033 "HeadlessException when running tests that open frames"
Due to https://github.com/hcoles/pitest/pull/601, PIT starts child process in headless mode. This prevent from running unit tests that use Swing/AWT, which I do a lot for building integration tests in a [2D/3D charting framework for Java](https://github.com/jzy3d/jzy3d-api).

The flag to allow opening UIs is

`mvn test-compile org.pitest:pitest-maven:mutationCoverage -DjvmArgs=-Djava.awt.headless=

[2022-06-16 09:29] jzy3d commented on #881
To my opinion, it would be nice to get a suggestion for the CLI when a headless exception is thrown. I spent little time to figure out where the problem came from (I dropped the solution [here](https://github.com/hcoles/pitest/issues/1033) for others).

[2022-06-16 11:20] mgonzcast commented on #1032
Many thanks, apparently on Windows you can´t use quotes with MAVEN_OPTS, so you have to use:

`set MAVEN_OPTS=-Xmx1024M -XX:ReservedCodeCacheSize=1024M -XX:-UseGCOverheadLimit`

without quotes

After excluding a powermock class it took more than 4 hours but no luck:

`7:32:23 PIT >> INFO : Verbose logging is disabled. If you encounter a problem, please enable it before reporting an issue.
7:32:28

[2022-06-16 11:23] mgonzcast commented on #1032
I have to say I am using JDK 8 and Maven 3.8.4

[2022-06-16 11:41] hcoles commented on #1032
@mgonzcast Can you give an indication of how large this module is? How long do the tests take to run wihtout pitest? Roughly how many thousand lines of code is it?

[2022-06-16 11:51] mgonzcast commented on #1032
Thanks for being so responsive. The module has 17k lines of code and 1.6K of junit tests. I would say the tests take around 20-30 minutes to run.

[2022-06-16 11:57] hcoles commented on #1032
Do you have any pitest configuration in the pom?

[2022-06-16 12:02] mgonzcast commented on #1032
No, nothing in pom about pitest. I have to say this is part of three module project but no pom has any reference about pitest. The other two modules are quite smaller (2.7k lines of code and 1.2k junit tests) and run pitest without any issue.

[2022-06-16 12:26] mgonzcast commented on #1032
I have checked and tests take around 7 minutes to run, sorry.

I am going to start excluding classes from pitest so I can narrow down where the issue is:

`mvn clean install org.pitest:pitest-maven:mutationCoverage -DtimeoutConstant=10000 -DoutputFormats=XML -DexportLineCoverage=true -DtimestampedReports=false -DjvmArgs="-Xmx4096M,-XX:ReservedCodeCacheSize=2048M,-XX:-UseGCOverheadLimit" -Dthreads=

[2022-06-16 12:29] hcoles commented on #1032
You'll need to use `excludedTestClasses`, but yes, taking some educated guesses as to where the issue might be and excluded them seems like a good step forward.

[2022-06-16 12:32] hcoles commented on #1032
7 minutes to 4 hours is quite a leap. Generally the coverage system adds about 10% overhead. The slow down is almost certainly due to the excessive memory consumption.

[2022-06-16 14:17] hcoles commented on #1032
I think this issue has been previously reported here

https://github.com/hcoles/pitest/issues/841

Which is fortunate as I am able to replicate it using the assertj project as an input. The issue is not as severe, but memory consumption is much higher than I'd expect.

I've identified something in the coverage code which looks (on the face of it) to be incredibly stupid, and should significantly r

[2022-06-16 14:53] mgonzcast commented on #1032
So, should I wait until you get the chance to look at it?

[2022-06-16 14:57] hcoles commented on #1032
@mgonzcast Anything you find would be useful, but unless repeatedly running a test suite is something that brings you great pleasure, you might want to wait until the fix that assertj has highlighted is confirmed + available.

[2022-06-16 16:01] mgonzcast commented on #1032
:) No great pleasure

I see the tests after your changes have worked. Let me know how I update pitest and if maybe the pitest sonarqube plugin has to be updated as well.

[2022-06-16 16:06] hcoles commented on #1032
It will likely be a little while before this is merged in. Changes to the coverage system have subtly degraded the performance of the overall mutation analysis on the past, so I'll need to do a bit of playing around to sanity check it.

Since it's a big change that affects the file pitest produces, it will go into a 1.9.0 release. I'll probably release the other queued changes as a 1.8.x release b

[2022-06-16 16:11] hcoles commented on #841
Appologies for leaving this sitting here for so long. A fix should be in the 1.9.0 release.

[2022-06-16 19:00] qinfendeheichi opened #1036 "Junit4 testcase failing in Constructor would be reported as "pass""
Symptom: The failure in the constructor will  result in "pass" result, thus mutant could've been reported "killed" is reported as "survived"

It's similar to the problem https://github.com/hcoles/pitest/issues/1026#issue-1265193792

Here, the issue only appears only when:

1. Use Junit4
2. There is something wrong in the test class constructor when executing a mutation
3. Users write test cases by

[2022-06-16 19:04] hcoles commented on #1036
Hi @qinfendeheichi. Thanks for the report, if you can package it up as a minimal project that reproduces the issue, I can take a look.

[2022-06-16 20:05] qinfendeheichi commented on #1036
Hi, Here is the link https://github.com/qinfendeheichi/PitJunit4Issue
It exposes the wrong report issue as well as the multiple constructor invocation concern.

[2022-06-17 05:29] mgonzcast commented on #1032
When do you expect to release those changes? I can wait a couple of weeks.

Not sure which parts do i have to rebuild and where to place them in my machine. Do I have to download code as it is now? Any instructions?

[2022-06-17 07:50] hcoles commented on #1032
@mgonzcast Should be released some time next week.

[2022-06-17 10:31] hcoles commented on #1036
Hi @qinfendeheichi

This is a really nasty one.

Although your dependency is junit4, your test is in fact a junit3 test. The model for these is different than junit 4, in that all the tests are constructed ahead of time, and remain in memory until the entire suite is finished. This used to result in memory leaks in large suites. For junit3 you should not do work in the constructor, this is the rea

[2022-06-17 16:56] qinfendeheichi commented on #1036
Hi @hcoles

I appreciate your feedback. Thanks!

Yes, it's part of the research rather than day-to-day development.
And I agree that it might not be worthwhile to fix it. People nowadays will not write such test cases. And for real life large projects, such bugs will not result in a big change in mutation score(There's almost no change)

[2022-06-18 01:10] l0s opened #1037 "Maven Site Report Silently Fails"
When the `pitest-maven` plugin is configured to generate a site report ([documentation](https://pitest.org/quickstart/maven/)), it silently fails with the following error:

    [WARNING] An issue has occurred with pitest-maven:1.8.1:report report, skipping LinkageError Receiver class org.pitest.maven.report.PitReportMojo does not define or inherit an implementation of the resolved method 'abstract

[2022-06-18 05:31] l0s commented on #1037
The `maven-site-plugin` can be downgraded to `3.10.0` as a workaround. However, doing so introduces a number of vulnerable dependencies: https://mvnrepository.com/artifact/org.apache.maven.plugins/maven-site-plugin/3.10.0 .

[2022-06-20 02:17] ThomGeG opened #1039 "[Question] Test execution is taking considerably longer than expected"
Hey all,

I'm trying to add pitest to an application for work so we can use mutation testing to help ensure test quality, but I'm hitting some snags on the performance front. There's about some 300 'unit' tests currently in the project that usually take ~3 minutes to run, but when pitest is using them to calculate code coverage they take some 15 minutes (and then roughly an hour to do the mutation

[2022-06-20 07:55] hcoles commented on #1039
Hi @ThomGeG.

There is a performance bug in the coverage system at the moment which will be fixed soon

https://github.com/hcoles/pitest/pull/1035

This is mainly around memory consumption however, and the fix is not likely to greatly improve time performance unless GC has become excessive for your project.

Unfortunately, without access to a project that reproduces the issue, it's impossible to s

[2022-06-21 05:54] ThomGeG commented on #1039
Cheers @hcoles

GC activity seems fine for the project, as I've previously hooked the CoverageMinion up to JProfiler and can see only small blips every so often. I've also given it 7GB to play with to be sure, but nothing changed.

Today I've had a go at trying to isolate the problem to something I'd be able to share, but haven't had any luck in reproducing it. I specifically took a random Spring

[2022-06-21 05:54] #1039 closed

[2022-06-22 05:12] Krabi commented on #1037
Hi
I have the same problem on Linux.
maven 3.8.5
Java 18.0.1.1
maven-site-plugin 3.12.0
pitest-maven 1.8.1

[2022-06-23 10:53] hcoles commented on #1032
@mgonzcast This is now released. 1.9.0 contains a fix for high memory consumption in the main process (it has no effect on the minions), and a change that greatly speedups up JUnit 5 tests during the coverage stage.

Since you look to have high memory consumption in the minions as well, I don't know how big the impact will be, but hopefully with things improved in the main process it will be easie

[2022-06-23 10:55] hcoles commented on #841
1.9.0 has now been released. It certainly improves things greatly for assertj. It would be good to know how well it addresses @JGulbronson original problem.

[2022-06-23 19:38] andre-iasi-moura opened #1044 "Gradle pitest failing on 1.9.0"
This is what comes:

VM : OpenJDK 64-Bit Server VM
Vendor : Oracle Corporation
Version : 17-ea+17-1401
Uptime : 953
Input ->
 1 : -Dfile.encoding=UTF-8
 2 : -Duser.country=US
 3 : -Duser.language=en
 4 : -Duser.variant
BootClassPathSupported : false

        at org.pitest.util.Unchecked.translateCheckedException(Unchecked.java:20)
        at org.pitest.coverage.execute.DefaultCoverageGenerator.cal

[2022-06-23 19:43] hcoles commented on #1044
Thanks for the report. If you can put together a minimal project that reproduces the issue, I can take a look.

[2022-06-24 00:14] rnveach opened #1045 "Checkstyle failing with bump pitest-maven from 1.8.1 to 1.9.0"
Identified in bump PR at https://github.com/checkstyle/checkstyle/pull/11761 ,

[code]

It is not clear what the issue is with this bump. Stack trace did not provide any details. From release notes it was said Maven Site Plugin should be a specific version but we are already on the recommended version.

Similar issue can be seen at https://github.com/checkstyle/checkstyle/pull/11760 with isolated

[2022-06-24 00:30] rnveach commented on #1045
Running ` mvn -e --no-transfer-progress -P"pitest-annotation" clean test-compile org.pitest:pitest-maven:mutationCoverage -Dverbose=true` (not verbose set) I see the following:

8:28:39 PM PIT >> FINE : MINION :       at org.pitest.mutationtest.config.PrioritisingTestUnitFinder.findTestUnits(PrioritisingTestUnitFinder.java:20)

[2022-06-24 00:35] rnveach commented on #1045
It seems that both pitest maven and pitest-junit5-plugin need to be bumped at the same time. When I did this locally, the build passed.

[2022-06-24 00:43] rnveach commented on #1045
Updated checkstyle PR, if it resolves the issue this can be closed.

I feel though that pitest's error reporting could be a bit better. I wouldn't expect it to tell me both plugins need to be updated but just saying `Coverage generation minion exited abnormally!` is too vague and could atleast provide some details of the actual issue which was the abstract method errror.

[2022-06-24 02:47] rnveach commented on #1045
There is a surviving mutation at https://github.com/checkstyle/checkstyle/pull/11761#issuecomment-1165070763 which was being killed before. It seems like this might be regression before this new version as I can confirm locally tests fail with the mutation applied and it is the same tests pitest reported in the old version.

[2022-06-24 13:09] rnveach commented on #1045
Thanks @hcoles . I added the changes and CI is passing now. I did not think this was an order issue but what you said makes sense.

I think we are good now and this is fully resolved, but I wanted to point out my comment at https://github.com/hcoles/pitest/issues/1045#issuecomment-1165048397 as I did not see you mention it.

[2022-06-26 19:58] rnveach commented on #1045
Closing this as main issue is resolved

[2022-06-26 19:58] #1045 closed

[2022-06-27 01:10] qinfendeheichi opened #1046 "Failure in initializing parameterized tests would lead to wrong full mutation matrix result"
If we write parameterized tests in Junit5, and
if there exists a static method that provides values for parameterized tests, and
if any value to be produced somehow crashes in the process

Then, all parameterized test cases would be reported as "failed" because the method that provides values fails, though maybe only 1 test case should've failed.

Hence, it does not hurt the mutation score or test

[2022-06-28 08:27] HrFlorianHoffmann commented on #1019
Hey @hcoles, sorry for the delay. Yes, you're completely right on both accounts. It was the synthetic field. I was not aware of the convention to ignore them. In fact, I was not aware of synthetic fields at all... 😳 Added a filter condition to make the test ignore anything synthetic and this made PIT work for the test class. There is also something funny going on with JaCoCo for this class. The te

[2022-06-28 09:42] mgonzcast commented on #1032
@hcoles Thanks. Today I tried the new release 1.9.0 with the following settings:

`set MAVEN_OPTS=-Xmx1024M -XX:ReservedCodeCacheSize=1024M -XX:-UseGCOverheadLimit

mvn clean install org.pitest:pitest-maven:mutationCoverage -DtimeoutConstant=10000 -DoutputFormats=XML -DexportLineCoverage=true -DtimestampedReports=false -DjvmArgs="-Xmx4096M,-XX:ReservedCodeCacheSize=2048M,-XX:-UseGCOverheadLimit" -

[2022-06-28 09:56] themoffster commented on #1044
Here's an example project: https://github.com/themoffster/pitest-example

[2022-06-28 10:21] hcoles commented on #1044
Thanks @themoffster

The issue looks to be that, for some reason, the project is not picking up the 1.0.0 release of the pitest juni5 5 test plugin.

`11:18:37 PIT >> FINE : MINION : java.lang.AbstractMethodError: Receiver class org.pitest.junit5.JUnit5TestUnitFinder does not define or inherit an implementation of the resolved method 'abstract java.util.List findTestUnits(java.lang.Class)' of inte

[2022-06-28 12:43] themoffster commented on #1044
I required this in the pitest config too `pitestVersion = '1.9.0'`

[code]

[2022-06-28 13:55] hcoles commented on #1019
@HrFlorianHoffmann Thanks for getting back. I'll close this as everything is working as expected. Unfortunately the only way to avoid the synthetic fields on the class is to make the coverage calculation a lot less efficient.

[2022-06-28 13:55] #1019 closed

[2022-06-28 14:59] hcoles commented on #1032
Thanks @mgonzcast, I assume this is for the large module?

Can you enable verbose logging and see if it provides any additional info?

[2022-06-29 08:47] mgonzcast commented on #1032
I enabled -X debug option and I get this in the logs:

[code]

[2022-06-29 12:17] andre-iasi-moura commented on #1044
That resolved the issue for me. Thanks very much!

[2022-06-30 07:18] mgonzcast commented on #1032
@hcoles any ideas of what can I try now to narrow down the issue?

[2022-06-30 07:46] hcoles commented on #1032
@mgonzcast If you set pitest's own logging to verbose (-Dverbose=true), then it might show something, although I'm not too hopeful.

After that it would be question of whittling away at the module to turn it into the smallest thing that reproduces the issue, and that you are happy to share (which can be done privately if that helps).

[2022-06-30 14:03] ThomHurks commented on #1046
We have one project where upon upgrading to pitest 1.9.0 the mutation score dropped from 100 to around 50. The project uses a lot of parameterized Junit5 tests, so I think in general 1.9.0 may have introduced a regression when it comes to parameterized tests?

[2022-06-30 15:15] hcoles commented on #1046
@ThomHurks If you can post a project that reproduces the issue, I can take a look.

[2022-06-30 16:41] mgonzcast commented on #1032
@hcoles I did and I get this strange error (I replaced real strings for anonimity):

[code]

I don´t quite understand why It´s checking that module because I added to the list of Excluded classes, maybe I am excluding it wrongly?

Also I still see the socket error...maybe the antivirus is coming to play?

[code]

[2022-06-30 19:51] hcoles commented on #1032
@mgonzcast How are you excluding the powermock tests? Although I'm not sure what's happening, they are a likely root cause.

It is certainly possible that antivirus is interfering with the communication between the main process and the minion, there have been reports of this in the past. I don't see how it would result in the OutOfMemoryError you reported earlier however.

[2022-07-01 06:39] mgonzcast commented on #1032
I exclude classes with -DexcludedClasses. I have searched for the string powermock and I found all powermock instances (all in src\test).

Your question made me think that I was doing the exclusion wrongly and after googling around I found another switch -DexcludedTestClasses. If I exclude the tests classes with powermock using that switch, pitest doesn´t fail but I guess this poor results:

[code

[2022-07-02 11:37] davidburstrom opened #1047 "Intermittent deadlocks in MutationCoverageReport process"
Spuriously, the MutationCoverageReport process is deadlocking waiting for the minions to die, but there are no minion processes alive according to `jps`. It's as if there is some signalling that gets randomly dropped, maybe due to a concurrency issue.

I've seen this across various versions of Pitest, most recently version 1.9.0, run through Gradle plugin info.solidsoft.pitest:1.7.4. This happens

[2022-07-04 08:30] hcoles commented on #1047
@davidburstrom Thanks for the report.

I've (unsurprisngly) not been able to reproduce this, so a fix is going to be difficult (not helped by the fact that the code in this area is old and deeply unpleasant).

Are any of the minion processes left alive when this occurs? Or is only the main process still running?

[2022-07-05 11:17] mgonzcast commented on #1032
Just wondering...why some tests with powermock don´t work with pitest and others do? Do I have to look for anything in particular?

[2022-07-05 11:18] hcoles commented on #1032
@mgonzcast I'm not sure what the issue is. If you could post an example of a test that doesn't work, that would be helpful.

[2022-07-06 15:12] hcoles commented on #1047
@davidburstrom If you set `verbose=true` pitest will spit out a lot more info.

[2022-07-06 15:56] hcoles commented on #1047
@davidburstrom I've just release pitest 1.9.1, this contains a small change to test the theory that the hangs are caused by the final 'done' signal from the minion getting lost.

Could try this out once it's synced through and report back on whether the hangs still occur?

[2022-07-06 22:27] davidburstrom commented on #1047
I can try that out! Will that require `verbose=true` to detect, or will it be obvious from the context?

[2022-07-07 09:55] hcoles commented on #1047
@davidburstrom The change just resends the signal a few times. So, if the issue is that it's getting lost it should eliminate the problem (or at least reduce the frequency with which it happens).

If the volume of output doesn't cause you any problems, enabling verbose would still be good. If you do get another hang, it might give a bit more info to work from.

[2022-07-07 10:17] Olon11 opened #1049 "More flexible log options"
In my project, I use the verbosity option VERBOSE_NO_SPINNER because it is the only option that will print the method that causes the failure. Example :

`FINE : Mutation MutationIdentifier [location=Location [clazz=audio.caf.AudioDescription, method=encode, methodDesc=(Ljava/io/OutputStream;)V], indexes=[35], mutator=org.pitest.mutationtest.engine.gregor.mutators.NonVoidMethodCallMutator] detecte

[2022-07-07 17:08] davidburstrom commented on #1047
If you ask me, I'd say failing fast is the better option, instead of assuming responsibility to stabilize wrt the environment.

[2022-07-07 18:21] hcoles commented on #1047
Which is happily also the easiest option.

[2022-07-08 08:41] hcoles commented on #1047
@davidburstrom
Releasing a fix for this now as pitest 1.9.2. Instead of hangs you should now receive errors.

[2022-07-08 09:44] davidburstrom commented on #1047
Cool, I'm trying it out now!

[2022-07-08 10:09] hcoles commented on #1047
Actually, my description of the behaviour is not quite right. If the coverage process pitest runs first dies, you'll get a fast error. If the process doesn't start/dies during the mutation testing phase you'll see run errors reported against each mutation.

The first scenario was easy to reproduce for a test. The second is not so easy (without first causing it at the coverage stage).

[2022-07-08 12:08] davidburstrom commented on #1047
I can confirm that I came across the fail-fast, as in `Exception in thread "main" org.pitest.util.PitError: Coverage generation minion exited abnormally! (MINION_DIED)`.

[2022-07-08 13:24] leflamm opened #1051 "Support Project financially?"
Hi,

is there a way to support the Pitest project financially? Via Patreon, Github sponsoring or whatever?

Cheers, Christian

[2022-07-08 14:38] hcoles commented on #1051
Hi @leflamm,

Thanks for the question.

I don't have anything setup to accept direct donations. I've never looked into this too deeply, I believe there is a minefield to navigate in terms of taxes.

There is however a way to support pitest financially.

Although it is a commerical company, https://www.arcmutate.com/ is tightly linked to pitest. Purchasing an arcmutate licence directly benefits the

[2022-07-09 09:22] davidburstrom commented on #1047
Regarding the overarching stability question, I notice that the various spawned Pitest processes (MutationCoverageReport, CoverageMinion, MutationTestMinion) are started with default memory allowances, which on my machine means allocating 1GB up front, which is far more than necessary. Depending on the number of threads, this means e.g. 5 GB per execution.

Since I'm using the Gradle plugin, I've

[2022-07-13 07:19] joel-costigliola commented on #841
@hcoles I have re-enabled pitest on assertj-core pull requests, the OOM is gone but the build failed due to tests failing without mutation as per the logs of  https://github.com/assertj/assertj-core/runs/7315662523?check_suite_focus=true.

Here are the failing tests:
[code]

This is unexpected to me as the tests run fine on a variety of environments (see the checks report on https://github.com/ass

[2022-07-13 08:10] hcoles commented on #841
hi @joel-costigliola

I think the issue is the custom argline. Pitest doesn't currently support the global maven argline property, so it needs to be duplicated in the pitest config.

[code]

Pitest has all sorts of issues with arglines at the moment. I hoping to fix some of this in the next release.

By coincidence I was having a play with the assertj test suite yesterday. Everything was running g

[2022-07-13 08:22] hcoles opened #1052 "Support global maven argline property"
Surefire supports reading a global argline property eg as used in assertj

https://github.com/assertj/assertj-core/blob/main/pom.xml#L31

This config must currently be duplicated for pitest.

Arglines for pitest are currently supplied as a list, which has caused some issues in the past. It may also be desirable to set different argline parameters for pitest.

May make sense to define a new, single

[2022-07-13 09:46] joel-costigliola commented on #841
Thanks for the quick reply, build succeeds now with the JVM args, looking forward to the next release.

[2022-07-14 09:05] #464 closed

[2022-07-14 09:45] #1052 closed

[2022-07-14 11:30] hcoles commented on #1033
This will work differently in pitest 1.9.3. once #1054 is merged.

headless=true will only be added when running on osx. Auto adding of the jvm arg can be disabled with -Dfeatures="-macos_focus"

[2022-07-15 06:57] mgonzcast commented on #1032
As you said it was mockito tests. It makes sense:

[code]

[2022-07-15 07:08] hcoles commented on #1032
@mgonzcast Can you post a full (simplified) example of a test that causes the issue? Pitest already runs tests against MockitoJunitRunner as part of its build, so more info will be required to reproduce this.

[2022-07-15 10:53] mgonzcast commented on #1032
PowerMocks are used too (sorry I didn´t say earlier).

PowerMock example:

[code]

[2022-07-18 09:33] hcoles commented on #1044
@andre-iasi-moura I believe this issue is resolved and can be closed?

[2022-07-19 17:30] Vyom-Yadav opened #1059 "Pitest XML report does not contain data about uncovered lines"
XML format does not contain information about uncovered lines, only HTML format contains it.
On top of that, in certain cases, line coverage in rounded off so `coverageThreshold` field does not help.
![Screenshot from 2022-07-19 22-50-56](https://user-images.githubusercontent.com/73882557/179811425-559b1549-e46b-4941-a10c-72edf06e2d1d.png)

`212/213` lines are covered but it is still 100% :(

The

[2022-07-21 06:51] mgonzcast commented on #1032
@hcoles do you need more examples?

[2022-07-21 23:08] caay2000 opened #1060 "Mutating non-existing lines in Kotlin?"
As you can see in the following image, seems that PiTest is mutating lots of lines that are not really in my Kotlin file... from 29 to 54...

![image](https://user-images.githubusercontent.com/16318775/180329237-408c50f9-268e-4799-b50d-0d2112adfdf5.png)

This is my pitest configuration in gradle

[code]

You can check the code repository at https://github.com/caay2000/transport-madness-kata/tree/e

[2022-07-22 09:13] hcoles commented on #1060
Hi @caay2000

Thanks for the report. The non existant lines are a result of calls to inlined functions in arrow.core.Either. The body of these functions are copied into the bytecode of the class by the kotlin compiler.

We're working on a soloution for this.

[2022-07-22 10:27] hcoles commented on #1060
@caay2000

Just tried the inlined code filtering we've been working on out against this file, and pleased to say it works as expected. We'll release it early next week.

[2022-07-22 14:32] hcoles commented on #1060
@caay2000 Since its passed all out internal tests, we've released 0.1.2 of the kotlin plugin today. It will filter out mutants in code from most inlined functions. There are some cases where the inlined code doesn't seem to come with SMAP data which we are still trying to understand/find a soloution for.

[2022-07-22 14:33] caay2000 commented on #1060
Amazing, thanks @hcoles 🎉

[2022-07-22 14:43] caay2000 commented on #1060
It is working perfectly!

<img width="701" alt="image" src="https://user-images.githubusercontent.com/16318775/180463510-81845c05-9e6e-49e8-89e0-ab03bf966ec4.png">

Is it possible to have some change on the timestampedReports property? 🤔  with the same configuration I posted above (_just changing the kotlin-plugin to 1.2_) my report was published in a timestamped directory

[2022-07-22 14:50] hcoles commented on #1060
@caay2000 timeStampedReports has always defaulted to true (it probably shouldn't, but that's the way it's always been). If you don't explicitly set it to false reports will be timestamped. That was the behaviour of the exercise-1 branch when I checked it out.

I'm not clear on why you weren't seeing timestamped reports before, but that is not a change introduced by the kotlin plugin.

[2022-07-22 15:24] caay2000 commented on #1060
ok, my fault then 🤦🏼‍♂️

From my side, this issue could be closed! Thanks!

[2022-07-22 15:26] #1060 closed

[2022-07-24 11:00] ja9563803 opened #1061 "Using the eclipse plugin for Pit test in Java. Facing an error - Tests failing without mutation"
Hi,
I am using the eclipse plug in - pitclipse for pit testing in Java.
I created a project using Java SE -1.8 and JUnit 4 for the tests.

The following is my code and tests.

**Code**

        public class trial1 {
        boolean productIsEven(int a, int b){

        int product = 2 %(a * b);
        boolean evenOr = product == 1;
        return evenOr;
	         }
        }

**Tests**

[2022-07-24 11:10] hcoles commented on #1061
Your tests do not pass when run against the unmutated code. You need to fix or remove the failing tests before you run a mutation analysis.

[2022-07-24 11:46] ja9563803 commented on #1061
Thank you for the quick response, I will look into that. @hcoles

[2022-07-25 08:20] #1061 closed

[2022-07-26 12:24] Pfoerd opened #1062 "Invalid linecoverage.xml file for Kotlin Test method names that use special symbols enclosed in backticks"
Tested with Pitest 1.9.3. Project runs on Kotlin 1.6.10

# Issue
When setting `exportLineCoverage` to `true` Pitest generates an invalid linecoverage.xml file when there are "special symbols" in test method names enclosed in backticks (this is a best practices for writing tests in Kotlin), e.g. ``@Test fun `this won't work in pitest linecoverage file because of the single quote char`() {...}``.

#

[2022-07-28 01:38] koral-- opened #1065 "No Unit Test Coverage or Mutation Coverage reported for Robolectric based Unit Tests"
The issue has been reported in https://github.com/koral--/gradle-pitest-plugin/issues/80 but it looks like the cause is located here in the upstream.

Sample project and reports are attached to the linked issue. I'm adding only the verbose logs.

When Robolectric runner is used there is a warning:
` WARNING : More threads at end of test (6) testSubtractSomeNumbers(nz.co.fendustries.playground.logi

[2022-07-28 07:20] hcoles commented on #1032
@mgonzcast I've not been able to reproduce the problem. If you can put together an minimal project that reproduces the issue, that would help.

[2022-07-29 07:18] Vyom-Yadav opened #1066 "Pitest mutating methods called from static blocks"
Pitest mutates methods called from static initializer blocks with nested depth > 1.

Pit Report: https://vyom-yadav.github.io/pitest-all-latest/pitest-common/com.puppycrawl.tools.checkstyle/PackageObjectFactory.java.html

✅ Pit is not mutating code present in static blocks.
![Screenshot from 2022-07-29 12-39-31](https://user-images.githubusercontent.com/73882557/181703468-a67cb921-5632-4c48-8499-a

[2022-07-30 08:11] Vyom-Yadav commented on #1066
@hcoles ping

[2022-08-01 10:07] knysh opened #1068 "[Feature request] coverageThreshold and mutationThreshold for report report-aggregate"
**Prerequisites**:
I have a multi module maven project and I aggregate the report using report-aggregate.
mutationThreshold and coverageThreshold are different for all modules.
e.g.
mod0 coverage: 10%
mod1 coverage: 50%
mod2 coverage: 100%
general coverage: 53%

**Steps**:
1. Common mutation report is okay and contains general percentages of coverage
2. I would like to pass mutationThreshold and c

[2022-08-01 14:34] Pfoerd commented on #962
@hcoles , do you have time for some feedback on this? Thanks!

[2022-08-01 18:48] eorloff opened #1070 "Jacoco agent is added to mutation minion"
After updating to PiTest 1.9.3 we are seeing RUN_ERROR when running PiTest. I have tested with PiTest 1.9.2 that does not fail.

When running with verbose logging I get the following error
[code]

Digging into the changes between 1.9.2 and 1.9.3 I have tried modifying the argLine parameter and this seems to be the problematic change. The JaCoCo agent is accidentally enabled if the argLine has not

[2022-08-02 09:23] hcoles commented on #1070
Thanks for the report.

The options here are limited as prior to the change other users had the opposite problem (important argline arguments weren't picked up by default).

Possibilities include

1. Toggle argline inclusion on/off with a flag (but this just moved the problem so one group or another has to debug in order to switch off the defauilt value).
2. If jacoco is on the argline throw an er

[2022-08-02 09:28] hcoles commented on #1066
Should be fixed by #1069

[2022-08-02 10:30] Vyom-Yadav commented on #1066
@hcoles Thanks a lot, we will be testing it in the next release, you may close this issue.

[2022-08-02 15:48] #1070 closed

[2022-08-03 16:01] hcoles commented on #1066
released in 1.9.4

[2022-08-03 16:02] #1044 closed

[2022-08-03 16:03] hcoles commented on #968
Release 1.9.4 extends the analysis to work with java 8 and catch more complex cases.

[2022-08-03 16:03] #968 closed

[2022-08-09 16:41] sharath2106 opened #1072 "Lots of random errors - "Minion exited abnormally due to RUN_ERROR", "Minion exited abnormally due to TIMEOUT_ERROR""
We are trying to bring Mutation testing using `pitest`. But we are facing random errors - "Minion exited abnormally due to RUN_ERROR", "Minion exited abnormally due to TIMEOUT_ERROR" etc.,

We have added the plugin - `id 'info.solidsoft.pitest' version '1.7.4'`

The gradle task looks like -

`pitest {
    junit5PluginVersion.set("1.0.0")
    pitestVersion.set("1.9.0")
    targetClasses.addAll("com

[2022-08-10 08:34] hcoles commented on #1072
If you enable verbose logging it may give some information about the cause of the RUN_ERRORs.

Also, please note that you almost certainly do not want to enable "ALL" mutators as this will produce low quality mutants and the latest version of pitest is 1.9.4.

[2022-08-11 09:09] hwang-pku opened #1073 "Concurrency error encountered when running PIT on Hadoop"
Hi all,

I am running PITest on Hadoop Common and encounter a concurrency error – after launching the mutation process, one of the child processes constantly throws an PitError caused by EOFException when reading from a socket. The stack trace is attached. I am not sure whether it is a concurrency bug in PITest and how it affects the PITest results.

I am able to reproduce the problem with only on

[2022-08-12 09:51] mdlcosine opened #1074 "Add org.jboss.logging to default excluded logging classes for use in Quarkus applications"
As Quarkus applications use the org.jboss.logging classes, these should be included in the default excluded classes.

I tried to create a branch with a PR for it, but I didn't have the rights to do so.

I suppose this snippet can be put in org.pitest.mutationtest.config.ReportOptions which will fix this issue.
[code]

[2022-08-12 12:35] nicenemo opened #1075 "Coverage generation minion exited abnormally! (UNKNOWN_ERROR) pitest 1.9.4"
# Unknown error with pitest 1.9.4 but not with 1.8.1 or 1.7.x

Our build works up to version 1.8.1 of pitest but not with any later versions.

We run pitest with:

mvn `org.pitest:pitest-maven:mutationCoverage`
With versions 1.9.0 up to 1.9.4 Pitest immediately fails.
I think there is something wrong with my pom.xml or Java setup but not sure what.
I Added a redacted pom.xml file and part of the l

[2022-08-12 12:47] nicenemo commented on #1075
Same result with the Zulu 17 JDK.

[2022-08-12 12:59] nicenemo commented on #1075
Also unsetting my `MAVEN_OPTS` dit not help.

[2022-08-12 13:27] hcoles commented on #1075
When upgrading to 1.9.0 the pitest-junit5-plugin needs to be upgraded to 1.0.0 due to an api change. This is most likely the issue.

It is mentioned in the release note, but perhaps needs to be clearer?

[2022-08-12 13:37] nicenemo commented on #1075
I will add another property to my pom.xml
thanks.

[2022-08-12 13:37] #1075 closed

[2022-08-16 13:03] kamesh95 opened #1076 "[New mutant request]: Mutant to nullify a function's parameters"
I have checked the "ALL" group for mutators available for pitest but was unable to find a mutator that actually detects any potential null pointer exceptions. For example, in the below code if the method is called with null arguments `welcome(18, null)`, it throws NPE, however my mutation score still shows up 100% even though I don't write any test cases for the null scenarios.

[code]

I think if

[2022-08-16 15:36] dan323 opened #1077 "[Feature request] Allow other formats than HTML in report-aggregate"
There are some report plugins being created, but since the aggregation is hardcoded to use HTML, we cannot use them as of now in aggregation.

[2022-08-16 20:13] rnveach commented on #1076
Not a maintainer of this repo, but...

As I understand, exceptions are seen a test failure and all pitest is doing is looking for a test to not pass with the mutant to say the mutant was killed.

I don't think forcing an exception here will do what you want in this case which is to decrease the mutation percentage.

I think this type of mutation will only show if the parameter has a test for it's

[2022-08-22 08:44] #1074 closed

[2022-08-22 08:45] hcoles commented on #1074
Thanks @mdlcosine, it will be in the next release.

[2022-08-22 12:13] hcoles commented on #1072
@sharath2106 Did you try enabling verbose logging?

[2022-08-24 06:10] Vyom-Yadav opened #1081 "Pitest killing surviving mutations when using `@BeforeEach` instead of `@BeforeAll`"
Related PR: https://github.com/checkstyle/checkstyle/pull/12053
Related failing build: https://github.com/checkstyle/checkstyle/runs/7890740879?check_suite_focus=true
Build output:
[code]

This particular mutation was being killed before using the `@BeforeAll` annotation. Even after using the `@BeforeAll` annotation, the test cases fail (mutation is technically **killed**) but pit shows it as surv

[2022-08-24 06:11] Vyom-Yadav commented on #1081
@hcoles Feel free to ping me if you need any information regarding this, would be happy to provide :)

[2022-08-24 09:09] hcoles commented on #1081
@Vyom-Yadav

From a quick scan through the code I think this is "working as expected", as the test suite has hit a wrinkle with how static state works with coverage based mutation systems.

Becuase this code is only run if there is no entry in the static BUNDLE_CACHE, the result of mutation testing will be highly dependent on the order in which tests are run. Adding or removing a test may complete

[2022-08-24 12:34] rnveach commented on #1081
I thought I tested this by removing BUNDLE_CACHE and had it pretend the cache was always empty and always getting fresh values. It produced the same pitest results as if the cache was there.

Now `sLocale` is also static and I did not do any tests with that. The original PR in question is changing the default locale. Maybe it is the "static" playing the role.

[2022-08-24 15:22] rnveach commented on #1081
@hcoles

Is there a way to disable the "shrinking due to coverage" just to check this out and verify things?

[2022-08-24 18:48] rnveach commented on #1081
@hcoles I am playing around with the code and tests to try to atleast show in my mind what you are saying  and possibly in order to look at ways to change the tests.

I created a minimal version of this and I am still getting surviving mutant on the line in question though I can manually change the code and get a test failure.

Branch: https://github.com/rnveach/checkstyle/tree/pitest_1081

Profil

[2022-08-31 07:42] hcoles commented on #1081
@rnveach I was about to take another look at this today, but from the edits in your comments it looks like you have tracked the issue down to something in the checkstyle codebase?

[2022-08-31 12:37] rnveach commented on #1081
Hey @hcoles . I appreciate you coming back to us. It was a cache issue, but it was a little more indepth than that.

It is basically a misunderstanding between our code and `java.util.ResourceBundle`. We were putting our own cache, BUNDLE_CACHE, surrounding `ResourceBundle` which has its own internal cache. So we were basically double caching. Removing our cache did not fix the mutation like I was

[2022-09-02 14:25] Delawen commented on #741
And one year later another random internet stranger (me) got stuck on the same place.

[2022-09-06 01:31] #1081 closed

[2022-09-06 10:36] davidburstrom opened #1083 "Mutations falsely killed by TIMED_OUT under high system CPU load"
When running a parallel build in Gradle (or any other parallelizable build system), sometimes Pitest will report a timeout coverage for one or more of the modules. This is due to the fact that some tests don't get to run as far as necessary to determine the mutation to be surviving. This is sort of highlighted in https://pitest.org/faq/#:~:text=I%E2%80%99m%20seeing%20a%20lot%20of%20timeouts%2C%20w

[2022-09-15 15:04] alangdundee opened #1084 "JUnit version used is flagged as having a CVE"
It may be a recent addition to mvnrepository (don't recall seeing previously) but projects with CVEs in their dependencies are being flagged and highlighted as having vulnerabilities, albeit not prominently if it is in a dependency.

https://mvnrepository.com/artifact/org.pitest/pitest/1.9.5

You can see info on the CVE here: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15250 and it app

[2022-09-20 22:07] briardalexis commented on #1072
Hi, I also have a lot of RUN_ERROR, maybe these logs will help.

[code]

more than half of my mutations end up in run error, and it looks like it's always the same issue:
[code]

Hope it helps, I can give more information if you need.

[2022-09-21 07:27] hcoles commented on #1072
@briardalexis

Based on

I think the most likely issue is that another bytecode processor is modifying the mutated class, but it could be something else.

If you can create a minimal project that reproduces the issue I can take a look.

[2022-09-21 20:37] mikesmithson commented on #802
is there any traction on this issue? I've observed similar behavior.

[2022-09-21 21:19] briardalexis commented on #1072
Ok, I'll try to do that next week, thanks!

[2022-09-22 06:35] hcoles commented on #802
Sorry, completely missed this back in 2020.

The history file shouldn't be machine specific, but unfortunately its format is opaque and badly thought out so it is difficult to debug what's going on. It might be time to finally fix it.

What might be happening here is variation in the results due to timeouts and/or static initialisation code (see the Is It Random? section of the FAQ).

https://pite

[2022-09-26 15:08] Iroski opened #1086 "ClassNotFoundException: org.pitest.functional.predicate.Predicate with command line"
Hi I am trying to use command line version of pit to mutate a class in defects4j.
My command line input is
[code]

and the result shows an exception:
[code]

All the paths to the jars are valid and my java version is 1.8
I wonder what's wrong with this, thank you !

[2022-09-27 00:58] gmshake commented on #1086
Can you please try some recent versions such as 1.9.5 ?
Version 1.1.5 is released about seven years ago and probably will not supported any more.

Ref:

- https://github.com/hcoles/pitest/releases/tag/1.9.5
- https://github.com/hcoles/pitest/releases/tag/pitest-parent-1.1.5

[2022-09-28 02:58] wlopper opened #1089 "Whether multiple mutants will affect each other when using H2 database memory mode"
The project I am developing uses the memory mode of the H2 database.
For historical reasons, some tests fail to return the database to its previous state after execution. For example, an order data is left in the order table after a use case is executed. I want to know whether pitests affect each other when executing variants.
look forward to your reply.

[2022-09-28 03:39] rnveach commented on #1089
Not a maintainer and just my opinion. I use an in-memory database for my project and don't have any issues with the database itself, but really it depends more on your exact test suite and how things are specifically handled. I would say it comes more down to test dependability than the database.

Unless you are completely rebuilding the database from scratch for each test, your tests don't feel r

[2022-09-28 04:19] wlopper commented on #1089
Thank you for your reply!

It is also my hope to return the environment to the same situation before executing any mutation test. Unfortunately, there are many missing data in the project I am responsible for due to historical reasons, and there are more than 6000 test cases in the whole project, so it is very difficult to modify them all.

In addition, if using the same database makes it impossib

[2022-09-28 04:20] #1089 closed

[2022-09-28 17:25] ayaankazerouni opened #1090 "Report mutated source code?"
Hello,

I'm interested in working on a project for in-IDE mutation feedback. I'd like to report the actual mutated Java source code for surviving mutants in the feedback.

Right now, the CSV and other output formats report only the mutation operator that was used on a given line, but not the actual mutated source code. If a given mutator was applied only once to a given line, it's easy to work out

[2022-09-28 17:40] ayaankazerouni commented on #1090
Relatedly, [this page](http://pitest.org/faq/) mentions an `EXPORT` feature where mutations can be written to disk, and I see a `MutantExportInterceptor` that writes mutants to disk. But I don't see how to enable to this export during a PIT run using Maven or Gradle etc. Any pointers would be appreciated.

[2022-09-28 18:09] ayaankazerouni commented on #956
Great, thank you very much.

[2022-09-28 18:09] hcoles commented on #1090
As the mutations are created in the bytecode, the only way to get source for the mutant would be to decompile it. I have played around with this idea, but the results were not great.

Since we have the original source you could try and come up with some sort of mixed decompilation guided by original source scheme that might produce better results. This would be a non trivial project however.

If y

[2022-09-28 18:13] ayaankazerouni commented on #1090
Thanks for the info! My student and I are planning to explore this. I'm closing this issue but will report back if anything comes of it.

[2022-09-28 18:13] #1090 closed

[2022-09-30 09:20] Pfoerd commented on #1068
I have a similar issue. I'm currently over a PR to let `ReportAggregator` return a result object with aggregated coverage metrics and add thresholds form them in the pitest-maven aggregator mojo. Then one can configure thresholds in the parent pom.xml for the aggregated coverages. I plan to raise the PR in the upcoming 2 weeks so stay tuned :)

[2022-10-01 22:57] briardalexis commented on #1072
Hi, here is the minimal project to reproduce the RUN_ERROR: https://github.com/briardalexis/pitest-run-error . It looks like the RUN_ERROR disappear when I remove the quarkus-jacoco dependency. I tried to remove it from my original project, it reduces the amount of RUN_ERROR I get, but it looks like there is other Quarkus dependencies that produce these.

[2022-10-03 08:35] hcoles commented on #1062
The XML escaping is a bit of a mess, but should now be fixed by #1091 which will be released in pitest 1.9.6 later today.

The linecoverage xml is not well thought out and needs a rewrite. It was originally intended as an internal debugging tool, rather than for end user use.

Do you have internal reports/tooling that rely on the current format?

[2022-10-03 12:40] hcoles commented on #1072
@briardalexis Just taken a quick look at the repo now. It doesn't generate any run errors for me, but I guess this is a version without jacoco?

Pitest and jacoco can't really co-exist. Even if it didn't generate run errors, the probes that jacoco adds would likely result in performance and other issues.

If you can update the repo to reproduce the run errors you are seeing without jacoco I can ta

[2022-10-03 12:51] briardalexis commented on #1072
My bad, I pushed it without quarkus-jacoco dependency, it's fixed now. I'll do another version to find which other dependencies produce RUN_ERROR later this week.

[2022-10-04 05:37] Pfoerd commented on #1062
Thx for fixing this issue timely!

@hcoles no there is no internal tooling relying on the linecoverage format, we only have problems with it using the report aggregator. Therefore it is not a problem for us to change the format.

[2022-10-04 07:54] Pfoerd commented on #1062
I tested 1.9.6 and unfortunately I still get invalid linecoverage.xml files. The special characters are escaped correctly in most cases but it seems that there are still some problems with lambdas/inlines where the method name is included in the classname. In that case escaping doensn't work yet.

[code]

[code]

[2022-10-04 08:08] hcoles commented on #1062
@Pfoerd I'm not entirely suprised, given that that is mostly hand rolled code rather than something using one of the xml libraries.

I'll take a look today and either rip it all out and replace it with something jacksony, or plug the holes in the escaping.

[2022-10-04 09:03] hcoles commented on #1062
@Pfoerd Decided to quickly plug the leak. Pitest 1.9.7 should be syncing to maven central now.

[2022-10-04 09:43] Pfoerd commented on #1062
@hcoles successfully tested it with 1.9.7, it produces valid linecoverage.xml files also for tests with lambdas/inlines like above. Thx!

[2022-10-04 13:45] hcoles commented on #1062
@Pfoerd are you happy to close this?

[2022-10-04 13:49] #1062 closed

[2022-10-04 16:34] mikesmithson commented on #802
@hcoles  - OK, thanks. Is there a feature request that needs to be added for a future release for this? It's really hurting the productivity of our team.

[2022-10-14 13:13] #1068 closed

[2022-10-15 02:11] mtvjr opened #1096 "mutationCoverage failed: Coverage generation minion exited abnormally! (UNKNOWN_ERROR)"
I have an issue running pitest with JUnit 5 and maven with the command `mvn test-compile org.pitest:pitest-maven:mutationCoverage`

I've uploaded a copy of the repo that reproduces the error [here](https://github.com/mtvjr/cal_pitest_error).

Error message ([A full copy of the log can be found here](https://github.com/mtvjr/cal_pitest_error/blob/main/full_pitest_error.txt)):

[code]

[2022-10-15 07:39] hcoles commented on #1096
The pitest-junit5 plugin has not been correctly setup. It must be added to the classpath of the maven plugin, not the project.

From the docs.

[2022-10-15 15:40] mtvjr commented on #1096
Hi HColes,

Thank you for the response. I've double-checked my POM, and it appears to me like everything is set up correctly. I'm using newer versions of the plugins than in the docs, but the general structure appears to be the same. Is there another step I need to take to ensure the plugin is in the class-path of the maven plugin and not the parent project?

[code]

[2022-10-15 15:46] hcoles commented on #1096
Appolgies, you are correct and I am an idiot with poor attention to detail.

Yes, the junit 5 plugin is correctly installed. There does look to be an issue with the setup for junit itself though.

If I run

[code]

For the project, 0 tests are run.

If you swap the junit-jupiter-api dependency for junit-jupiter pitest is able to start running tests (although surefire still won't run them).

[2022-10-15 15:53] mtvjr commented on #1096
Hi Henry,

Swapping out the jupiter dependency fixed the issue. As such, I'm closing the ticket.

Good catch on the issue where `mvn test` did not actually run my tests. I've also added the surefire plugin to resolve that.

Thank you for your help,
Michael

[2022-10-15 15:56] #1096 closed

[2022-10-17 12:43] sanmibuh opened #1097 "AspectJ mutators"
Hello,
With AspectJ, I have a false positive mutator. I think it is because of the null check that inserts AspectJ. At the generated class I see:

[code]

And the report returns:

[code]

No matters the code of the `init` method, the mutant always appears in the first line of the method.

I have created this demo repo for check the issue:  https://github.com/sanmibuh/pitest-aspectj

[2022-10-21 14:02] rnveach opened #1098 "RemoveSwitchMutator: print case's id and not order number alone"
Identified at https://github.com/checkstyle/checkstyle/pull/12318#issuecomment-1286800059,

It was not clear that the case number being reported by RemoveSwitchMutator is not always the same order as in the source. I understand pitest goes against the bytecode, but I would think a normal person would assume they would be the same unless they work with the byecode a lot.

My suggestion is to add th

[2022-10-23 04:04] Albert-Gong opened #1099 "How to use command-line using jdk7?"
Hello,
I am trying to use PITest to mutate the code in Defects4J1.0, which requires jdk1.7.

Here is my java version
[code]

I have tried several versions of PITest and finally found that PITest before 1.3 is compatible with jdk1.7.

Here is my script:
[code]

But then I got this exception
[code]

I ran the same script on another machine with jdk7 and got the same exception.

I wonder if it is pos

[2022-10-23 04:27] rnveach commented on #1099
Not a maintainer but I have an old project with 1.3.2 CLI that runs on Java 8. So old is possibly.

You may want to verify that is just not a missing dependency since your not running in maven. It is listed as a dependency in the old POM.
https://github.com/hcoles/pitest/blob/2ca99e107778d65736f5f87a3c6bf13cd37332ca/pitest-entry/pom.xml#L140

Just noting the following:
https://github.com/hcoles/pi

[2022-10-23 05:29] Albert-Gong commented on #1099
Thanks for your reply,

I downloaded the pitest1.3.0 source code and ran
[code]

Then I got
[code]
Still, I tried to use the pitest, pitest-entry and pitest-command-line jar and got the same exception as mentioned before, with both jdk7 and jdk8.

[code]

[code]

[2022-10-23 05:39] rnveach commented on #1099
Install doesn't combine the dependencies into the jar unless it uses the maven-shade-plugin telling it to do se and usually JARs created by it are very large.

Have you tried downloading the jar and including it in your classpath along with pitest?
https://repo1.maven.org/maven2/com/thoughtworks/xstream/xstream/1.4.8/xstream-1.4.8.jar

[2022-10-24 12:29] Albert-Gong commented on #1099
Thank you, @rnveach,
After many efforts, now I can mutate all five projects in defects4j1.0, with some extra jars downloaded.

Below is the command to mutate Lang-1-f.  I would like to share the script in case someone has the same problem.
[code]

Thank you again for your help.

[2022-10-24 12:29] #1099 closed

[2022-10-24 14:01] hcoles commented on #1098
@rnveach This will be a little confusing for string switches, but I agree it would be an improvement the rest of the time and shouldn't be too hard to implement.

[2022-10-27 10:33] hcoles commented on #794
This is now possible using the arcmutate extensions

https://docs.arcmutate.com/docs/exclusions.html

[2022-10-28 01:59] pzzpl opened #1101 "How can I get the extended version of PIT offers an additional option the generation of test matrix?"

[2022-10-28 02:26] pzzpl commented on #1101
Recently I have been doing experiments related to mutation testing and need to use the extended version of PIT to obtain the mutation matrix. However, there is no extended version of PIT, which is mentioned in the PIT paper. How do I get this extended version?

[2022-10-28 06:46] hcoles commented on #1101
Full matrix mode was introduced in pitest 1.5.2, enabled with the `fullMutationMatrix` parameter. It is an only partially supported feature, other pitest features are not guaranteed to work if it is enabled.

If the paper you are refering to is the one from UCD, the `pit-rv` mutation operator extensions are available as a plugin

https://github.com/pitest/pitest-rv-plugin

If it is a different pap

[2022-10-28 07:48] wlopper opened #1102 "Some Class Skipped Mutation Test"
I encountered a puzzling problem，I use pitest with maven and configure as follows：

`
<plugin>
                <groupId>org.pitest</groupId>
                <artifactId>pitest-maven</artifactId>
                <version>1.9.8</version>
                <dependencies>
                    <dependency>
                        <groupId>org.pitest</groupId>
                        <artifactId>pitest-tes

[2022-10-28 07:57] wlopper commented on #1102
I found the log has some Test Skipped:
![image](https://user-images.githubusercontent.com/54232090/198535146-7077296d-3ded-4b30-88dd-6bfae82d028a.png)

[2022-10-28 08:43] hcoles commented on #1102
If you create a minimal project that recreates the issue I can take a look.

[2022-10-28 13:34] #1101 closed

[2022-10-29 07:52] wlopper commented on #1102
@hcoles I found that spring was started many times in the log, and I found that spring failed to start because of port occupation. Why is it designed this way? Is there any solution? looking forward for your answer

[2022-10-29 07:58] hcoles commented on #1102
It is not possible to debug without access to your code and tests.

If you create a minimal project the recreates the issue I can take a look.

[2022-10-30 01:07] pzzpl opened #1103 "How to turn off partial mutation testing？To force PIT to execute each mutant against the remaining tests even after the mutant is killed."

[2022-11-01 09:26] hcoles commented on #1103
A full matrix will be generated if the `fullMutationMatrix` parameter is set to true. This is a partially supported feature, other features are not guanrateed to work when it is enabled.

[2022-11-01 09:48] hcoles commented on #1102
@wlopper Are you able to supply a minimal project that reproduces the problem, or should I close the issue?

[2022-11-03 02:12] #1103 closed

[2022-11-03 17:47] hcoles commented on #1072
@Manfred73 It's probably related to Quarkus, but without an example that reproduces the issue it's impossible to say for sure.

[2022-11-03 17:51] Manfred73 commented on #1072
OK, I can't post my project as an example here, so I'll have to see if I can create some small example project with the same configuration next week.

[2022-11-07 09:17] Manfred73 opened #1104 "Ignore private constructors?"
I came accros this [posting](https://stackoverflow.com/questions/72317134/is-it-possible-to-exclude-methods-from-pit-coverage-calculation)  which suggests to add tests for private constructors using reflection.

I'm using Lombok and @UtilityClass which generates the private constructors.

One could argue if you should test these or not (I'd rather not test these). Is there a way to indicate PITest

[2022-11-07 13:04] hcoles commented on #1104
If the constructor contains no functionality, pitest will not mutate it. Currently pitest does not support filtering out code from coverage, so the constructor will be reported as having no line coverage, but no mutants will be seeded.

If the constructor contains functionality which is autogenerated by Lombok, pitest will not mutate it, so long as Lombok is configured to add a @Generated annotati

[2022-11-07 15:37] Manfred73 commented on #1104
If I understand correctly, when using lombok's @UtilityClass, lombok will add a private constructor which throws an UnsupportedOperationException.

I have lombok configured to add `@Generated`:
[code]

I can see that the compile class has the annotation `@Generated`:
[code]
But when I remove the constructor test, PItest reports coverage < 80%. When I add the constructor test, coverage is 80%.

[2022-11-07 15:50] hcoles commented on #1104
The @Generated annotation prevents pitest from mutating the code, it does not stop it from recording its coverage.

[2022-11-07 16:19] hcoles commented on #1104
There is no mechanism at the moment. Pitest is a mutation testing system, coverage is only collected as a means of optimising the mutation analysis.

[2022-11-07 16:28] Manfred73 commented on #1104
OK, another thing I notice: PITest fails because line coverage is 79% and the maven plugin is set to cover 80%.
The HTML report shows 100% line coverage (11/11):
![image](https://user-images.githubusercontent.com/13829887/200362277-74027495-7308-4e6e-ac75-6f144bbd3d90.png)

But the maven command fails and shows different output 79% line coverage (11/14).
![image](https://user-images.githubusercont

[2022-11-07 17:00] Manfred73 commented on #1104
Found what was causing the difference: I've excluded *Application (the spring boot application) in the maven plugin. Now CLI and HTML report show the same output. Not sure why the HTML report was ignoring this in the first place and the CLI didn't.

[2022-11-07 17:03] #1104 closed

[2022-11-08 11:48] wlopper commented on #1102
sorry. i have no time to prepare a minimal project. during this time， i found it skipped many tests because there are some problem. like mock port resource not released；some LLT cases became failure (this confuzed me , because when I run  cases from testng , it's green, so i wondered what's the difference between these two ways . sorry for too busy to reply recently. i will close this issue and tr

[2022-11-08 11:51] wlopper commented on #1102
![image](https://user-images.githubusercontent.com/54232090/200556599-b4334d35-6612-4db9-9f93-02619cfc1b24.png)
one of the errors，and the behind test are skipped。
![image](https://user-images.githubusercontent.com/54232090/200556884-a20a7f43-f6a6-4d5d-8c2a-208f799e5133.png)

[2022-11-08 11:51] #1102 closed

[2022-11-08 15:41] Pfoerd opened #1105 "Aggregator resolves wrong files when they have the same filename (Kotlin)"
**Describe the bug**
The Aggregator doesn’t resolve filenames correctly when there are Kotlin files with the same filename in multiple subprojects. In the pitest reports of the submodules everything is correct and the filenames are resolved correctly but in the aggregated report the files are not assigned correctly. It displays the wrong file from another submodule.

**To Reproduce**
Steps to repr

[2022-11-09 12:37] C-Otto opened #1106 "Do not replace Map.of() by Collections.emptyMap()"
My code always returns an empty map, implemented using `Map.of()`. When running pitest, this is mutated to return `Collections.emptyMap()` instead. As I don't have any test that would be able to see the difference, this mutation survived.

Please treat `Map.of()` the same as `Collections.emptySet()`, i.e. do not try to mutate one into the other.

Version 1.9.9.

[2022-11-09 16:06] hcoles commented on #1106
The EquivalentReturns filter already catches List.of and Set.of, not sure why Map.of was missed. Will be fixed in the next release.

[2022-11-10 06:26] C-Otto commented on #1106
You added the "Collections.emptyMap()" return value in 89b0c2c68d89b6fe7fe7dd12858d68fef15d4694, after `Set.of()` and `List.of()` were already known as "empty" equivalent.

[2022-11-11 13:04] hcoles commented on #1106
Released in 1.9.10

[2022-11-11 13:04] #1106 closed

[2022-11-11 15:29] Manfred73 commented on #1072
Sample project added: https://github.com/Manfred73/file-repository-rest-service

About the pitest: I understand QuarkusTest is using some kind of Proxy classes which may cause pitest not to work? I have also raised an issue on GitHub with Quarkus, but not sure if this is a Quarkus or pitest issue and where it should be fixed: https://github.com/quarkusio/quarkus/issues/29160

[2022-11-14 15:59] hcoles commented on #1105
I've merged a change that will ensure the correct file is used when two modules have files with the same name that define classes in different packages, but the files are not within directories matching those packages.

If the same package is used in both modules, it is not clear what a "correct" behaviour would be so this scenario is not supported.

[2022-11-14 17:13] #1105 closed

[2022-11-16 09:48] hcoles commented on #1083
Hi @davidburstrom, thanks for the suggestion, and sorry for the slow response.

Something like this should now be possible as a plugin, using the recently introduced `org.pitest.mutationtest.config.ConfigurationUpdater` extension point. This allows parameters (such as the timeout constants) to be set programatically.

I'm relunctant to include it within the main codebase, but if anyone would like

[2022-11-16 10:03] hcoles commented on #1072
@Manfred73 Thanks for the sample, I should be able to take a look later today.

[2022-11-16 11:09] hcoles commented on #1072
@Manfred73 The issue seems to occur when pitest attempts to restore the previously mutated class. For some reason structural changes (new fields/methods) have been added.

The experimental change made for roboelectric support (https://github.com/hcoles/pitest/pull/1067) seems to fix this, but I'd like to understand the issue better before merging it.

[2022-11-16 14:20] CasperNLD commented on #926
Hi,
I saw that this issue was still open and I was wondering if this problem is still present in version 1.9.10 or version 1.0.0 of pitest-junit5-plugin.
I am experiencing the same error.
Thanks in advance.

[2022-11-16 14:46] hcoles commented on #926
@CasperNLD There are no known issues with the junit 5 plugin at the moment. Make sure your plugin version is compatible with your junit version.

From the plugin readme

* 1.1.0 requires pitest 1.9.0 or above and JUnit Platform 1.9.x (Jupiter 5.9.1)
* 1.0.0 requires pitest 1.9.0 or above and JUnit Platform 1.8.x (Jupiter 5.8.0)

[2022-11-20 21:26] igorwojda opened #1115 "Coverage generator Minion exited abnormally due to UNKNOWN_ERROR"
Run `./gradlew pitest`

Result:
[code]

[2022-11-20 21:28] #1115 closed

[2022-11-20 23:23] szpak commented on #1115
Just for reference: https://github.com/szpak/gradle-pitest-plugin/issues/324

[2022-11-21 09:18] hcoles commented on #1097
@sanmibuh Thanks for this, and sorry for the slow response.

Unfortunately there is nothing within the aspectj generated code to mark it as synthetic or generated. It might be possible to detect regions of generated code by tracking access to the synthetic fields that aspectj looks to add, but since open ended code can be inserted I don't think this will be very robust.

A simple soloution might b

[2022-11-21 15:09] hcoles commented on #1097
In the next release it will be possible to add "+nofirstline" to the feature list, and mutants on lines 0 and 1 will be supressed.

See #1116

[2022-11-21 15:15] sanmibuh commented on #1097
Cool!! Thanks @hcoles.

As you said before, this feature could suppress valid mutants, but it will be very helpful.

Maybe the AspectJ developers could check https://github.com/eclipse/org.aspectj/issues/188 adding @Generated annotations to the generated code 🤞  for having a better solution 🥇

[2022-11-21 15:20] igorwojda opened #1117 "[QUESTION] Are these AssertJ mutations expected?"
I am trying to understand what is the expected behavior of the PIT.

1. Is it ok that both classes (class under test and class containing tests) are detected by PIT?
![image](https://user-images.githubusercontent.com/530122/203090117-3bd8bd4a-8e8b-449c-8157-b659fc95d237.png)

2. Is it ok that the assertion call was removed during mutation generation?
![image](https://user-images.githubusercontent.

[2022-11-21 15:45] hcoles commented on #1117
Pitest should not be mutating tests. How are you running it (maven/gradle/other)? How is your project structured?

[2022-11-22 08:57] #1117 closed

[2022-11-22 21:24] Manfred73 commented on #1072
Do you have any idea when this fix will be available in a new version?

[2022-11-24 10:24] hcoles commented on #1072
@Manfred73 Will probably be released next week.

[2022-11-24 22:24] claudeyj opened #1119 "Missing AOR mutators"
Hi,
I'm a student researcher working on mutation testing and program repair. I find that there seems to be some inconsistency between your defined mutators and their implementation. For example, in the home page of Pitest, there's a group of **AOR** mutators, claiming that Pitest can transform operators like "+" to "-", "*", "/" and "%". However in the process of mutation testing I found that Pite

[2022-11-24 22:36] szpak commented on #563
@rnveach I've accidentally bumped into this question and I wonder in the [pluggable mutators mechanism](https://github.com/hcoles/pitest/pull/930), introduced in PIT [1.7.0](https://github.com/hcoles/pitest/releases/tag/1.7.0) (on 2021-09-01, so some time after your initial question) wouldn't be useful for you?

I don't know if the procedure is described anywhere, but looking at the mechanism's [o

[2022-11-24 23:19] LaurentTho3 commented on #1119
Hello,

Since version 1.7.5 some mutators, including AOR, have been moved out of pitest and into a plugin as they were causing some confusion. Using this plugin https://github.com/pitest/pitest-rv-plugin you can access these mutation operators.

Hope that helps.

[2022-11-25 00:02] szpak commented on #563
Btw, accidentally again, I have crashed into https://github.com/pitest/pitest-rv-plugin which clearly show an external plugin with extra mutators :).

[2022-11-25 05:39] claudeyj commented on #1119
Thanks a lot! You've been very helpful.

[2022-11-25 05:39] #1119 closed

[2022-11-25 09:02] wlopper opened #1120 "pitest incorrectly included unmodified classes"
I use pitest to perform incremental tests on the code, and perform incremental file mutation tests by comparing the master branch with the development branch.

Now I come across a case where pit incorrectly generates variants of my unmodified files through regular matching.

The situation is as follows：

test report：
![image](https://user-images.githubusercontent.com/54232090/203939488-2dc9f6fb-6c

[2022-11-25 09:05] wlopper commented on #1120
the logs as follows:
`Will mutate changed class com.xxx.xxx.xxx.xxx.xxx.xxx.xxx.SupplierSettlement*`

[2022-11-25 09:39] hcoles commented on #1120
Without more details of the code it is impossible to say what is happening here, but the decision as whether to treat a class as having potentially changed behaviour is not straightforward.

From the documentation

https://pitest.org/quickstart/incremental_analysis

[2022-11-28 13:20] wlopper commented on #1120
Thank you for your reply!

It is really difficult to determine whether a class has changed, but I doubt that the SupplierSettlementCsv class is reported due to this log:`Will mutate changed class com.xxx.xxx.xxx.xxx.xxx.xxx.xxx.SupplierSettlement*`

Pitest not only matches the methods in the class SupplierSettlement, but also matches the class SupplierSettlementCsv。

This reminds me of the targetC

[2022-11-28 13:34] hcoles commented on #1120
Appologies, I had assumed you were using pitest's incremental analysis feature, but rereading the issue it looks like you are using the maven `scmMutationCoverage` goal.

This is rather basic and may indeed be overmatching. I'd recomend you consider using the Arcmutate git integration instead

https://docs.arcmutate.com/docs/git-integration.html

[2022-11-28 13:53] wlopper commented on #1120
sorry. It must be my poor English that made you misunderstand.
thank you. I will try Arcmutate！

[2022-11-28 13:53] #1120 closed

[2022-11-29 10:38] hcoles commented on #1065
@koral-- I think there is still more work to do on roboelectric support, but some improvements have just been released in pitest 1.10.0.

[2022-11-29 10:50] #903 closed

[2022-11-29 12:38] #1033 closed

[2022-11-30 19:06] Stephan202 opened #1123 "First line of nested class declared as not covered"
Pull request PicnicSupermarket/error-prone-support#378 upgrades Pitest from version 1.9.11 to version 1.10.0. When comparing the coverage report before and after the upgrade, we see one _tiny_ difference, visible in the screenshots [shown here](https://github.com/PicnicSupermarket/error-prone-support/pull/378#pullrequestreview-1198857024).

To reproduce:
[code]

Since highlighting the line in red

[2022-11-30 19:22] hcoles commented on #1123
@Stephan202 Thanks for reporting this. The release didn't contain any changes to the coverage system, but it did rework how lines of code are recognised. I'll take a look as soon as possible to see what's changed.