[2016-07-08 21:04] sta-szek opened #284 "Junit5 support"
Is that issue for you?

[code]

[2016-07-08 22:54] KyleRogers commented on #284
Pitest does not support JUnit 5 yet. You need JUnit 4 adapter classes at least. Can you post the junit artifacts that you've added as a dependency?

The error looks strange, all I can see is

  org.pitest.util.PitError: JUnit Jupiter

I've no idea what's causing the issue.

I'm working on a pitest plugin for JUnit 5 support but this is in an very early stage. Maybe you can enable debug logging in

[2016-07-12 17:12] sta-szek commented on #284
build.gradle
[code]

gradlew pitest (locally and TeamCity server)
[code]

gradlew pitest -debug
[code]

[2016-07-14 10:26] christophsturm commented on #260
I added a youtrack issue to track this https://youtrack.jetbrains.com/issue/KT-13102

[2016-07-24 20:50] iwarapter commented on #276
Have you had a chance to look into this? I'd be happy to help provide support for a pathing jar if you can point me at the right place to implement it.

[2016-07-25 20:51] smoyer64 commented on #284
@KyleRogers

JUnit 5 tests also fail when run using the @RunWith(JUnitPlatform.class) adapter (so that JUnit 4 will launch the test runner) and under Maven using the JUnit 5 Surefire extension.  If you're interested in help with the JUnit 5 Pitest code, I'd be happy to participate as a developer and/or tester.

[2016-07-26 12:09] Kwaq opened #285 "Problem with String in switch statement"
RemoveConditionalMutator_EQUAL_IF marks switch on String statement as survived.

Method

[code]

and tests

[code]

Output report:

[code]

Code for analogous integer switch is not mutated.

 Code for this case is available at [my repo](https://github.com/Kwaq/pitest-issue)

[2016-07-26 13:08] hcoles commented on #285
Thanks for the high quality bug report - unfortunately this is going to be a bit tricky to fix.

The issue is that when switching on strings the compiler generates code something like

[code]

To kill the mutant in the equality check you'd have to feed it an unequal string with the same hash code as "a".

The "correct" behaviour here is probably to filter out any conditional mutations that relate

[2016-07-26 13:37] hcoles commented on #276
Sorry not had time to look at this.

This might be just a case of getting pitest to recognise the Class-Path manifest header, which could be as simple as some sort of change to the crusty old code in -

https://github.com/hcoles/pitest/blob/8f654ad3849d5dc5b7cbe59dddea788d19ded317/pitest/src/main/java/org/pitest/classpath/ClassPath.java

Or it could be a bit more involved. It will probably require

[2016-07-27 08:21] Ferocit opened #286 "Negated Conditional called on for-each loop?"
Hi,

I don't really know if this is an issue or if I just don't understand the mutator correctly.

The code I have looks something like this:

[code]

The Pit report is red and shows the following on the second line:

Is there something I don't get? I don't really know why it's using a negated conditional mutator here.

Version of PIT: 1.1.10

Thanks. :)

[2016-07-27 09:08] hcoles commented on #286
This is a consequence of PIT mutating bytecode rather than source.

The bytecode for the for each loop looks something like

[code]

So basically behind the scenes it is creating a iterator and checking the value of hasNext. While it's true it executes the loop by jumping to L2.

The conditional mutation is to the IFEQ L3 call that checks the return code of hasNext to exit the loop.

It would be n

[2016-07-27 10:56] Ferocit commented on #286
Ah thanks a lot.

So in the case of a for-each loop, the mutator would either not iterate over any entries of the list, even though there would be entries or it would try to iterate, even though there are no entries (which should lead to an exception).

Is that correct?

[2016-07-27 10:59] hcoles commented on #286
Yes, that sounds about right.

[2016-07-27 11:00] Ferocit commented on #286
Great, got it. :+1:

[2016-07-27 11:00] #286 closed

[2016-07-27 22:17] dbaravalle commented on #278
+1

[2016-07-28 08:43] AFulgens commented on #224
I think a solution could be implementing the `--sourceDirs` in the maven plugin too. As far as my understanding goes, the "workaround" for this problem used in Pitclipse (if you set it up to have "Pit execution scope" = "All project in the workspace") it that it supplies the directories from other projects as value for the mentioned CLI argument.

[2016-07-28 20:22] szpak commented on #224
Btw, something like that is supported in the Gradle plugin for PIT - see this [example](https://github.com/szpak/gradle-pitest-plugin#integration-tests-in-separate-subproject).

[2016-07-29 07:14] AFulgens commented on #224
Re: @KyleRogers Sep 5, 2015
Copying the class files (I did it with the maven resources plugin) indeed circumvents the problem, and is parameterizable (i.e., from/to where to copy, etc.).

Sidenote: if you are using the resources plugin, turn filtering off :)

[2016-07-29 09:07] Kwaq commented on #285
@hcoles Could you point me where could I write test to experiment with the above?
I've found RemoveConditionalMutatorTest but it appears that it does not load filters.

[2016-07-29 09:33] hcoles commented on #285
Filtering happens after all the mutants have been found - the mutators themselves have no knowledge of it.

The easiest place to add an acceptance test that checks the combined behaviour of the moving parts is

https://github.com/hcoles/pitest/blob/master/pitest/src/test/java/org/pitest/mutationtest/MutationCoverageReportSystemTest.java

The filter itself could then be test driven by it's own test

[2016-07-29 12:25] Kwaq commented on #285
@hcoles You've written:

I can't find how to access bytecode using MutationDetails

[2016-07-29 14:02] hcoles commented on #285
The bytecode is available from the `CodeSource` passed into the filter factory.

[2016-08-05 11:38] magnusr opened #290 "pitest-maven fails since 1.1.8 when Surefire exclude is empty string"
If Surefire is configured with an exclude that is the empty string (which is something that happens in our poms, since we set it to exclude a configurable pattern, and the property that holds the pattern is empty when nothing should be excluded), then the convertExcludes fails due to Glob trying to read the first character of an empty string, yielding a java.lang.StringIndexOutOfBoundsException.
T

[2016-08-05 19:49] #290 closed

[2016-08-10 12:44] Kwaq opened #292 "Final local variable not mutating with Invert Negatives mutator"
Is Invert Negatives Mutator supposed to work only on method params? It looks like it works on local variables, but only if they are not final.
This works:
[code]
but this is not
[code]

[2016-08-10 14:11] hcoles commented on #292
The 2nd version will not generate an INEG instruction for pitest to mutate.

The final keyword enables the compiler to definitively infer the value i will have, so it can replace the code with the equivalent

[code]

The mutator could be expanded to also negate the sign of any constants, but I'm not sure this would be a good idea.

I don't usually enable the existing constants mutator myself as it

[2016-08-11 06:59] Kwaq commented on #292
@hcoles Thanks for the explanation.

[2016-08-24 06:55] peter-janssen opened #293 "Setting withHistory disables historyInputFile and historyOutputFile"
It took me a while to figure this out and I had to go through your code to find it. In MojoToReportOptionsConverter the following code uses the default temp location when withHistory is set to true. In that case the historyInputFile and historyOutputFile are ignored. To me it would be more logical that when withHistory is set a check is done to see if the locations are set and use those instead of

[2016-08-24 07:21] hcoles commented on #293
withHistory is intended as a shortcut for setting the values of input and output to the same location.

It doesn't really make sense set both withHistory and specific locations. Perhaps the best behaviour would be to throw an error if both are set?

[2016-08-24 13:45] estekhin opened #294 "pitest 1.1.10 works with jmockit 1.25, does not work with jmockit 1.26"
A simple project with a SINGLE test class works with jmockit 1.25 and 1.26.

A simple project with TWO (or more) test classes works with jmockit 1.25 and does not work with jmockit 1.26. The exception which causes minions to fail is:

[code]

The tests are otherwise good and green (if invoked as tests, without pitest) .
The tests do not even need to use jmockit, simply having two or more test clas

[2016-08-24 14:26] estekhin opened #295 "pitest should ignore abstract test classes"
https://github.com/hcoles/pitest/blob/master/pitest/src/main/java/org/pitest/testng/TestNGTestUnitFinder.java (and probably similar classes for JUnit) should ignore abstract classes even if these classes contain test annotations.

When running, such abstract "test" classes will fail to instantiate, and pitest will report "org.pitest.help.PitHelpError: All tests did not pass without mutation when c

[2016-08-25 07:22] AFulgens commented on #159
I am pro-annotation, so a generic solution with class/method annotations, with an optional parameter as to *which* mutators should be excluded would be really awesome. Something like
`@MutationFilter` for exclude every mutator and
`@MutationFilter(exclude={"VOID_METHOD_CALLS", "NON_VOID_METHOD_CALLS"})` for fine-tuning.

[2016-09-06 09:20] xeland opened #297 "ArrayIndexOutOfBounds exception"
Hi

When I try run  pitest in Gradle I get  ArrayIndexOutOfBounds exception.
Example code which cause exception ArrayIndexOutOfBoundsException:
https://github.com/xeland/repo
See with images:
https://github.com/xeland/repo/wiki

Exception occurs in "ClassWhichCauseException" class.
I found out that if in line 22 remove @NonNull anotation then PIT test work fine.

-  Example:
-  If in file "ClassWh

[2016-09-08 18:13] f9lz commented on #182
I have the same error!

1:09:16 PM PIT >> INFO : Mutating from /Users/f9lz/Local/src/Scala-Testing-CodeCoverage/target/classes
1:09:16 PM PIT >> INFO : Verbose logging is disabled. If you encounter an problem please enable it before reporting an issue.
1:09:17 PM PIT >> INFO : SLAVE : objc[36659]: Class JavaLaunchHelper is implemented in both /Library/Java/JavaVirtualMachines/jdk1.7.0_99.jdk/Conte

[2016-09-14 05:34] xeland commented on #297
Hi,

[2016-09-14 05:37] xeland commented on #297
Could you tell me status this issue?
Could you reproduce it or you need some additional information?
Thanks in advance.

[2016-09-14 11:16] hcoles commented on #297
Hi @xeland thanks for reporting this. Sorry for the slow response.

I've just reproduced this locally. At first glance it looks like a bug in the ASM library which pitest uses for bytecode manipulation. I'll see if I can distil it into a test to confirm.

[2016-09-16 04:14] luisa123456 commented on #276
Long Path Tool is the perfect utility that can solve all the long path issues. Download this software online.

[2016-09-16 10:00] lstosik opened #299 "Using JUnit @Test(expected=*Exception.class) leads to "Mutation testing requires a green suite.""
With such annotation JUnit passes the test when exception is thrown but `pitest` thinks exception means failure. I am not sure if it is supposed to be supported if not it would be nice to get a warning about it.

[2016-09-16 10:16] hcoles commented on #299
Pitest supports JUnit expected exceptions (I've just double checked with a simple test with release 1.10), so I think you the issue you are encountering is something different.

Can you put together a minimal project that reproduces the issue?

[2016-09-19 17:07] lstosik commented on #299
It ended being some order dependency between tests, sorry for invalid report.

[2016-09-19 17:07] #299 closed

[2016-09-22 20:03] f9lz commented on #226
Individual test runs but maven build fails with mutation testing

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building simulation-orchestration-scala 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ simulati

[2016-09-23 05:23] xeland commented on #297
Hi, Henry

[2016-09-23 06:27] thomas-mc-work commented on #226
Phew, that's an old issue. I think I solved the situation by excluding all tests except for unit tests:

    <plugin>
        <groupId>org.pitest</groupId>
        <artifactId>pitest-maven</artifactId>
        <version>1.1.9</version>
        <configuration>
            <targetTests>

                <param>*Test</param>
            </targetTests>
        </configuration>
    </plugin>

[2016-09-23 06:27] #226 closed

[2016-09-23 13:25] f9lz commented on #226
I have a single test on my suite! I cannot exclude it.
I'm a newbie trying to learn scala.

[2016-09-23 13:41] nespera commented on #226
You do realise that pitest does not mutate Scala? See #267 for more.

[2016-09-23 13:51] f9lz commented on #226
But I wonder if it has anything to do with Scala! This is a common problem which could be faced in Java as well.

[2016-09-23 15:06] hcoles commented on #297
'fraid not. Unfortunately I've been tied up with some family things for most of this year - hopefully I'll have a bit more time for open source work in the not too distant future.

If you're able to reduce this down to something minimal yourself I can take a look. I'm about 80% certain it's an issue within ASM - if we can confirm this we can raise it with the ASM team.

[2016-09-23 15:23] f9lz commented on #226
So it works now!

--I was creating a folder in my code. Every time i run a test, first coverage runs and next pit runs.
--so coverage runs and creates a folder. (the code throws an error on an existing directory. )
--next when pit runs, it runs the code again to create a directory. it sees that the folder already exists.(Instead of yelling out that the folder already exists, it silently fails the

[2016-09-26 08:34] xeland commented on #297
It is the minimal project which can reproduce exception.
Could you investigate just the ClassWhichCauseException.java file which cause exception, another files needed just to keep dependencies in project.

"I'm about 80% certain it's an issue within ASM"
Ok, but when we run the minimal project in Eclipse the pitest works fine problems occur just when we run the minimal project in Gradle.

Thanks i

[2016-09-28 07:59] fenghuadong opened #300 "Pitest not working with Weka SimpleKMeans"
I am pretty familiar with Pitest, tried it on various programs before.
While I was trying to test a package of Weka, something interesting came up, and I believe it could be a issue, I hope you can take a look when you have time.

This is the simple test that I wrote.

`package weka.clusterers;

import static org.junit.Assert.*;
import java.io.IOException;
import java.nio.file.Files;
import java.n

[2016-09-28 08:26] hcoles commented on #300
Hi @fenghuadong - thanks for raising this.

If you can parcel this up as a project on github that I can clone to reproduce the issue I'll take a look.

[2016-09-28 19:52] fenghuadong commented on #300
Hello Henry, thank you very much .
https://github.com/fenghuadong/Weka-SimpleKMeans-Pitest
@hcoles

[2016-09-28 20:37] hcoles commented on #300
If I checkout that project and run

`mvn test`

weka.clusterers.SimpleKMeansTest.Test1 fails with a NullPointerException.

[2016-09-28 20:47] fenghuadong commented on #300
Sorry. made some changes and forgot to reverse it before uploaded it.
in the outputs/K-Means-1way/1.txt, change it to 0.txt

[2016-09-28 20:53] hcoles commented on #300
Could you push whatever changes are required to the repo and confirm that mvn test runs green for you.

[2016-09-28 21:01] fenghuadong commented on #300
Yes sir, the newest one is pushed.
![image](https://cloud.githubusercontent.com/assets/12755248/18932174/e0215c2c-8594-11e6-9782-9445a84480fc.png)

[2016-09-28 21:59] hcoles commented on #300
Most of tests rely on some system properties that are not being set in the pitest configuration - that isn't the problem for the SimpleKMeansTest though.

Something strange is happening in the Weka code. It's throwing

`ava.lang.NoClassDefFoundError: build/classes/weka/core/EuclideanDistance (wrong name: weka/core/EuclideanDistance)`

when pitest runs the test.

I don't have time to dig any furthe

[2016-09-28 22:04] fenghuadong commented on #300
Thank you very much for looking into this Mr. Coles!

[2016-09-29 08:36] tjheslin1 opened #301 "Feature Request: Exclude specific methods from mutation testing."
It would be smashing if I could specify a list of excluded methods that aren't global excludes.

@theangrydev  and I have started on this by extending the `<excludedMethod>` tag to optionally allow specifying the class. For example:

[code]
My forked repo can be found here with the implementation can be found here:
https://github.com/tjheslin1/pitest/commit/90a0b88d69e794467996c8498b0b34e33f82accb

[2016-10-03 14:26] rnveach opened #302 "ArrayIndexOutOfBoundsException in Pitest on Checkstyle Project"
Project: https://github.com/checkstyle/checkstyle

We use to be able to run pitest just fine on the project around 4 months ago, but I tried running it again today on our latest code and it gave an ArrayIndexOutOfBoundsException.

[code]

This may be related to #297 as we recently upgraded to Java 8, but we don't use gradle.

[2016-10-04 15:11] sta-szek commented on #284
What is status for this issue?
Is anyone working on it?

[2016-10-05 20:51] fenghuadong commented on #300
Hello @hcoles
One quick question, I am still working on testing the weka tool, I have many test cases in a testset(lets say 100 test cases), they are configured as parameterized tests so I don't have to create individual tests for all of them.
I see pitest generated around 800 mutants for the files that I specified.
For example, if test case #1 was able to kill mutant #1 to #799, will test case #2

[2016-10-06 10:31] hcoles commented on #300
@fenghuadong

Pitest loads a mutant then keeps running tests until one of them kills it. Then it loads another mutant and runs tests until it kills it.

So if a mutant is killed by a test case no further tests will be run against it.

[2016-10-06 13:42] fenghuadong commented on #300
@hcoles Got it. Thank you sir!

[2016-10-14 11:43] Kwaq opened #306 "scmMutationCoverage fails when only interfaces are present in changeset"
When changed class is interface (with no default methods) and there are no other concrete classes scmMutationCoverage fails with error below.

Same will happen if we explicitly provide such interface as target class.

org.pitest.help.PitHelpError: No classes found with line number debug information. All classes should be compiled with source and line number debug information.
See http://pitest.org

[2016-10-18 06:00] chr-knafl opened #307 "Enable multi-module support for mutation coverage"
Hi!

Say we have a project A and B. In project A are many tests for production code of module B. And B also covers some production code of A. Can pitest also consider those tests for the mutation coverage? It would be a nice feature if not. It is shortly discussed here: https://groups.google.com/forum/#!searchin/pitusers/multi$20module|sort:relevance/pitusers/1CNgSrlZcgk/FDOQljX93hMJ

Thanks in ad

[2016-10-19 13:39] peter-janssen commented on #293
Throwing an error or warning works aswell. Too me setting both withHistory and specific locations does make sense though. And ignoring the specific locations when withHistory is set is counter-intuative to me. But maybe that is just me ;-)
I do see a use case where you want to set both. Let's say you use a custom location for your history. But I want to do a manual run without history (for debuggi

[2016-10-19 14:15] peter-janssen opened #308 "False positive on autowired spring beans when using @import on configuration files."
Took me a while to figure this out. But in the case when a Spring configuration file is importing another one. Mutations on the bean return statements survive.

Example:
[code]
[code]

When pit is run against the following tests it reports this for one of the beans (depending on test order):
1. mutated return of Object value for nl/test/App::helloWorldService to ( if (x != null) null else throw ne

[2016-10-21 20:48] KyleRogers commented on #308
Sounds strange. Can you publish the complete sample project at github or at least post your service beans as well? Which version of spring do you use?
Spring creates proxies (subclasses) for ```@Configuration``` beans - maybe those will be created before mutating the bytecode and maybe spring copies/duplicates some of the byte code. But this is just speculation. Without a reproducible test case it

[2016-10-21 21:07] KyleRogers commented on #307
Your description sounds like a circular dependency between A and B. On the other hand regarding your title I'd assume you're talking about the maven plugin. Maven prohibits circular dependencies.

But I've had a similar situation: We do have a domain module with lots of entities and business objects.I'm not talking about data containers following an anaemic data model but instead about rich entiti

[2016-10-21 21:11] KyleRogers commented on #306
I think this is a valid error message when explicitly providing such interface as a target class. At least there is nothing to mutate.

But I agree that this verification should be lowered when using scmMutationCoverage goal. Maybe there can be a pre-check that skips mutation coverage execution if changes will be found in interfaces (without default and static methods) only.

[2016-10-21 21:48] KyleRogers commented on #297
I didn't reproduce the bug but googled for the exception thrown and I think this looks like an already reported [ASM bug](http://forge.ow2.org/tracker/index.php?func=detail&aid=317615&group_id=23&atid=100023).

ASM folks have closed the bug and stated it is a [Java Compiler bug](https://bugs.openjdk.java.net/browse/JDK-8144185). This javac bug is not resolved yet.

The eclipse compiler seems not t

[2016-10-21 21:54] KyleRogers commented on #302
I think this is a duplicate of #297 --  original cause is a bug in jdk compiler and this this is not related to gradle. You can use eclipse compiler which seems not to be affected.

The JDK bug is already open for a year and there seems to be no progress/work on this topic. ASM folks seem to have closed the bug, so I don't expect any fix from there.

Working around the bug on the pitest end requir

[2016-10-22 01:16] rnveach commented on #302
@KyleRogers
Thanks. ECJ does work for our project but only after removing that resources be compiled.
ECJ seems to print out compile errors when included in the maven build that the normal JDK doesn't.

[2016-10-30 03:37] fenghuadong commented on #300
@hcoles Hello Mr. Coles, I was wondering does pitest provide progress information during the execution?
I am running pitest on some long running programs with hundreds of test cases and mutants, the program has been running for a week, and I don't know whether it is half way through or not even remotely close to finish. Is there any way that I can check the progress? Such as the # of mutants been

[2016-10-31 17:29] fenghuadong commented on #308
@KyleRogers Hello Kyle, do you know whether pitest provide progress information during the execution? Mine has been running for a week, and I want to see whether it is close to finish or not even a bit....

[2016-11-01 20:53] MoezGholami opened #309 "Does not running affected tests"
Please checkout this small maven project [here](https://github.com/MoezGholami/smallMavenTest/tree/2313f73b751a6766a36be53d288829e5d10cf4a3).
I have three tests aiming to test only one method; Pit mutates the function but it only runs one test.
I run pitest by running
`mvn org.pitest:pitest-maven:mutationCoverage`

[2016-11-01 22:14] hcoles commented on #309
Which part of pitest's behaviour is unexpected here?

The mutants in `add1` are both killed by the first test that pitest selects. As they are killed by the first test pitest does not run further tests as there is no point in doing so.

As no tests cover `add2` or `add3` pitest does not run any tests for these mutants in these methods, so the mutants survive.

[2016-11-03 03:18] MoezGholami commented on #309
Of course it's just a test to see if pitest runs all affected tests. I could not find any information about how tests are SELECTED (not prioritized). How pitest knows that running test2 and test3 is not beneficial?

[2016-11-03 18:04] MoezGholami commented on #309
I expect that all tests should be run against the mutations they cover.

[2016-11-03 21:16] hcoles commented on #309
@MoezGholami What would that achieve?

[2016-11-04 03:45] MoezGholami commented on #309
Mutation score of test cases not only test suite

[2016-11-08 14:04] chr-knafl commented on #307
Hi!

Sorry for the late answer!
No I don't have a circular dependency.

What I have has is the following:

project A uses project B

B has production code and test code. This is ok.
A also tests production code of B indirectly, as A's production code uses B's production code.
So there are tests in A that indirectly test B, meaning that this impacts B's mutation coverage.

But as I understand only

[2016-11-11 14:52] peter-janssen commented on #308
@KyleRogers The services are just returning strings:
[code]
It is all very straight forward but if you really want I can supply a test project.

[2016-11-11 20:10] KyleRogers commented on #308
I just re-read your first post - maybe this has to do with Spring's Application Context caching. The survived mutation is not inside your services but it's the configuration class (App.class) that has a surviving mutation. But that's just a guess. Maybe we can try the following two things to confirm or refute that theory?

1) Can you try to add ```@DirtiesContext``` to both test methods?
2) Can yo

[2016-11-11 20:20] KyleRogers commented on #308
@fenghuadong

No, I don't think there is such a progress information. There is just a summary report at the end. But maybe progress information can be added easily. Feel free to open an issue. Didn't had a test suite that took so long yet. Hours, maybe one or two days but not a week. How many tests and production classes or LOC do you have?

If you have questions you can write to Pitest mailing li

[2016-11-12 06:03] fenghuadong commented on #308
@KyleRogers I'm testing an implementation of EM algorithm in Weka using combinatorial testing, which for 1-way test, I have about 10 test cases, and 6-way tests, I have probably 200 test cases. The average execution time for these test cases are about 2 minutes each, The shortest one takes about a second, the longest takes about 5 minutes. I set the time out to be 5 minutes to avoid timing out wor

[2016-11-16 00:46] theangrydev opened #310 "Question about constant mutators"
Will the Inline Constant Mutator mutate the "magic string" in the following?
[code]

[code]

I'm also interested in whether the Experimental Member Variable Mutator might overlap in the second case?

[2016-11-16 00:49] theangrydev commented on #310
The intent here is to be able to detect missing test coverage of magic constants, which would be a very powerful tool to have

[2016-11-16 09:29] hcoles commented on #310
The inline constant mutator doesn't touch string constants.

It should however be possible to write something that does.

[2016-11-16 11:14] theangrydev commented on #310
Great, I'll have a go at implementing that when I get some time

[2016-11-16 11:42] cocowhy1013 opened #311 "How to fix this Compile Error: Failure to find org.pitest:pitest-build-config:jar"
### I am using "mvn clean compile" trying to compile source code of this project, especially pitest package and suffer from this failure. How can I fix this? It seems to be some source jar missing in market.

E:\Tool\PIT\pitest-master\pitest-master>mvn clean compile -rf :pitest
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Re

[2016-11-24 00:22] theangrydev opened #312 "Report where pitest spent most of it's time"
It would be good to have a report that showed something like how long pitest spent executing each test class.

This would help to highlight that e.g. most of the test coverage is coming from slow end to end tests. This information could then be used to guide the user to write faster tests to kill the mutations more efficiently.

[2016-12-02 04:16] josevariquelme opened #313 "is not working with zohhakRunner"
This this the code:
``
public class BusinessLogic {
       public int getPrice(int amountOfThings, boolean coupon) {
              if (amountOfThings >= 20 || coupon) {
                     return amountOfThings * 15;
              }
              return amountOfThings * 17;
       }
}
``
and this is the unit test
``
@RunWith(ZohhakRunner.class)
public class BusinessLogicTest {
       @TestWith({

[2016-12-02 04:27] josevariquelme commented on #313
hi

[2016-12-02 10:51] vmassol opened #314 "pitest fails to execute on projects that don't have test classes"
For example running pitest on xwiki-commons-core (https://github.com/xwiki/xwiki-commons/tree/master/xwiki-commons-core) with the following configuration:

[code]

Leads to:

[code]

Note: The xwiki-commons-stability maven project doesn't have any test (and thus doesn't depend on junit).

[2016-12-02 10:52] vmassol commented on #41
Actually it's not working for me, I've raised https://github.com/hcoles/pitest/issues/314

[2016-12-02 13:34] thomas-mc-work opened #315 "exclude generated classes"
I have classes which are tested that use generated classes (actually i use automatic generated builders: https://github.com/mkarneim/pojobuilder). These generated classes always have the standard annotation `@Generated` for identification. Is it possible to exclude these generated classes from the analysis?

[2016-12-02 15:02] hcoles commented on #315
Unfortunately `@Generated ` has only source level retention so isn't visible in the bytecode. Pitest would need to start parsing source files in order to support this.

[2016-12-02 15:29] hcoles commented on #314
Pitest includes a `skip` option so modules such as this can be configured to not break the build. It would arguably be an improvement to auto skip when no tests are found, however the most common case where tests aren't found is when pitest has been misconfigured - in this scenario a hard failure is useful.

[2016-12-02 15:30] thomas-mc-work commented on #315
Ok, thanks. My workaround is an exclusion of all source files which end with "Builder" since all these files never contain any crucial logic:

    <excludedClasses>
        <param>*Builder</param>
    </excludedClasses>

[2016-12-02 15:30] #315 closed

[2016-12-02 17:40] vmassol commented on #314
Hi. Thanks for the answer. However if I'm correct this will mean override the plugin configuration in each module that doesn't have tests and the xwiki codebase that would be a lot of modules :) At this stage I only wanted to quickly test pitest and see what I could get out of it (without committing anything in the XWiki project yet).

So indeed this would be an improvement but possibly a nice one

[2016-12-02 18:13] samisalonen commented on #314
Would something like this work for you?
[code]

[2016-12-03 20:03] lkwg82 commented on #274
this can be closed

[2016-12-04 17:56] vmassol commented on #314
Thanks that's very creative :)

I think it worked but it's failing elsewhere now I think:

[code]

I've used this config:

[code]

Any idea? Thanks again

[2016-12-05 15:52] #274 closed

[2016-12-05 17:32] #28 closed

[2016-12-05 17:36] hcoles commented on #254
Closing as insufficient detail to reproduce.

[2016-12-05 17:36] #254 closed

[2016-12-05 17:36] hcoles commented on #220
Release is now via java 8 only.

[2016-12-05 17:36] #220 closed

[2016-12-07 06:07] redjiang opened #316 "this error pitest with ant ,use the hcoles/pitest-ant-example."
pit:
   [pitest] 14:03:07 PIT >> INFO : Verbose logging is disabled. If you encounter an problem please enable it before reporting an issue.
   [pitest] 14:03:07 PIT >> INFO : MINION : ����: �Ҳ������޷��������� org.pitest.coverage.execute.CoverageMinion

[2016-12-07 10:21] hcoles commented on #316
These are not error messages - these are info log messages.

Does pitest successfully produce results in the `pitReports` directory?

[2016-12-07 10:51] redjiang commented on #316
thank you for your answer!
yes,only 	empty directory!

[2016-12-07 10:54] hcoles commented on #316
Could you post the rest of the log output?

[2016-12-07 11:01] redjiang commented on #316
build directory has three directories(classes、test-classes、test-result),and these directories all have content.
The message:
Buildfile: C:\mooctest\projects\110\12253\Schedule\build.xml
clean:
   [delete] Deleting directory C:\mooctest\projects\110\12253\Schedule\build
compile:
    [mkdir] Created dir: C:\mooctest\projects\110\12253\Schedule\build\classes
    [javac] Compiling 4 source files to C:

[2016-12-07 11:54] redjiang commented on #316
Buildfile: G:\eclipse_project\pit-ant-example\build.xml
clean:
   [delete] Deleting directory G:\eclipse_project\pit-ant-example\build
compile:
    [mkdir] Created dir: G:\eclipse_project\pit-ant-example\build\classes
    [javac] Compiling 2 source files to G:\eclipse_project\pit-ant-example\build\classes
test:
    [mkdir] Created dir: G:\eclipse_project\pit-ant-example\build\test-result
    [mkdi

[2016-12-07 11:58] redjiang commented on #316
Buildfile: G:\eclipse_project\pit-ant-example\build.xml
clean:
   [delete] Deleting directory G:\eclipse_project\pit-ant-example\build
compile:
    [mkdir] Created dir: G:\eclipse_project\pit-ant-example\build\classes
    [javac] Compiling 3 source files to G:\eclipse_project\pit-ant-example\build\classes
test:
    [mkdir] Created dir: G:\eclipse_project\pit-ant-example\build\test-result
    [mkdi

[2016-12-07 13:14] hcoles commented on #316
I take it there is no more output after this?

I've occasionally seen issues in the past with virus checkers on windows preventing communication between the main and child processes (its over a socket).

If you have one try running with it disabled and see if you get some output.

[2016-12-08 01:40] redjiang commented on #316
yes ,the eclipse console is no more output ! i  try running with it disabled but the output is still only those!
the last output some times is slave： PIT >> INFO : SLAVE : ����: �Ҳ������޷��������� org.pitest.coverage.execute.CoverageSlave
All of the console information：
Buildfile: D:\Users\lenovo\workspace\pitest-ant-example\build.xml
clean:
   [delete] Deleting directory D:\Users\lenovo\workspace

[2016-12-09 08:25] monperrus commented on #314
word! (to get updated about this issue)

[2016-12-09 10:56] hcoles commented on #276
@iwarapter does the fix in #289 resolve this for you?

[2016-12-11 14:25] hcoles commented on #314
I got chance to make a few changes that I'll merge I'll merge in shortly.

The maven plugin now checks for that and both src and test folders are configured for each module and that those folders actually exist. If they do not the project is auto skipped.

With no configuration set things seemed to work for xwiki but I haven't left it to complete a run so there may be issues I've not hit yet.

[2016-12-11 22:16] vmassol commented on #314
Seems awesome @hcoles :) Waiting for it.

[2016-12-12 15:13] craftey commented on #294
I get the same exception when running my test with infinitest plugin in IntelliJ. Version 1.25 does not have the problem. Version 1.26 produces the exception in line MockUp.java:165. Version 1.28 produces the exception in line MockUp.java:174.

[2016-12-12 22:14] hcoles commented on #314
That's merged in now and a 1.1.12 snapshot has been published.

[2016-12-13 16:50] vmassol commented on #314
Seems to be working much better, thanks!

I get a lot of the following, I don't know if that's "normal" though:

    5:48:20 PM PIT >> WARNING : Minion exited abnormally due to TIMED_OUT

What would be awesome now would be to get an aggregated report, i.e. https://github.com/hcoles/pitest/issues/41 :)

Thanks again for your support, that's great.

[2016-12-13 16:50] #314 closed

[2016-12-13 16:56] hcoles commented on #314
Some time outs are normal and expected (they happen when a mutation causes an infinite loop).

A large number of them *might* indicate a problem. See http://pitest.org/faq/

[2016-12-13 17:06] vmassol commented on #314
Thanks. I need to do more reading (including the FAQ!) and see how I could use pitest now that I know it's working ;)

[2016-12-13 17:38] mcarabolante-gradus opened #323 "Cant find mutation on multi module project"
My maven based project has the current structure: A - root containing (B-production code, C-Tests)

Pitest is not finding any mutations( Failed to execute goal org.pitest:pitest-maven:1.1.10:mutationCoverage (default-cli) on project unit-tests: Execution default-cli of goal org.pitest:pitest-maven:1.1.10:mutationCoverage failed: No mutations found. This probably means there is an issue with either

[2016-12-13 18:02] szpak commented on #323
It is definitely possible with Gradle. Maybe [similar](https://github.com/szpak/gradle-pitest-plugin#integration-tests-in-separate-subproject) approach with `mainSourceSets` and `additionalMutableCodePaths` can be also adapted to the Maven project.

[2016-12-14 12:53] mcarabolante-gradus commented on #323
The maven configuration is similar, but after runing the tests, it keeps not finding any mutation.
[code]
What I really find weird  is that it seems to be trying to generate the mutations before getting coverave from the tests

[2016-12-14 13:10] hcoles commented on #323
@mcarabolante-gradus The maven module does not currently support placing unit tests in a different module than the code under test.

It is also not currently possible to manually configure the mutable code path for maven (the output classes directories are used).

It would be possible to allow the mutable code paths to be overridden so your structure code be supported (at the expense of fiddly con

[2016-12-14 15:44] mcarabolante-gradus commented on #323
We have 3 types of tests, unit, integration and functional, each one tests different layers of our code.

Leaving them separated from production code and each other made it easier to run one layer at a time and made our test code more organized, and faster to fix failing tests since we can rule out layers.

[2016-12-20 18:36] hansjoachim commented on #227
Looks like this was fixed in https://github.com/hcoles/pitest-site/commit/fafc8d0b4fbca819dbe09b049ab7b826ab53436f.

[2016-12-20 18:48] hansjoachim commented on #311
The module `pitest-build-config` is part of the pitest-project, but the `compile` step won't create a jar file of it and store it somewhere. So when you get to the next module which requires `pitest-build-config`, maven has already forgotten about it and cannot find it. Could you try `mvn clean install`? This will package up and add the jar files to your local maven repository, making them availab

[2016-12-20 21:00] lkwg82 commented on #227
agree, can be closed

[2016-12-21 04:33] josevariquelme commented on #313
any comment about this?

[2016-12-21 10:12] hcoles commented on #313
This is most likely a result of the problem described in #281.

As a short term fix ZohhakRunner can be added to the black list, but ultimately #281 needs to be implemented.

[2016-12-21 12:25] hansjoachim commented on #279
I haven't tested it myself, but I see there's a pull request which would also log the stacktrace for failing test (#305). That might provide some more details to aid in debugging.

[2016-12-23 13:03] monperrus commented on #41
+1, an aggregated report would be so useful

[2016-12-23 14:22] monperrus opened #324 "getting started on adding new operators?"
How to add a new mutation operator in Pitest?

Google gives me [this thread](https://groups.google.com/forum/#!topic/pitusers/_22ITrzEA_8):

Is that still correct? Nothing more to do?

[2016-12-23 16:40] hcoles commented on #324
Yes, this should still be all that's required.

Point 2 is the hard bit.

[2016-12-23 17:32] monperrus commented on #324
Do you welcome pull requests proposing new operators?

[2017-01-06 10:56] craftey commented on #294
running my test-suite with infinitest plugin in IntelliJ:
Version 1.29 produces the exception in MockUp.java:178.

Version 1.30 does not produce the exception. Tested with 2 different test-suits.
One test-suit successfully runs the tests with infinitest now.
Unfortunately one of the test-suits produces many StackOverflowError in different places:

mockit.internal.state.TestRun:147 - StackOverflowE

[2017-01-06 20:29] craftey commented on #294
I added the report for my issue to jmockit tracker: https://github.com/jmockit/jmockit1/issues/379
Unfortunatelly it got closed with no comment. tbc ...

[2017-01-06 21:27] KyleRogers commented on #294
Hi @craftey

I don't understand how this is related to pitest. Can you elaborate a little bit more on your setup and your problem at hand?

The StackOverflowError is usually a hint that there is an infinite loop in the code. Your findings that increasing the stack size does not help supports that theory. Maybe the infinite loop spans across several classes. Analyse the stack trace(s) of your faili

[2017-01-09 13:23] khanhassan commented on #314
**1)** Where can I get 1.1.12 snapshot?
**2)** When are you going to publish it on maven central?

[2017-01-10 06:48] craftey commented on #294
Hi @KyleRogers, thanks for your kind reply.

I develop different web projects which use jMockit in their TestNG test-suites. From time to time we update the dependencies in the pom. This includes jmockit. I found, with the upgrade from jMockit 1.25 to 1.26 that the IntelliJ plugin [infinitest](https://infinitest.github.io) stopped running the tests successfully in my current two projects and these

[2017-01-10 19:28] emlun opened #325 "Bug: Anonymous class in Spock specification crashes pitest"
Minimal example and reproduction instructions are available here: https://github.com/emlun/pitest-spock-anon-class-bug

Summary
===

Creating an anonymous subclass in a [Spock][spock] specification results in Spock attempting to run the base class as a test class, and failing because it is not a `Specification`. This happens in PIT, but not in standalone Spock.

Note that the code to mutate is wri

[2017-01-10 23:07] hcoles commented on #325
@emlun Thanks for the high quality bug report - I'll take a look as soon as I get chance

[2017-01-11 17:22] craftey commented on #294
I found a really weird workaround: https://github.com/jmockit/jmockit1/issues/379#issuecomment-271932063

[2017-01-13 10:39] craftey commented on #294
Its getting serious. I just found out, that adding the line `## groups=dummy` does not fix inifintest it breaks it even more. The ui says now all tests pass. But actually they never fail anymore, even if I make a test fail with something like `assertThat(true).isFalse();`.

So my workaround is no workaround, it does not fix the assertJ issue. It only shows another issue with infinitest.

[2017-01-16 14:42] alexec commented on #226
You can mutate Scala, but there are a number of challenges and limitations around it. I'll put them into the other ticket.

[2017-01-19 21:09] hcoles commented on #325
Just pushed a slightly ugly fix for this. It appears that the spock was creating a runner that threw an exception when the getDescribe method was called. Didn't seem to be any other option but the catch it and continue, which pitest will now do.

Thanks again for the report.

[2017-01-20 10:34] emlun commented on #325
Wow, that was quick work! Thanks a lot!

[2017-01-27 11:42] ileontiuc opened #326 "org.pitest.util.PitError: Connection reset for Pit Maven Plugin"
Hello,

The last version of Pitest is running perfectly in my Maven project. However I installed PiTest as a local plugin in my .m2 folder (no changes, I just downloaded the project and used mvn install) and I get the Connection Reset error. I copied below my pom and the log.

POM file:
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:s

[2017-02-22 00:14] theangrydev commented on #284
+1 would like to see JUnit5 support

[2017-02-22 06:12] sta-szek commented on #284
If you want source code for reproduction this issue use my project: https://github.com/sta-szek/pojo-tester

[2017-02-22 11:11] hcoles commented on #284
I'll take a look at this as a high priority.

@KyleRogers has already done some work so hopefully not too big a job.

https://github.com/KyleRogers/pitest-junit-5-plugin

[2017-02-22 17:45] leofernandesmo opened #328 "Duplicate mutant (InlineConstantMutator and MemberVariableMutator)"
Well,
I'm investigating some PIT mutants...and it seems it generate a duplicate mutant with the following pattern of code:
`
return fieldid_0--; //fieldid_0 is a member variable
 `
and the operators:
1. InlineConstantMutator     => fieldid_0 = fieldid_0 - 0; return fieldid_0;
2. MemberVariableMutator  => return fieldid_0;

I don't know if it is easy to avoid the generation both mutants when the tw

[2017-02-27 09:37] hcoles commented on #328
The only way to avoid generation is by disabling operators. One of the reasons that mutators are not enabled by default is if they overlap with others.

[2017-02-27 09:42] hcoles commented on #284
I got chance to take a look at this over the weekend. Unfortunately it looks like there will need to be some significant re-work on the existing plugin.

Classes have moved around a lot as the junipe api has been developed, but more importantly the ability to select based on a tests unique id looks to have been removed.

The simplest approach at the moment looks to be to treat a test class as the

[2017-02-27 17:48] smoyer64 commented on #284
I've been using JUnit 5 since the alpha version was release last February (2016).  I actually think the API has been reasonably stable but ... the packages were completely renamed as part of the M1 release last July (http://junit.org/junit5/docs/current/user-guide/#release-notes-5.0.0-m1).  I've been looking through @KyleRogers code and notice that it's based on the alpha release and would be will

[2017-02-28 10:06] hcoles commented on #284
Unfortunately the changes to the api were more than just package renaming. There does not look to be an equivalent to `org.junit.gen5.engine.discovery.UniqueIdSelector.forUniqueId` anymore.

As for the big picture. I can't discuss this in terms of JUnit5 as I haven't yet had time to look through how it all hangs together, but using JUnit 4 and TestNG as reference points . . .

PIT scans the classp

[2017-02-28 13:31] smoyer64 commented on #284
Thanks for the detailed answer!  It seems my assumptions about the ways that TestUnit is used after discovery were at least close to correct.  You may very well be right about using a class as the smallest ```TestUnit``` since the potential life-cycle of an individual test would have to be considered.  There are a lot of ways to end up with a class that has the equivalent of the ```@BeforeClass/@A

[2017-02-28 15:05] hcoles commented on #284
It seems unlikely that I'm going to have time to dig into this meaningfully, so it's good to have someone looking at it. Thanks.

An important point is that splitting tests down into smaller parts is just a means to an end - namely making the whole thing faster. If doing so doesn't achieve that (as for TestNG) then it just introduces a whole lot of complication.

I'm not familiar with what's plann

[2017-02-28 20:49] tobiasstadler commented on #284
I created a plugin which is based on M3 that works for me. See https://github.com/tobiasstadler/pitest-junit5-plugin

[2017-03-01 16:03] hcoles commented on #284
@tobiasstadler It appears I am just plane wrong about `forUniqueId` not having an equivalent, which is good news but makes me doubt my sanity.

Thanks for creating the plugin. I'll have a poke around in it when I get chance. If it's ok with you I'll look to move it into the main PIT codebase - probably just after the junit 5 GA release.

[2017-03-04 18:33] tobiasstadler commented on #284
Yes, that is fine for me

[2017-03-07 01:28] rterp opened #329 "Test case using Mockito spy() testing abstract bean class fails."
Pit is printing the following error when attempting to run via maven:
 name=com.lynden.esperanto.endpoint.jpa.DefaultJpaConsumerEndpointtest] did not pass without mutation.

The class passes test its JUnit without issues when running 'mvn test'.  The class is a bean with only getters/setters, which the test is testing.  The wrinkle however is that the class is abstract and is being instantiated in

[2017-03-07 09:48] hcoles commented on #329
If you can put together a minimal project that reproduces the issue I'll take a look.

[2017-03-07 21:39] rterp commented on #329
OK, so it turns out that it isn't Mockito spy() that is causing the issue, its the @Getter annotations in the lombok library, and the fact that the bean has no methods since its annotated.

I've removed the dependency to the lombok library from my code and introduced getter methods to the bean and pit is able to properly run.  I'll leave my code in this state so that I can use pit, but not sure if

[2017-03-12 13:57] magneticflux- opened #330 "Unclear documentation on mutationThreshold and coverageThreshold"
The documentation on these two parameters should specify that they accept integer percentages rather than absolute integer values. See magneticflux-/MinesweeperJ#9 and szpak/gradle-pitest-plugin#57.

[2017-03-12 14:34] szpak commented on #330
Maybe you could provide a PR with proposed change? The site code is here: https://github.com/hcoles/pitest-site/tree/gh-pages/quickstart

[2017-03-14 15:20] mbergenlid opened #331 "Mutating initialization of static final fields"
I have the following example:

[code]
And the corresponding test:
[code]

PITest reports that mutating the return value of `initializeField()` (i.e. setting it to null) survives all tests but clearly setting it to `null` will cause a `NullPointerException` in the assert.
Shouldn't static state also be reloaded for each mutation?

[2017-03-15 08:18] hcoles commented on #331
This is a known issue - the static analysis that determines if code is used
during static initialisation us very limited - it only considers code in
static initialisation blocks.

It would be good to extend it to cover cases like this. There would however
be a question over what the behaviour should be for code executed both
during initialization and elsewhere.

On 14 Mar 2017 3:20 p.m., "mbergenl

[2017-03-16 17:10] hasys opened #332 "Custom Class Loader"
Hi Henry,

Thank you very much for your work on that great tool! I am using it for several projects and now I am trying to run it with lienzo framework [1]. It is GWT framework for drawing on Canvas. We have to stub some classes with "native" method (JS methods) so we are using custom Class Loader and separate maven projects.

As far as I know PITest maven plugin is not support multi maven project

[2017-03-21 13:44] hcoles commented on #329
Thanks for the update.

Using Lombok with pitest has come up before. I thought the conclusion was that it generally worked (but I might be misremembering).

I'd imagine the issue here is similar to that encountered with frameworks like powermock that re-write  bytecode at runtime. Pitest needs to ensure that any calls the framework makes to retrieve the bytecode receive pitest's mutated version of

[2017-03-21 16:47] ileontiuc commented on #132
@cannehal is this feature mvn org.pitest:pitest-maven:scmMutationCoverage -DanalyseLastCommits -Dllimit=1  implemented already?

currently:
-DanalyseLastCommit
or
-DanalyseLastCommits
runs the last commit

and any other variation like:
-DanalyseLastCommits -Dllimit=1
-DanalyseLastCommits -Dllimit=2
-DanalyseLastCommit -Dllimit=1
...
says there is "No modified files found - nothing to mutation test

[2017-03-21 16:59] KyleRogers commented on #132
@ileontiuc  I had a quick look at [ScmMojo](https://github.com/hcoles/pitest/blob/master/pitest-maven/src/main/java/org/pitest/maven/ScmMojo.java) because documentation at http://pitest.org is not up-to-date, unfortunately.

The property is named ```analyseLastCommit``` and is set to ```false``` by default. Thus ```-DanalyseLastCommit``` should change the behaviour, all other variants should apply

[2017-03-21 17:14] ileontiuc commented on #132
@KyleRogers  thank you for your prompt reply!

[2017-03-21 17:51] peome commented on #132
Yes, it is currently working

El 21 mar. 2017 6:14 p. m., "Ioana Leontiuc" <notifications@github.com>
escribió:

[2017-03-21 17:54] ileontiuc commented on #132
@peome  can you please describe how to use this feature?

[2017-03-22 15:47] hasys commented on #332
Hi @hcoles,
I played a bit more with it and now I have this error:
[code]
I found 4 possible reasons here: http://stackoverflow.com/questions/30789480/junit-tests-pass-but-pit-says-the-suite-isnt-green and it looks like I have the fourth one. Do you have any ideas, what I can try to fix that?

[2017-03-22 15:49] hasys commented on #332
I configure PITest to run just one TestSuite: https://github.com/ahome-it/lienzo-tests/blob/master/src/test/java/com/ait/lienzo/client/core/shape/wires/suite/WiresTestSuite.java

So, probably, the problem may be also in @Suite.SuiteClass annotation, not in Class Runner.

[2017-03-23 10:47] hcoles commented on #332
Adding the custom runner to the blacklist ought to work unless something else is going on.

If you can create a minimal project that reproduces the issue I can take a look.

[2017-03-24 12:34] hasys commented on #332
Hi @hcoles,

thank you for your reply! I am not sure how to add custom runner to blacklist, so I created simple Lienzo application: https://github.com/hasys/lienzopit

It have just one class and one test with LienzoMockitoTestRunner but still able to reproduce error described above.

Thank you for you help!

[2017-03-27 08:56] hcoles commented on #332
Ok, the problem is the code to handle static initialisers.

If pitest is configured to mutate static initialisers (which it isn't by default) it fires up a new classloader for the relevant mutants. Another bit of code checks if the the test passed to it has been loaded by the current classloader and if not clones the test using xstream.

The lienzo testrunner creates the test using a new classload

[2017-03-27 13:39] MartinKanters opened #334 "TestNG 6.10+ skips tests due to duplicate listener: org.pitest.testng.TestNGAdapter"
### Issue description

I am having issues with some versions of pitest together with some versions of TestNG.
In the pitest logs I see the following error: "Ignoring duplicate listener : org.pitest.testng.TestNGAdapter" exactly as many times as mutants there are made **minus 1**.
The result is that pitest mutants are surviving because the test stops due to a `SkipException` (org.testng.SkipExcepti

[2017-03-27 15:19] hasys commented on #332
Thank you @hcoles for your time! Unfortunately it is not possible to change lienzo not to create the tests using a separate classloader. So for now I will write & fix it in other ways and return to this issue when will have some free time. Thank you again for your help, I am very appreciated!

P.S. I guess we can keep this issue open to track following changes about pitest fix or mutate static ini

[2017-03-27 22:11] hcoles commented on #334
Thanks for reporting this - there looks to have been some changes in TestNG that prevent pitest removing listeners. Unfortunately pitest needs to recycle a single TestNG instance to make things work with JMockit.

There also look to have been some changes that mean tests can no longer be skipped by throwing a SkipException from an ITestListener.

I've had a play using a mutable listener to avoid h

[2017-03-28 06:34] MartinKanters commented on #334
Thanks for picking it up so quickly!

Too bad that they don't offer a way to remove listeners, perhaps we should reach out to TestNG to include this functionality? It doesn't seem that hard.
Nice to see that you have almost overcome the skipping problem as well.

Let me know when I can help with testing.

[2017-03-28 08:10] hcoles commented on #334
Having a minimal project that reproduces the issue speeds things up hugely - thanks.

I think removing listeners is a pretty niche use case so I'd be surprised if the TestNG team wish to add it to their api. Pitest only does it because it JMockit forces the use of a single static instance of TestNG - it would normally be much more sensible to just create a new instance.

Fortunately it looks like

[2017-03-28 08:56] MartinKanters commented on #334
Alright! It helped me a lot as well figuring out which versions of pitest and TestNG were conflicting.

Great to hear that you can probably get it to work without any change on their side.

[2017-03-28 09:35] maxim-filkov commented on #182
One of possible workarounds is described [here](https://github.com/hcoles/pitest/issues/314).

[2017-03-28 09:37] hcoles commented on #314
@khanhassan Yes, the next release is long overdue.

Will publish when #334 has been addressed.

[2017-03-28 11:44] krmahadevan commented on #334
@hcoles

I have been part of the TestNG codebase and try and contribute every now and then. I dont remember seeing an API that ever used to let you do it directly. All said and done, you can still invoke one of the below methods to remove listeners (because the underlying list is currently being exposed atleast as part of 6.11 the latest released version it is)

* org.testng.TestNG#getReporters
*

[2017-03-28 12:26] hcoles commented on #334
@krmahadevan

Pitest currently calls `getTestListeners().remove(xx)` but this no longer works as TestNG now makes a defensive copy of the list.

https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/TestNG.java#L824

The listener pitest creates starts throwing a SkipException for all subsequent onTestStart calls after the first Exception is received.

This used to work but this cat

[2017-03-28 12:44] #330 closed

[2017-03-28 13:03] krmahadevan commented on #334
@hcoles - My bad.. my IDE was playing games and I was referring to some old version of TestNG. Yeah you are right in terms of the listeners removal being stopped.

[2017-03-28 13:49] hcoles commented on #334
@krmahadevan Was the change in behaviour on throwing SkipException in a ITestListener intentional? If not I can raise a defect.

[2017-03-28 14:10] krmahadevan commented on #334
@hcoles - To be honest, I don't quite know. You can perhaps file this as a bug on the TestNG issues. We can then have it vetted with Julien and Cedric there to find out the actual intention.

[2017-03-28 15:13] juherr commented on #334
@hcoles Please open an issue. Add/Remove a listener worked before but it was a side effect.
I didn't think someone was using it but if you really need it we will have to think how to add the feature nicely ;)

[2017-03-30 20:59] hcoles commented on #334
@juherr Thanks but I've managed to code round the issue.

[2017-03-31 08:45] hcoles opened #335 "Incorrect coverage with powermock"
See discussion -> https://groups.google.com/forum/#!topic/pitusers/bKsfZqiBbos

[2017-03-31 13:04] hcoles commented on #295
Released in 1.2.0

[2017-03-31 13:04] #295 closed

[2017-03-31 13:05] hcoles commented on #215
Releases in 1.2.0

[2017-03-31 13:05] #215 closed

[2017-03-31 13:05] hcoles commented on #314
Released in 1.2.0

[2017-03-31 13:05] hcoles commented on #306
Released in 1.2.0

[2017-03-31 13:05] #306 closed

[2017-03-31 13:06] hcoles commented on #325
Released in 1.2.0

[2017-03-31 13:06] #325 closed

[2017-03-31 13:06] hcoles commented on #334
Released in 1.2.0

[2017-03-31 13:06] #334 closed

[2017-03-31 13:06] hcoles commented on #335
Released in 1.2.0

[2017-03-31 13:06] #335 closed

[2017-03-31 14:09] feckertson commented on #230
This appears to be corrected with 1.2.0.

[2017-04-03 09:33] MartinKanters commented on #334
Verified that the fix is working. Thanks for your quick response to this issue!

[2017-04-03 10:27] ileontiuc opened #336 "Pitest does not run with specific path for last commit"
The command to run Pitest on the last commit:
`mvn org.pitest:pitest-maven:scmMutationCoverage -DanalyseLastCommit`

only work if I am in the pom folder. Specifying a path reports

![image](https://cloud.githubusercontent.com/assets/12856352/24605309/9e874c88-1868-11e7-88bd-ab28dc178bc5.png)

[2017-04-03 15:56] GiovaniGuizzo opened #337 "Features Suggestion: Separated Functionality and Killing Matrix"
Hello Mr. Coles.

Thanks for your amazing tool.
I would like to suggest two features, that I think would be useful for some people.

**First**: separate the functionalities of generating a mutant from the functionality of executing the generated mutants. This might be useful for command line users who want to decide which mutant should be executed. For instance, it would be useful in order to appl

[2017-04-07 13:03] danglotb opened #338 "[Question] CSV output: format of killers of mutants."
Hi,

I am running pitest on several projects. In order to parse easily the output, i use the CSV format. I figure out that pitest design the killer by three
[code]

In which case pitest produces the latter format? Why? Does it mean something?

My running example is [mustache.java](https://github.com/spullara/mustache.java) commitID: bc86d3b1d907999fecea2746630bba24692a4788

I'm running pitest on t

[2017-04-12 19:34] thePatmanMI opened #339 "PitestTask in ant 1.2.0"
PitestTask in the pitest-ant.1.2.0 is referencing org.pitest.mutationtest.config.ConfigOption, which was removed in the pitest-1.2.0 jar version

[2017-04-12 20:35] hcoles commented on #339
ConfigOption hasn't been removed, it's been move to the new pitest-entry module, which must now also be on the classpath.

This should have been documented - thanks for calling it out.

1.2.0 also (unintentionally) adds the requirement that ant users add xstream and xmlpull to the classpath. I'll see if this requirement can be removed in the next release.

I've just updated the ant example project

[2017-04-13 09:52] sarahBuisson opened #340 "Suggestion : add a stat about mutable line"
I think an important statistic is the number of line who will be able to be mutable, regardless to the coverage or the result of the mutation.
Because this line are in fact the line who should be covered in priority, because this line are the more suspectible to introduce bug.

I think a usefull statistic  should be : (nbr of mutable line who kill the test) divided by (nbr of mutable line( covered

[2017-04-13 11:27] hcoles commented on #340
Can you clarify, is the proposal

`(lines on which all mutants are killed) / (lines that contained a mutation)`

or
`
(lines on which at least 1 mutant was killed) / (lines that contained a mutation)`

or something else?

[2017-04-13 12:37] sarahBuisson commented on #340
the second

[2017-04-13 15:25] sarahBuisson opened #341 "Suggestion : add a timer"
Can you add in the final report, how much time it take to generate-it?

[2017-04-13 16:16] SxMShaDoW opened #342 "Support for analyzing diffs and only running mutation on the diffs"
Hi,

Is there a way to only run mutation testing on the diffs of files?

I am currently running mutation testing on all my PR builds, but as my service complexity expands, the longer mutation testing takes to run. When I use the "withHistory" it goes lightning fast locally, but that isn't possible since CI/PR builds spin up new instances and git clone the code down.

If there isn't a way to do so,

[2017-04-14 22:37] feckertson opened #343 "Provide a way to divide a maven run into "run groups""
I have a project for which **mvn clean install** almost always fails because of pitest-maven although it succeeds on extremely rare occasions.  Usually there are numerous SEVERE messages incorrectly stating that various tests did not pass without mutation and/or numerous SEVERE messages stating Coverage generator Minion exited abnormally and/or numerous vm crashes with either an ArrayIndexOutOfBou

[2017-04-15 17:32] jasontrublu commented on #278
I have a similar problem, as we have groovy tests for java code. Again it finds the test specifications but does not mutate the java code. Probably because pitest is assuming the code is groovy as well. Is there a way to override this behaviour?

[2017-04-15 18:07] szpak commented on #278
@jasontrublu Mutating Java code by Groovy/Spock tests should work (at least in a Gradle-based project). The original issue is about mutating Groovy production code. Please raise a separate issue in [gradle-pitest-plugin](https://github.com/szpak/gradle-pitest-plugin) providing link to your project or [SSCCE](http://sscce.org/).

[2017-04-16 13:44] jasontrublu commented on #278
that's interesting. When I tried to build a simple example project, it actually worked. Now I need to find out what's different in our bigger project (which is closed source)

[2017-04-17 16:59] feckertson commented on #343
I can get past this by modifying DefaultCoverageGenerator.calculateCoverage to group the tests by packageName and invoke gatherCoverageData one package at a time.  I don't see a non-invasive way to make this configurable.  Running one CoverageMinion per package seems like overkill. The groupings could just as well be decided by the individual targetTests entries.  It seems like there might be an o

[2017-04-18 16:39] hcoles commented on #343
I've had another report of memory issues with powermock. As they were working to remove powermock from that codebase anyway it didn't get investigated further, but this is presumably the same issue.

Rather than implement a workaround I'd prefer to fix the root cause - if you're able to distil a minimal project that reproduces the issue I can take a look.

[2017-04-19 12:32] danglotb opened #344 "Run pitest on EvoSuite tests"
Hello,

I am trying to run pitest mutation analysis on a generated test suite by EvoSuite.

The problem is pitest do not find every tests cases. When I run the following command:
[code]
The results of the test is:

But when the pitest's goal is starting, it prints:

2:02:17 PM PIT >> INFO : Sent tests to minion
2:02:17 PM PIT >> INFO : MINION : 2:02:17 PM PIT >> INFO : Checking environment
2:02:19

[2017-04-20 23:02] 8armed-monkey opened #345 "NPE with retrolambda"
Hi I am getting the following exception after upgrading to Kotlin v1.1:

[code]

I am running it with Gradle:
`./gradlew clean pitest`

[2017-04-21 08:49] hcoles commented on #345
I'm guessing that Kotlin is now not including source file debug information in one or more classes.

Although it will be easy enough to fix the NPE here this might cause other problems as pitest relies on this debug info to generate the final report.

If you can put together a minimal example that reproduces the problem I can take a look.

[2017-04-21 11:39] 8armed-monkey commented on #345
Ah, the thing is my project doesn't contain any Kotlin source code. I am using Java only.

[2017-04-21 11:43] hcoles commented on #345
Don't quite follow how/why you are upgrading kotlin if you are not using it.

If you can put together a minimal example that reproduces the problem I can take a look.

[2017-04-21 11:46] 8armed-monkey commented on #345
I am using Kotlin for other projects but not this particular one. I'll try to setup a minimum example later and let you know.

[2017-04-21 12:11] 8armed-monkey commented on #345
Hi, it looks like it might be caused by Retrolambda. The sample project is available here:
[https://github.com/8armed-monkey/sample-npe-pitest-retrolambda](https://github.com/8armed-monkey/sample-npe-pitest-retrolambda)

[2017-04-23 18:42] magneticflux- opened #346 "excludeMethods treats lambdas inside of methods as separate methods"
An example would be this glob: `toString`. It matches the `toString` method, but any lambdas inside that `toString` method have names such as `lambda$toString$0`, `lambda$toString$1`, etc. To fully prevent a `toString` method with lambdas inside it from being mutated, the `excludeMethods` parameter must include both `toString` *and* `lambda$toString$*`.

While lambdas inside of method *are* entire

[2017-04-24 00:10] szpak commented on #345
Thanks @8armed-monkey for [SSCCE](http://sscce.org/). It helped me to reproduce the issue.

First, I was suspecting that Kotlin is somehow leaking into the classpath use but PIT, but it's not the case:

Later on, I realized that you mentioned that the problem occur even in projects which don't use Kotlin (like that one :) ).

The NPE is in the line:

which suggests that a filename is null. I debug

[2017-04-24 09:04] 8armed-monkey commented on #345
@szpak The problem doesn't occur if I change the lambda / method reference to anonymous inner classes (the Retrolambda plugin is still being used, but it doesn't create additional classes).

I updated the Retrolambda plugin as well, but the problem is still there. Will report the issue to Retrolambda devs.

[2017-04-25 09:13] sarahBuisson opened #347 "suggestion : Ignore the generated code"
I use lombock, it seems your code coverage run also on the code who is generated by lombok.  It should'nt.

[2017-04-25 09:25] sarahBuisson commented on #159
+1

[2017-04-25 09:37] hcoles commented on #347
I agree that it would be good to avoid mutating auto generated code, but as far as I'm aware Lombok annotations have source retention. This means there is no easy way for pitest to detect that the bytecode code is autogenerated.

[2017-04-25 15:23] sarahBuisson commented on #347
I see than when a line is generated by an anotation, pitest place the line coverage on the anotation on the report file view.  Maybe we can add a list of annotation for which the coverage is not count?

[2017-04-25 15:33] hcoles commented on #347
@sarahBuisson  The problem is that pitest has no way of knowing that the bytecode is generated by lombok - the annotations are not visible in the bytecode as they have source retention.

[2017-05-02 06:46] skapral opened #348 "Mutating Surefire POJO tests?"
Maven Surefire plugin supports so-called POJO tests, which doesn't require neither JUnit, nor TestNG for execution: http://maven.apache.org/surefire/maven-surefire-plugin/examples/pojo-test.html. Attempt to run mutations over these tests fails with the following message:

Do I have any options to overcome this issue without adding JUnit/TestNG to the classpath?

[2017-05-02 08:04] hcoles commented on #348
Adding JUnit to the classpath won't solve the issues - pitest needs to support the test framework you are using and understand how to run the tests in order to perform a mutation analysis.

If you wish to analyse POJO tests you will need to write a plugin to support them.

If you wish to try this you might find the example plugin for junit5 a useful reference.

https://github.com/tobiasstadler/pit

[2017-05-02 09:29] skapral commented on #348
Thanks for the reference. I'll check it.

[2017-05-08 09:51] johnswekenyi commented on #105
Had a similar issue and I downloaded this jar https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/hamcrest/hamcrest-1.3.tgz added to my project and tests ran without any errors.

[2017-05-08 10:17] skapral opened #349 "Option to disable timestamp'ing coverage reports?"
[code]

PIT generates its report in target/pit-reports/YYYYMMDDHHMM directory. Are there any option to exclude this timestamp-like directory from the report's path?

[2017-05-08 10:32] hcoles commented on #349
You can get a list of the options the plugin supports with

[code]

The one that controls the timestamping is

[code]

[2017-05-10 12:08] skapral commented on #349
Thank you. Sorry for bothering - didn't noticed it first time for some reason.

[2017-05-10 12:08] #349 closed

[2017-05-11 11:19] yossigil opened #350 "Running PIT on Itself? or on some standard example?"
I hope this is legit. But, is there a way to run PIT on itself (from the command line)? Alternatively, it would be nice if the download would include a shell script that when run, would execute PIT on some little demo project (supplied with the download).

The objective is more smooth installation by fresh users.

[2017-05-11 11:36] hcoles commented on #350
Running pitest against itself is problematic - if the code running the analysis has bugs seeded into it then . . well you get the picture. It would be possible, but requires relocating the code into a different package so that pitest doesn't eat itself.

Some sort of example for the commandlne use is a good idea, however using the commandline tool is heavily discouraged. The maven plugin, gradle p

[2017-05-11 11:58] yossigil commented on #350
Thanks. Should I close the issue, or edit its title to "small command line xample"?

[2017-05-11 12:00] hcoles commented on #350
Please edit the title - not sure when it will get addressed but it's a good suggestion.

[2017-05-12 16:31] Kernle32DLL commented on #347
Well, JaCoCo made it possible a few weeks back. Maybe something can be salvaged from that?
https://github.com/jacoco/jacoco/pull/513

[2017-05-12 16:40] Kernle32DLL opened #351 "Integrate timed-out tests ins report overview"
Hi,

I've been using pitest for some months now, and everything was fine so far. Now due to the growth of the application some of my tests (or their mutations at least) are starting to time out. While I am investigating the source, it would be great to see which tests have timeouts in the generated reports. Right now I have to go trough every class file, and look for the blue markings of timeouts.

[2017-05-12 18:34] hcoles commented on #347
@Kernle32DLL thanks for pointing me at that. Although the lombok annotations used to control generation still have source retention, at some point in the last year Lombok has started adding its own Generated annotation with class retention to the generated methods.

This should make it fairly simple to filter them out.

[2017-05-12 21:00] hcoles commented on #347
I've just pushed a simple change that will prevent mutation of any method annotated with a annotation matching one of three hard coded names

- Generated
- DoNotMutate
- CoverageIgnore

This will only work if the annotations have at least class level retention.

I've not had chance to try this against Lombok yet, but if it is indeed adding a Generated annotation this should prevent mutation of tha

[2017-05-12 21:03] hcoles commented on #159
A very simple annotation based filter has just been added as part of #347

[2017-05-16 12:31] Kernle32DLL commented on #347
@hcoles : Gave it a quick spin, looks good to me. The number of mutations decreased from 263 to 111. It is worth pointing out that to test this feature, a lombok config must be present (https://github.com/jacoco/jacoco/pull/495#issuecomment-291162737). This is apparently not documented at the moment (https://projectlombok.org/features/configuration.html). Mine reads as:

[code]

[2017-05-16 12:56] hcoles commented on #347
@Kernle32DLL Thanks.

Pitest is yet checking for the annotation at the class level so, depending on what lombok is doing, some autogenerated code may still be mutated. I'll add that in when I get chance.

[2017-05-25 22:46] smackfu opened #352 "Junit category inheritance isn't working"
This feature was added in pull request https://github.com/hcoles/pitest/pull/287 but it is not working for me.

I couldn't find an existing integration test for this, but if I modify `pitest-maven-verification/src/test/resources/pit-junit-categories/src/test/java/com/example/ATest.java` like so:
[code]

and I add a new `BTest.java` in the same directory that has the excluded category:
[code]
then

[2017-05-26 08:48] hcoles commented on #352
@category only had @inherited added in junit 4.12. I think that integration test is using 4.11.

[2017-05-28 13:26] hcoles commented on #352
Just tried this with JUnit 4.12 - looks like that might be an issue.

[2017-05-28 20:18] hcoles commented on #352
It appears that the pitest maven plugin is picking up the category class of the junit version it was built against (4.11).

Building against 4.12 looks to have it's own issues, so for now the code will always resolve the parent's categories, even if an early version of is in use.

Thanks for raising this.

[2017-05-30 12:05] hcoles commented on #146
I've finally had chance to take a look at this using procyon as @UrsMetz suggested.

Worryingly procyon doesn't look have been updated in a while.

http://www.benf.org/other/cfr/

Looks to be under active development, but is not easy to consume as it is closed source and not published to maven central.

I've put together a proof of concept in the decompilation branch

https://github.com/hcoles/pit

[2017-05-30 19:23] hcoles commented on #341
That's a good suggestion.

[2017-05-30 19:24] charlesmorin commented on #341
+1. That would be helpful.

[2017-06-01 12:27] oscarlvp commented on #41
I have been working in a way to overcome this issue. What I'm doing is to use Maven to gather all dependencies from all sub-projects and conform the corresponding classpaths, that is mutable code, test code and all external dependencies. It works but has two main drawbacks. First it ignores surefire configurations that could be useful to detect disabled tests, but I think this can be also detected

[2017-06-01 13:17] hcoles commented on #41
@oscarlvp I think the correct solution is to do this in two stages.

1. Store data to disk for each project in xml/json/whatever (already happens, but see notes below)
2. Load and aggregate the data to a single html (or xml or json) file

The thing blocking this is that pitest does not currently write the coverage data out in a useful fashion. This html report needs this in addition to the mutatio

[2017-06-01 13:29] oscarlvp commented on #41
@hcoles If I understood well, this solution will target the issue of creating the report but doesn't target the fact that tests in a subproject may cover code in a different subproject, which happens very often and there are even projects that would put all tests in a separated subproject. The workaround I have used is able to create the aggregate report for the full project without changing the w

[2017-06-05 20:04] Nimfadora opened #353 "Pitest mutations false-negatively survive in methods called from static initializers."
When applied to class with a static initializers pitest gives false negative results (mutations shows as survived, but actually tests are failing).
For class [PackageObjectFactory.java](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/PackageObjectFactory.java) it shows such survivors (the _fillShortToFullModuleNamesMap_ method is called from stati

[2017-06-06 01:59] romani commented on #353
@Nimfadora , please confirm:
1) real removal of any of this lines give a failure of uts in our build.
2) recheck that this issue is not related to fact that we run pitest on part of the code (our profiles, that we use for performance reason)

@Nimfadora , please provide in this issue exact commands on how to reproduce the problem.

[2017-06-06 08:43] hcoles commented on #353
@Nimfadora

This is a known issue, which ought to be in the FAQ, but apparently is not.

Static initializers cause a bit of a problem with two of the strategies pitest uses to make mutation testing usable fast.

1. Coverage targeting

Pitest will only run tests that execute the line of code where a mutation is placed. Unfortunately the only test to execute a static initializer will be the **first*

[2017-06-06 11:13] sarahBuisson commented on #347
Hello, I've been working on it, and I've found a solution to this issue. (I search the presence of the annotation in the java file). I've forked your project, implement the solution ( who work !) but I've an issue with the integration tests, (PitMojoIT.java).
the project (pit-lombock) run and generate pit-test report normaly when it's launched alone, but doesn't seems to run when it launched by th

[2017-06-06 12:15] Nimfadora commented on #353
@romani  1&2 points are true.
The exact command is `mvn clean verify -Ppitest-checkstyle-common org.pitest:pitest-maven:mutationCoverage`

@hcoles thanks for reply. I guess extending static initializer detection will solve our problem.

[2017-06-06 14:05] romani commented on #353
@hcoles ,

can you share link to the open issue ?
just for tracking, to make use we update our code after you fix the issue.

[2017-06-06 15:41] hcoles commented on #347
@sarahBuisson

Thanks for your work on this, however parsing the source would represent a major change for pitest and would not be something I can merge in.

It should however be possible to implement this as a mutation filter plugin

http://pitest.org/quickstart/advanced/

This would allow people to opt in to the functionality without adding the overhead for other users.

I think the reason that

[2017-06-06 20:32] hcoles commented on #353
@romani It was tracked #53 but given the details there are a little sparse I'll close that one again and track it here.

[2017-06-06 20:33] hcoles commented on #53
Closing to instead track in #353

[2017-06-06 20:33] #53 closed

[2017-06-06 22:44] sarahBuisson commented on #347
I can't do this just with the informations contained in the MutationDetails, I need the data who are contained in the classInfo.

[2017-06-07 08:15] hcoles commented on #347
@sarahBuisson

You should be able to implement the filter without using classinfo. If you parse the source file and identify methods/classes with relevant annotations you can then remove any mutations in these location from the list within the filter.

If you implement in this way you will not need to create a pull request - the plugin will be separate from the main pitest codebase and you will ha

[2017-06-07 11:30] bentlor commented on #293
I agree with peter-janssen. It is essential that these are checked in the correct order, and both have effects as described in the FAQ. I was struggling to set up the suite because I thought that they have to be used together in order to use a different path *and* use history. Also, the log doesn't display "Using history file ..." when only using the location parameters, which suggests that there

[2017-06-07 14:23] jgaleotti opened #355 "PiTest reports 0% score when the package name starts with "java""
I happen to have a class called java2.util2.Foo with a corresponding test suite.
Initially, both mutant coverage and mutation score were 0%. However, when I renamed the package with something different than "java2.util2." such as "com.example" it reported the expected non-zero coverage and score.

[2017-06-07 15:56] sarahBuisson commented on #347
@hcoles
I need classInfo to find the sourceFile. currently MutationDetails class contains just the name of the file, not the path to this file.

[2017-06-08 08:38] hcoles commented on #355
Thanks reporting this - that shouldn't happen but I can probably guess where the bug is.

[2017-06-08 09:07] hcoles commented on #347
@sarahBuisson

Both MutationDetails and ClassInfo have only the name of the file. Paths to source files are only resolved when the generating the html report.

Your code looks to be currently assuming that the file will always live in src/main/java. This will be true for (most) maven projects, but the convention may not be followed in codebases built with other tools.

[2017-06-09 12:30] sywor commented on #41
Adding myself to the list of people that wold like to see this feature.

[2017-06-09 14:12] gunjank commented on #347
I am using Lombok 1.16.14 still poor coverage due to class level @Data annotation. Even I have covered all getter and setters in my test cases and in coverage details also shows everything green except @Data in red but coverage is missing for some unknown Lombok default generated code.
My Maven dependency for Lombok (I am using Latest Jacoco in my eclipse - downloaded 06/06/2017 )
 <dependency>

[2017-06-09 18:15] hcoles commented on #353
@romani

I've finally done a little work on this as it fits nicely with the new extension point being added in the next release.

This changes in https://github.com/hcoles/pitest/tree/analysis

Make it (relatively) easy to perform basic static analysis on mutants and alter or remove them from processing.

As a first use case I've added an analysis that performs a very simple check to find code tha

[2017-06-10 00:03] romani commented on #353
@hcoles ,thanks a lot, as you will release fix, let us know by creation of issue to use new version.
Our goal is to archive 100% coverage by pitest, with minimal amount of exclusions/skips.

[2017-06-12 23:19] sarahBuisson commented on #347
@hcoles
Hello everyone, I'm back !
**The good new :** I've create a mutation filter plugin to ignore the generated code line

**The bad new n° 1** :  I'll need to add the sourceDirs to the CodeSource class

( in order to detect the annotation, I still need to access the source.  I choose to use the same way your plugin use to generate the report. This should not have any impact on anythings.)

If

[2017-06-13 14:20] hcoles commented on #347
Hi @sarahBuisson

Thanks for the update. I'd prefer not to add sourceDirs to CodeSource, but there are two other easy solutions.

a. Instead of implementing MutationFilter implement MutationInterceptor.

This has only just been added in the latest snapshot - it's very similar to a filter but (among other differences) its factory method receives ReportOptions object from which the source dirs can b

[2017-06-13 18:59] sarahBuisson opened #357 "Bug : custom mutation filter don't work"
The (custom)filter I add in the MetaInfo/services are not used.  It's always the file in the pitest/pitest project who is used.

[2017-06-13 19:03] #357 closed

[2017-06-16 01:32] jasonmfehr opened #358 "maven plugin outputs classpath with each test"
When I run pit using the maven plugin, the classpath for the project is written out to the console repeatedly.  This generates a lot of extra noise in the builds.  Writing out the classpath seems to be something that should happen only when running in debug mode, but I do not know the history behind why that classpath is written out.  Can that classpath output be switched to only happen when runni

[2017-06-16 08:06] hcoles commented on #358
Yes that's kind of annoying isn't it.

Fortunately it's fixed in the 1.21 snapshot. Planning to release towards the end of the month.

[2017-06-16 17:27] FrankR85 commented on #323
Same issue here. Are there any ways to get reports for a Module A with Tests in Module B?

[2017-06-18 18:31] javabeanz opened #359 "badge to show a project is using PITest"
please create a small badge for gthub projects to show they use PITest; this is a sign of extra quality tests and promotes the use of PITest

[2017-06-20 01:40] jasonmfehr commented on #358
Excellent.  Thanks!

[2017-06-20 01:40] #358 closed

[2017-06-20 03:50] romani opened #360 "Abiliy to define mutationThreshold for each target class/package"
we are fighting for coverage to be 100% in Checkstyle project.

We are in progress , but in the same time we in progress to merge a lot of functional changes.
That results in cases where new functionality is introduced in functional PRs but general/common mutationThreshold is satisfied, but new code is not covered.
Fight for pitest coverage is hard work on existing old code.  It would be good to b

[2017-06-21 08:48] hcoles commented on #267
I'm currently working on adding a small library to pitest that allows easy matching of bytecode sequences. The initial use case for this is to detect infinite loops without executing any tests, but the intent is to create something that allows simple static analysis checks to be added to pitest with relative ease.

This duplicates a lot of what the scala spike was doing. It should be relatively st

[2017-06-21 08:53] nespera commented on #267
I'm interested in Scala mutation in pitest. I don't have the time to take ownership of the thing, but would be able to lend a hand if someone else steps up to the plate...

[2017-06-21 14:49] egarcol opened #361 "pitest not picking up all spock tests"
Hi,

I pulled down a Maven project that includes 1 test class with 3 Spock tests.
https://github.com/JonLally/visitor-pattern-example

Then I built the project with 'mvn clean install' and see that all 3 tests run.

Then added pitest to plugins in pom.xml.
<plugin>
    <groupId>org.pitest</groupId>
    <artifactId>pitest-maven</artifactId>
    <version>1.2.0</version>
</plugin>

Built the project

[2017-06-21 15:08] hcoles commented on #361
This looks to be an issue with the auto-skipping of projects with no tests that was added in 1.2.0.

The plugin checks that `project.getTestCompileSourceRoots` is not empty. If it is the project is skipped.

For some reason maven is not returning src/test/groovy in this list.

If you add a src/test/java folder pitest will run normally.

[2017-06-21 15:40] egarcol commented on #361
Thanks for quick feedback.

I added src/test/java folder and now pitest runs.

But only 1 test is found while the PurchaseVisitorSpec.groovy contains 3 tests.

`4:37:54 PM PIT >> INFO : Sending 2 test classes to minion
4:37:54 PM PIT >> INFO : Sent tests to minion
4:37:54 PM PIT >> INFO : MINION : 4:37:54 PM PIT >> INFO : Checking environment

4:37:54 PM PIT >> INFO : MINION : 4:37:54 PM PIT >> IN

[2017-06-21 16:09] hcoles commented on #361
Pitest does not know how to break spock tests down into smaller parts so each spec class will be treated as an atomic unit.

So this project does have 1 independently executable test.

If you add some normal junit tests pitest can break those down so you will see a test per test method for those (unless they have @BeforeClass annotation or certain custom runner in which case the smallest executabl

[2017-06-22 15:00] hcoles commented on #196
It's finally time to look at this again.

Most teams at my current employer are on the way to Java 8, so my proposal is to drop support for running on both Java 6 and 7  shortly after the release of Java 9.

Java 5,6 and 7 bytecode would still be supported.

One concern is that Pitest is commonly used for academic research, often analysing a corpus of open source software of varying age. I'm not c

[2017-06-22 16:48] mbj commented on #196
Couldnt these people use an older version of pitest?

[2017-06-22 18:49] egarcol commented on #361
that clears that up. Thanks again :)

[2017-06-23 08:32] hcoles commented on #196
@mbj If this answer is that they're tied to older Java versions then at some point it will come to that, but I'd prefer to know if I'm locking the academic community out of future releases before I make that decision.

[2017-06-25 12:04] hcoles opened #362 "supress common performance related equivalent mutant in equals methods"
Standard form for an equals method is to start with

[code]

Before performing a deeper comparison.

Mutation to this will be either easily detected  or equivalent as they affect only performance. It would make sense to filter them out (or at least the equivalent ones).

[2017-07-01 14:38] hcoles opened #363 "Report mutant cost"
A measure of the cost of each mutant, particularly if aggregated for each operator would be useful.

May be difficult to produce a figure in real units (e.g time) as large cost of launching JVM for a group is shared between all mutants in that group. Also problems when a mutant times out as was experienced when launching no of tests run.

[2017-07-02 21:16] hcoles opened #364 "Filter mutations that cause infinite loops"
Each timeout costs around 4 seconds to detect, there is therefore a huge potential speedup if these mutants can be detected statically.

[2017-07-02 21:24] hcoles commented on #364
Initial work in this in 1.2.1 release detects counter loops (mainly classic for loops but also while loops with counters) that do not contain a write to the counter variable.

This will class some loops as infinite that are not (e.g if they are broken by a return), and the detection is imperfect so will fail to recognise some infinite loops.

Although there is a huge speedup here, most users will

[2017-07-03 18:15] hcoles opened #365 "Easier plugin configuration"
Configuration in pitest is current a painful mess.

Any new feature that requires configuration requires changes in multiple places to pass the data into ReportOptions from the maven plugin, commandline, and ant plugin. Third party integrations such as gradle and eclipse must also change.

Plugins are also difficult to configure - it is now possible to pass some of them a free form Properties obje

[2017-07-05 20:53] hcoles commented on #365
released in 1.2.1

[2017-07-05 20:53] #365 closed

[2017-07-05 20:54] hcoles commented on #364
Initial work release in 1.2.1.

Improvements and extension to detection will be tracked in separate issues.

[2017-07-05 20:54] #364 closed

[2017-07-05 20:54] hcoles commented on #353
release in 1.2.1

[2017-07-05 20:55] hcoles commented on #352
released in 1.2.1

[2017-07-05 20:57] hcoles commented on #331
Release 1.2.1 extends the static analysis used to detect static initialization code.

This case should be covered - can you confirm if the issue is fixed for you?

[2017-07-06 13:45] romani opened #367 "problem after upgrade from 1.2.0 to 1.2.1: Tried to retrieve value but had None"
worked without problems on 1.2.0 version.

steps to reproduce:
[code]

output:
[code]

[2017-07-06 14:22] hcoles commented on #367
Looks as though the new static analysis checks are unable to resolve classes shipped in rt.jar such as java/lang/Exception.

I'm not too clear on why this would be an issue for checkstyle but not any of the example projects I run pitest across before release. Is there anything unusual in the checkstyle setup?

It should work if you disable the checks by passing -FINFIT and -FINFINC to the features

[2017-07-06 19:47] #367 closed

[2017-07-06 19:48] hcoles commented on #367
Just pushed a fix, but not able to write an automated test as don't understand the root cause.

Will push out a release once the CI job completes in case this is a wider issue affecting other projects.

[2017-07-07 08:17] hcoles commented on #367
1.2.2 is now released.

[2017-07-07 13:17] romani opened #368 "pitest crashed on usage wildcard in targetClasses/targetTests"
It is NOT a general problem. It is reproduced only on certain set of Tests/Classes.

steps to reproduce:
[code]

output:
[code]

[2017-07-13 11:52] timtroup opened #370 "segmentation error IBM J9 VM/linux kernel 3.10.0-514.6.1.el7.x86_64"
When running pitest as part of a Jenkins pipeline via the gradle plugin I see the following segmentation error. The Jenkins box is running linux kernel 3.10.0-514.6.1.el7.x86_64

1:36:42 PM PIT >> INFO : Calculated coverage in 2 seconds.
1:36:42 PM PIT >> INFO : Created  27 mutation test units
/stderr  : Unhandled exception
Type=Segmentation error vmState=0x00000000
J9Generic_Signal_Number=000000

[2017-07-13 14:45] paul-hammant opened #371 "In the command output (Ant and Maven too) publish a single rollup percentages"
Tools like Jenkins like to pluck things from logs.   Could you add something like the following to make that easy?

[code]

[2017-07-13 19:35] paul-hammant opened #372 "Introduce rounding strategy, or mechanism to specify decimal positions for rounding"
I'd like to see percentages rounded to say two or three decimal positions. #140 is around this topic too.

It'd be nice to control that.

If you're interested in why?  I've 1000 tests of dubious quality. We're going to tell the dev team to 1) improve those existing ones over time, but also 2) make sure that new ones are perfect from the outset.  We're going to put the figures in a time series data

[2017-07-14 01:36] paul-hammant commented on #371
My bad - it is there higher up:

    Generated 11 mutations Killed 5 (45%)

[2017-07-14 01:36] #371 closed

[2017-07-14 08:22] hcoles commented on #370
Hi Tim,

This one will be hard to look at without a repo that reliably reproduces the issue - if you can put one together I can take a look.

The only other segfaults I've seen with pitest are from running on a machine that turned out to have dodgy ram and from bugs in the zip handling libraries of sun jvms that earlier versions of pitest used to trigger.

[2017-07-17 16:59] mdhornet90 opened #374 "Incorrect "no coverage" in report"
I'm writing unit tests that exercise the following logic:

[code]

I have three tests covering that branch:
1. Happy path (both if's return false)
2. Command timeout
3. Command fallback

I was expecting full test coverage of those lines. However, in the generated report, it complains that when it removes the logging statement from within that if block, there's `NO_COVERAGE`. I removed that line of

[2017-07-17 17:44] romani opened #375 "mutationThreshold as 100 is not guaranty that all classes is covered by 100%"
steps to reproduce
[code]

![image](https://user-images.githubusercontent.com/812984/28281515-3cd06fda-6adc-11e7-8ad2-e85e43435e7c.png)

Unfortunately it could lead to leek of incomplete test even on CI level is demanded to be 100% for Mutation Coverage `<mutationThreshold>100</mutationThreshold>` .

Expected: when some class is less then 100%, summary mutation coverage should be less then 100% an

[2017-07-18 07:16] NicoleRauch opened #376 "Mutation testing (and reporting) across Maven modules"
In my the test code for some part of the production code is spread across several modules. PITest only mutation tests the code in each module by using the tests in that same module, not in the others. This way, the Mutation coverage (and also the line coverage) is useless because some tests are not considered.

To give you an example: We have modules
* customer
   * src (<- production code)
   * t

[2017-07-18 13:00] hcoles commented on #374
For some reason the test that cover this code are not being picked up by pitest. This is most likely an issue with how it is configured - can you provide some more detail about how you are running pitest (maven/gradle/ant/commandline) and provide your configuration?

[2017-07-18 16:03] mdhornet90 commented on #374
Sure, I'm running it through gradle, plugin version 1.1.11. The project I'm working on has a couple sub projects and I'm only targeting one of them, which is where the configuration lives:

pitest {
    targetClasses = [ 'com.company.project.*' ]
    outputFormats = ['HTML']
    enableDefaultIncrementalAnalysis = true
}

[2017-07-18 19:57] szpak commented on #376
@NicoleRauch I don't know about Maven, but having your project migrated to Gradle it should be [achievable](https://github.com/szpak/gradle-pitest-plugin#integration-tests-in-separate-subproject) in PIT plugin for Gradle.

[2017-07-18 20:07] NicoleRauch commented on #376
@szpak Thanks for the pointer! Unfortunately I cannot migrate to Gradle for various reasons, but good to see others have the same needs.

Does anybody know whether it would somehow be possible to make the same mechanism work in Maven?

[2017-07-19 13:53] romani commented on #353
@hcoles , please close this issue, it works fine on 1.2.1

[2017-07-19 14:01] romani commented on #273
@hcoles ,

you can reproduce this on checkstyle project:
[code]

from http://pitest.org/ ... `Light pink show lack of line coverage,....` our project use 100% coverage for whole(non-generated, non-gui) code.
missed coverage:
![image](https://user-images.githubusercontent.com/812984/28370613-8f244aa8-6c4f-11e7-94a9-b53364910872.png)
prove that it is covered by `AstRegressionTest.testNewlineCr()`:
!

[2017-07-19 18:41] Nimfadora opened #377 "Negate Conditionals Mutator generates false-positives survived mutations"
In [checkstyle Main class](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/Main.java#L229) we have such check: `errorCounter != 0 && !cliViolations`

Pitest [claims](https://nimfadora.github.io/pr/com.puppycrawl.tools.checkstyle/Main.java.html#org.pitest.mutationtest.report.html.SourceFile@15e7538c_213) that mutations are not killed, but when muta

[2017-07-19 20:59] hcoles commented on #377
I think one of the negated conditionals most likely relate to the `&&`. As pitest mutates at the bytecode level the descriptions can sometimes be a little misleading - ifs, conditionals and loops are boil down to conditional jump instructions.

Do you have tests that check what happens when both sides are true?

I'd have to look a little closer to guess what the other two survivors could be.

[2017-07-20 08:37] #353 closed

[2017-07-23 21:27] hcoles commented on #285
Closing as PR finally merged into 1.2.2 - thanks @Kwaq

[2017-07-23 21:27] #285 closed

[2017-07-24 11:23] hcoles opened #379 "Remove support for mutating static initializer code"
The ability to run tests in a separate classloader was once an integral part of pitest - it is now used only when static initializer code is mutated.

Maintaining this feature has an ongoing cost as it adds significant complexity. It is also requires pitest to depend on xstream. It would be desirable to remove this dependency as it a possible source of issues on non oracle/openjdk jvms and may cau

[2017-07-24 11:55] hcoles opened #380 "Java 9 support"
Known issues

- [ ] ASM 5.2 does not support Java 9 bytecode - ASM 6 beta should be available from central soon
- [ ] Shade plugin does not support Java 9 -> https://issues.apache.org/jira/browse/MSHADE-242
- [ ] Xstream does not support Java 9 -> https://github.com/x-stream/xstream/issues/74

May also be other issues that are masked by these blockers.

Suggest waiting for updates to ASM and Shade

[2017-07-25 19:46] skapral opened #381 "Pitest ignores source classes annotated with JUnit annotations?"
Faced this issue here: https://github.com/project-avral/oo-atom/tree/master/atom-tests

One of my source classes is annotated with @RunWith annotation. However, pitest doesn't do a muation for it and doesn't even count its coverage. I assume that it is because of JUnit annotation on the class. How can I disable such behavior and force pitest to do coverage and mutation for all my non-test classes?

[2017-07-25 22:24] Nimfadora commented on #377
@hcoles
errorCounter != 0 || !cliViolations
errorCounter == 0 || cliViolations
errorCounter != 0 || cliViolations
errorCounter == 0 || !cliViolations
!(errorCounter != 0 || !cliViolations)
!(errorCounter != 0 || cliViolations)
!(errorCounter == 0 || !cliViolations)
!(errorCounter == 0 || cliViolations) == Original
All cases are covered by tests

[2017-07-25 22:51] Nimfadora commented on #377
@hcoles is there some way to print mutations generated? This option seems useful, as for me, just for fixing purposes for e.z.

[2017-07-26 00:16] viswaramamoorthy commented on #276
Try https://github.com/viswaramamoorthy/gradle-util-plugins

[2017-07-26 08:19] hcoles commented on #377
You can use the export plugin

https://github.com/pitest/export-plugin

It's not been released yet so you need to build it locally.

It will be rolled into the main codebase once support for running on java 6 has been dropped.

[2017-07-26 08:30] hcoles commented on #381
Yes, pitest currently splits classes into finds into "tests" and "code" buckets and does not mutate the tests.

This isn't really necessary most of the time as build tools don't pass it a mixed classpath - but this was baked in back in the early days of development.

It needs looking at but unfortunately some functionality (e.g support for junit categories) has been piggy backed onto it so it's no

[2017-07-27 13:41] romani commented on #377
workaround was to change code to less pretty as:
[code]

But this issue is still valid.

[2017-07-30 07:03] Joe-C-London opened #383 "New Mutation Operation: "Return value ignored method calls mutator""
This mutator behaves similarly to the Void Method Calls mutator, but will remove calls to methods that have a non-void return type where the return value is ignored.

A common use case for this mutator would be the various methods used for adding to collections in Java (such as add/put), where most callers ignore the value being returned.

[2017-08-02 22:39] eran505 opened #384 "PIT seems to fail execute the test classes"
hello,

Im currently working on Common-Math-3.5, i generate test suite using Evosuite-1.0.5.
As i run PIT on some classes, the program generate mutations and coverage just fine, but i have zero kills over the mutations.
I took one mutation (from the html file) and ran it manually using Intellij IDE, and the test failed !  but PIT mark this mutation as a survived.
so i guess PIT didnt invoked the t

[2017-08-03 14:39] hcoles commented on #384
If you can upload a minimal project that reproduced the issue I can take look.

[2017-08-04 09:44] eran505 commented on #384
Thanks for the fast response
i upload a minimal project that demonstrate the issue.
Inside the project there are two test classes, one made by me, and one by Evosuite-1.0.5.

Both tests have the same test case, in The Stack_ESTest.java ( made by Evosuite )  "test0"
In StackTest.java made by me, the equivalent method to test0  is "test" (the only test case in this calss)
![image](https://user-image

[2017-08-04 11:46] hcoles commented on #384
The problem looks to be triggered by setting separateClassLoader = true in Evosuite.

I'd need to spend a bit of time debugging this to understand what this does and why it causes a problem, but the issue can be worked around in the short term by setting it to false.

The behaviour is strange. Pitest looks to be executing the code (it shows coverage), but not registering the asserts.

[2017-08-05 09:07] eran505 commented on #384
Thanks Henry, after the change Pitest works on Evosuite test suite.

One last thing, i wonder if Pitest is deterministic, can you refer me to an article, or tell me in short details?

[2017-08-05 09:39] hcoles commented on #384
Pitest is fully deterministic if the code and tests fed into it are deterministic with just one caveat.

Pitest uses test execution times for two purposes

* Determining if an infinite loop has occurred
* Picking the order in which to run tests against mutants

As timings can be influenced by external factors (ie other programs running on the box) this can cause slight differences between runs.

[2017-08-05 10:17] sbuisson opened #385 "custom MutationFilterFactory and integration"
I see in the readme : "To use these plugins via maven add them as dependencies to the pitest-maven plugin (i.e **not** to your project dependencies) e.g"

Do you mean than if we want to use our own custom MutationFilterFactory, we should recompile the pitest-maven-plugin each times, with our own customisation?

[2017-08-05 11:07] hcoles commented on #385
There's no need to compile - you can set the dependencies at runtime.

There's an example in the branch of the project below that shows how to add the export plugin.

https://github.com/hcoles/triangle-example/tree/export_example

[2017-08-07 08:16] szpak commented on #276
@iwarapter It's fixed in PIT itself, but unfortunately it is broken in the current Gradle plugin version. You can see the discussion and a possible workaround [here](https://github.com/szpak/gradle-pitest-plugin/issues/50#issuecomment-276675197).

To get notification when this issue is fixed please subscribe to [#56](https://github.com/szpak/gradle-pitest-plugin/issues/56) (I propose to fix that i

[2017-08-13 10:44] davidburstromspotify opened #387 "Not possible to set jdwp arguments for child process"
In case there's an issue with the test suite pre-check, it would be most beneficial to be able to attach a debugger, especially if the "normal" test invocation passes. Typically, it should suffice to add a child process argument, e.g. `-Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=5005` to open a debugger port. However, because all the arguments to the child process gets split by the Op

[2017-08-16 11:18] unguiculus opened #388 "Maven plugin not marked @threadSafe"
We run our Maven builds with multiple threads in order to make them faster. Maven complains about the pitest plugin because it is not marked thread-safe.

[code]

Is just the annotation missing? Or does the plugin have issues running with parallel execution?

[2017-08-23 12:27] hcoles opened #389 "Junk mutation in lambdas"
As per the report here

https://groups.google.com/forum/#!topic/pitusers/D9wXNGlsozo

The compiler seems to implement null checks in lambdas by calling getclass

https://stackoverflow.com/questions/43115645/in-java-lambdas-why-is-getclass-called-on-a-captured-variable/43116722

This results in surviving junk mutants.

[2017-08-30 13:21] romani opened #390 ""Cannot allocate memory" in maven output but finally BUILD SUCCESS"
I am not sure if this a problem or expected/possible behavior.
in output of maven execution we receive:
`
stderr  : Java HotSpot(TM) 64-Bit Server VM warning: stderr  : INFO: os::commit_memory(0x00000000cd100000, 70778880, 0) failed; error='Cannot allocate memory' (errno=12)
`

But build is Succesful at the end. So it could be possible that pitest is damaged code is such way to cause OOM error in

[2017-08-30 21:20] eran505 opened #391 "saving the mutation files"
Hi,

Is there a way to save the mutation files. PIT probably deletes every mutation that it generated, so if there is a flag or change in the source code that, stop PIT from deleting the mutation classes.

thanks

[2017-09-01 19:20] hcoles commented on #391
PIT mutates bytecode in memory. It never writes anything to disc and does not generate mutated source files.

You can use the export plugin to write the binary files to disc along with the disassembled byte code, it will not generated source code however.

https://github.com/pitest/export-plugin

[2017-09-01 19:28] hcoles commented on #390
It looks like a mutation has caused a child jvm to run out of memory. Normally this would result in the mutant being marked with MEMORY_ERROR but it looks like the issue was severe enough to crash the JVM so it has been marked at a RUN_ERROR.

This is rare, but it is normal behaviour for pitest to continue. If you are only seeing 1 mutation causing a run error then there is probably nothing to wor

[2017-09-01 19:31] hcoles commented on #388
The plugin itself should be thread safe. I'm not 100% clear on what the semantics are for running maven plugins in parallel though. Trying to run two instance of the pitest plugin on the module would cause issues as they would duplicate the work and write to the same file. Two instances working on different input would be fine.

[2017-09-01 19:31] #385 closed

[2017-09-01 19:34] romani commented on #390
ok , lets close this issue for now and see how it will goes

[2017-09-01 19:34] #390 closed

[2017-09-01 20:31] bradflood commented on #388
The unit of concurrency is a maven module.

https://cwiki.apache.org/confluence/display/MAVEN/Parallel+builds+in+Maven+3
"This build-mode analyzes your project's dependency graph and schedules modules that can be built in parallel according to the dependency graph of your project."

Based on that, combined with your explanation that the pitest plugin can execute on different modules, it should be

[2017-09-06 11:03] szpak commented on #276
@iwarapter It should be fixed in just released version 1.2.2 of the plugin.

[2017-09-06 11:22] szpak opened #392 "Standardize classpath capitalization in PIT configuration"
The "classpath" word is capitalized differently in the PIT configuration. There is [`classPath`](https://github.com/hcoles/pitest/blob/32c1c1dc5de975078576763136d7d6dd5f1aa0b8/pitest-entry/src/main/java/org/pitest/mutationtest/config/ConfigOption.java#L114-L120) and `classPathFile`, but also [`includeLaunchClasspath`](https://github.com/hcoles/pitest/blob/32c1c1dc5de975078576763136d7d6dd5f1aa0b8/p

[2017-09-06 11:23] ronistern commented on #391
Thanks!
Is there a way to then tell pitest to use the exported mutants instead of generating them on the fly?

Thanksx2!

[2017-09-06 11:27] hcoles commented on #391
@ronistern Can you explain why you'd want to do that?

[2017-09-06 11:49] ronistern commented on #391
Sure - thanks for the quick reply!
eran505 and I are actually working together on a new test generation tool
(we're both academics, working towards on a research paper).

We're using Pitest to generate mutations and see count many are killed by our test generation tool.

The problem is we're running several variants of our tools and we're trying to see if we can speedup the process by generating t

[2017-09-06 11:54] hcoles commented on #391
Pitest will always generate the same mutants for the same input.

Generating them takes < 1 second even on large codebases. It would likely be orders of magnitude slower to read them off disc instead of re-generating them in memory.

[2017-09-08 13:17] sbuisson opened #393 "[SUGGESTION] number of tests remaining in the logs"
I use pitest on a big project. It take a lot of time, so I've this stack :

[code]

can I have some log like

 between the warnings?

[2017-09-09 16:57] szpak commented on #380
ASM 6 beta is already [available](https://search.maven.org/#artifactdetails%7Corg.ow2.asm%7Casm%7C6.0_BETA%7Cjar) in Maven Central. Shade plugin has been also adjusted to Java 9. Issue with Xstream seems to be valid, however, there are some Java 9 (loosely) related commits in master.

[2017-09-09 18:18] hcoles commented on #380
@szpak Master branch was updated to ASM6 a few weeks ago but I forgot to update this issue.

It all seems to work, but xstream triggers a lot of warnings.

This branch is 95% of the way to removing it -> https://github.com/hcoles/pitest/tree/no_xstream

But it it's a big change with some unexpected consequences.

Will most likely release the current master in the next few days and make a call on x

[2017-09-10 18:24] sgrimm-sg commented on #260
Kotlin classes that call Java methods that never return `null`, and where the return value is mapped to a non-nullable Kotlin type, cause PIT to flag `removed call to kotlin/jvm/internal/Intrinsics::checkExpressionValueIsNotNull → SURVIVED` which makes the test results kind of noisy.

I tried the naive approach of adding `checkExpressionValueIsNotNull` to the excluded methods list but that didn't

[2017-09-11 08:21] hcoles commented on #260
@christophsturm PR that's been left unmerged for some time now (sorry chris) would fix this, however the code base has moved on somewhat since he raised it. The new MutationInterceptor plugin is now the preferred way to deal with this kind of thing. It should be straightforward to port Chris' work across though.

[2017-09-11 08:32] christophsturm commented on #260
i will revisit my pr this week. been living without mutation testing too long anyway

[2017-09-13 18:50] stevedefazio opened #394 "Does Pitest work with Spock?"
First I'd like to say that I've used pit in the past with junit/mockito and it's worked great. But I recently tried to build a project that I'm testing with Spock (the source is all java, but the tests are groovy), and I'm getting 0% coverage, and the message "According to coverage no tests hit the mutation" on things that are most definitely covered. I'm using pitest-maven version 1.2. And when I

[2017-09-13 19:11] szpak commented on #394
Yes, it does. I have used PIT in that combination only in Gradle projects, but there is an Goovy/Spock [integration test](https://github.com/hcoles/pitest/tree/master/pitest-groovy-verification) in PIT codebase with Maven which configuration you can inspect.

[2017-09-13 19:43] stevedefazio commented on #394
Okay great, I was hoping it was a mistake on my end. Thank you!

On Sep 13, 2017 3:11 PM, "Marcin Zajączkowski" <notifications@github.com>
wrote:

[2017-09-14 16:20] stevedefazio commented on #394
I reviewed the example, and I was just being a dummy - I missed the maven-compiler-plugin for groovy. It works now.

[2017-09-14 22:07] szpak commented on #394
Great to hear :).

Btw, probably you can close this issue now.

[2017-09-14 22:12] #394 closed

[2017-09-17 17:28] hcoles commented on #388
Closing as released in1.2.3

[2017-09-17 17:28] #388 closed

[2017-09-17 17:34] hcoles commented on #380
1.2.3 has been released with ASM 6.

Leaving this issue open for now to track remaining/new Java 9 issues.

[2017-09-17 17:34] hcoles commented on #362
released in 1.2.3

[2017-09-18 08:17] hcoles commented on #362
Re-opening as some instances not being suppressed as expected.

[2017-09-18 10:20] theangrydev opened #396 "Do not create mutations that introduce unreachable code"
For example, mutating a conditional boundary can create unreachable code in this kind of scenario:
[code]

Mutating `x < y` to `x <= y` creates a branch that can never be hit, since the `==` branch is hit first in the equality case.

[2017-09-18 11:02] nespera commented on #396
I believe that is creating an equivalent mutation, because the code behaviour is not altered. Detection of equivalent mutations is non-trivial - there are people doing PhDs on this topic.

[2017-09-18 11:43] hcoles commented on #396
Yes, this is an equivalent mutation.

It is not generally possible to detect them, but there is value in filtering out specific types if they can be reliably be detected by static analysis without false positives.

I'm sceptical that it would be practical in this case, but the only way to find out for sure would be for someone to try and implement it.

[2017-09-19 11:37] j-n-white opened #398 "JUnit 5 support"
I've been looking at JUnit 5 and I was hoping PIT could be configured to run those test. Unsurprisingly without any configuration PIT does not detect the JUnit 5 tests. I had hoped however that configuring a Junit 4 runner would work (http://junit.org/junit5/docs/5.0.0-M3/user-guide/#running-tests-junit-platform-runner) but this again does not detect the tests.

I also tried adding org.junit.vinta

[2017-09-19 14:24] baratali commented on #374
@hcoles
I have a similar problem.
Pitest reports NO_COVERAGE warning on the following method: (sources simplified, I cannot provide exact code)
[code]
Warning:
[code]

However, this method is covered by many unit tests. And if I change it to 'return null', unit tests fail.
[code]

Other methods in the same class have no problems with NO_COVERAGE, although they are covered by the same unit tests.

[2017-09-19 14:38] damienbeaufils commented on #398
Thanks for this issue.
I have another example, using Gradle plugin:
[code]

You can find a sample project to reproduce the issue [here](https://github.com/damienbeaufils/clean-architecture-demo/tree/junit5). Just checkout `junit5` branch and run `./gradlew pitest`.

Thanks.

[2017-09-20 20:20] hcoles commented on #355
Finally got chance to take a look at this. With pitest 1.2.3 running via the maven plugin I'm not able to reproduce.

How were you running pitest?

[2017-09-23 17:12] hcoles opened #400 "Upgrade to ASM 6 release"
ASM 6 is now released and looks to include some bug fixes - pitest should upgrade from asm 6 beta.

[2017-09-25 04:22] forEachSurvived opened #401 "Why PiTest removed call to “forEach” SURVIVED, and how to fix it ?"
[https://stackoverflow.com/questions/46386599/pitest-removed-call-to-foreach-survived](https://stackoverflow.com/questions/46386599/pitest-removed-call-to-foreach-survived)

[code]

with manually modified source code as following -- test fails
`.forEach(entry -> {}); `

with modified code as following -- one more mutation created
[code]

I think mutation should be killed but it survived. I am look

[2017-09-25 08:32] display-none opened #402 "Please allow for user defined custom junit runner"
Hello,

right now suites ran with a custom runner (one that is not recognized by pitest) are not recognized and cause 0% coverage and mutation coverage on code tested by them. In my project we simply extended the `junitparams.JUnitParamsRunner`, but the new runner wasn't recognized by pitest.

I can see that you have a whitelist of custom runners that pitest can work with:
[code]

Could you please

[2017-09-25 08:49] hcoles commented on #401
It certainly looks as if the test should kill the removal of the forEach and in a trivial example I've just put together a similar test kills a similar mutation.

If you can package these code snippets up into a complete project (with build script) that reproduces the issue I'll take a look.

It also isn't obvious why the removal of callFunction would result in a timeout - again if you can create

[2017-09-25 11:04] forEachSurvived commented on #401
Creating the project with the content of the question did not reproduce the issue on my side either. Though in original project the issue is consistently reproduced which I will not be able to share due to some policies at the moment. One thing to note is that the original project encounters many time outs on unexpected lines of code.

I will try to extract the relevant code again and share if req

[2017-09-25 11:04] #401 closed

[2017-09-26 10:09] sbuisson opened #403 "No css in the report showed in jenkins (easy to fix)"
Hello:
Can you place the css of the html report in separated file?

Jenkins have a functionality who allow to archive some part of the workspace as "artifact" ( who will  easier to access than if they stay in the workspace- something tricky if you use pipeline-).

I want this functionality with pitest, in order to display the pitest-report
The issue is that jenkins forbid  "style-src self" for thi

[2017-09-26 19:54] fmobus opened #404 "cannot use avoidCallsTo to protect *calls* to certain methods from mutation"
I am facing a situation with pitest that is generating false positives in cases of logging messages. It is easier to clarify it with an example. Let's say I have the following code:

[code]

What is bugging me is that a mutation is generated for each of the calls to the logging methods, and it is clear that those mutations are not necessary. If, however, I inline the methods, the logging library a

[2017-09-28 13:03] danglotb opened #405 "Using PIT as a library, problem with coverage"
Hello all.

I am trying to use PIT as a library inside my own Java project.

I tried to run pit on a toy-project to understand how it works.

You can find a Piece of Code [here](https://gist.github.com/danglotb/81fb6ca6f2611afc038785077525bcee) (as a GitGist).

When PIT run, it first computes the code coverage of tests. It seems that PIT found the tests, but it results with no coverage.

We can se

[2017-09-28 15:10] hcoles commented on #405
If you can package the gist up into a project I can clone that reproduces the issue I can take a look.

[2017-09-29 06:24] danglotb commented on #405
Hello, thank you.

Please find a minimalist project to reproduce [here](https://github.com/danglotb/PIT-library)

[2017-09-30 13:25] hcoles commented on #405
Not immediate obvious what's wrong but I'll dig in when I get chance.

[2017-10-01 20:36] sbuisson opened #406 "[Amelioration]SCM goal for in a full Branch"
Hello, would'nt be a better use of the scm goal to do it for all the commits who are diff with another branch, instead with just the last commit? It would-be very usefull for the pull-request.

[2017-10-02 08:26] sbuisson opened #407 "[Bug] : SCM goal don't work in the module of a project:"
The method " findModifiedClassNames()" in the ScmMojo class don't work for the modules of a maven module project : some issue with the path: the name of the module appear two times:

/Users/sbuisson/workspace-perso/parentProject/moduleProject/moduleProject/src/test/java/com/example/MyRequestTest2.java

My scmRootDir is set at ../

I've this issue in the 1.2.1 version

[2017-10-02 18:27] hcoles commented on #400
released in 1.2.4

[2017-10-02 18:27] #400 closed

[2017-10-02 18:27] hcoles commented on #389
released in 1.2.4

[2017-10-02 19:35] SkittishSloth commented on #389
I just tested this against the latest release; I'm still getting "removed call to java/lang/Object::getClass → SURVIVED". The report does say (at the bottom) it was generated with 1.2.4.

[2017-10-02 19:38] SkittishSloth commented on #351
I know this is a little old-ish, but I completely second this. It'd be very nice to know what tests timed out. (Even if it's just more description in the command line output to start with, and then added to the reports later.)

[2017-10-02 20:07] hcoles commented on #389
Well, that will teach me to close issues myself.

The fix was tested against the originally reported example and should catch any call to getClass in a synthetic method. So either you're seeing a slightly different scenario or I've done something stupid.

Can you post an example of code where you're still seeing this?

[2017-10-02 20:44] sarahBuisson commented on #407
https://github.com/hcoles/pitest/pull/408

[2017-10-02 21:06] SkittishSloth commented on #389
I'm having "technical difficulties" with my work laptop at the moment, so I'll try and get an example here ASAP but might be a bit. However, it *does* look like your fix took care of most of the scenarios - there is definitely a lot fewer instances.

At the moment, the only real pattern I can see is that *some* of my calls using a method reference are triggering it. Going off vavr again (from the

[2017-10-02 21:09] SkittishSloth commented on #389
I'll need to double check, but I *think* it also only occurred when there were no other mutations. I might be wrong, but it's worth mentioning if you're able to look a little before I can get my laptop up and running again.

[2017-10-02 21:22] sarahBuisson commented on #406
I've implemented it here: https://github.com/hcoles/pitest/pull/409

[2017-10-02 21:53] SkittishSloth commented on #389
Okay, you can ignore a good chunk of what I've posted - it *does* happen during the .onSuccess call, and it *does* happen with multiple mutations (which I figured, but the only examples I'd found were where it was the only mutation).

Very simple reproduction, using vavr and an SLF4J logger:

[code]

This will generate two mutants, a removal for Try::onSuccess, and a removal for Object::getClass.

[2017-10-03 12:15] hcoles commented on #389
Ok, should be easy to reproduce then.

Since it's clear that the getClass call isn't being generated in a synthetic method there is a good chance that it will not be possible to distinguish it from one created by a programmer putting a pointless call to getClass into their code.

This means there will need to be a choice in behaviour between never mutating calls to getClass that disguard the retur

[2017-10-03 16:06] smoyer64 commented on #398
Related to #284.

[2017-10-06 10:09] hcoles opened #411 "Could CDS be used to speedup analysis?"
Given that pitest launches many jvms, could CDS be used to speed things up either as a recommendation to users or as something that is applied automatically?

https://docs.oracle.com/javase/9/vm/class-data-sharing.htm#JSJVM-GUID-EC975B2E-B4AB-45B4-B91F-51C3A264D0CE

[2017-10-07 12:43] sarahBuisson opened #412 "[BUG] scm goal don't work if the classes updated are test"
Hello,

I've create a project to illustrate the scmMutationCoverage Goal : https://github.com/sarahBuisson/pitest-scm-test/branches

The issue is in the branch  https://github.com/sarahBuisson/pitest-scm-test/tree/updateTestCoveringNoCoveredClassOnMaster:

The last commit update only the test-file. Consequently no classes will be mutated.

I propose a solution, but I'm not sure how to implement-it

[2017-10-09 11:14] sarahBuisson commented on #412
@hcoles Another solution would be to have the ability to have custom Interceptor, in order to filter the tests.

[2017-10-10 14:01] FaustXVI commented on #284
Hi,
Just so you know, Junit 5 have been released. I'd happily help on this issue as much as I can.

[2017-10-10 15:37] hcoles commented on #412
Thanks for the report - I think this was a known issue when the SCM goal was first implemented but I doubt the reasoning has been documented anywhere.

I'm not really sure what the "correct" behaviour should be.

I don't think your suggestion of merging two runs would quite work. The 2nd run would result in a lot of surviving mutants in classes unrelated to the test.

What's needed is a report on

[2017-10-11 10:40] hcoles commented on #284
There is a working version of @tobiasstadler's plugin at

https://github.com/pitest/pitest-junit5-plugin

The binaries haven't been released to maven central yet.

It pulls in a dependency on a specific version of JUnit 5, which isn't quite right. Pitest is meant to try and use the version of junit on the analyzed project's classpath (although there have always been issues in this area).

[2017-10-11 12:02] smoyer64 commented on #284
That plugin doesn't run even with the specific version of JUnit 5 he's hard-wired in.  Curiously, I get a different error when running in Eclipse versus Maven.  I spent quite a bit of time trying different settings hoping to have an example running for @boyarsky's "Intro to Mutation Testing" talk at JavaOne.

[2017-10-11 19:28] smoyer64 commented on #284
Using your forked version of the JUnit 5 plugin, I get the same error in Eclipse but with Maven I get:

[code]

I'm hesitant to keep "piling on" to this issue and since the fork is different from the original plugin, adding an issue to that issue tracker doesn't make much sense.

[2017-10-17 07:01] danglotb commented on #405
Thank you @hcoles

[2017-10-17 15:41] FaustXVI commented on #284
As a first step, I'll try to make JUnit 4 tests running through JUnit 5 runner work and make a PR. What do you think ?

[2017-10-17 16:39] smoyer64 commented on #284
My issue running Pitest via Maven seems to be related to how the classpath.  Normally you and add dependencies needed by a plugin within the plugin definition leaving only the dependencies needed by the test defined in the ```<dependencies>``` section.  Moving these dependencies seems to have allowed Pitest to run.

I wasn't so lucky with Running Pitest within Eclipse but it wouldn't surprise me i

[2017-10-23 09:40] hcoles opened #415 "SCM goal still defaults to group name for filtering tests"
When running from maven pitest used to default to using the group id when no filter was supplied.

This was updated to instead scan the project and detect the actual packages present - it looks like the SCM goal was missed however as it still uses the group id when no target tests are defined.

Some thought will need to be given when fixing this about what the correct behaviour should be.

[2017-10-23 20:28] hcoles commented on #403
Should be fixed in next release thanks to PR from @kiftio

[2017-10-23 20:30] hcoles commented on #256
Should be fixed in next release thanks to PR from @kiftio

[2017-10-23 20:41] #348 closed

[2017-10-30 04:05] scalderwood opened #416 "PIT is failing to identify all the available tests to run mutants against"
Hello,

I believe I've found an instance where PIT is not identifying all the available tests to run mutants against. This happens when running PIT against a Spring Boot application where there is a POST end point and CORS configuration for that end point. There are separate tests for the controller end point itself and also for the CORS configuration. If the controller end point test is not @Igno

[2017-10-30 10:47] hcoles commented on #416
Thanks for raising this.

I've taken a quick look at example project you provided. I've not got my head around it yet (and I'm seeing different behaviour than you) buy I suspect the the issue is a test order dependency that affects the coverage targeting.

My (entirely unconfirmed) assumption is that the SecurityConfiguration is being constructed once per test suite and used by all the tests that

[2017-10-30 17:11] hcoles commented on #416
After a play over lunch this looks to be a spring test issue.

Spring test keeps a cache of the context - only one (CGI modified) instance of the SecurityConfiguration class is constructed for the suite, then re-used for all tests.

If I mutate just the SecurityConfiguration class with

[code]

Then all mutants survive as, although pit modifies the SecurityConfiguation class in memory the code tha

[2017-10-31 00:09] scalderwood commented on #416
Thank you for looking into this so quickly and finding the issue. Following your suggestion, I've also been able to prove out that @DirtiesContext resolves the issue. It sounds like the necessary course of action in general is for any Spring test that uses the application context to also use @DirtiesContext. I wonder if it would make sense for Spring developers to have a wrapper around mutationGoa

[2017-10-31 00:09] #416 closed

[2017-10-31 10:07] hcoles commented on #416
It would be nice if spring provided a way to completely disable context caching - from the point of view of pitest this would ideally be a system property. It would then be trivial for pitest to set this by default.

A scan through the issues suggests that exactly this has been suggested before, but closed as won't fix.

Something that almost, (but not quite) works has been implemented. The size o

[2017-10-31 18:58] Djaler commented on #398
What about this feature?

[2017-11-06 15:02] JayGreeeen opened #417 "PIT not correctly avoiding calls to class."
In my pom.xml file, I have specified that the pitest avoid calls to the class;
![screen shot 2017-11-06 at 11 01 27 am](https://user-images.githubusercontent.com/23079941/32438644-32a46b6a-c2e3-11e7-99b5-5aad0d432538.png)

One of the calls to a method in this class spans across multiple lines, and PIT is not recognizing that it should be ignored and so is mutating this code and producing multiple

[2017-11-11 19:52] sarahBuisson commented on #41
+1

[2017-11-12 18:45] bcisneros commented on #310
@theangrydev Did you open an issue to include this feature?
I am interested to have this feature, so if you need some help please let me know or I can create and work on it if you don't mind.

[2017-11-12 19:35] theangrydev commented on #310
No, I have not had the chance to look at this. Feel free to take ownership of it :+1:

[2017-11-13 03:03] bcisneros commented on #310
Thanks. Did you have any start point I need to check? If not, don't worry I will check the project structure to learn from scratch.

[2017-11-13 09:21] theangrydev commented on #310
You could start by looking at how the [existing mutators](https://github.com/hcoles/pitest/tree/master/pitest/src/main/java/org/pitest/mutationtest/engine/gregor/mutators) are implemented.

[2017-11-13 14:16] bcisneros commented on #310
Cool, thanks again

[2017-11-17 10:39] danglotb commented on #405
Hello

Did you have the change to have a look?

Thank you.

[2017-11-17 16:38] hcoles commented on #405
I don't yet understand why this causes a problem, but the issue looks to be the use of a lambda to specify the target classes.

If you replace

[code]

[code]

Everything works fine.

[2017-11-17 20:25] triceo commented on #380
From my experiments, it seems like #48 is back. On Java 9, the following code shows a whole lot of survivors that aren't there when the same code is run on Java 8:

https://github.com/RoboZonky/robozonky/blob/master/robozonky-integration-zonkoid/src/main/java/com/github/robozonky/integrations/zonkoid/Util.java#L30

[2017-11-23 23:18] skapral opened #420 "Make pitest ignore the coverage of synthetic methods?"
I have a class, covered by tests on 100% line and mutation coverage. Using Javassist, I generated one static private synthetic method there. As a consequence, I got line coverage drastically reduced - pitest reports much more branches to cover than it was before adding synthetic method. Mutation coverage for that class remains the same. It seems like Pitest is trying to measure synthetic methods a

[2017-11-23 23:34] skapral commented on #420
Seems like I found an answer to my first question. Adding a quick hack to `org.pitest.classinfo.BridgeMethodFilter` to ignore the methods with ACC_SYNTHETIC attributes solved my problem. So - the second question remain: Isn't it worth to replace or enhance `BridgeMethodFilter` with new `SyntheticMethodFilter`?

[2017-11-24 09:55] hcoles commented on #420
It's not quite as simple as that - there are corner cases where pitest needs to gather the coverage for synthetic methods, for example Java 8 will place some code from lambdas that should be eligible for mutation into synthetic methods.

I think lambdas may now be the only corner case. This filtering code pre-dates Java 8 (and probably Java 7 and possibly Java 6), I think the original reason it di

[2017-11-24 13:04] skapral commented on #420
I also thought of another possible solution. Instead of filtering methods by synthetic flag, filter them by the absence of line number table (maybe make an option for enabling/disabling it). Like, what is the reason to calculate coverage for methods that don't have line numbers if they won't produce any readable feedback in reports anyway.

[2017-11-26 09:44] eran505 opened #421 "code coverage in CSV output"
Hi,
When i assign in the <outputFormat> CSV </outputFormat> i don't get LINE COVERAGE, unlike the HTML format. Can the CSV output format present also code coverage by changing some parameters ?

Thanks

[2017-11-26 15:04] hcoles commented on #421
At the moment all output formats apart from HTML contain only mutation info without line coverage data.

[2017-11-27 17:56] alexrosenfeld10 commented on #267
@nespera Not sure if you've found this, but there's a project [here ](https://github.com/sugakandrey/scalamu) that offers support. I know this doesn't solve the issue at hand, but may work as a placeholder until pitest has Scala support.

[2017-11-28 19:23] Pr0methean opened #422 "Java 9 illegal reflective access to TreeMap.comparator"
When running on Java 9, I get this warning repeatedly:
[code]

[2017-11-28 19:28] Pr0methean commented on #422
Since this class appears to actually be  com.thoughtworks.xstream.core.util.Fields renamed (http://www.docjar.com/html/api/com/thoughtworks/xstream/core/util/Fields.java.html), you may be able to fix this by updating the dependency version of Xstream.

[2017-11-28 20:39] hcoles commented on #422
Pitest currently relies on xstream heavily, unfortunately it doesn't seem likely that xstream will be updated to avoid the reflective access warning (which will eventually become an error) any time soon.

The plan is to migrate away from xstream. An (almost) xstreamless version of pitest lives in this branch

https://github.com/hcoles/pitest/tree/no_xstream

It's a pretty major change, and involve

[2017-11-29 21:18] hcoles commented on #389
1.2.5 has just been released. It replaces the check that the method is synthetic with a check that the POP after the get class call is not immediately followed by a new label. This seems to be able to distinguish between the compiler generated case and a manual dead getClass call.

If some junk mutations still get through I'll drop the check for the label as the junk ones will probably be more com

[2017-11-29 21:24] #256 closed

[2017-11-29 21:24] hcoles commented on #407
released in 1.2.5

[2017-11-29 21:24] #407 closed

[2017-11-29 21:25] hcoles commented on #403
released in 1.2.5

[2017-11-29 21:25] #403 closed

[2017-12-01 13:04] hcoles opened #425 "For each filter misses common cases"
Currently only picks up iteration over loops

[2017-12-04 16:04] hollesse commented on #404
same issue here!

[2017-12-05 12:28] hcoles opened #426 "Maven package detection misses tests in different packages"
The maven plugin no longer assumes that classes will be in packages that match the group id, and instead scans the target/classes to build a list of packaged.

The target tests is also be set to this list, excluding any tests that do not live in a package that exists in the production code tree.

This is often fine, but will miss tests for some projects.

[2017-12-05 22:53] hcoles commented on #284
I've just released an initial version of @tobiasstadler's plugin to maven central.

https://github.com/pitest/pitest-junit5-plugin

This has been tested via maven against a couple of github projects using the juniper api without encountering  any issues.

[2017-12-05 23:04] hcoles commented on #398
Closing as JUnit 5 support is tracked on #284.

[2017-12-05 23:04] #398 closed

[2017-12-09 17:58] christophsturm commented on #284
btw the api is called jupiter, not juniper.

[2017-12-12 11:37] shaun-w commented on #284
Thanks for the plugin Henry... it seems to work perfectly on the Junit 5 tests now.  Quick question - I have a project with mixed JUnit 4 and 5 tests (new tests are written in JUnit 5, while slowly migrating the older JUnit 4 ones)... however, when I include the pitest-junit5-plugin as a dependency to the pietist-maven plugin as you've outlined... it seems to ignore the JUnit 4 tests (so the cover

[2017-12-12 11:46] oscarlvp commented on #323
You can try [this maven plugin](https://github.com/STAMP-project/pitmp-maven-plugin) for running PIT in multi-module projects. It would be nice to have some feedback.

[2017-12-12 12:10] hcoles commented on #284
Thanks should be directed to @tobiasstadler who did all the work.

That is currently expected (but not desirable) behaviour. I *think* the only thing currently tieing the plugin to the jupiter api is test class identification.

As discussed in this PR this is a hangover from the early days of pitest

https://github.com/pitest/pitest-junit5-plugin/pull/2

It may be possible to change the junit 5 pl

[2017-12-12 12:44] shaun-w commented on #284
Ah, sorry my bad... thanks to @tobiasbaum.

And thanks for the update just now on the PR, for my case I'll probably migrate our JUnit 4 tests to Junit 5 anyway.

[2017-12-12 14:12] romani commented on #375
the same problem for `coverageThreshold`, 100 in config does not trigger build failure when come class is covered a bit lower than 100.
Post processing of report by "grep/...." is required to enforce 100 always, and have no leak.

[2017-12-12 14:22] hcoles opened #428 "Allow exclusion of test classes by name"
The excludedClasses parameter currently excludes classes both from being mutated and from being executed as tests.

In order to simplify the codebase and provide better support for JUnit 5 the old mechanism of separating classes on the classpath into tests/not tests needs to be removed. This mechanism is now only needed in three corner cases

* Legacy builds that do not compile tests and productio

[2017-12-13 04:29] shahamish150294 commented on #426
If I am understanding this correctly, this maven-plugin considers only those tests that fall under "projectId.groupId.*"
But a test may be there in some other package like "projectId.xyz.groupId.*" and that test is ignored.
 Am I right?

When I ran 'mutationCoverage' goal, I was expecting targetTests to be set to the same package as targetClasses at
[https://github.com/hcoles/pitest/blob/master/pi

[2017-12-14 13:58] hcoles commented on #379
If support for this feature is added again in the future process isolation should be used used instead of classloader isolation. This will likely be slower, but it will also be more robust and result in less complex code.

[2017-12-14 21:48] sarahBuisson commented on #428
you should add it to the doc of the pitest.org website.

[2017-12-14 22:25] sarahBuisson opened #430 "Resources in a lib not found when launched by pitest."
When a test-classe use a resource who is contained in a lib, the resource is found when the test run without pitest but is not found when launched by pitest.

It cause a lot of fail of pitest

a sample here: ( in the branche resourceBug)

https://github.com/sarahBuisson/pitest-xebicon-demo/tree/resourceBug

[2017-12-15 01:43] romani opened #431 "Uncovered line over class declaration"
Problem is like:
![image](https://user-images.githubusercontent.com/812984/34022726-bd68b62c-e0f5-11e7-9ae6-f2f4488362a7.png)

this class is has 100% mutation coverage, but few lines are are "uncovered".

html code is:
[code]

Unfortunately I can not share whole project to ease reproduce problem.
If you know how to get more details on such weird please let me know.
Any workaround is appreciated.
W

[2017-12-15 02:54] lotsabackscatter commented on #278
I found that if I ran _mvn **compile** org.pitest:pitest-maven:mutationCoverage_ to ensure that the groovy files were converted to Java first, then it worked ok.

[2017-12-15 11:40] hcoles commented on #431
The uncovered line will be in the default constructor generated by the compiler - I'm guessing that Estimator contains only static methods and is never constructed?

[2017-12-15 15:19] hcoles commented on #196
The next release will raise the minimum Java version to 7.

[2017-12-15 16:04] hcoles opened #432 "Move export plugin into main codebase"
The export plugin is useful for debugging, now that minimum java version has been raised to 7 nothing prevents it from being moved into the main codebase for convenient use.

[2017-12-16 22:29] #422 closed

[2017-12-20 22:56] Stephan202 opened #434 "XStream security warning in version 1.3.0"
I just gave the new 1.3.0 release a spin with the following Maven config:
[code]

Now the plugin prints:
[code]

Version 1.2.5 didn't do this. The plugin works fine otherwise, but the warning might scare some users.

[2017-12-21 09:09] hcoles commented on #434
That does not look good - thanks for reporting.

The longer term plan is to remove xstream completely, but I'll push out a release soon that reverts the version to dodge the version.

Guess I should also start using Java 9 locally.

[2017-12-21 21:02] #432 closed

[2017-12-21 21:02] #434 closed

[2017-12-21 21:03] #428 closed

[2017-12-21 21:04] #405 closed

[2017-12-21 21:04] #379 closed

[2017-12-22 02:48] facanferff opened #435 "NPE when using goal org.pitest:pitest-maven:mutationCoverage"
When using PIT with a jUnit test that deploys a Wildfly Swarm server that uses EJB and makes a HTTP request to an endpoint (given the service uses EJB) that attempts to create a MazeGetData (the only class I set in targetClasses), I get the following stacktrace (using the goal org.pitest:pitest-maven:mutationCoverage):

[code]

[2017-12-22 02:50] facanferff commented on #435
To augment this, the code of MazeGetData is (line 40 is the first public MazeGetData()):

[code]

[2017-12-22 22:16] romani commented on #431
thanks a lot, but some classes do have no-default c-tor
![image](https://user-images.githubusercontent.com/812984/34313756-6e856ab8-e722-11e7-80d8-1be87a66f8af.png)

from JDK spec https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.8.9

any other ideas ?

[2017-12-28 17:00] orfjackal commented on #345
This has been fixed in Retrolambda 2.5.3

[2018-01-08 18:49] asm0dey commented on #260
Hey guys! Any news on this?

[2018-01-08 20:10] hcoles commented on #260
I did in fact do a bit of work on a kotlin plugin a few weeks ago. I'm struggling now to remember what I did with it and what state it was in.

[2018-01-08 20:15] asm0dey commented on #260
@hcoles well, for me even @christophsturm -style hack will work :)

[2018-01-08 20:27] christophsturm commented on #260
I also looked at my branch yesterday. But I agree that it should be a
plug-in. Can you post what you have to make sure we don’t do duplicate work?

Paul <notifications@github.com> schrieb am Mo. 8. Jän. 2018 um 21:15:

[2018-01-08 20:41] hcoles commented on #260
I'll post it when I've found it.

[2018-01-09 12:47] hcoles commented on #260
Ok, it's uploaded here

https://github.com/pitest/pitest-kotlin

I'm afraid I can't remember what state I left it in or how scrappy a job I was doing, but help on getting into a usable state would be very much appreciated.

I don't think I did anything to deal with the calls to internal.intrinsics - but that should be very easy to add.

Pitest 1.3.0 also included an important change to improve kot

[2018-01-09 16:34] asm0dey commented on #260
Thank you very much!

As of now I can't access pitest-kotlin, but it was enough to enable
NEW_DEFAULTS and add

[code]
to maven config to disable these obsolete checks

вт, 9 янв. 2018 г. в 15:47, Henry Coles <notifications@github.com>:

[2018-01-09 16:34] christophsturm opened #436 "junit5 plugin v0.3 does not find tests"
I'm filing this here because issues are not enabled in the junit5 plugin repo.

with pitest 1.2.5 and junit plugin 0.2 everything runs fine for me. updating to pitest 1.3.1 and plugin 0.3 it does not find any tests.

[code]

[2018-01-09 17:04] hcoles commented on #436
Can you post a link to a minimal project that reproduces the issue?

[2018-01-09 17:53] christophsturm commented on #436
i forgot to mention that it's a kotlin project. but it did work with older pitest and older plugin
https://github.com/christophsturm/pitest-gradle-it

[2018-01-10 11:41] hcoles commented on #436
It looks as if the autodetection of the junit-5 plugin is not working when running via gradle and pitest is defaulting to legacy junit. This is most likely a bug on the pitest side. It should be possible to work round it by setting the test plugin explicitly, but unfortunately the gradle plugin hasn't yet been updated to support the new parameter.

I've raised an issue here.

https://github.com/sz

[2018-01-10 13:18] ftrautsch opened #437 "Filtering executed methods of targeted tests"
Hi,
for a research project of mine I needed to be able to filter the executed tests of a test class. I did not find any way to accomplish this using the current development version of pitest. Hence, I implemented a new configuration parameter for pitest in which I am able to put in a name (or names) of a test method and pitest only executes these methods for the targeted tests.

For example, I hav

[2018-01-11 09:45] hcoles commented on #437
I think this would be a useful feature but it might not be as straight forward as it seems. What constitutes a test "method" varies depending on the test frame work, runner etc. Concepts such as BeforeClass and AfterClass might also complicate things.

[2018-01-11 10:16] ftrautsch commented on #437
That is true. My idea was to inject the code into the *TestUnitFinder classes. There, I implemented something similar to the Category-based filtering mechanism.

After the list of TestUnits in the "findTestUnits" method is created, I filter them based on their name (see below)

[code]

As I am not that familiar with all the corner cases that might exist this solution might not work for everything.

[2018-01-11 10:49] hcoles commented on #437
Seems pretty reasonable.

[2018-01-12 10:19] MLacos opened #439 "PrimitiveReturnsMutator cannot handle byte"
Hi,

When I have a function that has the byte return type than and activate the PrimitiveReturnsMutator an  IllegalStateException rises which tells me that it does not return an integer type.

When I looked around in the code I found this piece which seems to cause it for creating a message. This is found in org.pitest.mutationtest.engine.gregor.mutators.PrimitiveReturnsMutator.

When adding a cas

[2018-01-12 14:15] hcoles commented on #439
That's not good. Thanks for reporting.

[2018-01-13 12:20] christophsturm commented on #436
i made a pr for the gradle plugin to add support for testPlugin.

one thing I'm not sure about: how can i specify two plugins? for example when i want to use the kotlin plugin and the junit5 plugin.

[2018-01-13 15:10] hcoles commented on #436
Generally pitest plugins are activated just by adding them to pitest's classpath, so using the kotlin plugin and another plugin is just  question of putting both of them on the classpath.

Test plugins are a special case - pitest needs to be told which one to use as only one test plugin can be active at a time (and the default junit4 plugin will always be present).

[2018-01-13 15:12] christophsturm commented on #436
Thanks, that makes sense.

[2018-01-18 20:27] sarahBuisson opened #440 "[EVOLUTION, will help in the big & complexe project] add a way to skip a test who is failing"
Can you add a propertie in the maven conf who allow to ignore the failing test? ( and don't count their coverage/result in the coverage?)

A lot of projects (specificaly a lot of Real complexe and legacy project who go in prod) have test who fail only when pitest launch them, it will allow this project to still compute a mutation coverage

[2018-01-18 20:29] sarahBuisson opened #441 "[evolution] link to the test implementation"
Can you add a maven propertie who will contain an url to the project source ( github or file://) , in order to, when you click on a test in the pitest report, it will open the test file?

[2018-01-21 09:23] rossdrew opened #442 "Reporting mutation surviving which should not"
In one of my tests, [I create a memory object, then `reset()` it, setting all that memory to 0](https://github.com/rossdrew/emuRox/blob/master/src/main/java/com/rox/emu/mem/SimpleMemory.java#L24).

I have a test, which [confirms that memory is set to 0 and not empty](https://github.com/rossdrew/emuRox/blob/master/src/test/java/com/rox/emu/mem/SimpleMemoryTest.java#L23).

Pitest reports the line do

[2018-01-21 12:11] hcoles commented on #442
Your test uses the `assert` keyword instead of a test assertion.

If the JVM is not run with the -ea flag then none of the code within the assert statement is executed - the assert is effectively commented out.

It would appear that the gradle test runner is setting the flag in the when running the tests.

Pitest does not set the flag so that this type of test error is revealed.

[2018-01-21 18:48] #442 closed

[2018-02-02 18:45] hcoles commented on #439
Fixed in 1.3.2 release

[2018-02-02 18:45] #439 closed

[2018-02-06 09:12] damienbeaufils opened #443 "[bug] translateCheckedException after upgrading to v1.3.2 (works fine with v1.3.1)"
Hello,

I try to upgrade pitest to the v1.3.2 version, but I encounter an error when running `pitest` task:
[code]
Full build log available here: https://travis-ci.org/damienbeaufils/clean-architecture-demo/jobs/337914818

When reverting to v1.3.1, [it works fine](https://travis-ci.org/damienbeaufils/clean-architecture-demo/jobs/337914152).

How to reproduce this:
* Checkout this `pitest-1.3.2` br

[2018-02-06 12:09] hcoles commented on #443
Looks like the junit5 plugin needs a change as a result of #438.

[2018-02-06 19:53] hcoles commented on #443
Just released 0.4 of the junit 5 plugin which should fix the issue.

[2018-02-07 09:13] damienbeaufils commented on #443
Works fine with pitest-junit5-plugin v0.4! Thanks!

[2018-02-07 09:13] #443 closed

[2018-02-10 13:44] DrBAXA opened #444 "JUnit 5 @ParametrizedTest is ignored"
Parametrized tests from JUnit 5 are not running by pitest.

[2018-02-11 14:09] hcoles commented on #444
Thanks for reporting - could you post a link to a minimal project that reproduces the issue?

[2018-02-16 16:17] JonasDralle opened #446 "Website link to IDEA plugin outdated"
on http://pitest.org/links/ the link to the intellij plugin is outdated

intelliJ plugin URL
Is:
http://plugins.intellij.net/plugin/?idea&pluginId=7119
Should be:
https://plugins.jetbrains.com/plugin/7119-pit-mutation-testing-idea-plugin

EDIT: only the intellij link is outdated

[2018-02-16 21:17] szpak commented on #446
@JonasDralle The summary of that issue suggest that a link to the Gradle plugin is outdated, but it's not.

[2018-02-17 10:36] JonasDralle commented on #446
How so? "A and B oudated" is clearly visible.
You can suggest a better title.

[2018-02-17 20:23] szpak commented on #446
Maybe I didn't get it correctly, but the summary suggests that links to the gradle plugin and the idea plugin for PIT are outdated. However, the link to the Gradle plugin is correct.

Maybe you wanted to write:

?

[2018-02-19 14:50] JonasDralle commented on #446
You're right. When I tested it the gradle URL was unable to resolve - probably my bad.
I changed the title and ticket description accordingly.

[2018-02-19 15:08] hcoles commented on #446
@JonasDralle Thanks - now fixed.

[2018-02-19 15:08] #446 closed

[2018-03-06 19:10] eran505 opened #449 "The mutation don't have a unique identifier ( CSV output )"
Hi
Is it possible that on the CSV output the mutation don't have a unique identifier, in other words, i have duplicate rows in some of the mutations that PIT generated on a given class.

Thanks

[2018-03-09 18:01] monperrus opened #450 "question: how could we create a source-code level mutation engine?"
Some mutation operators are easier to be implemented at the source code level than at the bytecode level.

How could we create a source-code level mutation engine for Pit?

[2018-03-09 20:11] hcoles commented on #450
This would require some re-work to how PIT operates. The main thing that would need to change is how mutations are passed to the the child processes.

At the moment the child processes are passed a unique id which they can use to re-create them. This is lightweight in terms of both memory and cpu as bytecode manipulation is fast.

To process source based mutants this would need to change. The most

[2018-03-11 20:43] monperrus commented on #450
Thanks a lot for the detailed answer.

Would you be interested in a pull request that would add support for source code level mutants? Would you consider merging it?

[2018-03-11 21:15] tobiasstadler commented on #444
I think https://github.com/pitest/pitest-junit5-plugin/pull/5 should solve it

[2018-03-12 07:22] #444 closed

[2018-03-12 09:49] hcoles commented on #450
In principle yes, but it would depend on the details of the PR (properly tested, conforms to coding style etc etc).

I think this would need to be done in two parts

1. A PR with the changes required to allow a source based engine.

This PR would need to include the results of performance tests run before and after the change (both using the default mutation engine) against some real codebases suc

[2018-03-12 17:24] monperrus opened #451 "question: how to add plugin repos under https://github.com/pitest/?"
In our group, we are writing plugins for pitest that may be useful for others, and for which we'd be very happy to welcome external contributions.

The best place to be visible and attract contributions would be under the pitest organization.

What's the process to propose new repos under https://github.com/pitest/?

[2018-03-12 17:25] monperrus commented on #450
OK, that's clear, thanks.

Interesting, this raises a question about the pitest ecosystem https://github.com/hcoles/pitest/issues/451

[2018-03-12 17:25] #450 closed

[2018-03-16 09:10] kujma10 opened #452 "Is there any way to exclude a specific test (not a whole file)?"
`excludedTestClasses` -excludes the whole file. But I want to exclude only specific test like `com.example.TestFile:Test` is there any way to achieve that? I am using Maven.

[2018-03-20 12:16] rnveach opened #453 "IllegalArgumentException with no reason"
I am trying to add pitest to my project. It is not maven so I am using the command line through a Main class inside the classpath of my project. My project is split into multiple projects because it is a web application so I am just starting off we it executing on a single class and test.
When running this, I get an IllegalArgumentException with no reason and the program just ends abruptly.

My ma

[2018-03-20 14:40] rnveach commented on #453
It turns out struts' own ASM jar was interferring with pitest. As soon as I changed the order of dependencies for pitest to got past that exception.
However it gave me a new exception `NoClassDefFoundError: org/apache/commons/codec/binary/Base64`. I included `commons-codec-1.9.jar` and pitest finally ran to completion.

This actually has to be `baseLocation + "\\area1"`. pitest traverses the direc

[2018-03-29 02:29] rnveach commented on #404
+1

There should be a an option to exclude a specific method call from mutations.
Pitest knows the name of the method and the class it is located in, so we should be able to create an expression to match against it.
`removed call to com/my/company/ClassName::methodName → SURVIVED`

[2018-03-30 09:42] laurentlr opened #455 "Is Pitest compatible with Spek ?"
Hello,

I have some code in Java, and I test it with Spek in Kotlin.
But Pitest tells me there is No Coverage on all my code tested with Spek.

Since Pitest modify the code and run the tests again, it should be able to work with any kind of tests right ?

[2018-03-30 10:05] hcoles commented on #455
Pitest has not been specifically tested with Spek, but in theory it should work out of the box if you are using it via JUnit and a RunWith annotation, or with the addition of the Junit5 plugin if you are not.

https://github.com/pitest/pitest-junit5-plugin

That said there could be issues as you might be the first person to try it.

[2018-04-04 11:12] monperrus commented on #451
@hcoles do you have any input on putting repos under https://github.com/pitest/?

Thanks!

[2018-04-04 18:04] UrsMetz commented on #451
@monperrus I think you can create a pull request against https://github.com/hcoles/pitest-site with your proposed updated list of plugins.

[2018-04-04 18:07] UrsMetz commented on #451
@monpress sorry I misunderstood your question, I guess it is up to @hcoles to create new repos under the pitest organisation.

[2018-04-05 07:13] monperrus commented on #451
Thanks Urs for the insight. We're looking forward to @hcoles input on that community topic.

[2018-04-05 18:24] hcoles commented on #451
We're happy to include things in the org (and welcome the work and contribution) but also want to avoid having projects under it that are not in a usable state.

At the moment there is no defined process for putting something under the org, but a simple approach that should work would be for people to go through the following steps.

1. Create a repo elsewhere on github
2. Produce enough code to d

[2018-04-05 19:29] monperrus commented on #451
Excellent.

That's clear, thanks. I would only suggest to move the repo instead of forking, because 1) Github handles this very well (all links are kept, etc) and 2) it avoids confusion (only one issue tracker, etc.)

We will open an issue :-)

[2018-04-05 19:29] #451 closed

[2018-04-09 13:14] oscarlvp commented on #376
@NicoleRauch please take a look at [pitmp](https://github.com/STAMP-project/pitmp-maven-plugin) a plugin to target similar situations.

[2018-04-09 22:14] sujittripathy opened #458 "pitest 1.3.2 not recognizing tests with test-ng 6.13?"
Is pitest 1.3.2 supported with test-ng 6.13? When I am using test-ng 6.13 I am seeing there is no test recognizing by pitest where as it's working beautifully with Junit 4.12. Is this an known issue?

Snippet of pom.xml
----------------------

[code]

[code]

[2018-04-09 22:31] szpak commented on #458
Starting with 1.3.0, TestNG needs to be explicitly enabled. From the README/changelog:

[2018-04-09 22:59] sujittripathy commented on #458
Great. It worked fine after adding JVM parameter.

[2018-04-09 22:59] #458 closed

[2018-04-10 08:53] slaout opened #459 "Feature Request: Show list of imperturbable tests"
First, thanks very much for this wonderful tool!

In reports, it would be nice to show a list of tests that were killed by NO mutation AT ALL.
Or better: a sorted list in increasing order of number of mutations that killed the test.

Eg.:

Kill# | Test
0 | com.company.Test1.testA()
1 | com.company.Test2.test()
7 | com.company.Test1.testB()

Here, Test1.testA() was never killed by any mutation and

[2018-04-12 12:49] louptony commented on #393
The complete message includes the time where it's been executed. You could use this as reference to see if the build is KO. It can't help you that much about what is left to be done.

[2018-04-20 20:15] stephen16cse commented on #41
+1

[2018-04-20 21:29] szpak commented on #41
Doesn't #433 (released in 1.3.2) address that (at least for Maven)?
(https://github.com/hcoles/pitest/pull/460 could be also useful to read)

(for Gradle you can subscribe to https://github.com/szpak/gradle-pitest-plugin/issues/80 to get notification once it is ready)

[2018-04-21 21:54] monperrus commented on #41
FYI: Pitmp solves this problem at the Maven level: https://github.com/STAMP-project/pitmp-maven-plugin

[2018-04-22 12:08] AssafKatz3 commented on #376
@oscarlvp I tried to use it in order to solve my tree:

* persistent:
   * src/java
* service:
   * src/java
* tests:
   * src/test (JUnit)
But  pitmp didn't help (NullPointerException on PmpMojo.updateTargetClasses).

Other ideas will be welcome.

[2018-04-22 19:13] szpak commented on #376
@AssafKatz3 Out of the main question, have you report that issue in their [issue tracker](https://github.com/STAMP-project/pitmp-maven-plugin/issues)? Without that they definitely will not fix it (unless someone else report the same problem)

[2018-04-23 05:51] AssafKatz3 commented on #376
@szpak Good idea, done, thanks

[2018-05-01 15:11] amichair commented on #241
Over 2 years later, this is still relevant. Any response?

[2018-05-01 21:33] javatlacati commented on #440
so why not just add `@Ignore` to skip the failing test or something like that?

[2018-05-02 12:40] sabaka opened #464 "Cannot pass jvmArgs through command-line in maven plugin"
Hi,

I want to pass some property to project with ``-Ddo.smt.ex=doThis``.
As I understood it's possible to do only using ``jvmArgs``, but I can't pass it from command line. Looks like it works only when set in pom.xml.

I think this is due to omitted ``property="jvmArgs"`` on ``@Parameter`` annotation in mojo here: https://github.com/hcoles/pitest/blob/master/pitest-maven/src/main/java/org/pitest/

[2018-05-03 07:44] slaout commented on #182
+1

[2018-05-03 08:11] Tony-Proum commented on #182
I think that this issue may be fixed without using a flag or other: it should be very painful to add a flag for each module on a project if the project contains one hundred or more submodules

[2018-05-04 13:44] oneiros-de opened #465 "pitest 1.4.0 and junit 5.2.0: java.lang.NoClassDefFoundError: org/pitest/functional/Option"
Running pitest 1.4.0 (gradle plugin is 1.3.0) with Junit 5.2.0 and Mockito 2.18.3 fails with

[code]

I'll attach a complete output from gradle.

[2018-05-04 15:34] hcoles commented on #465
Thanks for reporting - this is due to incompetence on my part - I forgot that the junit 5 plugin would need update for 1.4.0.

I'll push a release out shortly, after which the plugin can be moved into the main source tree (as it now builds on a minimum of java 8) so this sort of this shouldn't happen again.

[2018-05-04 16:37] hcoles commented on #465
Version 0.5 of the junit 5 plugin is now syncing across to maven central.

[2018-05-07 07:38] oneiros-de commented on #465
That gives a [different error](https://github.com/hcoles/pitest/files/1978905/pitest.txt) - it might be related to me using the Mockito extensions for Junit5, though.

[2018-05-09 08:59] hcoles commented on #465
@oneiros-de If you can put together a minimal project that reproduces the issue I can take a look.

[2018-05-09 14:08] gmuecke opened #467 "report-aggregate-module fails for submodules without tests"
**Context**
We have a multi-module project where I'd like to run the report-aggregate-module goal.
Some of the submodules don't have any tests (i.e. api modules)

When I run on the root module (after I built the project with pitest:mutationCoverage):
[code]

**Observed Behavior**
The goal fails with one of the following error message

project has no `src/test` folder at all
[code]
or if project ha

[2018-05-20 19:03] uhafner opened #468 "\0 Byte in JUnit tests causes PIT to create invalid XML"
In one of my [unit tests](https://github.com/jenkinsci/analysis-model/commit/620477fb2f05ec14e9e9c9a2432857e6b5d9f187) I'm verifying that the 0 byte is correctly handled. While the test passes, PIT (pitest-maven:1.4.0:mutationCoverage) creates an invalid XML file.

[code]

[2018-05-25 16:44] lazermorris4 opened #470 "Support for junit5 parameterized tests"

[2018-05-28 07:20] maxgabut commented on #467
@gmuecke #466 is now merged. Could you confirm that it fixes you problem ? If so, we can close this issue.

[2018-05-29 14:01] alexander-kulikovskii opened #472 "Support for Parameterized Robolectric tests"
Hi,

How can I use Pitest with Parametrized Robolectric tests? All of them are skipping now.

thanks

[2018-05-30 12:51] gabor-farkas opened #473 "Support for multiple targetClass-testClass sets in the maven plugin"
I think it would make sense to have multiple groups of classes-tests. For example if I have a Service1Impl and I wish to mutate that against TestService1*, and Service2Impl which should be mutated only against TestService2*.

Currently I can only achieve this by using maven profiles for service1 and service2. Or is there a solution I'm missing?

Would it make sense to add a `<testGroups>` configur

[2018-05-30 20:50] maxgabut commented on #467
I guess that getting a new error is [progressing](https://www.commitstrip.com/en/2018/05/09/progress/) (:

In order to make aggregation work, I had to configure the plugin this way :
[code]

I hope it helps.

[2018-05-31 09:51] slaout opened #474 "[FEATURE] Show direct link to mutator help in reports"
Right now:

The report says "changed conditional boundary → SURVIVED".
That's not really helpful to learn what this mutator did.

So we need to search for "boundary" in the report.
We find "CONDITIONALS_BOUNDARY_MUTATOR" below, that seems to match.
Then we need to search for "pitest CONDITIONALS_BOUNDARY" on Google.
Luckily the first result is http://pitest.org/quickstart/mutators/
In the page, we

[2018-06-01 08:52] rhdietrich opened #475 "pitest 1.3.0 and higher does not work with testng"
When running pitest 1.3.0 or higher with testng pitest fails with the message 'PIT requires JUnit 4.6'.
That is true also for testng version 6.1.1. Up to version 1.2.5 pitest accepts testng up to the hghest version (currently 6.14.3)

[2018-06-01 10:18] laurentlr commented on #455
I did a sample repo for an Android/Spek/Pitest project : https://github.com/laurentlr/PocAndroidPitest

I'm kind stuck, when I don't use the "@RunWith(JUnitPlatform::class)" annoation, the spek tests are not run with pitest. And when I use it, i got this issue :

Exception in thread "main" org.pitest.util.PitError: Coverage generation minion exited abnormally!

Please copy and paste the informatio

[2018-06-01 14:56] Stephan202 commented on #475
Hi @rhdietrich; see #458. In short, when using Maven you'll have to specify `<testPlugin>testng</testPlugin>`.

[2018-06-03 11:42] rhdietrich commented on #475
@Stephan202 Thank you, that's it! Maybe adjust the text on the Pitest FAQ page to stress the testplugin paramter and it's default? you can close this issue,

[2018-06-03 12:08] Stephan202 commented on #475
Leaving that to @hcoles ;)

[2018-06-03 14:04] hcoles commented on #475
@Stephan202 thanks for resolving to this.

[2018-06-03 14:04] #475 closed

[2018-06-04 14:15] slaout opened #476 "Show column of the mutation"
Hello,

Given this line:

    if (a == 42 || b != 43)

We get such report:

1. negated conditional → KILLED
2. negated conditional → KILLED
3. removed conditional - replaced equality check with false → SURVIVED
4. removed conditional - replaced equality check with false → KILLED
5. removed conditional - replaced equality check with true → KILLED
6. removed conditional - replaced equality check wit

[2018-06-04 15:36] gmuecke commented on #467
Ok, I added the  `<exportLineCoverage>true</exportLineCoverage>` (isn't that supposed to be the default?) ... anyhow, now I get this error:

[code]

[2018-06-04 17:49] hcoles commented on #476
Unfortunately column information is not included in the bytecode, so this is not possible.

[2018-06-04 17:50] hcoles commented on #474
Yes, this would be good.

[2018-06-05 09:03] maxgabut commented on #467
exportLineCoverage defaults to `false` (see [it's definition in AbstrastratPitMojo.java](https://github.com/hcoles/pitest/blob/621a3b225415d7b2e15e3e415a2c586bc9fb26bc/pitest-maven/src/main/java/org/pitest/maven/AbstractPitMojo.java#L231)).

For you new failure, I don't really see the cause. Could you publish a sample of code reproducing it ?

[2018-06-05 22:08] maxgabut commented on #468
@uhafner #477 is a way of solving this problem. WDYT ?

[2018-06-07 07:58] uhafner commented on #468
Looks good to me, thanks for fixing!

[2018-06-07 10:32] maxgabut commented on #468
Great ! I guess you can close the issue now.

[2018-06-07 11:09] hcoles commented on #468
@maxgabut Yes, thanks for the PR. I hope to push a release out soon, just need to see if I can find time to look at the other outstanding PR first.

[2018-06-12 10:52] KITSAtanuMahadani opened #479 "While running PIT test from command line getting this error -"

[2018-06-12 10:54] KITSAtanuMahadani commented on #479
I am running this command  ===
java -cp /home/atg/Desktop/JARR/pitest-command-line-1.2.4.jar:/home/atg/Desktop/JARR/pitest-1.2.4.jar:/home/atg/Desktop/JARR/pitest-entry-1.2.4.jar:/home/atg/Desktop/JARR/junit-4.11.jar:/home/atg/Desktop/JARR/hamcrest-core-1.3.jar:/home/atg/Desktop/JARR/xstream-1.4.8.jar:/home/atg/Desktop/JARR/xmlpull-1.1.3.1.jar:/home/atg/atg/KITS-App_ATG-Dev/KF/Common/Base/target/c

[2018-06-12 11:07] hcoles commented on #479
It looks like pitest has not found any tests that it understands how to run. What do your tests look like? Do their names match the filters you have set?

[2018-06-12 12:00] KITSAtanuMahadani commented on #479
This is my original class file paths - /home/atg/atg/KITS-App_ATG-Dev/KF/Common/Base/target/classes/kf/endeca/search/helper
and this is class file paths - /home/atg/atg/KITS-App_ATG-Dev/KF/Common/Base/target/test/classes/kf/endeca/search/helper. So hopefully this is correct, but not getting any clue which is wrong.

[2018-06-12 12:19] hcoles commented on #479
can you post an example of one of your test classes?

[2018-06-12 14:07] KITSAtanuMahadani commented on #479
it is a part of a project so I can not post it here

[2018-06-12 15:05] KITSAtanuMahadani commented on #479
package kf.bloomreach.search;

import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertNotNull;
import static org.mockito.Matchers.any;
import static org.mockito.Matchers.eq;
import static org.mockito.Mockito.doThrow;
import static org.mockito.Mockito.never;
import static org.mockito.Mockito.verify;
import static org.mockito.Mockito.when;

import java.io.IOException;

imp

[2018-06-12 15:09] nespera commented on #479
This is package `kf.bloomreach.search` which doesn't match `--targetTests kf.endeca.search.helper.*`

[2018-06-12 15:16] KITSAtanuMahadani commented on #479
Sorry I posted a class in a different package

[2018-06-12 15:22] nespera commented on #479
The new one doesn't seem to actually have any tests in it

[2018-06-13 06:46] KITSAtanuMahadani commented on #479
Test methods are present but I have not posted it fully,but I have posted the initial part to understand which classes I am using to run junit.When I have running junit it shows full coverage of the class, but when running from Pitest all are going in NO_COVERAGE.

[2018-06-13 10:13] hcoles commented on #479
It is difficult to say what is happening based on partial snippets of code.

I cannot see mockito on the classpath you supply, but it is referenced in one of your snippets. So the issue may be that you have not included your dependencies on the classpath.

If this is not the problem then I suggest you create and share a minimal project that recreates the issue.

An alternative would be to update y

[2018-06-21 03:47] ReedOei opened #481 "ArrayIndexOutOfBoundsException when running mutationCoverage"
Reproduce steps:

[code]

I am using Java 8 on Ubuntu 16.04 LTS:
[code]

Here is the full output from Maven:
[code]

[2018-06-25 12:07] ArkadyPL opened #482 "No mutations applied when method is @Transactional (aspects)"
I think pitest does not apply mutations when method is annotated with `org.springframework.transaction.annotation.Transactional` annotation.
See exemple on screenshots below. (Maybe it just does not find tests for such methods?)

Except of the pitest not working, there are two things interesting for me:
1. Why is the report green for one method and red for the second one? **(Maybe mutation works c

[2018-07-01 20:57] stanislaw opened #483 "NullPointerException when trying to run org.pitest:pitest-maven:scmMutationCoverage on a blank Java project."
Hello,

I am trying to follow http://pitest.org/quickstart/maven/ to see how Pitest works on changed files by running `mvn org.pitest:pitest-maven:scmMutationCoverage`. I have created a blank Java project in IDEA and put it under Git control.

I am getting a NPE everytime I make my Git tree dirty. I use stable version 1.4.0. I wanted to debug this issue, cloned the repository and did `mvn install`

[2018-07-02 07:11] Pr0methean opened #484 ""Could not initialize class" with no root cause"
In https://travis-ci.org/Pr0methean/BetterRandom/jobs/399006661, I get "java.lang.NoClassDefFoundError: Could not initialize class io.github.pr0methean.betterrandom.seed.RandomDotOrgSeedGenerator" but with no indication of the root cause of why the class can't be initialized. Enabling verbose logging doesn't help, and the issue doesn't reproduce when I run the unit tests without Pitest.

[2018-07-02 07:43] Pr0methean commented on #484
Update: This bug doesn't seem to affect JDK 9, only 10.

[2018-07-03 14:32] sergiomazoodigeo opened #485 "excludedMethods is not working with lambdas"
Hi all,

I've got following method in my code:

[code]

When I try to exclude it from pitest plugin, the call to that is still analysed. However, if I remove lambda expression, the plugin excludes the method correctly.

Are lambda expressions supported?
Best regards.

[2018-07-06 02:48] mgoldver commented on #347
Hi @hcoles and @sarahBuisson
First, thanks for all the great work you are doing on pitest.
Was there any conclusion about how to indicate to pitest to exclude the lombok annotated classes/methods from mutation analysis?
Lombok introduced the @Generated annotation, but reading this log, I am not clear if the solution is available.
Please advise.

[2018-07-10 07:50] hcoles commented on #481
@ReedOei Thanks for the report. I've just reproduced this locally. At first glance it looks like an issue in the ASM library on which pitest depends,  but a bit more digging will be required.

[2018-07-10 09:54] hcoles commented on #485
Thanks for the report - can you provide a minimal project that demonstrates the issue?

[2018-07-10 18:42] hcoles commented on #481
I contacted the ASM team - this is in fact due to a bug in the java 8 compiler.

It is fixed in Java 8u172 (I've not confirmed this) and Java 9 (this I have confirmed this bug does not manifest when compiled with java 9).

The ASM team position is that they will not support invalid bytecode generated by compiler bugs (which is reasonable).

It is possible to add a workaround for this into pitest s

[2018-07-10 19:40] ReedOei commented on #481
@hcoles Thanks for looking into this!

I'll try using update 172 to see if that fixes it. Unfortunately I can't use Java 9 for this project, but it's good to know that it shouldn't be a problem once I am able to upgrade.

[2018-07-11 16:11] ReedOei commented on #481
Can confirm that Java 8 update 172 fixes the problem for me. Thanks again!

[2018-07-12 14:14] pkuijpers commented on #370
Hi Tim,

Did you ever find a solution to this problem? We're running into the same problem with segmentation faults on an IBM JDK version 2.8

[2018-07-14 23:36] rostIvan commented on #260
For those who use a gradle, you can try this:  // thanks @asm0dey
[code]

[2018-07-17 16:38] slaout opened #487 "False positive: list.toArray(new Object[list.size()]) SURVIVED a removal of list.size() call"
Given this Java code:

`final Object[] array = list.toArray(new Object[list.size()]);`

We get this error:

`removed call to java/util/List::size → SURVIVED`

because it leads to the same result with no size.
But the no-size variant is less performant.

Could you remove this false-positive?

[2018-07-19 14:58] justinwm commented on #391
@hcoles

Hi, thanks very much for your contributions for PIT.

I have a simple question :-)

You mentioned that we can save the mutants do disc via using https://github.com/pitest/export-plugin

In the README of the plugin project, you introduced how to launch it using Maven or Gradle.

Is there a way to enable this feature when using command line to launch PIT?

Thanks very much!

[2018-07-19 15:13] justinwm commented on #432
Hi Thanks very much for your contribution :-)

I am wondering how can I enable this feature in command line? or it is just impossible.

If so, I will switch to Maven.

Looking forward for your reply.

Best
Ming

[2018-07-20 02:04] SkittishSloth opened #488 "Inherited Tests Not Recognized (JUnit 5)"
Not even 100% sure it's an actual issue, or if I'm just doing something wrong.

I have a series of tests with a common abstract base test class. The base test has the actual @Test methods in use, and the child classes implement some methods to initialize stuff used in those tests. Running everything directly via gradle test works fine - the tests are definitely executed (I intentionally made them

[2018-07-20 02:13] SkittishSloth commented on #488
I have a quick sample here; hopefully it'll

Actual classes under test:
[code]

And the tests:
[code]

[2018-07-20 08:35] justinwm commented on #432
@hcoles

Hi, This is exactly what I want and it works!  Thanks very much!!

Best

[2018-07-23 13:50] sebastientromp opened #489 "Question: NO_COVERAGE reported as mutation coverage failure?"
Hello,

I have a question for which I couldn't find an answer in the docs or online.
I have some lines that are not covered by tests, and in the Mutation Report, it looks like these are considered as Mutation Coverage failures:

Report:
![screenshot_2018-07-23 screenshot 1](https://user-images.githubusercontent.com/7889624/43080358-e07fb1fe-8e8f-11e8-84d5-c1f647dcb0d9.png)

Details:
![screenshot_2

[2018-07-25 11:24] davidburstromspotify opened #490 "Argument list too long for minions on long class paths"
In case the test class path is very long, there is an option to supply the class path through a file `classPathFile`. However, we still run into problems starting the minions, because internally, Pitest doesn't seem to use a file to supply the class path to them:

[code]

[2018-07-27 02:38] SkittishSloth commented on #488
Great - thank you! (Feel free to close when it gets merged, if I forget to.)

[2018-07-27 04:08] drdamour opened #491 "output an pit-reports/index.html with all dirs indexed"
I think it'd be really useful for as things are run for an index.html to be present in the root output dir (Defaults to pit-reports) and it would list them latest first.

Not thinking anything fancy where you have to gather info from previous runs in v1 of feature.

But i would have each timestamped dir index have a link back to ALL LOCAL PIT REPORTS or something like that...or breadcrumbs across

[2018-07-27 13:57] #488 closed

[2018-07-27 14:08] hcoles commented on #488
Thanks @tobiasstadler PR is now merged and a release should be syncing to maven central.

[2018-07-27 14:10] hcoles commented on #489
Yes, mutations on uncovered lines are treated as surviving mutants, but they are given a special status of "uncovered" so they can be easily identified as mutants that were not challenged by a test.

[2018-07-27 18:14] drdamour opened #492 "Write latest report to latest dir"
It'd be nice if every time the report is run in addition to the timestamp it output the results to a latest dir...then users could just refresh browser as they fix things.

When i work i like to run tests continuously as i make changes and watch the errors go away.  right now every time i go to look at pitest report i have to nav to root then pick the latest one.

obv i can add some symlink plugin

[2018-07-27 18:18] hcoles commented on #492
If you set the timeStampedReports parameter to false then pitest will always write to the same location and you can just refresh the browser.

[2018-07-27 18:37] drdamour commented on #492
oh i should have mentioned i am doing this as a "workaround"...losing the history locally...probably good enough for 99% of use cases.

thanks!

[2018-07-28 00:48] SkittishSloth commented on #488
It's working great! I was able to clear out a lot of stupid, redundant code now :) Thank you!

One thing though: now I'm getting a ton of logs, i.e.

(But a *lot* of that)

All I did was change the version of the juni5 plugin from 0.5 to 0.6, and I'm not seeing anything in the change set between those versions that would suggest anything related to logging.

Thoughts?

[2018-07-28 17:32] sebastientromp commented on #489
Is this behavior configurable (directly in pitest or is a workaround available)? Or if not, and if you're open to making this configurable, would you accept PRs for this?
I've been pretty impressed with the relevance of the results (apart from the Coverage one), so I'm looking at having a 100% success rate policy (we're already there - or almost - if we exclude the coverage ones).

[2018-07-29 11:32] hcoles commented on #489
This is not currently configurable.

If uncovered mutants were excluded from the mutation score this would give a measure of the strength of the implemented tests.

I'd be happy to accept a PR that added an additional "test strength" measure calculated in this way. I would prefer not to add options that changed the way the standard mutation score was calculated, as this would cause confusion.

[2018-07-29 12:39] sebastientromp commented on #489
Got it! "Test strength" is precisely what we're after, as it combines nicely with "test coverage" for an overall measure of the test harness.

Would you have any pointers as to where to start looking in the code?

[2018-07-30 20:31] pedrorijo91 opened #493 "Add mutation percentage info when success"
Hey,

While using maven, I run the mutation testing using the command specified in the docs:

[code]

if I specify a certain [mutation threshold](http://pitest.org/quickstart/maven/#mutationthreshold) that is not met,  I get an error message on the command line:

[code]

and this is simple but good enough.  But I have no similar output when the score is above the threshold. As far as I've seen, th

[2018-08-01 23:06] hcoles commented on #493
Hi @pedrorijo91 pitest already outputs the mutation score for a successful run.

In the example output below

`-================================================================================
- Timings
================================================================================

--------------------------------------------------------------------------------

---------------------------------

[2018-08-01 23:30] pedrorijo91 commented on #493
ups, sorry, I can see now. I would say the mutators list could be considered extra information (as in, something that should be printed only if explicitly specified), but I think that changing the order would be a good start to make the juicy summary more visible.

[2018-08-03 22:52] SkittishSloth commented on #488
It looks like this isn't working quite right. It's giving me what appears to be correct coverage statistics, but the reports have the code covered by the tests marked as RUN_ERROR. If I run them the previous way - overriding the test methods and annotating them as Test - it works correctly.

[2018-08-06 16:43] atehrani commented on #483
I have a similar issue, it is not on a blank project however. It is ran locally not through a Jenkins build.

[code]

[2018-08-06 22:10] pedrorijo91 opened #497 "PIT is generating equivalent mutations"
I've seen a couple of SURVIVED mutants that are basically equivalent to the original code base.

I don't have a full example yet, but I've seen it happen in lines whose original content is something like `return true;` and it replaces by an equal mutant `return true;` which obviously will survive.

Is this a known bug? is there any workaround? If I wanted to help, where should I start looking into

[2018-08-06 22:29] hcoles commented on #497
Not a known issue, could you post an example?

[2018-08-07 01:03] SkittishSloth opened #498 "RUN_ERROR During Inherited Tests (JUnit 5)"
As a follow up to [this previous issue](https://github.com/hcoles/pitest/issues/488), things don't seem to be working quite right. I commented there, but I'm not sure how Github handles comments on closed issues, so I don't know if there were any notifications about the comments.

After that fix, running the tests using just inheritance and not overriding the test methods, the tests execute - as i

[2018-08-07 08:29] pedrorijo91 commented on #497
I have this method:

[code]

and I have this report:

![image](https://user-images.githubusercontent.com/1999050/43764065-50737352-9a24-11e8-81fd-8c9c2d64728d.png)

(let me know if you prefer any other output format)

[2018-08-07 11:10] hcoles commented on #497
Thanks for the example, this is indeed a bug in the new return values mutators.

What's meant to happen is that pitest generates a whole bunch of mutants, but then filters out the ones such as this that are trivially equivalent. Unfortunately the filter is overly simplistic, looking for unbroken bytecode sequences such as "load a constant representing true" followed by "return it".

This is workin

[2018-08-07 17:01] hcoles commented on #497
Ok, that's fixed in master, will push a release out soon.

Thanks for the report. Most users would not see this as the new mutators are not switched on by default. Please do report any other similar issues - the plan is to replace the existing return vals mutator with the new set in the near future, but as this bug demonstrates there could still be some unexpected problems.

[2018-08-07 17:02] #493 closed

[2018-08-07 17:03] pedrorijo91 commented on #497
wow, thanks for the quick fix :) Just a note, I also found it happened with `return Optional.empty()`

for now I have all mutators enabled (testing PIT in a small lib), will let you know if I find anything else worthy!

[2018-08-07 17:08] hcoles commented on #497
I would like to be able to claim that all fixes to pitest are that fast, but that would be woefully untrue.

Optional.empty *should* also be fixed, but I didn't add additional test cases for all the supported types so it is possible I am mistaken.

[2018-08-07 17:10] pedrorijo91 commented on #497
will let you know as soon as the new release is out ;)

[2018-08-08 07:56] hcoles commented on #497
Closing as 1.4.1 is now released.

[2018-08-08 07:56] #497 closed

[2018-08-08 07:58] hcoles commented on #482
This will most likely be the result of bytecode manipulation performed by spring to implement the transactions. If you can post a minimal project that reproduces the issue I can take a look.

[2018-08-08 07:59] hcoles commented on #476
Closing as there is no way to implement this without switching to ast based mutation.

[2018-08-08 07:59] #476 closed

[2018-08-08 08:00] hcoles commented on #468
Fixed in 1.4.1

[2018-08-08 08:00] #468 closed

[2018-08-08 08:08] pedrorijo91 commented on #497
both `return true;` and `return Optional.empty()` false positives have been fixed :) once again, thanks a lot for the quick iteration @hcoles

[2018-08-09 18:57] tobiasstadler commented on #498
Sorry for the late reply. I think I fixed your issue in pitest/pitest-junit5-plugin#10

[2018-08-10 08:26] hcoles commented on #452
Sorry for the slow response - no, only whole files can currently be excluded.

[2018-08-10 08:26] #452 closed

[2018-08-14 10:57] #498 closed

[2018-08-15 17:42] eh3rrera commented on #483
@stanislaw and @atehrani I have the same issue with version 1.4.0. But Pitest 1.4.1 was [released last week](https://search.maven.org/search?q=g:org.pitest%20AND%20a:pitest&core=gav) and this version works fine with the scmMutationCoverage goal.

[2018-08-15 18:25] stanislaw commented on #483
I am closing this ticket then. Thanks @eh3rrera !

[2018-08-15 18:25] #483 closed

[2018-08-20 18:40] SkittishSloth commented on #498
Awesome - thank you!

When might there be a new release for the JUnit plugin to include that?

[2018-08-20 19:14] hcoles commented on #498
@SkittishSloth  I just cut a release now.

[2018-08-26 23:53] Pr0methean opened #503 "Parameterized TestNG tests don't run"
My report at https://github.com/Pr0methean/pr0methean.github.io/blob/master/betterrandom-pit-reports/io.github.pr0methean.betterrandom.prng/AesCounterRandom.java.html indicates that the test class AesCounterRandomTest was not run by Pitest. This test is a parameterized test; see https://github.com/Pr0methean/BetterRandom/blob/cfd452ffa32dea226cc10cd204373823ddd2941a/betterrandom/src/test/testng.xm

[2018-08-27 00:50] Pr0methean commented on #503
The undocumented `pluginConfiguration` parameter in Pitest's Maven configuration seems like it may fix this, but causes an NPE in Pitest 1.4.0. Testing on 1.4.2...

[2018-08-27 01:13] #503 closed

[2018-08-27 01:14] Pr0methean opened #504 "NPE when using pluginConfiguration for TestNG"
`[ERROR] Failed to execute goal org.pitest:pitest-maven:1.4.2:mutationCoverage (default-cli) on project BetterRandom: Execution default-cli of goal org.pitest:pitest-maven:1.4.2:mutationCoverage failed.: NullPointerException -> [Help 1]`
https://travis-ci.org/Pr0methean/BetterRandom/jobs/420904122

Only change compared to a known good build was https://github.com/Pr0methean/BetterRandom/commit/3b7

[2018-08-31 14:47] maxgabut commented on #14
I tested it in 1.4.2 and it works fine. I think this bug can be closed.

[2018-09-02 12:27] hcoles commented on #14
@maxgabut If you wait long enough they fix themselves. Seven years seems to be the magic time period.

[2018-09-02 12:27] #14 closed

[2018-09-02 18:32] hcoles opened #509 "Trivial bytecode equivalence"
Could the existing equivalent return value filters be replaced by a simpler but more general filter that checked for equivalent bytecode? Could possibly strip line numbers, frames etc and then do a simple byte by byte comparison.

[2018-09-03 16:09] nrainer opened #510 "Compute a full mutation matrix"

[2018-09-03 16:11] nrainer commented on #510
See pull request https://github.com/hcoles/pitest/pull/511

[2018-09-04 10:37] sushantchoudhary opened #512 "<targetClasses> configuration isn't working in multi module project"
I am trying to run pitest on a multi module project. My maven config looks like this

[code]
I have added this to a parent module pom.xml  which is of POM packaging type. I am running `mvn  org.pitest:pitest-maven:mutationCoverage` from CLI, however all the child modules and their dependencies are being mutated instead of just the module with the above package `com.xyz.services.rest.* `.  Could yo

[2018-09-05 20:55] maxgabut commented on #512
I tried to replicate, but things looked fine to me.

However, if you want to skip entire modules, I don't think `targetClasses` is the way to go. As far as I know, maven _decides_ in which module the plugin should run and `targetClasses` only act as a filter for classes to consider. To entirely skip pitest execution in some modules, I'd rather use maven profiles.

[2018-09-09 15:16] pedrorijo91 commented on #342
been digging into this as well. for my PoC project, I'm using travis, and it seems it would be possible to use the withHistory flag to support this, since travis allows to keep cached directories between builds: https://docs.travis-ci.com/user/caching/#arbitrary-directories

Probably other CI's also have such feature. Have you looked at it?

[2018-09-10 16:38] nrainer commented on #510
Can be closed. Has been solved with #511.

[2018-09-10 16:38] #510 closed

[2018-09-10 16:53] nrainer opened #514 "Allow tests failing during initial coverage analysis"
Sometimes a few tests exist that fail during the initial coverage analysis for whatever reason (e.g., caused by the class loading), although, they succeed when they are executed with `mvn verify`.
However, the mutation analysis aborts as soon as one test case fails during the initial analysis. I suggest to add a parameter `<allowedFailingTests>` (or similar) indicating how many tests may at most f

[2018-09-14 01:29] c3pknow opened #515 "Ran 0 tests (0 tests per mutation)"
When running pitest via Maven it doesn't find any tests to run.  In the pom.xml, I have tried specifying numerous target classes and tests, as well as not specifying anything.  Each time it finds no tests.

In the build and test sections of the **pom.xml** I have specified (not this not the entire pom.xml, only the build and test sections):
[code]
The source **CODE** is:
[code]

And the **TEST** c

[2018-09-15 08:30] maxgabut commented on #512
Did my last comment helped you ?
If so, you can close the issue.
If not, you might try to give us more information. Ideally, you could publish a project demonstrating the problem, but it is not always easy if you're working on closed source code. The log of the execution should be much more easy to produce and could also help.

[2018-09-17 01:09] sushantchoudhary commented on #512
Thanks @maxgabut , I think I can work it out using pitmp with one of <targetModule> bug fix going out in 1.3.5. Closing this issue for now.

[2018-09-17 01:09] #512 closed

[2018-09-17 11:52] hcoles commented on #514
This has been requested a few times, although it sounds reasonable my concern is that it will create an additional support burden.

If failing tests are allowed then they must also be automatically excluded from the analysis (otherwise they will appear to kill any mutant that they exercise). This ought to be simple enough, but as tests may be represented in an unbounded number of ways (due to cust

[2018-09-17 22:10] c3pknow commented on #515
Resolved my own issue by explicitly adding  `<testPlugin>testng</testPlugin>`

[2018-09-17 22:10] #515 closed

[2018-09-18 06:04] nrainer commented on #514
Thanks for your response. :)

I understand your concerns. However, these are the downsides I see with the exclude list: it takes some effort to create and maintain the list, tests no longer failing with PIT will not be detected and removed from the list, frustration if you run an analysis on a large project (using the pitmp extension) and the whole build fails because of a test in one of the last

[2018-09-23 06:10] triceo opened #519 "mutation coverage Maven goal failing on Java 11"
Ever since I upgraded my project to target Java 11 on a source code level, I get the following error in my Maven project:

    Caused by: java.lang.UnsupportedOperationException
        at org.pitest.reloc.asm.ClassVisitor.visitNestMemberExperimental (ClassVisitor.java:248)
        at org.pitest.reloc.asm.ClassReader.accept (ClassReader.java:651)
        at org.pitest.reloc.asm.ClassReader.accept

[2018-09-23 07:43] triceo commented on #519
On further examination, it would appear that the `visitNestMemberExperimental` method is no longer available on ASM master. Instead, the method has been stripped of the `Experimental` suffix, implying fixes have been made.

Although I did not actually test with the ASM built from `master`, I assume that upgrading ASM - when they make a release - would fixes this issue.