[2014-01-07 21:36] hcoles opened #1 "4 unit tests failing when trying to compile the code"
_From [vlae...@online.no](https://code.google.com/u/109446317644574090143/) on June 10, 2011 09:10:20_

What steps will reproduce the problem? 1. I downloaded the source code using hg clone https://pitestrunner.googlecode.com/hg/ pitestrunner
2. Ran mvn install in the pitestrunner directory
3. The build failed. What is the expected output? What do you see instead? What version of the product are y

[2014-01-07 21:36] #1 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #2 "org.pitest:pitest-parent missing for Maven plug-in"
_From [vlae...@online.no](https://code.google.com/u/109446317644574090143/) on June 10, 2011 09:45:18_

What steps will reproduce the problem? 1. I downloaded and installed pitest-0.19
2. I added pitest to pom.xml
3. I ran mvn clean install on my project What is the expected output? What do you see instead? My project doesn't want to build as pitest-parent seems to be missing. What version of the

[2014-01-07 21:36] #2 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #3 "Dependency analysis broken"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on August 10, 2011 20:52:19_

Dependency analysis is not working correctly - only classes that can be reached via a route that matches the target classes filter are being considered.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=3_

[2014-01-07 21:36] #3 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #4 "xstream problems with JDK 7"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on August 19, 2011 20:07:59_

PIT fails to run on JDK 7 as xstream runs in pure java mode.

Following output reported by user

[ERROR] Failed to execute goal org.pitest:pitest-maven:0.21:mutationCoverage (default-cli) on project ddna-server-persistence: fail: Cannot construct org.pitest.mutationtest.MutationCovera

[2014-01-07 21:36] #4 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #5 "Newline character corrupted"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on August 23, 2011 21:21:28_

The newline system parameter is being corrupted in the child processes spawned by PIT resulting in surprising and incorrect behavior.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=5_

[2014-01-07 21:36] #5 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #6 "Improve configuration options"
_From [davidkar...@gmail.com](https://code.google.com/u/118125814176791488661/) on August 29, 2011 21:04:24_

Today PIT is very cumbersome to use in a maven multimodule project due to the need for a local configuration file for each module.

Usually a lot of the rules would apply for all submodules and therefore could be configured once at the top level.

I propose an option to configure the plugi

[2014-01-07 21:36] #6 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #7 "Regression around source location in release 022"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 05, 2011 18:07:13_

Release 0.22 does not correctly locate source files to annotate when produced reports when run from either maven or the command line.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=7_

[2014-01-07 21:36] #7 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #8 "Enhancement request: Create Sonar plugin to present PIT measures alongside test coverage details"
_From [msst...@gmail.com](https://code.google.com/u/106935203566366032364/) on September 08, 2011 22:42:40_

What steps will reproduce the problem? 1.  N/A - Enhancement request What is the expected output? What do you see instead? N/A - Enhancement request What version of the product are you using? On what operating system? N/A - Enhancement request Please provide any additional information below

[2014-01-07 21:36] #8 closed, assigned to nobody

[2014-01-07 21:36] hcoles opened #9 "Split report generation and analysis"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on September 18, 2011 13:34:39_

This enhancement ticket was created to track the progress on the task of splitting report generation and analysis process.

PIT is currently hard coded to produce only a html report. One should redesign the reporting stuff and provide an interface for the integration of other tools

[2014-01-07 21:37] #9 closed, assigned to nobody

[2014-01-07 21:37] hcoles opened #10 "Add maven goal for PIT report generation and maven site integration"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on September 18, 2011 13:45:09_

PIT is currently hard coded to produce only a html report (see Issue 9 ). After revising the reporting stuff an enhanced maven plugin would be nice that generates a report integrated into the maven site.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=10_

[2014-01-07 21:37] hcoles opened #11 "Source for classes in default package not located"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 25, 2011 22:15:43_

The source for classes in default package is never located, resulting in an html report without annotated lines for these classes.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=11_

[2014-01-07 21:37] #11 closed, assigned to nobody

[2014-01-07 21:37] hcoles opened #12 "Mutation testing hangs when test uses UISpec4J"
_From [Paul.Abb...@gmail.com](https://code.google.com/u/105274282548889959498/) on December 06, 2011 09:12:06_

What steps will reproduce the problem? 1. run the supplied test script "run.sh"
2. wait a few minutes, output goes to screen
3. notice output stops being sent to screen. What is the expected output? What do you see instead? Test to terminate, but it does not, even if left for a few hours

[2014-01-07 21:37] #12 closed, assigned to hcoles

[2014-01-07 21:37] hcoles opened #13 "Do not fail a Maven build if there is no code in a module"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 10, 2011 20:39:02_

Right now the configuration for pitest-maven needs to be spread over all modules of a multi-module project, because it's not easy to write it once in the parent POM and inherit to all child POMs, so that 80&#37; of the modules would need no configuration (and just a few modules would hav

[2014-01-07 21:37] #13 closed, assigned to nobody

[2014-01-07 21:37] hcoles opened #14 "Read source files using the correct file encoding"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 10, 2011 21:40:28_

What steps will reproduce the problem? 1. Create a maven project which is configured to use UTF-8 for all files:
    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>

[2014-01-07 21:37] hcoles opened #15 "Do not mutate nor generate coverage reports for test classes (or make it optional)"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 10, 2011 21:52:30_

Not all test code is in the same classes as the test methods. The tests can start behaving funnily when the test code is modified (for example one of the mutations enabled some of my debug code and started writing files to my working directory). It can also produce false warnings, for ex

[2014-01-07 21:37] #15 closed, assigned to nobody

[2014-01-07 21:37] hcoles opened #16 "Better description than "mutated return of Object value for""
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 10, 2011 23:29:14_

The description for org.pitest.mutationtest.engine.gregor.mutators.ReturnValsMethodVisitor#areturnMutation is hard to understand. I had to read the source code to be able to understand what "mutated return of Object value" means. It would be better for it to say how it was mutated, as wi

[2014-01-07 21:37] #16 closed, assigned to nobody

[2014-01-07 21:37] hcoles opened #17 ""Replaced constant value of 31 with 32 : KILLED" but "Substituted 31 with 32 : SURVIVED""
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 13, 2011 19:59:31_

I enabled all mutations and I'm having some confusing test results between INLINE_CONSTS and EXPERIMENTAL_INLINE_CONSTS. Could one of them have a bug? What steps will reproduce the problem? 1. Checkout the code from https://github.com/orfjackal/jumi 2. Build it with Maven: mvn clean veri

[2014-01-07 21:38] #17 closed, assigned to nobody

[2014-01-07 21:38] hcoles opened #18 "The names of some mutators at http://pitest.org/quickstart/mutators/ are not up to date"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 13, 2011 20:08:51_

At http://pitest.org/quickstart/mutators/ VOID_METHOD_CALL should be VOID_METHOD_CALLS
NON_VOID_METHOD_CALL should be NON_VOID_METHOD_CALLS
CONSTRUCTOR_CALL should be CONSTRUCTOR_CALLS

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=18_

[2014-01-07 21:38] #18 closed, assigned to nobody

[2014-01-07 21:38] hcoles opened #19 "An easy way to enable all mutations"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 13, 2011 20:14:37_

Right now, to enable all mutations, I will need to go through the list at http://pitest.org/quickstart/mutators/ and add them manually to my pitest-maven configuration. Then when pitest is updated, I will need to remember to manually check whether any new mutations were added, and update

[2014-01-07 21:38] #19 closed, assigned to nobody

[2014-01-07 21:38] hcoles opened #20 "New mutator: remove assignment to field/variable"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on December 16, 2011 20:25:45_

It would be nice to have a mutator which removes assignments to local variables and to fields. (In the case of assignments to final fields, for example in constructors, assignment removal might not be possible, so it could assign a null/zero value.)

_Original issue: http://code.google.c

[2014-01-07 21:38] hcoles opened #21 "Eclipse Plugin"
_From [nathan...@gmail.com](https://code.google.com/u/108570805013970807781/) on December 17, 2011 16:17:27_

Please create an Eclipse plugin with update site.

Whenever a class under test or a JUnit test case is saved, mutation tests should automatically run.  If mutants survive, add a line to the problem window and a marker on the line in the class under test where the mutation was made.

The po

[2014-01-07 21:38] hcoles opened #22 "Exception running mutationCoverage goal"
_From [mart788@gmail.com](https://code.google.com/u/mart788@gmail.com/) on January 06, 2012 15:29:30_

What steps will reproduce the problem? 1.Run the mutationCoverage goal against my project

What is the expected output?
Mutation coverage gets calculated

What do you see instead?
8:24:48 AM PIT >> INFO : Sent tests to slave
stderr  : 8:24:48 AM PIT >> SEVERE : Error calculating coverage. Process

[2014-01-07 21:38] #22 closed, assigned to nobody

[2014-01-07 21:38] hcoles opened #23 "Flags —-excludedClasses —-outputFormats XML doesn't work"
_From [mstachniuk](https://code.google.com/u/mstachniuk/) on January 07, 2012 23:03:21_

Flags —-excludedClasses —-outputFormats XML doesn't work.

To reproduce my configuration please see attachment, and start runPitest.bat

I see only HTML files (I use —-outputFormats XML),

and in index.html link to: org.bitbucket.mstachniuk.mfccchart.presenter.PolygraphPresenter.html report site.

I use:
—-exc

[2014-01-07 21:38] #23 closed, assigned to nobody

[2014-01-07 21:38] hcoles opened #24 "Better handling for inlined finally block code"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on January 19, 2012 12:38:06_

Java compilers create duplicate inlined copies of code within finally blocks.

It would be a better/less confusing user experience if mutations in this code could be suppressed or linked together or somehow flagged.

_Original issue: http://code.google.com/p/pitestrunner/issues/detai

[2014-01-07 21:39] hcoles opened #25 "Mutliple issues with * as a filter for target classes"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on February 03, 2012 20:59:35_

When

--targetClasses \*

Is supplied as a filter PIT fails to find any mutations

changing the form to

--targetClasses=*

seems to work as expected, but PIT uses excessive amounts of heap memory trying to instrument every class in the JVM.

_Original issue: http://code.google.com/

[2014-01-07 21:39] hcoles opened #26 "No warning given if no test library on classpath"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on February 03, 2012 21:01:18_

PIT will silently fail to find any tests if neither JUnit or TestNG are supplied on the classpath. A more user friendly error message should be displayed.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=26_

[2014-01-07 21:39] #26 closed, assigned to hcoles

[2014-01-07 21:39] hcoles opened #27 "PIT should KILL slave process after timeout"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on February 09, 2012 09:31:35_

PIT should kill the slave process executing the test(s) against the mutation(s) after some time. If the test is badly designed or the mutation fails to stop a non-deamon thread, PIT hangs forever.

I've got a project that creates a ThreadPoolExecutor and fails to shutdown() that exe

[2014-01-07 21:39] #27 closed, assigned to nobody

[2014-01-07 21:39] hcoles opened #28 "Concurrency mutation operators"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on February 09, 2012 19:28:37_

A subset of the mutation operators described in http://www.cs.queensu.ca/~cordy/Papers/BCD_ConcOps_Mutation06.pdf Should be straightforward to implement

eg

MXT - modify parameters to wait, sleep, join and await method calls
RSK/RSB - should boil down to removing monitors
RXTX - re

[2014-01-07 21:39] hcoles opened #29 "PathNamePredicateTest fails on Windows machine, MutationStatisticsTest fails with german locale"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on February 09, 2012 20:19:35_

The test org.pitest.internal.PathNamePredicateTest.shouldMatchRootsWithMatchingNames() fails on windows machines. This is due to the fact, that

DirectoryClassPathRoot(new File("/foo/bar")).cacheLocation().value() is "C:\foo\bar"

My solution is to use new File("/foo/bar").getAbsolu

[2014-01-07 21:39] #29 closed, assigned to nobody

[2014-01-07 21:39] hcoles opened #30 "Should detect classes without line or source debug information"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on February 23, 2012 12:54:36_

If PIT is asked to mutate classes which have been compiled without line numbers it will currently report that all mutations have not test coverage rather than alerting the user to the fact.

If classes without source debug are mutated PIT will null pointer when generating the report

[2014-01-07 21:39] #30 closed, assigned to hcoles

[2014-01-07 21:39] hcoles opened #31 "JUnit Assumptions not handled corretly"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on February 27, 2012 12:16:31_

JUnit has the concept of assumptions since version 4.4 (see http://junit.sourceforge.net/doc/ReleaseNotes4.4.html#assumptions for details): If an assumption fails the test will be silently marked as passed. A failed assumption will be signaled by an org.junit.internal.AssumptionViol

[2014-01-07 21:39] #31 closed, assigned to nobody

[2014-01-07 21:39] hcoles opened #32 "PIT should include it's own version and report creation date in html reports"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on February 29, 2012 12:45:39_

It would be nice if the version of PIT used to create the report and the time of the report or file creation could be displayed on each html report page. I think this information could be displayed as a footer of the html report pages. Maybe you'd like to add some copyright notices

[2014-01-07 21:39] hcoles opened #33 "PIT maven plugin does not set paths like surefire does"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on February 29, 2012 13:03:47_

Current Situation:
In a multi module project. When executing my tests with surefire they'll always pass. When executing the same tests with PIT (maven plugin) inside the (sub)modules they'll pass. When executing PIT from the parent/aggregator project some tests fail.

The tests fail

[2014-01-07 21:40] #33 closed, assigned to nobody

[2014-01-07 21:40] hcoles opened #34 "Constructor Call Mutator cannot mutate creations of super class in constructor"
_From [stefan.p...@googlemail.com](https://code.google.com/u/115492280750533935957/) on February 29, 2012 21:43:38_

The MethodCallMethodVisitor has one draw back/problem: In a constructor it cannot mutate creations of the super class as they do not differ from the own constructor call:

[code]
does not result in any mutation because the visitor cannot distinguish
between "super()" and "new B()".

[2014-01-07 21:40] hcoles opened #35 "ArrayIndexOutOfBoundsException with MemberVariableMutator"
_From [msz...@wp.pl](https://code.google.com/u/116891989919461415994/) on March 29, 2012 23:28:08_

Pitest 0.26 from sonatype repo running from Maven got ArrayIndexOutOfBoundsException when EXPERIMENTAL_MEMBER_VARIABLE is enabled. Report is generated anyway.

Error should be reproducible with "mvn package org.pitest:pitest-maven:mutationCoverage" using tagged version of AppInfo:
git clone git://ap

[2014-01-07 21:40] #35 closed, assigned to nobody

[2014-01-07 21:40] hcoles opened #36 "Removed assignment to member variable - false warning when field initialized with default value"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on April 02, 2012 08:50:29_

What steps will reproduce the problem? Create a class with a member variable that is initialized to the default value of that type, for example 0. An example is the "private int workers = 0;" in https://github.com/orfjackal/jumi/blob/master/jumi-core/src/main/java/fi/jumi/core/runners/Worke

[2014-01-07 21:40] hcoles opened #37 "Do not mutate assert statements"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on April 02, 2012 09:12:00_

Right now asserts in production classes produce false warnings in the class initializer and every line that has an assertion. It would be nice if PIT would detect the assertion code and not mutate it.

This would require analyzing the bytecode to detect the assertion instructions:

In the c

[2014-01-07 21:40] #37 closed, assigned to nobody

[2014-01-07 21:40] hcoles opened #38 "Member variable mutator does not correct the stack"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on April 06, 2012 00:47:47_

Right now the MemberVariableMutator just removes the PUTFIELD instruction, but does not consume from the stack the values which would be consumed by PUTFIELD. This can result in invalid bytecode or general weirdness when the stack contains some values for the use of instructions after the P

[2014-01-07 21:40] #38 closed, assigned to nobody

[2014-01-07 21:40] hcoles opened #39 "maven-pit plugin changes order of classpath when running tsets"
_From [carsten....@gmail.com](https://code.google.com/u/103763979782185176206/) on April 12, 2012 15:50:43_

What steps will reproduce the problem? 1. Having a unit test using "jmockit.jar". This jar need to be on the class "before" junit. 2. 3. What is the expected output? What do you see instead? I expect the tests to pass in mevn-pit, such as they pass using teh surefire-plugin.
I see instead j

[2014-01-07 21:40] #39 closed, assigned to nobody

[2014-01-07 21:40] hcoles opened #40 "org.codehaus.classworlds.NoSuchRealmException"
_From [LukaS...@gmail.com](https://code.google.com/u/103395904149722812070/) on April 18, 2012 15:31:55_

I am just playing with pitestrunner and it returns with :

Please copy and paste the information and the complete stacktrace below when reporting an issue
VM : Java HotSpot(TM) 64-Bit Server VM
Vendor : Sun Microsystems Inc.
Version : 20.1-b02
Uptime : 2924192
Input ->
 1 :
stderr  : -Dmx1024m

[2014-01-07 21:40] #40 closed, assigned to nobody

[2014-01-07 21:40] hcoles opened #41 "Aggregated report for multi-module projects"
_From [msz...@wp.pl](https://code.google.com/u/116891989919461415994/) on April 26, 2012 14:34:14_

I would be useful to have a better support for multi-module projects. Currently it is possible to run pitest on multi-module project (tested with Maven plugin), but there are missing for me aggregated statistics.

Because it could be time consuming to implement at least links from a parent report to

[2014-01-07 21:40] hcoles opened #42 "JVM crash when mutating apache wicket project"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on April 30, 2012 21:51:53_

Crash seems to be deterministic when mutating a closed source wicket project.

All mutators have been individually enabled. Crash only seen with the following

RETURN_VALS
CONSTRUCTOR_CALLS
EXPERIMENTAL_INLINE_CONSTS
EXPERIMENTAL_MEMBER_VARIABLE

However, this does not necessarily impl

[2014-01-07 21:40] hcoles opened #43 "optionally suppress timestamped folders"
_From [ba...@acar.org.uk](https://code.google.com/u/110076076803060330145/) on May 21, 2012 23:46:01_

What steps will reproduce the problem? 1. run any pitest report What is the expected output? What do you see instead? - reports are placed in a timestamped subdirectory of the pit-reports directory
- I would like to optionally suppress the timestamped subdirectory and just place results in the pi

[2014-01-07 21:41] #43 closed, assigned to nobody

[2014-01-07 21:41] hcoles opened #44 "ConcurrentModificationException while collecting coverage"
_From [svobo...@gmail.com](https://code.google.com/u/106713377986830393028/) on May 23, 2012 05:34:18_

What steps will reproduce the problem? I don't know, I just ran pitest on a rather large project. What is the expected output? What do you see instead? I see a CME, and test coverage is incomplete because of this. (I know that there are tests in place where 0&#37; coverage is reported by pit.)

[2014-01-07 21:41] #44 closed, assigned to nobody

[2014-01-07 21:41] hcoles opened #45 "Occasional freeze at "Sent tests to slave""
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on June 09, 2012 22:51:18_

Today I've managed to get PIT freezing multiple times. The last thing PIT prints before freezing is "INFO : Sent tests to slave". It will continue only after stopping Maven with Ctrl+C or killing PIT's slave process.

I've attached thread dumps and console logs. This happened with revision 6

[2014-01-07 21:41] #45 closed, assigned to nobody

[2014-01-07 21:41] hcoles opened #46 "Flags not correctly set by ant task"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on June 15, 2012 12:49:21_

The ant task is not setting the flags for --mutateStaticInits and --verbose correctly.

If a value is specified it is passing

mutateStaticInits=true
mutateStaticInits=false

Which will not be parsed correctly.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=46_

[2014-01-07 21:41] #46 closed, assigned to hcoles

[2014-01-07 21:41] hcoles opened #47 "Problem with using additional classpath"
_From [msz...@wp.pl](https://code.google.com/u/116891989919461415994/) on June 17, 2012 21:55:26_

Working on a PIT plugin for Gradle I've got following exception trying to call MutationCoverageReport.main(arg) directly:

Caused by: org.pitest.PitError: Tried to retrieve value but had None.
    at org.pitest.functional.Option$None.value(Option.java:96)
    at org.pitest.mutationtest.instrument.Jar

[2014-01-07 21:41] #47 closed, assigned to nobody

[2014-01-07 21:41] hcoles opened #48 "JDK7 try-with-resources with catch produces failing mutations for autoclose code"
_From [winter.k...@gmail.com](https://code.google.com/u/100885241200896278423/) on June 23, 2012 02:42:05_

What steps will reproduce the problem? 1. Use a try-with-resources with a catch for IOException What is the expected output? What do you see instead? No failing mutations from autoclose What version of the product are you using? On what operating system? 0.27, Ubuntu 12.04 x64 Please provide

[2014-01-07 21:41] hcoles opened #49 "ConcurrentModificationException in CoveragePipe.recordTestOutcome"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on July 04, 2012 01:41:53_

Recently PIT 0.27 started reporting one of my classes as having no coverage, even though it's covered by tests and that class nor its tests haven't been changed recently - I only changed some other classes in the same module. I'm guessing the cause to be this exception which just now started

[2014-01-07 21:41] #49 closed, assigned to nobody

[2014-01-07 21:41] hcoles opened #50 "Enhancement Request: Ability to override, and customize, TestSelection Strategy"
_From [xri...@gmail.com](https://code.google.com/u/103718316659568398017/) on July 12, 2012 19:02:17_

The default Test Selection Strategy employed by PIT is designed to minimize the number of tests to be run against each mutated class. This can lead to omitting classes from execution that should be run. This in turn leads to false positives for surviving mutants that would have been killed had th

[2014-01-07 21:42] #50 closed, assigned to nobody

[2014-01-07 21:42] hcoles opened #51 "Outdated ReportOptions.toString()"
_From [msz...@wp.pl](https://code.google.com/u/116891989919461415994/) on July 14, 2012 16:34:46_

ReportOptions.toString() doesn't include some new fields (like [include|exclude]TestNGGroups or shouldCreateTimestampedReports). It can be confusing when wondering why something doesn't work.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=51_

[2014-01-07 21:42] #51 closed, assigned to nobody

[2014-01-07 21:42] hcoles opened #52 "verifyEnvironment() has problems with some JUnit version strings"
_From [irau...@googlemail.com](https://code.google.com/u/115642024929102625823/) on August 24, 2012 09:16:00_

What steps will reproduce the problem? 1. Start PIT with the JUnit version mentioned below in the class path. What is the expected output? What do you see instead? An error occurs in the version parser in "JUnitCompatibleConfiguration.verifyEnvironment(…)". The environment verifier assume

[2014-01-07 21:42] #52 closed, assigned to nobody

[2014-01-07 21:42] hcoles opened #53 "Extend static initializer detection"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on August 31, 2012 12:49:20_

Support for some additional specific scenarios should not be hard eg private static methods called only from a static initializer block

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=53_

[2014-01-07 21:42] hcoles opened #54 "Incremental analysis"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on August 31, 2012 12:55:10_

Simple file based incremental analysis recording and using classpath and detection history.

Should be able to detect . . .

TIMEOUTS. No change in class then assume still a timeout
KILLED. No change in class or killing test then assume still killed.
KILLED. Class or test change then

[2014-01-07 21:42] hcoles opened #55 "Detect order dependencies in test suite"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 03, 2012 19:27:08_

Add optional stage to run tests in various orders with no mutations present to weed out bad tests.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=55_

[2014-01-07 21:42] hcoles opened #56 "Not reporting junit incompatibilities"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 10, 2012 21:59:38_

Seems to work in some scenarios, but PMD (using JUnit 4.4) gives an unhelpful

   [pitest] at java.util.concurrent.FutureTask$Sync.innerGet(FutureTask.java:222)
   [pitest] at java.util.concurrent.FutureTask.get(FutureTask.java:83)

_Original issue: http://code.google.com/p/pitestr

[2014-01-07 21:42] hcoles opened #57 "turn inlined code detection on by default"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 22, 2012 21:21:07_

no issues reported since introducing it

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=57_

[2014-01-07 21:42] #57 closed, assigned to hcoles

[2014-01-07 21:42] hcoles opened #58 "tone down logging"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 23, 2012 16:34:40_

Default behaviour is currently to output lots of noise. Some sort of feedback mechanism still required however to make it clear things haven't just hung during long analysis sessions.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=58_

[2014-01-07 21:42] #58 closed, assigned to hcoles

[2014-01-07 21:42] hcoles opened #59 "maven plugin - issues with dependencies on classpath"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 23, 2012 22:44:11_

duplicate dependencies has been observed on the classpath. Also some user reports of strange behaviour see https://groups.google.com/forum/?fromgroups=#!searchin/pitusers/classpath/pitusers/Abc2bGfFcwU/ARPs5-maXWcJ

_Original issue: http://code.google.com/p/pitestrunner/issues/deta

[2014-01-07 21:42] #59 closed, assigned to hcoles

[2014-01-07 21:42] hcoles opened #60 "remove duplicate inline consts mutator"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on September 28, 2012 13:11:14_

No issues have been reported in the experimental version. Original version ought to be removed.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=60_

[2014-01-07 21:42] #60 closed, assigned to nobody

[2014-01-07 21:42] hcoles opened #61 "NumberFormatException thrown when using JUnit 11-beta-1"
_From [dale.wij...@gmail.com](https://code.google.com/u/117923179763701525765/) on October 23, 2012 02:37:17_

java.lang.NumberFormatException: For input string: "11-beta-1"
    at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
    at java.lang.Integer.parseInt(Intege
stderr  : r.java:492)
    at java.lang.Integer.parseInt(Integer.java:527)
    at org.pitest.junit.JU

[2014-01-07 21:43] #61 closed, assigned to nobody

[2014-01-07 21:43] hcoles opened #62 "Lombok support"
_From [akash...@gmail.com](https://code.google.com/u/108337317423676516099/) on November 01, 2012 18:46:09_

Project lombok is a small code generation utility for entities/POJO. It generates constructors, setters/getters, log object etc. For example, i could write:

public class Country {
    /**
     \* Country's ISO code.
     */
    @Getter
    @Setter
    private String code;

[code]

}

and g

[2014-01-07 21:43] hcoles opened #63 "Ant task: Empty options result in errors"
_From [jdtang...@gmail.com](https://code.google.com/u/116022617263272286242/) on January 01, 2013 23:41:04_

I have an Ant task that looks like this:
        <pitest
            verbose="false"
            classPath="pitest.classpath"
            targetClasses="com.skyboximaging.*"
            excludedClasses="${pitest.excludes}"
            mutableCodePaths="${basedir}/${src.classes.dir}"

[2014-01-07 21:43] #63 closed, assigned to nobody

[2014-01-07 21:43] hcoles opened #64 "Support for JUnit categories"
_From [tommy.a...@gmail.com](https://code.google.com/u/116726942418254498302/) on January 15, 2013 13:40:03_

JUnit has support for grouping testcases by using the annotation Category. The surefire-plugin has configurationelements groups and excludedGroups. If TestNG is provided, these elements are used for configuring groups. If Junit is provided these elements are used to configure categories. P

[2014-01-07 21:43] hcoles opened #65 "Hangs if slave JVM fails to start"
_From [skiss...@gmail.com](https://code.google.com/u/112234647952989390979/) on February 05, 2013 07:07:00_

What steps will reproduce the problem? 1. Any scenario that causes slave JVM to fail to start:
a) For example, use pitest with a test which deletes only certain files from java.io.tmpdir, but which can be mutated to delete all files from java.io.tmpdir, including the pitest agent JAR.
b) Hy

[2014-01-07 21:43] hcoles opened #66 "Enhancement Request: Implement Security Manager to protect against destructive mutants"
_From [skiss...@gmail.com](https://code.google.com/u/112234647952989390979/) on February 05, 2013 07:10:39_

Suppose there is some code being exercised that deletes certain files. That code could be mutated into deleting all files. For example, code that recursively scans the filesystem for files meeting certain criteria and deletes them - if the "should I delete this file?" method was mutated to

[2014-01-07 21:43] hcoles opened #67 "Not recognized JUnit parametrized tests (both JUnitParams and Spock)"
_From [msz...@wp.pl](https://code.google.com/u/116891989919461415994/) on February 06, 2013 12:04:56_

What steps will reproduce the problem? 1. git clone git://github.com/szpak/code-examples-and-poc.git
2. cd parametrized-spock-pit-poc; mvn package org.pitest:pitest-maven:mutationCoverage
3. read generated report or verbose output What is the expected output? What do you see instead? In TestDummy

[2014-01-07 21:43] #67 closed, assigned to nobody

[2014-01-07 21:43] hcoles opened #68 "Randomly appearing newlines in output from sub-processes"
_From [jonatan....@softhouse.se](https://code.google.com/u/103640218002720706174/) on February 16, 2013 00:03:14_

What steps will reproduce the problem? 1. Trigger lots of System.out output (more than 256 characters) in a process started by org.pitest.util.WrappingProcess
2. Look at the system output from the parent process (the pitest runner)
3. Observe that a newline will be inserted after the

[2014-01-07 21:43] #68 closed, assigned to nobody

[2014-01-07 21:43] hcoles opened #69 "Should not fail maven builds when no mutations found in a pom project"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on February 18, 2013 13:07:27_

Projects with packaging of pom will not contain code - it therefore makes little sense to fail the build when there is no code to mutate.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=69_

[2014-01-07 21:43] #69 closed, assigned to nobody

[2014-01-07 21:43] hcoles opened #70 "Should be possible to override maven configuration from the commandline"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on February 18, 2013 13:25:12_

Just requires adding expression statement to the parameters.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=70_

[2014-01-07 21:43] #70 closed, assigned to nobody

[2014-01-07 21:43] hcoles opened #71 "PIT fails while analyzing sub sub modules with dependencies to sub module"
_From [AA.Ram...@gmail.com](https://code.google.com/u/107247233567198030319/) on March 04, 2013 15:22:50_

Say we have submodule1 and submodule2 in the project and submodule2 itself has two submodules (submodule21 and submodule22). Also submodule21 depend on submodule1.

mvn org.pitest:pitest-maven:mutationCoverage

fails with following messages:

[INFO] my_project ................................

[2014-01-07 21:44] #71 closed, assigned to nobody

[2014-01-07 21:44] hcoles opened #72 "Mutli-threaded runner has poor load scheduler"
_From [gvsmirno...@gmail.com](https://code.google.com/u/112823090139818216454/) on March 12, 2013 12:47:45_

1. git clone git://github.com/gvsmirnov/docs.git
2. cd docs/presentations/java-mutation-testing/
3. git checkout ee81844af094caa49b2be5e6d719d294b97a167f
4. ./prepare-commons-math3.sh
5. cd commons-math3
6. mvn clean test pitest:mutationCoverage -Dpit.threads=24

I expect to have all 24 cor

[2014-01-07 21:44] hcoles opened #73 "Parameterized tests fail during mutation phase"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on April 15, 2013 22:22:37_

Possibly linked to use of generics.

Parameterised tests discover and run without issue during coverage stage, but resolve to the JUnit error reporting runner during mutation testing. As this runner is not filterable, results in a class cast exception.

Example code and test from user

[2014-01-07 21:44] #73 closed, assigned to nobody

[2014-01-07 21:44] hcoles opened #74 "Enhancement - Add support to exclude equals, hashCode, and toString"
_From [winter.k...@gmail.com](https://code.google.com/u/100885241200896278423/) on May 06, 2013 00:34:36_

It would be great if we could optionally exclude the equals, hashCode, and toString methods - either at the report level or the core run level.  Typically, these don't do anything fancy and are autogenerated by an IDE.  When viewing the report, sometimes these are the only methods for a class

[2014-01-07 21:44] #74 closed, assigned to nobody

[2014-01-07 21:44] hcoles opened #75 "Correct support of JUnit @Ignore annotation"
_From [a.vasile...@mail.ru](https://code.google.com/u/112510599484491569870/) on June 06, 2013 11:17:58_

I've detected a bug (or maybe it is not a bug at all) with JUnit Ignore annotation.

When I add the @Ignore annotation to one of my test methods, all @Test annotated methods below the ignored one are "ignored" too. All mutations which are generated below the @Ignore annotated test don't kill a

[2014-01-07 21:44] hcoles opened #76 "pitestrunner don't include the license file"
_From [punto...@libero.it](https://code.google.com/u/115498340194563575173/) on June 16, 2013 15:42:13_

Not available LICENSE file in source directory structure
Please. Added license and copyright notice.
the fedora pakaging guideline is very strictly precise about this problem https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Text thanks
regard

[2014-01-07 21:44] #76 closed, assigned to nobody

[2014-01-07 21:44] hcoles opened #77 "Error when PowerMockito test stores mock as member"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on July 17, 2013 21:36:57_

XStream is unable to serialise class, however it pit should only be serializing classes when dealing with a mutation in a static initializer.

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=78_

[2014-01-07 21:44] #77 closed, assigned to nobody

[2014-01-07 21:44] hcoles opened #78 "Request for line coverage summary for the entire project"
_From [rahul.g....@gmail.com](https://code.google.com/u/105533050755306481756/) on August 19, 2013 00:58:02_

What steps will reproduce the problem? 1. Run Pittest on project
2. Inspect the coverage report

The pittest report provides the mutation score (detected / generated mutants), and also the line coverage per package. However the aggregate line coverage for the entire project is not provided

[2014-01-07 21:44] hcoles opened #79 "negated conditional : Mistakenly marked as survived in else if statement"
_From [martin.b...@gmx.de](https://code.google.com/u/101852559235839251535/) on September 06, 2013 14:02:06_

What steps will reproduce the problem? The following classes:
public class StateMachine {
    private State state = State.A;

[code]

}
public enum State {
    A, B, C
}
import static org.junit.Assert.assertEquals;

import org.junit.Before;
import org.junit.Test;

public class StateMachine

[2014-01-07 21:44] hcoles opened #80 "fail maven build by coverage threshold"
_From [mckirk1...@gmail.com](https://code.google.com/u/108331001875187794745/) on September 14, 2013 20:35:38_

What steps will reproduce the problem? 1. Configure coverageThreshold in maven plugin configuration
2. Run maven build where coverage percentage is less than configured 3. What is the expected output? What do you see instead? Build should fail What version of the product are you using? O

[2014-01-07 21:44] #80 closed, assigned to nobody

[2014-01-07 21:45] hcoles opened #81 "Add support for Java 8 bytecode"
_From [iir...@gmail.com](https://code.google.com/u/113896979631297957884/) on September 22, 2013 18:40:29_

With the latest version (0.31) when I try to run pitest against Java 8 bytecode I get  IllegalArgumentException at org.pitest.reloc.asm.ClassReader.<init>

Version 0.28 works with Java 8 bytecode, versions 0.29 and up don't work.

_Original issue: http://code.google.com/p/pitestrunner/issues

[2014-01-07 21:45] hcoles opened #82 "Make configurable the JVM for running tests"
_From [esko.luo...@gmail.com](https://code.google.com/u/102883237794451111459/) on October 03, 2013 19:55:49_

Currently PIT always uses the JVM specified in JAVA_HOME. This is problematic for projects that need to run tests on a different JVM. The Maven Surefire Plugin ( http://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html ) takes an optional "jvm" parameter for that purpose. PIT

[2014-01-07 21:45] #82 closed, assigned to nobody

[2014-01-07 21:45] hcoles opened #83 "Support for RoboElectric"
_From [henry.co...@googlemail.com](https://code.google.com/u/110593770751416093310/) on December 02, 2013 20:41:22_

RoboElectric looks to somehow force a second version of CodeCoverageStore to load, resulting in null pointer exceptions

_Original issue: http://code.google.com/p/pitestrunner/issues/detail?id=84_

[2014-01-07 23:44] #83 closed, assigned to hcoles

[2014-01-10 13:29] nespera opened #86 "Run PIT over itself"
In order to keep the PIT doing the mutation from the PIT being mutated, @hcoles suggests:

[2014-01-12 17:50] gvsmirnov opened #89 "Pitest vs Defensive Programming"
Consider the following snippet (reduced from actual production code):

[code]

To which PIT will generate a false positive:

[code]

(`distance` is guaranteed to be non-zero in that line)

Surely, that is not something easily fixed, but the issue arises in projects which use defensive programming. Or just check arguments in the beginning of the method, for that mater.

[2014-01-13 13:54] alexec opened #90 "support Spring 2.5.6"
Hi there,

Spring 2.5.6 does not support Junit > 4.4. This is a very widely used version of Spring, so it allow a lot more people to use pi test.

[2014-01-13 20:12] nespera opened #91 "Error on website"
The command line quick start gives the wrong package for MutationCoverageReport. It should be org.pitest.mutationtest.**commandline**.MutationCoverageReport. I'd raise a pull request, but the website source isn't on GitHub...

[2014-01-13 21:17] #91 closed, assigned to nobody

[2014-01-15 08:55] PerterB opened #92 "FATAL_ERROR: UnsupportedOperationException"
When running the latest version of PIT from maven I am seeing the following error:

INFO] ------------------------------------------------------------------------
[ERROR] FATAL ERROR
[INFO] ------------------------------------------------------------------------
[INFO] Tried to retrieve value but had None.
[INFO] ------------------------------------------------------------------------
[INFO] Trace

[2014-01-17 22:34] #42 closed, assigned to hcoles

[2014-01-17 22:37] #21 closed, assigned to nobody

[2014-01-27 13:06] pettermahlen opened #94 "PITest doesn't detect&run Guava AbstractPackageSanityTests"
I'm using AbstractPackageSanityTests to automatically verify lots of things about my classes (https://plus.google.com/+googleguava/posts/5aWT41Sj4bG). Unfortunately, it doesn't play well with PITest, as PITest doesn't seem to find the tests defined in the AbstractPackageSanityTests superclass. I'd be happy to try to submit a patch if I can get a pointer to where in the code this should be fixed.

[2014-01-27 13:55] #94 closed, assigned to nobody

[2014-02-05 15:16] mnagel opened #95 "Getting started with PIT in Jenkins with Maven"
I am new to PIT and have some issues getting started within a Jenkins/Maven environment.

I added to the pom.xml:

[code]

I defined the following goal for the build:
`clean install org.pitest:pitest-maven:mutationCoverage`

Now when I run a build I get:

[code]

Can someone give me a hint what I forgot to configure?
Is this the right place to discuss such issues?

Best Regards
Michael

[2014-02-12 16:49] #95 closed, assigned to nobody

[2014-02-19 18:35] #75 closed, assigned to nobody

[2014-02-19 18:35] #64 closed, assigned to nobody

[2014-02-19 18:36] #81 closed, assigned to nobody

[2014-02-19 18:36] #92 closed, assigned to nobody

[2014-02-19 20:05] hcoles opened #97 "Support JSR instructions in legacy bytecode"
PIT is currently broken for code using the deprecated JSR instruction as it is not supported by ASM when computing frames.

Frames only need to be computed for java 7, so it ought to be possible to read the header and enable/disable compute frames based on the bytecode level.

[2014-03-04 16:14] eis opened #100 "Class path .jar opening issues are not reported properly"
On problems when opening a class path entry, even with verbose enabled, the error message doesn't really help:

[code]

At the very least, the error message should tell which file it had problems with.

[2014-03-04 22:43] #78 closed, assigned to nobody

[2014-03-05 05:41] #100 closed, assigned to nobody

[2014-03-05 08:16] eis opened #102 "NoClassDefFoundError does not tell the offending class"
Currently, if a class is not found, the output is even with verbose

[code]

which doesn't really tell which class was not found, making it a lot harder to fix the problem.

[2014-03-05 21:03] hcoles opened #104 "Unexplained test failure"
See https://groups.google.com/forum/#!topic/pitusers/7WgvbaUTUqs

[2014-03-06 20:29] eis opened #105 "Missing hamcrest library causing tests not getting picked up without error message"
Here is the example project I've been running on Windows, on Eclipse for JaCoCo coverage, command line for PIT testing: https://github.com/eis/pitest-hamcrest-issue-demo

You can see in the repo the two runs, successful one:

https://raw.github.com/eis/pitest-hamcrest-issue-demo/master/target/pitest/201403062208/index.html (showing 44% line coverage)
https://raw.github.com/eis/pitest-hamcrest-issu

[2014-03-12 06:24] #102 closed, assigned to nobody

[2014-03-16 09:59] alexec opened #106 "Maven plugin: skip module"
It'd be good to be able to skip a single module when doing a multi-module build. E.g. if it has no tests.

[2014-03-17 21:00] #104 closed, assigned to nobody

[2014-03-23 00:58] ssayed1 opened #107 "Pitest errors with Ant"
Encountered the below errors while executing pitest for ant.

Build.xml Code:

<path id="test.path">
    <pathelement location="lib/junit-4.3"/>
</path>

<path id="pitest.path">
       <pathelement location="lib/pitest-0.32.jar"/>
      <pathelement location="lib/pitest-ant-0.32.jar"/>
</path>

<taskdef name="pitest" classname="org.pitest.ant.PitestTask" classpathref="pitest.path"/>

<target name=

[2014-04-11 21:23] UrsMetz opened #110 "Typo in FAQ on pitest.org"
On http://pitest.org/faq in the section "I’m seeing a lot of timeouts, what’s going on?" there is a typo: after the enumeration of the reasons for timeouts "infinite loop" is spelled incorrectly: "infnite loop".

Right in the next section there is another typo: The text says "please raised a defect" but I think it should be "please raise a defect" (or in the github jargon "please raise an issue +

[2014-04-23 11:04] devmop opened #111 "Pitest changes behaviour of JUnit's ClassRule"
There's a small example of the issue at https://github.com/devmop/pitest-classrule-error-example.

Seemingly PITEST doesn't conform to "The Statement passed to the TestRule will run any BeforeClass methods, then the entire body of the test class" of the ClassRule documentation. Instead the TestRule is called for each test in the test class causing issues with static resources that expect certain m

[2014-05-02 14:54] theangrydev opened #112 "No mutations are created when the project path has spaces"
When there are spaces in the path to the Maven project, no mutations are created, however the test coverage is computed correctly.

[2014-05-02 14:57] theangrydev opened #113 "Maven plugin fails when there is no test library on the classpath"
For a parent project that has one or more sub projects with no tests (e.g. the content project of a web application), the plugin fails if run against the parent project when it encounters a sub project with no test library.

[2014-05-02 18:14] saden1 opened #114 "Pit Fails When Using Java 8 Compiler with -parameters flag"
If I compile my classes with the following javac args pit crashes:

[code]

[2014-05-02 21:35] #114 closed, assigned to nobody

[2014-05-03 06:54] eis opened #115 "Using Oracle JDK 6 fails org.pitest.coverage.CoverageTransformerTest"
Using this:

[code]

and then doing mvn clean test results in

[code]

Switching to

[code]

fixes the problem.

I don't know if JDK 6 is supported, but adding this in case someone else encounters the issue.

[2014-05-05 19:59] #115 closed, assigned to nobody

[2014-05-05 20:01] #97 closed, assigned to nobody

[2014-05-07 12:05] hcoles opened #116 "Drop support for running on a Java 5 JVM"
The 0.34 release will restore full support for Java 5 bytecode (issue #97) and should therefore make pitest fully Java 5 compatible again.

Java 5 is now well and truly end of life and it is generally possible to run tests on a later JVM even if the final target is lower.

It is therefore proposed to raise the minimum supported JDK for pitest to Java 6.

**Java 5 bytecode will continue to be fully

[2014-05-09 12:33] fge opened #117 "0.33: when two classes have the same name but in different packages, mutation testing output is correct but the source is wrong!"
The package is [this one](https://github.com/parboiled1/grappa). I have two classes named `DefaultValueStack`, one in `com.github.parboiled1.grappa.stack` and another in `org.parboiled.support`.

I use the gradle plugin configured as such since the default package is not the group name:

[code]

When generating the report, I have the surprise to see that the source of `DefaultValueStack` displayed

[2014-05-11 18:46] #117 closed, assigned to nobody

[2014-05-13 07:00] fge opened #119 "An off-by-one mutator?"
Hello,

There is, as far as I see, a mathematical mutator turning additions into substractions etc; but I don't see an "off by one" mutator.

Those errors are very common and, as far as I see, seldomly tested; therefore I think it would be a good idea to implement such a mutator, which would turn x into x + 1, x - 1 into x, etc, or the reverse?

Comments?

Side question: any release date for 0.34?

[2014-05-14 14:45] gvsmirnov opened #120 "Documentation out of sync with the code"
The [documentation](http://pitest.org/quickstart/maven/) says:

While the code says:

[code]

Same goes for `includedTestNGGroups`

[2014-05-15 12:25] hcoles opened #121 "Switch version numbering"
I uploaded the first public release of pitest about 4 years ago. By that point I had been using it myself for a while and it had been through 17 non public releases, so the release that went public was numbered 0.18.

After four years we're now all the way up to 0.34 and all in all pitest is a pretty mature product.  Unfortunately it appears the release numbering system is putting some people off

[2014-05-16 10:19] #120 closed, assigned to nobody

[2014-05-18 14:42] #121 closed, assigned to nobody

[2014-05-18 15:03] #48 closed, assigned to nobody

[2014-05-18 15:04] #24 closed, assigned to hcoles

[2014-05-18 15:39] #110 closed, assigned to nobody

[2014-05-18 16:22] hcoles opened #122 "Documentation"
The documentation for pitest is starting to get out of sync with the code. Part of the problem is that the existing site is not easy to update.

I'd therefore like to move most of the documentation off of the site to somewhere where it is easier to update, leaving the site for more promotional purposes (incidentally if anyone knows of someone that could do a better job of making the site look nice

[2014-06-06 09:19] hcoles opened #123 "Relative path handling in maven plugin incorrect for history file"
Plugin does not follow guidance here

http://maven.apache.org/plugin-developers/common-bugs.html#Resolving_Relative_Paths

[2014-06-06 09:52] hcoles opened #124 "Upgrade to ASM 5_0_2"

[2014-06-07 14:57] hcoles opened #125 "Common index for mutators"
A mutation is currently identified by the combination of
- Generating mutation operator
- The method descriptor
- It's numeric "index" - e.g this is the 3rd mutation this mutator could create in this method

This scheme has the advantage that mutations are relatively stable when the method changes. Introducing 20 new IINC instruction would leave mutations that affect other instructions with the sa

[2014-06-07 15:01] #90 closed, assigned to nobody

[2014-06-07 22:22] devmop opened #127 "Tests using assert don't kill mutations"
If you use Java's assert instead of JUnit's or Testng's assertTrue mutations are reported as surviving. Manually applying the failing mutation generates a failing test for both tools.

I'm not sure if this behaviour is intentional as it's consistent to both tools but I can't find anything mentioning this in the documentation.

I've made examples for both [JUnit](https://github.com/devmop/pitest-as

[2014-06-08 16:54] #127 closed, assigned to nobody

[2014-06-09 12:46] hcoles opened #128 "Break build on low test strength"
By popular demand pitest makes it possible to break the build if a certain line coverage or mutation score is not achieved.

Using a metric in this way can however drive the wrong behaviors, resulting in over specified tests and unit tests for code that would be more sensibly integration tested rather than unit tested.

A better metric on which to break the build might be a measure of average test

[2014-06-11 21:28] #124 closed, assigned to nobody

[2014-06-25 11:54] StefanPenndorf opened #131 "Mutant survives due to wrong coverage analysis"
I found a bug in coverage analysis. If there is a local variable involved in an if-else if-else construct, coverage analysis does not detect the correct test(s).

I simplified my real-world example to the following lines:

Code under Test

[code]

Test Cases:

[code]

The Negate-Condition Mutation of the else-if construct (checking digits==2) survives although this would be killed by test2 or test

[2014-06-26 19:51] noroute opened #132 "Enable scmMutationCoverage goal to analyse files in the last commit"
For use in Continuous Integration scenarios it would be helpful to run mutation analysis only on the files changed last. At the moment this is only possible for uncommitted changes, which is only useful for analysis on developers' machines before pushing.

I'm not sure how difficult this would be since the Maven SCM Plugin does not seem to have a generic way to get hold of the files modified in a

[2014-07-03 21:00] artnaseef opened #133 "Removal of assignments inadequate sometimes"
Before I get started, let me say that I've just started using PIT for mutation testing and love it so far.

On to my concern: sometimes the mutation that removes assignments does not yield a killed mutation because the assignment happens to be the default value (talking about booleans here); for example:

[code]

Would it make sense to have a mutation that changes the value of the assignment rathe

[2014-07-19 20:29] sergey-soloviov opened #134 "Avoid mutation testing for unsupported methods."
Ignore methods which has only one statement and this statement is:

[code]

[2014-07-19 20:35] sergey-soloviov opened #135 "Maven do not show error message when mismatches one of mutator name."
# Steps to reproduce:
1. Create a maven project, add tests and add the pitest plugin.
2. Specify the list of mutators in the plugin configuration.
3. Mismatch the name of one of mutator (eg. NONVOIDMETHODCALLS).
4. Run for mutation coverage.
# Actual result:

[code]

No additional information available.
# Expected result:

The plugin should tell that there is a mismatch.

[2014-08-11 09:30] #32 closed, assigned to nobody

[2014-08-11 15:50] #62 closed, assigned to nobody

[2014-08-31 07:59] UrsMetz opened #137 "version number of Maven module 'pitest-java8-verification' lags behind other modules"
I just noticed that the module `pittest-java8-verification` still has the version number `0.34-SNAPSHOT`. Shouldn't it have the same version that the other modules have (i.e. currently `1.0.1-SNAPSHOT`)?

[2014-08-31 08:33] UrsMetz opened #138 "Roadmap item for better Maven multi-project support seems to be fixed"
The item on the [roadmap](http://pitest.org/roadmap/) saying "Improved maven multi-project support" seems to be fixed (at least according to the status of the [linked Google Project issue](http://code.google.com/p/pitestrunner/issues/detail?id=6).

[2014-09-03 19:03] UrsMetz opened #139 "Mutation for methods with compatible return and input type"
PIT should have a mutation for method calls that return the same type as it's argument, e. g. a method like

[code]

where `makeUpperCase` has the signature `String makeUpperCase(String arg)` should be mutated to

[code]

In this example this would help checking whether tests for the non-upper-case case exist.

This could even be extended to return types compatible with the argument's type, e. g.

[2014-09-04 11:09] #137 closed, assigned to nobody

[2014-09-23 21:04] #125 closed, assigned to nobody

[2014-09-23 21:09] #135 closed, assigned to nobody

[2014-09-23 21:26] #111 closed, assigned to nobody

[2014-09-24 11:41] #138 closed, assigned to nobody

[2014-09-26 09:33] sergey-soloviov opened #140 "Invalid coverage percents calculation"
When the class has a lot of mutations performed and only one mutation survived then in the report is displayed 100%.
This issue is rounding error.
On the attached image you will find the screenshot of pitest report with teh issue.
![pitest_calculation_error](https://cloud.githubusercontent.com/assets/1685337/4418475/0d2001be-4560-11e4-9f45-033a0accd5da.png)

[2014-09-27 20:54] #79 closed, assigned to nobody

[2014-09-29 20:19] gvsmirnov opened #141 "Publish artifacts to jCenter"
Many projects do not use Maven central at all, but use Bintray's [jCenter](https://bintray.com/bintray/jcenter) instead.
It would be prudent to upload the releases there as well.
Here's a manual: http://veithen.blogspot.com/2013/05/github-bintray-maven-release-plugin.html

I'm up for implementing it if nobody objects.

[2014-10-03 11:35] #141 closed, assigned to nobody

[2014-10-18 13:50] hcoles opened #142 "Static analysis for test order heuristics"
For targeting of tests coverage data has proven to be far superior to pit's original static call graph analysis. It may however be possible to improve test prioritisation using static analysis.

Possible avenues to investigate
1. Prioritise tests that are fewer method calls away from the mutant first
2. Weight tests in less complex test classes first (using complexity as a likely indicator of spee

[2014-10-21 06:31] msjconscius opened #143 "Analysis of large multi-module projects only reports mutants for last module."
I have a project with a total LOC of 130K lines and 5 sub-modules.

When trying to run PITest on the code with a total number of 2109 tests and the option "-DhistoryOutputFile", the file seems to grow becoming rather big, but in the end when the execution run ends, the file is reduced to only a few kb.

The reactor summary is as follows (building with maven 3 and pitest 1.1.0):

[INFO] -----------

[2014-10-28 20:57] UrsMetz opened #145 "Ambiguous mutation description in HTML report"
The descriptions of some mutations are ambiguous in the HTML report. This can make it hard to find out what kind of mutations are not covered by tests.

Here you can find a minimal example of what I mean: https://github.com/UrsMetz/pitest-ambiguous-mutation-description-in-html-report.
The mutator "removed conditional" is listed twice but it is not clear from the report what kind of mutation surviv

[2014-10-28 20:59] UrsMetz opened #146 "include mutated code in report"
Currently the mutations are only described in textual form which makes it sometimes hard to find out which kind of mutation of the code is not covered by the tests. I think including the mutated code (like [mutant](https://github.com/mbj/mutant) does in the report in the terminal) for survived mutations in the HTML reports created by PIT could help with that. This would solve issue #145.

[2014-11-01 17:06] #131 closed, assigned to nobody

[2014-11-01 17:06] #116 closed, assigned to nobody

[2014-11-01 17:06] #106 closed, assigned to nobody

[2014-11-05 18:20] lkwg82 opened #147 "add support for annotations in VoidMutator"
Hi

as annotations gets more and more inherent part of the logic I'd like to see support of them in the Void Mutator. Or even in its own mutator.

What do you think about that?

Cheers Lars

[2014-11-05 20:58] #139 closed, assigned to nobody

[2014-11-11 09:16] estekhin opened #148 "unable to use latest versions of pitest, tesng and jmockit together"
Related to https://github.com/jmockit/jmockit1/issues/24 which describes problems when using gradle+testng+pitest+jmockit.

When using maven pitest plugin and a very simple project (a pom.xml, a "main" class and a test class) simply adding jmockit dependency breaks the build even if the jmockit is not used in tests.

The pom xml is:
[code]

`mvn clean org.pitest:pitest-maven:mutationCoverage` resu

[2014-11-11 19:52] UrsMetz opened #149 "testing harness: mutants in nested methods are not found"
When `MutatorTestBase#getFirstMutant()` is used to obtain mutants for unit testing mutants for code in nested methods are not found, cf. `org.pitest.mutationtest.engine.gregor.MutatorTestBaseTest` in https://github.com/UrsMetz/pitest/tree/nested-mutants-are-not-found-by-test-harness.

Is this intentionally/by design? If this is the case than this should be documented.

[2014-11-12 06:31] #149 closed, assigned to nobody

[2014-11-17 22:07] hcoles opened #150 "Line coverage under reported"
Line coverage has regressed in 1.1.1 such that the final line of a method is sometimes reported as uncovered.

This does not appear to affect the mutation score as the only instruction it seems to affect are return statements from void methods.

[2014-11-18 09:17] #150 closed, assigned to nobody

[2014-11-19 20:06] ChristianSchwarz opened #151 "Add JavaDocs to MutationDetails & DetectionStatus"
As add-on developer i need to know what kind of information is returned by MutationDetails getter's.
- getDescription()   _returns the readable name of the applied mutation, but what is returned if the Status is NO_COVERAGE ?_
- getLine() _the line number zero based?_
- getBlock()  _seems to be always >1 but what is a block, line numbers?_
- ...

Every _DetectionStatus_ need to be documented. What

[2014-11-21 10:02] hcoles opened #152 "Does not work with IBM jdk"
See https://groups.google.com/forum/#!topic/pitusers/qN8lIQrwSXg

[2014-11-23 10:38] hcoles opened #153 "SCM plugin broken on maven 2"
See https://groups.google.com/forum/#!topic/pitusers/W8MtlRJGhLQ

[2014-11-28 09:25] #151 closed, assigned to nobody

[2014-12-02 10:12] Sergh888 opened #155 "pitest-maven 1.1.1 and above lost compatibility with JDK 1.5"
Hello.
pitest-maven 1.1.1 and above lost compatibility with JDK 1.5.
I support the old code. Difficult get the actual code coverage (without pitest). Please return compatibility with JDK 1.5.

[2014-12-15 16:26] swarr opened #156 "Mutator which swaps method parameters of the same type"
Is there a mutator which replaces parameters of the same type in pitest? This could help to find if tests really checks parameters order. For example tests only execute some method which takes two int parameters with the same values (like 0, 0 or 105, 105). I do not see existing mutator which helps to find such missed test.

Note that this mutator will create equivalent mutation in case method is

[2014-12-17 19:50] saden1 opened #157 "Pit Maven Plugin Should Honor -DskipTests Flag"
Currently if you issue the following command it appears from the log that pit is trying to do work:

[code]

Pit should emulate similar plugins (surefire/jacoco) and not do any work/analysis and log a simple message indicating mutation testing is being skipped:

[code]

[2014-12-22 20:30] krzs opened #158 "Not all relevent tests run for mutation in 1.1.1-2"
Hello,

I think I've found a bug in pitest 1.1.1 and 1.1.2 with Void Method Call Mutator.
I have a simple class:

[code]

and a test:

[code]

All possible cases and mutations are covered. However pitest says:

[code]

for line:

[code]

which is not true, because if I remove this line the first test testValidateEmpty does not throw IllegalStateException and, of course, fails.

If I change the ver

[2014-12-23 11:20] alexec opened #159 "Add ability to ignore classes based on type annotation"
We have some auto-generated class we don't really need coverage for. They are annotated using Lombok's @Data annotation. Can we please have the ability to ignore them?

http://projectlombok.org/features/Data.html

[2014-12-24 09:41] #152 closed, assigned to nobody

[2014-12-24 09:41] #153 closed, assigned to nobody

[2014-12-24 09:42] #158 closed, assigned to nobody

[2015-01-06 22:05] #157 closed

[2015-01-07 19:15] lkwg82 opened #161 "have a sonarqube analysis to check code quality"
Sonarqube offers free analysis for open source projects. To support the code quality and see the worst mistakes.

I will make a request on the mailing list.

Cheers Lars

P.S. see for example: http://nemo.sonarqube.org/dashboard/index/48209

[2015-01-07 20:30] hcoles commented on #161
Pitest did use to be on sonar nemo, not sure how it got on there but I suspect the reason it was taken off is that the test suite is fairly expensive to run and doesn't play nicely with coverage tools.

While it was on there the feedback wasn't too useful as it was unclear what (if anything) triggered an analysis. If there's a github hook or something similar now that would be great.

[2015-01-08 22:46] lkwg82 commented on #161
I already requested it on the mailinglist: http://sonar.markmail.org/search/?q=list%3Aorg.codehaus.sonar.user+pitest#query:list%3Aorg.codehaus.sonar.user%20pitest+page:1+mid:r44tdosw5unnli7a+state:results

[2015-01-15 10:56] ehartmann commented on #161
Hi,

The analysis has been set up and the result is available here : http://nemo.sonarqube.org/dashboard/index/org.pitest:pitest-parent

Cheers,

Eric

[2015-01-15 11:09] hcoles commented on #161
Thanks - from the mail trail it sounds like it runs weekly, which is certainly more regular than when it was on there before.

Do you know if oss developers can get logins to nemo so they can mark false positives etc?

[2015-01-15 13:42] ehartmann commented on #161
Exact the analysis are running every week-end.

For the time being, it's not possible to add account on Nemo. But it's a feature that we may offer in the future.

[2015-01-15 19:22] lkwg82 commented on #161
I think this can be closed as complete.

[2015-01-15 19:27] lkwg82 commented on #161
I forgot to add a link to the Readme.md

[2015-01-16 21:24] twillouer commented on #106
Hi, thanks for this work.

Can you add the 'skip' flag on your documentation (http://pitest.org/quickstart/maven/) (or give me the right link where I can submit a PR).

[2015-01-16 23:25] gehel opened #163 "Failing on coverage threshold but HTML report indicates high coverage"
I have configured pitest-maven to fail if coverage is < 80%. One of the modules in my build fail with :
[code]

This module has a single package. The HTML report show the package having 91% coverage and each class having coverage > 85%.

It looks like there is something not coherent between the reports and the checks ...

I can push a branch of my project (work in progress) if that helps you diagn

[2015-01-17 08:25] gehel commented on #163
Branch reproducing the problem has been pushed to https://github.com/jmxtrans/jmxtrans2/tree/pitest-reports-good-coverage-but-fails-checks

Note that this is work in progress and might expose quite a few unrelated problems.

[2015-01-18 09:12] hcoles commented on #163
Thanks for the report. I managed to reproduce some strangeness using your branch last night.

Not had chance to dig deeper yet.

[2015-01-19 21:48] hcoles commented on #106
@twillouer

You can create a PR against

https://github.com/hcoles/pitest-site

thanks.

[2015-01-19 22:24] hcoles commented on #163
Ok, the issue looks to be that classes from the test source tree are being incorrectly included in the threshold check.

Shouldn't be too hard to fix.

[2015-01-19 23:03] hcoles commented on #163
Fixed in 1.1.4-SNAPSHOT

[2015-01-20 12:02] gehel commented on #163
Thanks a lot ! I'll have a look as soon as I can. Any idea when 1.1.4 will be released ?

[2015-01-20 13:04] hcoles commented on #155
@Sergh888

Can you confirm if the latest 1.1.4-SNAPSHOT works for you with Java 5?

I have updated the project to target 1.5 bytecode, but am unable to test against 1.5 as cloudbees java 5 support seems to be broken.

If you can confirm this is working I will release with 1.5 support, if not the change will be rolled back.

[2015-01-20 13:28] hcoles opened #164 "Build with retrolambda"
It is not even possible to have java 1.6 compatibility and output 1.5 bytecode with the maven compiler.

[Retrolambda](https://github.com/orfjackal/retrolambda) would make it possible to remove a lot of boilerplate from the codebase, and use other java >1.5 features.

There are a number of issues that would need to be considered including
- Current strategy for testing against different java versi

[2015-01-20 14:08] Sergh888 commented on #155
@hcoles

Confirm. For me, it works well.
I executed the following command:
[code]
With the following settings in the pom.xml:
[code]

[2015-01-20 14:12] hcoles commented on #155
@Sergh888 thanks.

Java 5 will be supported for a few more releases. Regression is quite likely though without a way to automatically test it.

[2015-01-20 14:18] #161 closed

[2015-01-20 14:27] hcoles commented on #163
If no issues are found I'll probably put a release out in the next few days.

[2015-01-20 14:27] gehel commented on #163
Great ! Thanks !

I'll test that tonight ...

[2015-01-20 21:30] gehel commented on #163
Looks good, but not perfect ... Same code as in the branch published above, I have coverage test failing on the jmxtrans2-output-writers module :
[code]
but the HTML report says that line coverage on the module is 25% (85/343). So there is a small difference between 345 and 343. There might be a good reason for this, but to me it seems that this small difference indicates an issue. I definitly do

[2015-01-22 13:36] TomRK1089 opened #166 "Allow classpath exclusions when running plugin"
It would be helpful if PIT provided a way to exclude certain dependencies from the classpath when running, similar to both Surefire and Failsafe.

Alternatively, if there was a way for PIT to simply reuse any existing exclusions from Surefire, that would be nifty -- though probably more brittle.

This problem arose for me when I went to do mutation testing on an Android project -- the Android JAR

[2015-01-23 12:44] hcoles commented on #163
Hmm. That's going to take a little digging into.

There are some other changes in 1.1.4 that people have been asking for, so I think I will release as is but leave the issue open for further investigation.

[2015-01-23 16:51] gehel commented on #163
Numbers are already closer than before (in my case) so that seems to be an improvement. Or I could just be lucky ...

[2015-01-23 17:01] estekhin commented on #148
@KyleRogers can you review this once more?

I am looking at https://github.com/hcoles/pitest/blob/master/pitest/src/main/java/org/pitest/mutationtest/config/ConfigurationFactory.java and thinking about these variants:
* it is possible to use some other class to detect JUnit vs TestNG?
* it is possible to allow external configuration of JUnit/TestNG? For example, it could be an option which, when s

[2015-01-23 18:31] TomRK1089 commented on #166
I submitted a pull request at https://github.com/hcoles/pitest/pull/167 with my changes -- locally, at least, it does exactly what I want, allowing me to exclude Android JARs when running mutation analysis.

[2015-01-26 22:07] KyleRogers commented on #148
- Is it possible to use some other class?
Yes, I think every class or interface that exists since JUnit 4.0 will do the job (e.g. org.junit.runner.JUnitCore). But I don't know if that will break someone else.....

- Is it possible to overwrite autoconfiguration with explicit configuration of the desired framework?
That is possible although we have to find someone who implements it ;-).

What do yo

[2015-01-26 22:54] hcoles commented on #148
Switching to lookup org.junit.Test would be simple and might actually provide a better behaviour when only junit 3 was one the classpath.

Explicitly configuring would also make sense - happy to accept a PR.

[2015-01-27 21:21] hcoles commented on #148
I've switched the class - however I don't have a test in place for TestNG + JMockit so no idea if this fixes the issue.

[2015-01-27 21:53] KyleRogers commented on #148
You can add the jmockit dependency to the basic testng maven integration
test (maven-verification module). If the test fails this does not fix
the issue.

Am 27.01.2015 um 22:21 schrieb Henry Coles:

[2015-01-28 13:55] hcoles commented on #148
I've added a new test that is basically C&P of the existing testng case with the added dependencies.

Passes with 1.1.4 snapshot, fails with 1.1.3.

Feels like a rather shallow test as it doesn't actually use jmockit, but I'm a little short on OSS time just now.

[2015-01-30 10:51] Kidlike opened #168 "PitError: Connection reset with maven 2"
Hi,

I am trying to use pitest on an existing project, but it doesn't seem to be doing anything.

I hope all information is available on the output.

[code]

[2015-01-30 18:44] hcoles commented on #166
Fixed in 1.1.4 release - thanks!

[2015-01-30 18:44] #166 closed

[2015-01-30 18:45] hcoles commented on #155
Fixed in 1.1.4

[2015-01-30 18:45] #155 closed

[2015-01-30 20:36] lkwg82 commented on #168
maybe it helps, when you describe your runtime environment (OS, hardware, java version, kind of maven project : reactor module or not).
Does it occured once or repeatable? Did you reboot and it happens again?
Did you tried with a more recent version of maven?
Oracle or openjdk?

And and and ... .

[2015-01-30 21:02] hcoles commented on #168
The error indicates that the slave process the pitest launches couldn't start. Some things that have caused this for people in the past include

* JUnit 3 jars on the classpath
* Firewalls/virus checkers interfering with socket communication

For the same codebase have you seen this on a single machine or multiple machines?

If you mutate https://github.com/hcoles/triangle-example do you see the s

[2015-01-30 21:29] Kidlike commented on #168
The results are always consistent, no matter what I've tried.
The maven module I run it on is part of a huge maven structure. I can't see how is this relevant; although I am very new to the mutation world.

For now,
The machine is running with Intel Xeon and 8gb ram.
OS: CentOS 6.6 64bit, kernel 2.6
I tried with opendjk 1.6 and oracle 1.7.
And if I remember correctly there are no rules in iptables

[2015-01-30 22:25] KyleRogers commented on #168
Hi there,

I think the problem is indeed JUnit - I spotted you're using JUnit 4.5.
PIT seems not to work with JUnit prior to 4.6 because it's using
Description.getTestClass() method that was added in JUnit 4.6

In JUnit 4.5 the class of the test is not available in Description. It
is only possible to extract/parse it from the "name" of the test
(usually something like "shouldDoFoo(com.bar.BarTest)

[2015-01-30 22:29] KyleRogers commented on #168
Additional Note: I was able to reproduce the PitError: Connection reset when replacing JUnit 4.11 with JUnit 4.5 in the pitest-maven-verification integration tests.

[2015-01-30 22:30] KyleRogers commented on #148
@estekhin PIT 1.1.4 has been released, can you check if it works for you?

[2015-01-30 23:00] hcoles commented on #168
@KyleRogers well spotted.

I don't think it is worth the effort to try and support earlier versions of JUnit 4 - I've not encountered many codebases where upgrading to 4.6 was not a straightforward exercise.

I thought I had something somewhere that threw a meaningful error when an incompatible version was found on the classpath - clearly I am wrong however.

[2015-01-31 07:10] estekhin commented on #148
I will try it with the real project first thing on Monday.

[2015-01-31 15:43] Sergh888 commented on #155
@hcoles thank you so much!
Version 1.1.4 works perfectly for me.

[2015-02-02 07:50] estekhin commented on #148
A simple Maven+TestNG+JMockit project fails with pitest-1.1.3, runs with pitest-1.1.4,

A pretty complex Gradle+TestNG+JMockit project with pitest-1.1.4 at the very least starts to run, but now it fails due to "Exception in thread "main" org.pitest.help.PitHelpError: All tests did not pass without mutation when calculating line coverage. Mutation testing requires a green suite.", but the test suit

[2015-02-02 07:56] estekhin commented on #148
Enabling pitest.verbose option shows that after some time the tests start to fail with `java.lang.StackOverflowError` but sadly there is no stacktrace for it.

[2015-02-02 09:39] estekhin commented on #148
Modified pitest a little to print the full stack trace inside `org.pitest.coverage.execute.ErrorListener#onTestFailure()`, got this:

[code]

[2015-02-02 12:37] Kidlike commented on #168
@KyleRogers spot on!

I got my juicy reports by upgrading to 4.6.

Before closing this issue, I would suggest providing a more human friendly error message (as you thought there was).

Otherwise I bet you will get this again in the future :)

[2015-02-03 19:48] KyleRogers commented on #148
Sorry I've no idea what causes this problem. Maybe jmockit and pitest bytecode generation/insertion interfering with each other?

Maybe it's worth asking the jmockit people what could cause a stack overflow here?

[2015-02-03 21:02] hcoles commented on #148
@KyleRogers have tracked this down to an assumption made in jmockit that there will be only 1 instance of TestNG.

I can fix the code to make this assumption true for when running via pitest, but it's ugly. Will probably need to do this as looking into the TestNG code it sets a static instance member when you call it's constructor. erk.

[2015-02-03 21:55] hcoles commented on #148
I believe this is properly fixed in the latest 1.1.5-SNAPSHOT - it runs without error against https://github.com/estekhin/sandbox-gradle-testng-jmockit-pitest.

Any feedback from more complex projects would be appreciated.

[2015-02-04 07:12] estekhin commented on #148
Master fails to build due to test failures in newly-added tests.

I have built it with `-DskipTests` and used the 1.1.5-snapshot in my work project - `gradle clean pitest` successfully run to completion and produced pitest reports for all modules.

@hcoles seems like you have fixed in pitest what, in ideal world, should have been fixed in jmockit and testing =)

[2015-02-04 07:23] estekhin commented on #148
Test failures seems to be due to my host configuration - I have non-standard user home location and, consequently, non-standard local maven repo location. I re-run the build with the proper configuration and it passed.

[2015-02-04 07:23] #148 closed

[2015-02-04 10:11] hcoles commented on #148
Glad it's working - thanks everyone for your help.

[2015-02-06 12:46] alexec opened #169 "Support Cucumber JVM."
E.g. by bundling a plugin like this one:

https://github.com/alexvictoor/pitest-cucumber-plugin

[2015-02-08 09:32] hcoles commented on #169
I'd prefer not to introduce a dependency on cucumber into the main codebase.

Is there an issue with using the existing plugin?

[2015-02-08 22:47] alexec commented on #169
It's always nice to have officially supported plugins for popular tools. Just a thought.

[2015-02-08 22:47] #169 closed

[2015-02-10 16:58] Kidlike commented on #159
I am experiencing a difficulty, and I think it could be related to this.

I get the following:
[code]

I don't use that spring class directly. I guess it's being used by some annotation.
I have tried this, but nothing changed:
[code]

Shouldn't the avoidCallsTo parameter ommit the mutations for this call ?

[2015-02-10 18:05] Kidlike opened #170 "False error: Mutation testing requires a green suite"
I am running pitest against a green suite.
Though specific test classes fail when run with pitest.

The failing test classes have the following annotations:

[code]

This setup is being used so that we test code against a real DB.

If I am not mistaken these annotations is the reason these classes fail when being run by pitest.

Is this solveable ?

If not then is it possible to somehow configure

[2015-02-10 18:08] Kidlike commented on #170
When I say ignore such tests, I mean have a section in the pitest configuration like the `avoidCallsTo`. Something like `ignoreTestsThatUse`.

[2015-02-12 09:33] hcoles commented on #170
Pitest has no problem with spring annotations that I'm aware of, but if these tests are hitting a real db then they are not suitable for mutation testing as they unlikely to be repeatable.

Tests can be excluded using the excludeClasses option.

There isn't currently a built in way to exclude tests by annotation - although pitest does have partial support for junit categories that could be used fo

[2015-02-12 10:34] Kidlike commented on #170
jUnit categories seem interesting. Thanks !

***About the actual fail :***

I should have posted this from the beginning.
It throws this for several test cases:
[code]

And yes, the tests that are failing have these annotations, and are hitting a real db.
About the repetition, the db is cleared in the `@After` section. Shouldn't that be sufficient ?

[2015-02-13 12:22] JamesNWhite opened #171 "Code that launches non-daemon threads can prevent MutationTestSlave processes from exiting."
When running mutation coverage analysis against code which launches non-daemon threads additional MutationTestSlave processes are created and remain running after the analysis is complete. These can also cause the analsis to fail if they cause the machine to run out of memory.

This has been observed when using Spring's DefaultMessageListenerContainer which creates new threads for the Jms listener

[2015-02-13 12:49] hcoles commented on #171
Looking through the change history I changed pitest some time ago to kill the child processes from the parent with process.destroy (rather than trying to end within process with system.exit) to fix this very problem.

I wonder if the problem isn't something more specific to the spring JMS listener. Some sort of network io foul up creating a hard to kill process would be consistent with the non det

[2015-02-16 09:39] JamesNWhite commented on #171
Okay, from when I was looking at ths process.destroy was being called for the processes that were remaining running. My feeling at the moment is that if it is not caused by any non-daemon thread then this is going to be a very specific corner case and the effort to fix it will outweight the benefit. I will try and have another look at it when I get chance to see if I can reliably reproduce it or t

[2015-02-17 21:05] KyleRogers commented on #170
That depends on several possibilities:
- if you run pitest with more than 1 thread those tests might still interfere with each other
- if the cleanup code is part of the production code it might get mutated and clean up might fail
- it might not be the database but the file system or another shared resource which is not well isolated

Nevertheless the line you've postet ends with "Failed to load A

[2015-02-17 22:10] Kidlike commented on #170
I totally agree with not running such tests, and I will not.
But as you said, the mutation testing doesn't even start.
It fails when still calculating the coverage.
Everything is OK when running the tests normally or calculating coverage with cobertura.

I am just trying to figure out why is this happening.
We 've had a similar issue before because of multiple instrumentations on the same classes.

[2015-02-19 18:38] gb14 opened #172 "Not finding tests in classes that have suite() method (junit 3)"
I'm trying to use some old junit 3 tests and ant pit doesn't find tests in classes that have a public static Test suite() method. If I remove this method then the tests are found fine. ant test finds all tests without a problem.

A class with suite():

    test:
    [junit] Tests run: 23, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.121 sec

    pit:
    [pitest] 16:34:43 PIT >> INFO : Send

[2015-02-24 23:15] gehel commented on #159
Ideally, this should be implemented with more granularity than class level. Lomboks annotate generated code with `@javax.annotation.Generated`. It would be great to be able to ignore those methods and not the full class.

[2015-02-25 09:21] hcoles commented on #159
Unfortunately both lombok.data and javax.annotation.Generated have source retention so won't be visible in the bytecode.

Filtering methods or classes based on class or runtime retained annotations should be fairly straight forward - but you would need to double annotate lombok classes.

[2015-02-25 10:08] gehel commented on #159
Lombok also provides the ability to annotate generated code with `@SuppressFBWarnings`, which has `CLASS` retention (see [documentation](http://projectlombok.org/features/configuration.html)). I don't know much about the internals of PIT, but I expect that this is sufficient.

[2015-02-25 10:40] alexec commented on #159
I've tried to do this change myself, but I'm not really experienced enough
with the code base. I think you need to change both the coverage analysis
AND the mutation coverage?

On 25 February 2015 at 10:08, Guillaume Lederrey <notifications@github.com>
wrote:

[2015-02-25 12:19] gehel commented on #159
I have not even looked at PIT code, so don't listen to me too much ... That being said, my main concern is to make sure that we don't mutate and test generated code. It is expensive and I'd love to make my builds faster ... Excluding generated code from reports / metrics would be good, but not as important (to me) as not mutating code.

[2015-02-25 21:03] hcoles commented on #159
Currently classes that are excluded by package/name will have neither line or mutation coverage calculated.

Code filtered on a more fine grained level (e.g logging calls) will have line coverage calculated but no mutations seeded.

An annotation based filter would be easiest to implement as a org.pitest.mutationtest.filter.MutationFilter - this would mean line coverage would be calculated - even

[2015-02-26 03:47] dustinbarnes commented on #10
Is there any plan to get this in there? I'm currently trying to hack around it, but this would be the thing that really cleanly integrates into the code quality lifecycle.

[2015-02-26 11:41] hcoles commented on #10
@dustinbarnes Although I agree this would be good to have, I'm afraid it is unlikely to happen unless some-one jumps in and contributes a fix.

[2015-02-26 20:04] dustinbarnes commented on #10
That sounds fair enough. It's not so much a fix as a new feature request, really.

If I have some time, I might take a whack at it. I've created some maven mojo plugins, but never a reporting plugin. People can always go modify a site.xml and dump the PIT stuff into the ${basedir}/target/site directory, but it's kind of a pain.

[2015-02-28 19:35] hcoles commented on #10
Pull requests gratefully received.

[2015-02-28 22:06] jasonmfehr commented on #10
I'm working on writing a reporting mojo.  I'm not very far along, and given my current schedule, it will be a few weeks.  If you need it quicker and are going to work on it, please let me know so I can stop working on mine.

[2015-03-02 03:32] annushree commented on #168
Hi,
I am also facing the similar issue for one of the module. The junit version is 4.8.1 yet i see the "Coverage generator Slave exited abnormally due to UNKNOWN_ERROR " error

[ERROR] Please copy and paste the information and the complete stacktrace below when reporting an issue
08:09:47 [ERROR] VM : Java HotSpot(TM) 64-Bit Server VM
08:09:47 [ERROR] Vendor : Sun Microsystems Inc.
08:09:47 [ERROR

[2015-03-02 09:18] hcoles commented on #168
@annushree If you enable verbose logging pitest should dump the complete pathpath to the log. Can you check that you don't have a duplicate < 4.6 version of junit on the classpath?

[2015-03-03 09:07] annushree commented on #168
@hcoles : i manually checked all the pom.xml files of each module and all the junit version mentioned is 4.8.1 and still the build fails for this particular module with UNKNOWN_ERROR

[2015-03-04 22:10] hcoles opened #173 "Surefire integration"
Configuration currently needs to be duplicated between surefire and pitest (e.g excluded tests, jvm arguments).

It should be possible to read the surefire config and determine equivalent pitest configuration.

[2015-03-05 21:41] hcoles commented on #173
Initial integration added.

* Excluded tests will be converted to filters (no support for surefire regex syntax yet)
* Included / excluded groups will be converted.

Excluded tests will be added to any defined in the pitest config.

Included / excluded groups will only be read if none are defined in pitest config.

Rationale is that mutation testing might be limited to different groups, but additi

[2015-03-06 12:58] mirkosertic opened #174 "Invalid linecoverage.xml xml syntax with mutations in static initializers"
There seems to be a problem with pitest 1.1.4 when there are mutations in static initializers or constructors. The generated linecoverage.xml contains invalid xml characters such as:

[code]

The <> characters inside of method attribute value should be correctly xml encoded.

[2015-03-06 15:52] #174 closed

[2015-03-08 22:17] hcoles commented on #56
Finally fixed in 1.1.5

[2015-03-09 21:07] hcoles commented on #168
@annushree Can you confirm what output you see if you use the latest snapshot version (1.1.5)?

[2015-03-10 22:16] hcoles commented on #164
The combination of retrolambda and the shade plugin do not seem to work currently (shade 2.3, retrolambda 1.8.1).

Not clear that java 8 support is fully there for shade and retrolambda looks to generate invalid (at least as far as ASM is concerned) bytecode.

[2015-03-14 11:04] szpak opened #179 "Broken `includeLaunchClasspath=false` on Windows"
Issue originally reported to [gradle-pitest-plugin (#26)](https://github.com/szpak/gradle-pitest-plugin/issues/26). After code analyze it turned out to be a problem in PIT with parsing and comparing launch classpath.

The problem is that with `includeLaunchClasspath=false` classpath elements are taken with `ClassPath.getClassPathElements()` which returns elements as were provided in `-cp` (e.g. `c

[2015-03-14 20:40] hcoles commented on #179
Thanks @szpak I'll take a look at this as soon as I get chance.

[2015-03-16 13:27] MadaraUchiha opened #181 "Mutation survives when it should actually get killed."
I've written a [question on Stack Overflow](http://stackoverflow.com/q/29077452/871050) but figured that I might as well open a ticket in case it's a bug.

Basically, I have a mutation that removes a function call that should not survive. When I manually remove or change that function call in the class under test or in the test itself, the test fails correctly. However, the report still says that

[2015-03-16 19:40] KyleRogers commented on #181
Hi I've read your question on stack overflow. Can you post your maven config here or at stack overflow? Do you use multiple threads?

Thanks

[2015-03-16 21:04] MadaraUchiha commented on #181
Here's the file:
[code]

[2015-03-26 09:12] ankon opened #182 "Don't fail if there are no tests to mutate"
I added a new module in my maven project which only contains resources, and our "QA" build that runs pitest failed:

[code]

This module doesn't have any java source files.

It would be really nice if the mutationCoverage goal would simply skip this project, just like the maven compiler/surefire/etc plugins do.

[2015-03-26 09:36] hcoles commented on #182
This can be achieved by setting

[code]
For that module.

[2015-03-26 10:27] fge commented on #182
@ankon has a point though; if there are no Java source files to begin with, mutations should not even be attempted ;)

[2015-03-26 10:58] ankon commented on #182
@hcoles yes, and that is what I'm using now. So, on the level of severity: "minor annoyance", not "blocks anything". :)

For the case though it feels "wrong" to me to have to add this configuration, as it is "obvious" that there is no point in doing mutation coverage analysis of this project. This is why I mentioned the compiler and surefire plugins: you also configure those usually in the parent,

[2015-03-28 11:30] hcoles commented on #181
@MadaraUchiha I just had an attempt at recreating this using the code on stack overflow and the pom above without success.

If you can post a minimal project that reproduces the issues I can take a look.

[2015-03-28 12:25] MadaraUchiha commented on #181
I can try, but most of the code being proprietary doesn't really help here.
I'll try though.

On Sat, Mar 28, 2015 at 2:30 PM Henry Coles <notifications@github.com>
wrote:

[2015-03-28 12:33] hcoles opened #183 "Cannot split GwtMockitoTestRunner tests"
As reported at https://groups.google.com/forum/#!topic/pitusers/YqajYowCQok

[2015-03-28 13:51] hcoles commented on #181
@MadaraUchiha thanks

[2015-03-29 15:24] MadaraUchiha commented on #181
@hcoles When trying to reproduce this on a small-scale project, the mutation is successfully killed for me as well. This might be a weird issue with Spring injecting stuff from a context that shouldn't exist for pitest (although that shouldn't be right, because the debugger indicates that it's the correct instance of mock that's injected).

I can't look at how pitest does it specifically with the

[2015-03-30 21:34] szpak commented on #179
Closing as a fix is available in PIT 1.1.5.

[2015-03-30 21:34] #179 closed

[2015-03-31 08:43] hcoles opened #184 "Remove project file functionality"
Pitest contains an largely undocumented feature that allows project configuration to be read from a file when using the command line tool.

It is likely that this feature is not used by anyone, in which case it should be removed in the interests of having less code to maintain.

[2015-03-31 12:42] hcoles commented on #181
@MadaraUchiha Debugging this stuff is painful - pitest has to run everything in separate processes so it can reliably kill code that has caused infinite loops.

With your original project, if you set mutationUnitSize=1 in the config what happens?

It will run painfully slowly, but does the result change?

[2015-03-31 19:44] tbuchber commented on #140
I assume this "problem" still exists. It would also be beneficial to provide a percentage other than integers. Then, PIT would round to the specified precision. For example, if I specified 100.000, that would mean round the results to three decimal places. If that rounds to 100.000%, then it would pass. Another possible option is be able to supply the maximum number of surviving mutations. 0 (zero

[2015-03-31 19:47] mbj commented on #140
@hcoles BTW: I switched to rationals in mutant to avoid all this rounding issues. Right now this is only *internally* but I plan to never render the percent representation *at all* in future releases.

[2015-04-02 08:43] hcoles opened #185 "Smarter defaults for threads"
The number of threads must currently be explicitly specified. While this makes sense in terms of ensuring builds are repeatable, it means that configuration must be added to a project to get sensible defaults.

A more sensible approach would be to use the number of cores on the machine as the thread count unless an explicit number of threads has been set in the config.

[2015-04-02 13:20] KyleRogers commented on #140
Don't think the internal representation is a problem here - it's just a matter of how percentages/results will be displayed to the user.

Another option would be adding a decimal to the percentages in the HTML report. If combined with Option 1) from my first comment we'll get:

99.9 for 99.98
0.9 for 0.998
22.9 for 22.999

etc. and 99.6% instead of 100% in the example screen-shot

[2015-04-02 13:23] KyleRogers commented on #185
Not sure how that might effect users using pitest with integration tests and limited resources (database, file system etc.).

Maven, surefire etc. run single threaded by default, too. If you want to speed up things and you know your build or your tests support parallelism you can configure them to run multi-threaded.

[2015-04-03 13:44] tbuchber commented on #140
As a user of PIT, I don't care what the internal representation is. However, providing a way to help with rounding is definitely beneficial. To me, the problem is whether the PIT plug-in ends with "failure" or not that is most important. That is controlled through the mutationThreshold and the coverageThreshold settings. I believe these are currently defined as int.

As I stated above, allowing th

[2015-04-05 20:26] UrsMetz commented on #184
@hcoles I'm just browsing throw the PIT code and noticed the file `pitest/pitest/src/main/resources/project-files/sample-project.xml`. Is this an example project file for the feature talked about in this issue? In case it is the file should also be removed as the commit 77f27b9 removed the project file feature?

[2015-04-06 20:19] hcoles commented on #184
@UrsMetz Yes, that needs to go.  Thanks.

[2015-04-11 17:45] sergey-soloviov opened #186 "Avoid mutation for varrargs array creation."
I have a piece of code with varrags:
[code]
In this line of code it tells me that it made mutation "Substituted 1 with 0". After decompilling the code I found what it does:
[code]
So in line 35 it creates the array with size 1. The pitest here mutates such that the code will create the empty array. Also in the line 40-45 it stores in the array the value with index 0. Here pitest mutates 0 with 1.

[2015-04-19 08:25] KyleRogers commented on #186
Hi,

I'm sorry but I don't think this can be solved in the foreseeable future. As you already mentioned this requires source code analysis and a really smart deduction that will match source code statements and byte code. Thus even if you analyze source code you'll also need to know which byte code was created by which part of the source code which in turn requires a profound understanding of the

[2015-04-19 11:12] hcoles commented on #186
This is a tricky one that I've bumped into myself. I think it is solvable without parsing the source, but would involve quite a bit of work.

The core analysis required it to identify constants used for array creation / access where the array is then immediately passed to a method. Mutations in these instructions should be suppressed.

You might be able to stop there as in most code bases I'd expe

[2015-04-19 11:19] sergey-soloviov commented on #186
Hi,

I think will be great to create the "configuration" file where will be possible to specify what mutations to ignore and where.

[2015-04-24 10:00] bambalooon opened #188 "Support inheritance while running test cases belonging to a particular category/group"
I'd like PITest to check also superclasses categories when excluding tests by category.

It would be consistent with how surefire plugin works:
https://jira.codehaus.org/browse/SUREFIRE-829

[2015-04-28 08:25] hcoles commented on #183
Fixed in 1.1.5

[2015-04-28 08:25] #183 closed

[2015-04-28 20:12] hcoles opened #190 "Provide mechanism for configuring custom plugins"
Custom plugins are can currently only be configured by the built in properties, or by environment variables.

A mechanism is required whereby they can be passed free form options e.g as a Java properties object.

[2015-05-05 08:57] hcoles commented on #190
All tool classpath plugins now accept a Properties object to their factory method. Custom properties can now be set within a nested configuration section of the pitest config via maven.

[code]

Open questions

1) Is there any issue with also allowing this for client classpath plugins? (probably not)
2) Is "configuration" a good choice of name for the nested tag?
3) How should these properties be

[2015-05-05 09:00] hcoles opened #193 "Investigate flakey build"
The build has recently become unstable - possibly as a result of the build sometimes exceeding a time limit on travis.

Maybe the maven verification part of the build could be split out to an alternate ci server such as drone?

[2015-05-05 20:30] KyleRogers commented on #190
Let me comment on your open questions:
1) depending on the way configuration is sent to the client (as system properties?) and the amount of configuration there was a problem with older windows systems. Don't know if Windows 7 and above suffer the same limitations but surefire users had problems with too long classpaths on windows systems.
2) Maybe the tag could be named ```<pluginConfiguration>``

[2015-05-07 04:57] eis opened #194 "OptionsParserTest test fails on Windows"
Running on Windows results in one of the tests failing:

[code]

[2015-05-07 15:05] #194 closed

[2015-05-08 04:37] jasonmfehr commented on #193
The failures such as [168.2](https://travis-ci.org/hcoles/pitest/jobs/60274448) where travis ci kills the build because it has not received any output for 10 minutes I suspect are happening because of the six integration tests I added for the reporting mojo.  I am going to be looking at refactoring some of them to run much quicker.  Until I can send a PR, there are a couple workarounds available.

[2015-05-10 19:48] hcoles commented on #193
@jasonmfehr Thanks - if I encounter any more timeouts I'll add an ignore to one of the timestampedreport tests while I wait on a fix.

[2015-05-10 19:53] hcoles commented on #190
@KyleRogers

Configuration would most likely be serialised as part of the existing SlaveArguments class which shouldn't cause any OS specific problems.

`pluginConfiguration` is certainly a better name. I was toying with the idea of also using for non plugin configuration (given the pain involved in adding a new parameter to all the various build integrations), but this is probably a bad idea.

Yo

[2015-05-10 21:51] szpak commented on #190
The Gradle plugin under the hood still calls command line PIT, so it would be best (also for the Ant plugin) to allow to configure custom plugins with a command line tool.

The proposed configuration looks ok for me. Assuming that plugin configuration elements are in fact a Properties object the most suitable would be probably to use Groovy map syntax in the Gradle configuration:
[code]
As a custo

[2015-05-11 11:24] lkwg82 opened #196 "raise minimum jdk to 1.7"
It is set to 1.5 in parent pom and I think this makes too much very complicate. (Compatibility is a burden)

Supporting only last and current version seems to be reasonable to me.

What is you opinion?

[2015-05-11 11:56] hcoles commented on #196
Pitest is used with legacy codebases tied to 1.5. Support was dropped briefly but this generated complaints and it was re-introduced (see #155)

The main pain caused by 1.5 support is the lack of support on the free CI servers + the way the overrides annotation behaves.

Big gains would be made if the codebase could be moved to java 8 as tracked in #164

Unfortunately when I last looked retrolambd

[2015-05-11 13:10] lkwg82 commented on #196
And this project tied to java 1.5 is critical for pitest? How many projects are tied to java 1.5?

When this particular project uses pitest, it means there is active development. So this means there is active development of a project which are continiuously updating pitest to the latest version, but they dont move the last supported jdk?? This sounds really strange.

I suggest this project should

[2015-05-11 13:18] mbj commented on #196
@hcoles I do exactly the same with mutant. Asking people to stay with older versions. I dropped < ruby-2.0 support for mutant half a year ago.

[2015-05-12 09:44] lkwg82 commented on #196
https://www.java.com/en/download/faq/java_7.xml

Supporting java 5 is just a waste of your valuable time, except you make a business with that support.

[2015-05-12 10:34] hcoles commented on #196
Java 5 support will be dropped in release 1.1.7 - this gives anyone still using java 5 adequate notice.

As for java 6. . .

Pitest is used in a wide range of projects both greenfield and legacy.

It is common for legacy codebases to be tied to archaic versions of Java. The reasons are often political rather than technical - but this still prevents the upgrade.

It sounds like you've been lucky en

[2015-05-12 11:26] lkwg82 commented on #196
Ok.

No I've been worked with some legacy code base projects. It has been always hard to discuss on technical debts. But I recognized keeping old versions for political reasons is organisational deficite. It is a  wrong workaround in the same nature of discussions on 'code quality' vs. 'new features'. There is no versus. New features come much more easier with code quality. New features will stop

[2015-05-12 11:48] lkwg82 commented on #173
Plz can you reference the commits to watch the integration?

[2015-05-12 11:57] lkwg82 commented on #185
Writing tests for parallel run is a discipline itself. I agree to @KyleRogers go the defensive but less error prone way and leave it this way.

Threading means more cpu usage and more memory. This affects timeouts of tests eventually.

Maybe it can be
[code]

default = 1
<NUMBER> (self explaining)
auto = a profile of thread computation (e.g. numbers of cores / 2)

What about that?

[2015-05-12 12:00] lkwg82 commented on #122
can this be closed?

[2015-05-12 18:09] KyleRogers commented on #196
At my job we still have a Java 6 based project (running on Websphere 7 in production). The production environment is maintained by our customer's administrators. Thus we depend on the environment which they specify. There is a upgrade plan to Websphere 8.5 / Java 7 going to production in April 2016.

We will start to work on the Java 7 based version in October this year. @hcoles If you think about

[2015-05-12 18:26] lkwg82 opened #198 "raise minimum maven to 3.1.1"
I'd like to raise the maven version to the latest maven version supporting java5. According to [release notes](http://maven.apache.org/docs/history.html) it is 3.1.1.

Any objections?

It think it should be the first step to maven (currently) 3.3.3 (which requires jdk7).

[2015-05-12 19:18] hcoles commented on #196
As long as the free CI servers continue support it, supporting java 6 does not have a great cost. No try with resources, no diamond operator, no multi catch . . . that's about it.

The benefit of supporting it is that mutation testing is easily accessible to the teams still tied to it. There are currently **lots** of those, including some at my current employer.

When changes on one or both sides

[2015-05-12 19:31] hcoles commented on #196
@KyleRogers My condolences on websphere.

[2015-05-12 19:39] hcoles commented on #173
@lkwg82

https://github.com/hcoles/pitest/commit/9cb20a94d28d9e0635e7c23643c836dcca65788c
https://github.com/hcoles/pitest/commit/5471e705968360c06b2568a6b465d4e848be3de8

[2015-05-12 19:40] hcoles commented on #122
@lkwg82 Can't see why not.

[2015-05-12 19:40] #122 closed

[2015-05-12 21:31] lkwg82 commented on #196
It just came to my mind, that we did not clarify whether we talk about source version or target version.

I meant source version.

Sry my fault :(. Talking about (maybe) different things like experts ;)

[2015-05-12 21:52] lkwg82 commented on #196
I see, that cant do. I just raised to 6.

[2015-05-13 09:54] lkwg82 commented on #193
The flaky build is a pain! Can we reduce the tests?

@jasonmfehr I've done some cleanup to PitMojoIT, see #200 especially 2d7986f970c73668b7b3db4af914ef2f034e8c8c

[2015-05-13 11:05] lkwg82 commented on #193
I have an idea to reduce the wait time in the tests building a site:

Let introduce a custom timestamp format to have seconds instead of minutes as the lowest unit. Then we can wait a second and not wait for the next minute.

What about that?

[2015-05-13 20:19] hcoles commented on #193
I've just taken a quick look at these tests - as they stand I don't think they add enough value to justify the pain they cause.

One thought - does the mutationCoverage goal actually need to be run to test the site plugins behaviour? Could the test not just write some date stamped dirs + files to the target directory and then check how the site plugin processes them?

[2015-05-13 20:43] lkwg82 commented on #193
Removing not needed code is my favourite choice ;)

[2015-05-14 10:07] hcoles commented on #196
Ok, I've put an announcement out on the mailing list that java 5 support will be dropped for good after one more release.

@lkwg82 I had a look a while back at targeting lower bytecode from higher source a while back, but it doesn''t seem to be possible even with alternate compilers. The only route to do this at the moment looks to be retrolambda, which unfortunately I hit other issues with.

[2015-05-14 16:37] lkwg82 commented on #196
When I understand the animal sniffer output correctly, java5 support is already dropped and we can wait for this bug ;) See my jdk6 pr. Else this code is unused. So announcing end of java5 support is kind of ironic. But announcing for past releases is impolite.

[2015-05-15 00:31] jasonmfehr commented on #193
My original thought process was to run the mutationCoverage goal to guard against changes that would impact the reporting mojo.  In hindsight, I too think those tests are overkill as you all do a great job of maintaining backwards compatibility.  I will leave a couple of the quicker tests that run the mutationCoverage goal and change the others to do their own setup that matches how the pitest mav

[2015-05-15 00:34] jasonmfehr commented on #193
P.S. Thanks @lkwg82 for the heads up on the change!

[2015-05-17 20:10] lkwg82 commented on #56
So this can be closed?

[2015-05-17 20:12] lkwg82 commented on #10
I'm curious about the status.

[2015-05-18 09:42] lkwg82 opened #205 "NON_VOID_METHOD_CALLS Mutator is buggy"
I think the `NON_VOID_METHOD_CALLS`-mutator is kind of buggy.

For this class

[code]

I expect the mutation:

[code]

with this test

[code]

the reports looks this way

1. removed call to java/util/concurrent/Executors::newFixedThreadPool → NO_COVERAGE

an I dont agree ;)

Did I oversee someting?

[2015-05-18 09:53] lkwg82 opened #206 "history is not taken into account with goal `scmMutationCoverage`"
I'd like to use `scmMutationCoverage` and the history for an incremental analysis.
1. Did I oversee something or is it not used for?
2. If it is not used for, is there any reason for?

Cheers Lars

[2015-05-18 11:28] hcoles commented on #205
A NO_COVERAGE result would suggest a worrying issue with the coverage implementation rather than the mutator.

I just tried to reproduce this, but the mutation was killed as expected. See -> https://github.com/hcoles/pitest-issue-starter

[2015-05-18 11:58] hcoles commented on #168
closing as original issue fixed and no response from @annushree

[2015-05-18 11:58] #168 closed

[2015-05-18 11:59] #56 closed

[2015-05-18 12:09] lkwg82 commented on #205
I reduced it an published here: https://github.com/lkwg82/pitest_issue_205/tree/master

[2015-05-18 12:24] hcoles commented on #205
@lkwg82 The issue looks to be a typo in this

[code]

No tests are picked up as the package is called `pitxest`

[2015-05-18 19:14] lkwg82 commented on #198
It makes sense to wait for merged #202

[2015-05-18 20:01] lkwg82 commented on #205
I see, I see. Damn. ;)

[2015-05-18 20:01] #205 closed

[2015-05-19 02:03] jasonmfehr commented on #10
The initial development is done (other than fixing the long running integration tests).  In its current state, the reporting mojo simply copies the contents of the target/pit-reports directory.

I really want to add the ability to use the xml or csv files along with the doxia sink to generate a report that is fully integrated into the maven site, but that is not something I will have time to work

[2015-05-19 06:53] lkwg82 commented on #10
Maybe this issue can be split into `done` and `to do`? An issue with commits and status `unfinished` for long time looks like some blocker.

This makes the status and progress much more clearer.

[2015-05-20 04:35] jasonmfehr commented on #10
Yeah, definitely.  Want me to take care of closing down this issue an opening a new one?

[2015-05-20 06:38] lkwg82 commented on #10
Would be the best. You are on the topic and you know what have done and what is open. This also supports the maintainer to make releases and release notes. Thx.

[2015-05-24 08:27] alexec commented on #196
I'd vote against 1.7. We use 1.6 and are not moving any time soon. :(

[2015-05-24 21:42] lkwg82 commented on #196
What are your reasons to not move on? What is your business - what is the environment the decision lives in?

[2015-06-09 01:51] jasonmfehr commented on #193
Pull request #208 has been accepted, and I have not seen any more build failures because of timeouts.  This issue may be closable unless anyone would like more builds to be executed just to be sure.

[2015-06-09 02:05] jasonmfehr opened #209 "Create Integrated Maven Site Report"
Currently, the report mojo of the pitest-maven plugin works by copying the latest HTML report to the site directory.  This implementation results in a PIT report that is not integrated into the rest of the maven site.  The top/left nav sections disappear, and any skinning that is done is not applied.

Add functionality to use the doxia sink to build the PIT report based off the XML data file (when

[2015-06-09 02:07] jasonmfehr commented on #10
A basic report mojo has been implemented and will be available with pitest-maven 1.1.6.  Issue #209 was created to further the work on the report mojo.  Please close this issue as done.

[2015-06-10 09:07] ChristianSchwarz opened #210 "Improve the ConditionalsBoundaryMutator description."
Currently the ``ConditionalsBoundaryMutator`` uses the same description for all of its 8 mutators: "changed conditional boundary".  Currently users have to look up the applied mutation on http://pitest.org/quickstart/mutators/. It would be nice if the description would be more specific like "changed > to >=".

[2015-06-10 09:11] hcoles commented on #210
@ChristianSchwarz I think I looked at this when originally writing the mutator.

If I remember correctly, trying to do this can make the description more confusing in some circumstances as other source code constructs can generate the same bytecode, so you end up with a "changed > to >=" where there was no ">" in the original source.

Someone would need to look at this in a little more depth to ch

[2015-06-11 15:05] bobbylough commented on #170
I have experienced the same situation on two of my test classes.  There is nothing unique about the test classes so I really hope that progress has been made on debugging this issue.

[2015-06-15 07:31] GrzesiekP commented on #170
@bobbylough Yeah, i'm randomly getting the same error:

[code]

And this is when all my tests pass. It started happening to me when I upgraded from maven 3.2.5 to 3.3.3

[2015-06-15 08:34] GrzesiekP commented on #112
I've had the same error, when my jenkins job name contained braces ():

[code]

[2015-06-15 09:33] hcoles commented on #112
@GrzesiekP Can you confirm if you can reproduce the issue by following these steps -> https://github.com/hcoles/pitest/issues/112#issuecomment-64928889

If this does not reproduce, could you provide a set of steps that does?

Thanks

Henry

[2015-06-15 10:58] GrzesiekP commented on #112
The issue started appearing when I changed my Jenkins job name to contain braces. This caused the workspace where the project is sored to contain braces.

But I followed the steps similiar to what you listed and it appears on my local machine:
1. Clone to dir with braces ().
2. cd
2. mvn clean package (mutationCoverage is tied to test phase)

[2015-06-15 18:06] caarlos0 opened #212 "org.pitest.util.PitError: null"
Don't have any idea why, but, here it is:

[code]

[2015-06-17 12:11] hcoles commented on #212
@caarlos0 Can you clone

https://github.com/hcoles/pitest-issue-starter

And run mvn verify on the machine where you encountered this error?

If this runs successfully it rules out some sort of issue with the machine.

[2015-07-05 09:56] akhayrutdinov commented on #170
@hcoles, actually the property is called ```excludedClasses``` (see it here: https://github.com/hcoles/pitest/blob/master/pitest/src/main/java/org/pitest/mutationtest/config/ConfigOption.java#L99). There is the same misspelling error on the FAQ page (http://pitest.org/faq/).

[2015-07-10 08:54] jafarre-viewnext opened #215 "Automatic selection of targetClasses in Maven plugin"
Hi,

I was thinking about a way to configure Pittest for all projects, without specific configurations, and came up with an idea I think could be of interest.

The thing is you can infer from the POM the source code location, and from it, all target classes, instead of specifying packages, which are specific for every project and may not have a common root across projects.

This way configuration

[2015-07-10 08:57] jafarre-insags commented on #215
Cannot find a way to add a label.
Creating issue again.

[2015-07-10 09:24] jafarre-insags commented on #215
Well, in fact you can also get the compiled-classes directory form the POM (by default target/classes) and infer by recursive search of .class files.

[2015-07-10 09:53] hcoles commented on #215
@jafarre-insags The maven plugin does in fact do this already - only code from target/classes is mutated.

You raise a very good question as to why the targetClasses filter is still there. It certainly ought to be possible to make it optional when running via maven - I think the tricky bit is the instrumentation phase.

Checking where each class has been loaded from before instrumenting would be i

[2015-07-10 10:05] hcoles commented on #215
Thinking this through properly, if a scan of the mutableCodePaths was made to collect package names it should be possible to omit the targetClasses filter whenever this was supplied (i.e not just for maven).

Any targetClasses filter that was supplied to the user could be logically anded to the auto generated one.

[2015-07-10 10:43] jafarre-insags commented on #215
Thanks so much for the quick response and detailed comments.
In fact you've raised a doubt I had: mutableCodePaths is documented in command-line version, but not in Maven version and I thought it wasn't available.
Is it?

[2015-07-12 12:01] lkwg82 commented on #198
We can proceed with raising the maven version.

[2015-07-16 20:13] marcinMarcin opened #217 "Support for in-container testing with arquillian"
Is it possible to add support for in-container testing with [arquillian](https://github.com/arquillian)?

[2015-07-19 16:39] hcoles commented on #217
@marcinMarcin I don't know much about arquillian. If it spawns new jvms/processes then supporting it will be hard. If everything runs within the same jvm as the tests then it may be possible.

[2015-07-23 12:19] sandeeppatalik commented on #168
Hi,

Im also getting the error

exiting abnormally

Any solution

regards,
Sandeep

[2015-07-23 19:02] marcinMarcin commented on #217
@hcoles thanks for answer.

From http://arquillian.org/blog/tags/roadmap/:

I am interested in support for remote container, so I know it will be hard to add this functionality.

[2015-07-25 12:47] hcoles commented on #190
Easiest syntax to support using JOptSimple was

``
-pluginConfiguration=foo=1
-pluginConfiguration=bar=2
``

So almost as suggested by @KyleRogers, but without quoting.

Does anyone see any major issues with this?

[2015-07-27 07:53] hcoles opened #220 "Cannot release using java 8"
Appears to be a conflict between the maven javadoc annotations and the javadoc plugin.

Note - an explicit version was set for the Javadoc plugin to enable release in java 7. Not clear how/when that regression occurred, but the "fix" could be the cause of the issue for java 8.

[2015-07-27 20:00] hcoles commented on #220
Checkstyle goal also fails when releasing with java 7. Why? Should be run on normal verification.

[2015-07-27 20:57] lkwg82 commented on #10
this can be closed

[2015-07-27 20:58] lkwg82 commented on #184
Is this complete?

[2015-07-27 21:31] hcoles commented on #184
Yes - and now released. Thanks

[2015-07-27 21:31] #184 closed

[2015-07-27 21:35] #10 closed

[2015-07-27 22:20] lkwg82 commented on #193
I dont oversee the builds ...

@hcoles what do you think, is this completed so far?

[2015-07-28 12:08] hcoles commented on #193
@lkwg82 I still see occasional build failures, but I don't think they relate to @jasonmfehr earlier prs.

I'll close this for now and create a new issue next time a build fails.

[2015-07-28 12:08] #193 closed

[2015-08-10 09:44] szpak commented on #190
Btw, is there a recommended name convention for plugin configuration parameters? A plugin name prefix? Fully qualified plugin name prefix? To reduce a chance to make conflicts.

[2015-08-10 15:57] hcoles commented on #190
@szpak I'd suggest pick a simple name for the plugin and use that as a prefix.

[2015-08-13 20:01] szpak commented on #41
New link to Sonar plugin for PIT - https://github.com/SonarCommunity/sonar-pitest (as Codehaus reached EOL),

[2015-08-16 14:34] srmo opened #224 "No mutable classes found when tests in separate module"
Hi, when having tests and prod-code in different modules, `org.pitest:pitest-maven:mutationCoverage` will result in
`[ERROR] Failed to execute goal org.pitest:pitest-maven:1.1.6:mutationCoverage (default-cli) on project my-app-test: Execution default-cli of goal org.pitest:pitest-maven:1.1.6:mutationCoverage failed: No mutations found. This probably means there is an issue with either the supplied

[2015-08-25 08:41] jafarre-insags opened #225 "Comma-separated lists in maven plugin"
Hello,
I think this is an easy enhacement that could be handy in some situations.
The idea is to provide a way to specify lists to maven plugin (such as targetClasses or excludedClasses) in comma-separated-value format.
This would allow to easily configure these lists via maven properties, no matter how many entries they contained.
Thanks.

[2015-09-03 09:28] thomas-mc-work opened #226 "Mutation testing requires a green suite (again, but different)"
I have tests that don't end with either `Test` or `IT` for integration test but with something else (`ST` for system Tests in my case as an individual convention). When I run TestNG it only picks up the first two cases, even if then `ST`-classes are annotated with `@Test`. Result is a green result. When running `mvn org.pitest:pitest-maven:mutationCoverage` then I get this error:

    Execution de

[2015-09-04 17:24] #212 closed

[2015-09-05 13:16] KyleRogers commented on #226
Your last note might be worth another git issue - feel free to open one.

Do you use surefire to launch your TestNG tests?

There are two workarounds:
Pitest supports surefire excludes beeing "reused". You could add excludes für Tests ending with ```ST```. Or you could specify <targetTests> in pitests own configuration including only tests ending with ```Test``` or ```IT```.

BUT:
The real issue i

[2015-09-05 13:32] KyleRogers commented on #224
The base configuration limits the code being mutated to the classes under ```target/classes```. That's usually fine because that's the easiest way to distinguish production code that SHOULD be mutated and libraries that SHOULD NOT be mutated.

Maybe you could use ```maven-dependency-plugin``` to get your production classes copied into ```target/prod-classes``` folder and then use the ```additional

[2015-09-14 06:49] i-make-robots opened #227 "pit homepage typo"
Why?  "It is therefore only able to identify code the is definitely not tested."

[2015-09-14 12:28] jqno opened #228 "Maven says "Too many open files in system" and fails"
I'm trying to run PIT on my code base, but lately I've been getting a "Too many open files in system" error. I used to be able to avoid this by calling `ulimit -n 2048` (see [this StackOverflow question](http://superuser.com/questions/433746/is-there-a-fix-for-the-too-many-open-files-in-system-error-on-os-x-10-7-1)), but lately PIT wil simply hang after a while if I do that.

I'm running PIT from

[2015-09-15 12:20] hcoles commented on #228
@jqno I was about to ask you a lot of questions about the code under test, but I take it this is for https://github.com/jqno/equalsverifier ?

To try to reproduce locally which branch should I look at?

[2015-09-15 12:26] jqno commented on #228
That's right, it's indeed for EqualsVerifier :).
This branch is most up-to-date with PIT: https://github.com/jqno/equalsverifier/tree/static-analysis-pit

[2015-09-15 13:14] hcoles commented on #228
Not managed to reproduce, but I'm guessing the issue is a resource leak in EqualsVerifier (it could be in pitest, but as I've had no other reports of a problem this seems less likely).

The input stream here could be the issue

https://github.com/jqno/equalsverifier/blob/6fedf6c696962b634ebc7bb6161b10226687f3d9/src/main/java/nl/jqno/equalsverifier/internal/annotations/AnnotationAccessor.java#L125

[2015-09-15 13:27] hcoles commented on #228
@jqno Now reproduced - by running

[code]
On that branch without invoking pitest.

Closing the stream seems to fix the issue.

[2015-09-15 13:39] jqno commented on #228
Confirmed, this indeed solves the problem. I never would have guessed.
Thank you so much for your effort, not only does this solve my problem running PIT, it also fixes a potential bug in EqualsVerifier. You're my hero today.

[2015-09-15 13:39] #228 closed

[2015-09-15 14:00] hcoles commented on #228
@jqno Glad I could help - think I made exactly the same mistake with classloader resources a while ago.

[2015-09-15 14:20] jqno opened #229 "mvn site fails when PIT hasn't run"
I love that PIT can now integrate with Maven site. However, when PIT hasn't run and I do `mvn clean site`, it fails:

[code]

It would be nice if PIT was simply ignored in that case. (Or if there were a switch for this.)

For example, FindBugs has that behavior too. It needs to run before `mvn site` is called, and it doesn't run automatically. In such cases, no FindBugs report is included in the M

[2015-09-16 15:35] jqno commented on #229
I just found out that the switch I'm asking for already exists: <configure><skip>true</skip></configure>

When I first saw it, I thought: what a strange option; why would I go to the trouble of adding all that xml for the PIT report if I'm going to skip it anyway? It was only later that I figured out what it really means...

I'll show myself out now.

[2015-09-16 15:35] #229 closed

[2015-09-16 21:07] jqno commented on #229
Hm, turns out skip was what I originally thought, after all. Apparently 5pm is not the best time for clear thinking. But I managed to make a Maven profile that does what I want anyway:

[code]

Sorry for all the spam. PIT is awesome and I appreciate the work you put into it.

[2015-09-17 08:49] lkwg82 commented on #227
what about a PR for the homepage project. See https://github.com/hcoles/pitest-site

[2015-09-17 18:50] hcoles opened #230 "Flakey powermock integration"
The integration test that checks powermock compatibility sometimes runs red - most often with Java 8, but sometimes with other versions too.

The failure is due to a mutant timing out instead of being killed. It seems likely that this is a real (but non deterministic) issue with powermock integration rather than just a bad test.

[2015-09-26 00:39] velo opened #231 "After upgrading from 1.1.5 to 1.1.6 my build hangs"
So, I was using pitest-maven-plugin 1.1.5 and all was good.

When I decided to move to 1.1.6 my build hangs (waited for 3 hours, still no result)
[code]

And that is it.

pom.xml
[code]

Is there any other information that I can provide?

[2015-09-26 07:47] agzamovr commented on #231
I have the same issue. I use gradle plugin and it works only if property **targetClasses** has narrower package to check (e.g. **com.my.auction.core.crypto.*** instead of **com.my.auction.***).

[2015-09-28 08:40] hcoles commented on #231
This may be the same issue as

https://github.com/hcoles/triangle-example/issues/1

If you disable verbose logging do you still experience the hang?

[2015-09-28 09:48] agzamovr commented on #231
Not helped. This is my confog in gradle:
[code]

[2015-09-28 12:40] hcoles commented on #231
@agzamovr I think you may be experiencing a different issue than @velo - could you raise it under a separate defect.

[2015-09-28 12:55] michelmeeuwissen commented on #41
I created a small project to concat all generated .html reports to one html and publish it to a specific location (for example your webserver):

There is also a shell script included which can be used by Jenkins.

https://github.com/michelmeeuwissen/PITReportCombiner

_Remember that it this tool is made for a very specific requirement._

[2015-09-28 17:55] velo commented on #231
Makes no difference. With or without verbose it hangs

[2015-09-28 18:15] hcoles commented on #231
@velo I've just pushed a 1.1.7-SNAPSHOT to the sonatype snapshot repo (https://oss.sonatype.org/content/repositories/snapshots/org/pitest/)

Can you confirm if you can still reproduce the issue using the snapshow?

[2015-09-28 19:20] velo commented on #231
SUCCESS!!

[2015-09-28 19:35] hcoles commented on #231
@velo Excellent, I'll push a release out soon.

Thanks for the report.

[2015-09-28 21:04] velo commented on #231
Outstanding, thanks @hcoles

[2015-09-29 08:08] hcoles commented on #231
Fixed in 1.1.7

[2015-09-29 08:08] #231 closed

[2015-10-08 19:39] thatsIch opened #232 "Question about how to kill a removed conditional mutation"
I have a equals method which uses the `if ( this == o )` for general performance reasons. Now I am getting an unkillable mutation `removed conditional - replaced equality check with false → SURVIVED`. Is there some way to remove this mutation or is this not possible due to it being a not required defensive/performance check.

	@Override
	public boolean equals( Object o )
	{
		if( this == o )
		{

[2015-10-08 21:50] KyleRogers commented on #232
I think you've answered the question yourself: The ```this==o``` check is just a performance improvement. Even without it the ```equals()``` method works as expected. Performance tweaks do lead to functionally equivalent mutants that cannot be killed.

Theoretically it's possible to kill that mutant with a performance test: Just make the performance improvement a functional requirement. But I don'

[2015-10-10 15:15] thatsIch commented on #232
Thank you,

I was just wondering if a test exists to adress this issue but I did not come up with a scenario. Looking on stack overflow just talked about symmetry, transity, etc but nothing to solve performance opts.

[2015-10-10 15:15] #232 closed

[2015-10-13 12:21] peome commented on #132
@noroute @hcoles  What's the status of this issue?

[2015-10-13 18:28] Sergey63 opened #233 "Is pitest supports testing multithreaded applications?"
Hi.
I'm try use pitest for testing my multithreaded application. I use Timer and TimerTask for perform subtasks.
When i run test i have warning:
 "PIT >> INFO : SLAVE : 15:23:50 PIT >> WARNING : More threads at end of  test (18) _ than start. (7)"

And report wasn't generated. Is pitest supports testing multithreaded applications?

[2015-10-13 20:11] hcoles commented on #233
Pitest does support testing multi-threaded applications.

The warning about threads is just a warning - if a test launches threads but doesn't ensure they terminate before the tests ends this may mean the suite is non deterministic (what are those threads doing, could they cause another test to fail?).

Are any errors displayed in the log? Which version of pitest are you using?

[2015-10-14 07:20] Sergey63 commented on #233
Main thread starts two TimerTask and then wait release semaphore.
Second thread acquire semaphore, make a request to service, processes the request and then release semaphore.
Third thread wait 10 seconds and сancel the second thread if it isn't finished, after that release semaphore.

I haven't [error] in log. But build is failure with message:

"Execution default-cli of goal org.pitest:pitest-ma

[2015-10-14 09:01] hcoles commented on #233
The problem is most likely an issue with the filters as the error message suggests.

Check what they are set to and that they will include the packages in your codebase (see the FAQ).

You also look to be using and older version of pitest (latest is 1.1.7). This is not the cause if your problem but you may wish to upgrade.

[2015-10-14 17:59] Sergey63 commented on #233
Henry, thank you for your answers! The root cause was some characters in path.

[2015-10-29 07:42] shivamrana opened #234 "PiTest not able to detect all the tests when running through command line"
When I am running piTest using piTest maven command, it finds 26 test classes and detects 41 tests but if I am using piTest command line utility, though it finds all 26 test classes but it only detects 2 tests in them. I need to use piTest command line for some reason, so please help me with this issue. Below is the output I get while running it from command line:

[code]

[2015-10-29 08:06] #234 closed

[2015-10-29 08:06] shivamrana commented on #234
I had something wrong in the classpath provided, please ignore.

[2015-11-04 19:56] DmitriyKartashov opened #235 "Mutators for Java 8 features"
There is a problem in coverage tools with branches in Java 8.

Java 8 and lambdas brought new style of coding where branches are hidden inside the framework.
For example, this code:

[code]

has two logical branches:
- something filtered in or filtered out for processing
- result may or may not be found in the given list

And with this test:

[code]

Every tool reports 100% code coverage since all

[2015-11-24 01:41] SudhirGhandikota opened #236 "PITClipse issue"
Hello,

I am trying to run PIT through eclipse to run my. I have got the below error.
I have tried upgrading my JUnit to 4.6 and 4.10 jar as well but still didn't work.
Any help would be highly appreciated.
Thanks in advance!!!!

Please copy and paste the information and the complete stacktrace below when reporting an issue
VM : Java HotSpot(TM) 64-Bit Server VM
Vendor : Oracle Corporation
Version

[2015-11-24 06:19] jgodard-expedia opened #237 "Could jopt-simple version be updated to 4.9?"
Hi,

I'm running into an issue between pitest and wiremock when running pit thought the intelij plug-in, it seems if pitest were to use version 4.9 of jopt-simple it would address the conflict.

The plug-in seem to pass all the classpath with all the jar in the project (incl. all dependencies, such as jopt-simple 4.9) as well as the jar it needs to run the plug-in (such as InteliJ plug-in stuff pl

[2015-11-24 17:21] hcoles commented on #237
This looks to be a bug in the intelij plugin. Pitest relocates all its dependencies using the maven shade plugin so conflicts should not occur.

Although it ought to be straightforward to upgrade the jopt-simple version pitest uses, a better fix would be for the intelij plugin not to pollute the classpath.

[2015-11-26 16:29] cannehal commented on #132
+1 It would be really useful to have this feature for CI/CD

[2015-11-26 16:34] mbj commented on #132
In mutant we have the `--since $commit_ref` in the CLI. It only selects mutation subjects that are in the diff between HEAD and the commit reference. Since the last commit can be selected via `HEAD~1`. On branches `--since master` is also great etc.

Before you implement this hardcoded against `HEAD~1` think about exposing a commit ref option instead.

We use the following `git log` CLI to detect

[2015-11-26 16:46] cannehal commented on #132
We can also get changelog with limit=1 parameter and extract filenames. Probably it should be merged from both sources - working copy and checked in changes. By using statuses to include we can choose execution of proper methods.

[2015-11-26 19:14] junghuk opened #238 "killing test name is incorrect when using TestNG"
In output file, mutation.xml, some killing method name comes only _ (underbar).
For instance, joda-time,
[code]

[2015-11-27 09:20] hcoles commented on #238
This is the expected behaviour for TestNG.

Unlike JUnit tests pitest does not split TestNG tests down into their individual methods. Pitest is therefore only able to report that a test method within the test class killed the mutant, not which one.

It is possible to split TestNG tests down, but it turns out to be an expensive thing to do. Mutation testing generally works out faster if the whole T

[2015-11-27 09:20] #238 closed

[2015-11-28 00:32] junghuk commented on #238
Thanks @hcoles for the explanation.
I understand your concern about the TestNG.

However, org.pitest.testng.TestNGAdapter already knows the name of killing test, even TestNG dose not split individual methods. The problem here, ResultCollector stores unnecessary description when TestNGAdapter.onStart and TestNGAdapter.onFinish. By emptying two methods, you can get correct killing method name,

[cod

[2015-11-30 15:12] hcoles opened #239 "Provide shortcut for local history files"
The current mechanism of supplying input and output history files is not even vaguely user friendly.

For the common use case of wanting to speed up local analysis it would be convenient to be able to pass a single flag to maven and have the plugin automatically setup a history file in the temp directory.

[2015-11-30 20:42] hcoles commented on #237
I think the underlying issue needs to be fixed, but as there is no harm in doing so I've bumped the jopt-simple version to 4.9 for the next release.

[2015-11-30 22:25] jgodard-expedia commented on #237
Thanks a lot. I reached out to the IntelliJ pitest plug-in developer, we will see what happens.

[2015-12-01 08:39] hcoles commented on #230
Test disabled for now.

[2015-12-21 10:36] amichair opened #241 "Exclude boundary conditions which are always true"
Thanks for the great tool!

I often encounter min/max kinds of calculations such as

    this.limit = limit < 0 ? 0 : limit;

or

    in.read(b, off, len > max ? (int)max : len);

or similar variations with smaller, smaller-than, greater, greater-than, conditionals, if-else, etc.

In all of them, the conditional boundary mutation check will always be marked as failed (red) since equal variables (t

[2015-12-23 16:14] sebi-hgdata opened #242 "Issues with HTML reports"
Hey,
   There are some inconsistent line numbers between the overall package report and the actual class report. The index file reports 355 lines but the actual MainRest class has 415.

See following images:
![index](https://cloud.githubusercontent.com/assets/11443582/11980069/a84e5a00-a9a0-11e5-8a53-5700897b58eb.png)
![class](https://cloud.githubusercontent.com/assets/11443582/11980078/c01cc996-a

[2015-12-23 23:56] caligarisdesk opened #243 "Can we switch the port used by PiTest"
I noticed that PIT uses port 8092.  Unfortunately, when running couchbase through vbox, pitest does not always detect that port 8092 is in use.  As a result, pitest hangs.

http://www.speedguide.net/port.php?port=8092
https://github.com/hcoles/pitest/blob/d4db5667cf802e280602b6bfd807272604f02a9e/pitest/src/main/java/org/pitest/util/SocketFinder.java#L25

I didn't see that one could change the defa

[2015-12-23 23:58] caligarisdesk commented on #243
I'm not that familiar with socket libraries, but according to the SO below, should we also check DatagramSocket?

http://stackoverflow.com/questions/434718/sockets-discover-port-availability-using-java

[2015-12-24 12:26] hcoles commented on #243
I think it might be possible to replace the whole thing with `new ServerSocket(0)`.

This would change to port range to something outside of pitest's control so it can't be parameterised, but should push the responsibility for finding an ephemeral port to the JDK.

[2015-12-24 12:41] hcoles commented on #243
@caligarisdesk I've published a 1.1.8 snapshot, can you let me know if it resolves the issue.

[2015-12-28 19:40] caligarisdesk commented on #243
Cool, thanks!  I'm having trouble pulling down a snapshot build, but as long as the port used keeps changing, it should work well for my configuration.

[2016-01-02 13:08] hcoles commented on #239
Included in 1.1.8 release.

[2016-01-02 13:08] #239 closed

[2016-01-02 13:08] hcoles commented on #243
@caligarisdesk 1.1.8 has now been released with this change. Can you report back if it has/hasn't resolved the issue.

[2016-01-04 04:40] caligarisdesk commented on #243
Thanks for the release!  Just brought 1.1.8 via the gradle plug-in with the same vagrant/couchbase condition as before.  Pitest runs and completes successfully.

[2016-01-04 04:40] #243 closed

[2016-01-04 12:46] hcoles commented on #237
Closing after release of 1.1.8

[2016-01-04 12:46] #237 closed

[2016-01-04 12:46] #233 closed

[2016-01-04 12:48] hcoles commented on #220
Checkstyle issue fixed for 1.1.8 release. The checkstyle plugin was picking up the generated sources folder - not clear why this did not happen during normal builds, but is now explicitly excluded.

[2016-01-07 09:14] cannehal commented on #164
Maybe if you want to keep support for java versions below 8 you could just use Guava? This way you can get rid off a lot of functional code you implemented. In the future you should think about leaving only support for java 8. Some big release.

[2016-01-07 09:18] cannehal commented on #132
This is working solution. Please free to review this code. Instead of if condition there can be i.e. some strategy but I would like to talk more about usage of new parameter, logic behind this etc.

[2016-01-07 09:40] hcoles commented on #164
The problem with introducing a third party library (particularly something as common as guava) is that the pitest code needs to be active in the same jvm as the code under test.

If the code under test uses a different version of the same library problems occur.

Where pitest has used third party libraries (e.g ASM) it has relocated them to a different package with the shade plugin. This breaks so

[2016-01-07 11:04] hcoles commented on #132
It looks good to me but I'd suggest a more natural interface would be to invert the logic and rename the parameter so you could do

[code]

Does it still make sense to limit the analysis to certain a set of SCMFileStatus?

[2016-01-07 12:21] cannehal commented on #132
It was my first choice. Will switch to it. I was also wandering about setting number of commits to analyze:
[code]
 but for review (i.e Gerrit) only last commit will be useful. So by default when there is no limit parameter set it will 1.

Answering your question - what if removed, renamed classes will be added to analysis? This operations doesn't change anything in implementation. If we remove st

[2016-01-07 13:16] amedee commented on #224
Subscribing, because our multi-module project has multiple modules that don't have code in `src/main`, only in `src/test`, because
* the code is not written yet
* modules for testing and profiling

It would help for me if there was a way to exclude certain modules that don't have production code.

[2016-01-07 13:18] amedee commented on #224
I think the solution can be found in https://github.com/hcoles/pitest/issues/182#issuecomment-86421729

[2016-01-07 16:31] #132 closed

[2016-01-13 17:40] cinquin opened #246 "Option avoidCallsTo is silently ignored?"
Am I correct in thinking that the contents of the `avoidCallsTo` option are silently ignored?
The code seems to rely on `loggingClasses`, which defaults to `java.util.logging, org.apache.log4j, org.slf4j, org.apache.commons.logging`.
Was the idea to rename `loggingClasses` to `avoidCallsTo`?
Unfortunately the `loggingClasses` option is not recognized by the Ant task.

[2016-01-13 22:16] cinquin commented on #246
Never mind, this does work; I had a typo in my class name and missed the relevant line in `OptionsParser`.
It would be nice for PIT to report an error when passed the name of a class that does not exist. And for consistency's sake it might be useful to choose a single term to use between `loggingClasses` and `avoidCallsTo` (I find the latter more informative). I'll close this issue since those are

[2016-01-13 22:16] #246 closed

[2016-01-15 09:24] peome commented on #132
Hi, all. In which version will this issue be included?

[2016-01-15 11:08] hcoles commented on #132
@peome This will be in 1.1.9

[2016-01-15 11:38] peome commented on #132
@hcoles Thanks a lot!

[2016-01-19 20:44] hcoles commented on #220
Java 8 release now fixed. In fact only seems to be possible to release with Java 8 due to issue with javadoc flags.

For some reason the java8 verification project is not being updated by the release plugin.

[2016-01-19 20:49] hcoles commented on #132
1.1.9 has now been released. Should sync over to maven central shortly.

[2016-01-21 11:08] peome commented on #132
@hcoles Thanks again, Im going to update base pom with this update now!

[2016-01-23 00:25] lx0704 opened #247 "Check Failing Test cases"
Hi,
I want to mutate a program with failed tests to check how many of the failed tests can now pass for mutants.
However, PIT does not allow to proceed if there are some failing test cases since it requires a green test suite where all tests pass. What should I do to deal with case? Thank you very much!

[2016-01-23 10:20] hcoles commented on #247
I'm not sure what you mean by

Could you provide some more detail about what it is you are trying to do and why?

[2016-01-23 16:40] lx0704 commented on #247
Thanks for your reply,Henry.
My subject program have some failing test cases, so it can't pass when
implementing the PIT since the failing test cases are not "green" .
However,I want to check the status(pass or fail) of specific failing test
case before and after mutation. So could you please provide some
recommendation to do this? Thank you very much!

On Sat, Jan 23, 2016 at 4:20 AM, Henry Coles

[2016-02-01 13:25] mirkosertic opened #248 "Include description of mutation in XML report."
The description of the mutation should be included in the XML report. This allows other tools to further process the generated XML.

[2016-02-04 18:14] mirkosertic commented on #248
Is this small patch ok and will be merged into master?

[2016-02-04 23:17] lbergelson opened #250 "How to tell which tests are failing"
I'm trying to run pitest, and I'm seeing `Mutation testing requires a green suite`.  Is there any way to identify which tests are failing?  No report file is written and I don't see it in any of the output.

I'm running using the gradle plugin.

Here's my output.  (I did tried running with verbose logging but it wasn't any more illuminating.)

[code]

[2016-02-05 09:19] hcoles commented on #250
If you enable verbose logging it should be possible to determine the failing test from the log output.

[2016-02-05 18:13] sebi-hgdata commented on #242
Any thoughts in this ?

[2016-02-07 22:30] szpak commented on #242
Line coverage in PIT (and in general) is calculated as a ratio of covered lines to a total number of lines which can be possibly covered (simplifying lines with effective code). For example the is no way to cover empty lines, so it would be misleading to count them to calculate line coverage (no way to get 100%).

To make a verification please manually calculate green and red lines in your class.

[2016-02-08 08:15] sebi-hgdata commented on #242
I was not implying that it's something wrong with the coverage ratio.
There were definitely more that 255 lines in that class.. even without empty ones. But even if they were, showing 255 in one place and 455 in another can indicate that something is off/wrong.
Also, line numbers should reflect the ones from compiler debug information and empty lines are counted there.

[2016-02-08 16:44] lbergelson commented on #250
So I was running with `gradle pitest --debug --stacktrace` thinking that that would be the maximum verbosity.  I didn't realize that pitest had it's own verbosity parameter.

For anyone else who runs into this in the future, you can configure verbosity in your build.gradle by adding `verbose = true`

[code]

Thanks for the reply.  Sorry for the confusion!

[2016-02-08 16:44] #250 closed

[2016-02-09 22:26] jpsw commented on #231
I have this hanging problem, too.
In Maven-central I only find 1.1.4 and 1.1.6.
Could you publish 1.1.7 there, too, please?

[2016-02-12 12:11] mirkosertic opened #251 "Include testinfo of mutation in xml report"
The testinfo Information should be included in the xml report for allow other tools to further process the xml better.

[2016-02-18 19:28] drieselliott opened #253 "PIT does not support System classloader"
I have my surefire plugin configured like this:

[code]

Due to my set-up I can't get PIT to run with a green suite. Do you have any suggestions?

[2016-02-26 06:09] orpoUser opened #254 "pitest couldn't run"
[code]

[2016-02-26 09:21] hcoles commented on #253
Can you provide a bit more detail about your setup?

I've not played much with these setting in surefire myself. A quick google suggests you are probably try to work round a long classpath in windows. Is this correct?

[2016-02-26 09:24] hcoles commented on #254
Could you please provide a bit more detail about your setup and ideally the relevant sections of your build script.

[2016-02-26 17:34] orpoUser commented on #254
I'll try to upload as much as I can but it is going to be complicated without leaking details about how my current employer build systems.

I can tell you that we have a nice mix of byte instrumentation libraries (aspectj, spring load-time weaving) + lombok that might be getting into their way of pitest. What I was thinking is troubleshoot this locally using your source code and then I'll share th

[2016-02-26 19:11] drieselliott commented on #253
I did some further testing and it seems that there was some kind of misconfiguration on my part the first time I set it up. Now everything seems to work fine.

[2016-02-26 19:11] #253 closed

[2016-03-02 22:39] zygoth opened #255 "try with resources block generates unnecessary mutants"
If you use a try-with-resources block in your Java code and run PITest on it, you get about 8 MUTANT SURVIVED messages on the closing brace of your try block. This is quite frustrating as it can drive down the overall mutant coverage percentage by a lot. This seems like an obvious bug. The messages all look like one or the other of these:

removed call to com/blah/MyClassExtendsCloseable::close \u

[2016-03-03 16:21] jakub-bochenski opened #256 "Inline styles in HTML report violate Content Security Policy"
Trying to view the report on a server with CSP enabled results in `Content Security Policy: The page's settings blocked the loading of a resource at self ("style-src https://acme.com").`

I'd be glad to send you a PR extracting the styles to a separate file if you consider it a viable improvement.

[2016-03-08 21:39] tbuchber commented on #140
Any chance of make the proposed change to provide settings like "maxSurvivingMutations" and "maxMissedCoverage"; these would be int, and there is never any rounding involved. In the end, you would support mutationThreshold, coverageThreshold, maxSurvivingMutations, and maxMissingCoverage.

[2016-03-10 14:02] hcoles commented on #256
I'd be happy to accept a PR thanks.

It's possible that extracting the styles could cause issues in other scenarios (for the eclipse plugin perhaps?), so it would be preferable for this to be configurable.

[2016-03-10 14:37] jakub-bochenski commented on #256
Great. This isn't a blocker for us so it will get back to this once I have some spare time

[2016-03-29 19:05] mcandre opened #257 "Promote gradle quick start guide"
Please add a gradle quick start link on the official Quickstart page, to make it easier for gradle users to learn pitest.

http://pitest.org/quickstart/

[2016-03-30 16:17] jakub-bochenski commented on #41
Any word if/when this is going to implemented?

Also I'd claim this is a significant defect (not a "nice to have") viz how maven plugins are supposed to work with aggregate modules.

[2016-03-30 16:21] jakub-bochenski commented on #143
We are not seeing it yet but we soon might.

What is the status here? Will pitest maven plugin work with multiple modules or do you have to run it per each module? Is it dependent on modules size?

[2016-03-30 16:56] hcoles commented on #143
@jakub-bochenski Based on the information in the original report I think this was most likely an issue with how multiple modules was setup rather than the size of the codebase. This is just a guess though.

Pitest doesn't currently aggregate data together, so if you run it on a multi module project it should run for each sub module and report at that level.

[2016-03-30 17:01] jakub-bochenski commented on #143
Thanks for the clarification
Can you elaborate more: what in the module setup caused this failure? What rules do I need to observe to ensure the reports for each module are correct?

[2016-04-04 11:33] abhiram308 opened #258 "JavaLaunchHelper is implimeted in both"
Recently I started using PITest for Mutation Testing. Post building my project using maven when I run the command

 I get this error bunch of times:

Sometimes the error is followed by

or

I use OsX version 10.10.4 and Java 8 (jdk1.8.0_74).

Any fix/ work-around for this?

[2016-04-06 10:26] Kidlike commented on #231
Thank you for this... I was actually hitting this issue very often, but I thought that it was an issue with how my tests were written. This makes pitest actually usable :)

[2016-04-08 15:06] Kidlike commented on #230
I can verify that @PrepareForTest breaks coverage/visibility of pitest.
Pitest wrongly reports NO COVERAGE if that annotation is used on the class being tested.

[2016-04-11 04:13] velo opened #259 "Mutate annotations =)"
So, in a few framework we end up programming on annotations

Like:

[code]

https://github.com/Netflix/feign

So, I would like to have a Mutator that would go and delete the annotation with runtime retention.

I would be willing to write this, just need initial pointers of where to put this.

[2016-04-11 20:40] hcoles commented on #259
It should be relatively straightforward to strip out runtime annotations. What makes this tricky is that pitest has an inbuilt assumption that a mutation occurs on a line of executable code - this is how the tests to be run are selected.

Some work would need to be done to break this assumption and allow a mutation to map to multiple lines.

[2016-04-12 14:00] mrTsjolder commented on #11
I recently used the intellij plugin on a school-example where the project consisted only of a class and an exception in my "sources root" and a junit-test in the "test sources root" and I was unable to get pitest to work with it until I put them in a package.

It might have been that the documentation was not clear enough or that I missed some part, but I did not find anything on how the target cl

[2016-04-13 10:30] christophsturm opened #260 "improve kotlin support"
according to this article pitest works pretty good with kotlin https://blog.frankel.ch/experimental-kotlin-mutation-testing

if there was a flag to turn this error:

<pre>
 "The class org.jetbrains.ktor.locations.Locations$WhenMappings does not contain a source debug information. All classes must be compiled with source and line number debug information"</pre>

into a warning, it would work even b

[2016-04-15 19:50] hcoles commented on #140
@tbuchber I've just pushed support for `maxSurviving`, I'll take a look at the coverage equivalent when I get chance.

[2016-04-19 19:16] KyleRogers commented on #224
@amedee

Don't know whether this is exactly the case @srmo has.

If it's okay for you to skip/exclude tests from modules that don't have production code you've got two options:

a) Use the approach you described as workaround (although I'd like to name it a solution, not a workaround ;-) ): Configure pitest in the `<plugin>` section of your maven parent `pom.xml` and deactivate it explicitly using

[2016-04-19 19:17] KyleRogers commented on #224
@srmo
Did you find a solution or work around? Does you problem still exist? Was my comment helpful?

[2016-04-19 19:52] KyleRogers commented on #260
As I already pointed out in my comment to Nicolas`s blog post you've mentioned it would be even better if the Kotlin guys could add line information to their when-constructs. Did you ask them or file a ticket at JetBrains?

A line number will be required to identify mutations and track line coverage - maybe we could guess the line number or just assume line zero but that might produce bad results

[2016-04-19 20:06] KyleRogers commented on #259
I think that will be really tricky and I'm not sure whether this will work at all. Annotations are Meta-Data - the code annotated might not have something to do with the code that extracts and analyzes those annotations.

I think about Springs `@Transactional` or `@Component` that might not have any effect in unit tests but might have an effect for integration tests.

The framework implemented by

[2016-04-19 20:12] KyleRogers commented on #257
The gradle plugin for pitest is maintained by @szpak and is not a part of pitest core. Documentation can be found `[here](http://gradle-pitest-plugin.solidsoft.info/)`

Maybe we could link to the project and documentation. Would that be sufficient @mcandre ?

What do you think @hcoles?

[2016-04-19 20:26] KyleRogers commented on #255
Could you provide a more detailed example and a full report for that class?

I'm not sure whether those mutations are really "unkillable": You might have to simulate throwing an exception from the close() method directly and after an exception has already been thrown in the try-block and examine the suppressed exception(s) available via `Throwable.getSuppressed()`.

The try-with-resources block is

[2016-04-19 20:31] KyleRogers commented on #254
Maybe you can strip down your problem to a sample project that doesn't leak internals but might reproduce the problem? Without additional information what might cause this exception there is no way to find a problem.

[2016-04-19 20:34] KyleRogers commented on #248
@hcoles #249 has already been merged. Do you like to close this?

[2016-04-19 20:50] KyleRogers commented on #242
I think your understanding of the numbers is wrong as @szpak tried to point out.

Your Class has 455 lines in total. Those lines include
a) lines with statements, e.g. `Object o = new Object();`
b) lines with declarations (only), e.g. `public void myMethod() {`
c) empty lines and lines with comments only

The 255 lines reported in the summary are the lines of type a) that means those lines that co

[2016-04-19 20:55] velo commented on #259
It can be off by default...

[2016-04-19 21:04] KyleRogers commented on #259
That's true and I think it really should but that's not the point.

Maybe I wasn't clear enough: Even if there are Annotations that can be mutated this might be usefull for a small number of real world projects only because they contain additional annotations that are not or cannot be covered by tests.

Maybe you can examine the project you have in mind. Are the Feign Annotations the only ones you

[2016-04-19 21:37] mcandre commented on #257
Yes!

[2016-04-20 01:48] velo commented on #259
True... although even on JPA, you are programming in annotations... we just assume not testing is ok...

Another case where mutation would be really useful is on JSR-303 (bean validation)...

Annotation carrying logic can be more common them I think....

[2016-04-20 04:43] tbuchber commented on #140
Awesome! Thank you.

[2016-04-20 08:54] sebi-hgdata commented on #242
Just one thing , look at the second mutant that was killed.

[2016-04-20 09:14] christophsturm commented on #260
I asked in the kotlinlang slack, and they said its possible, so i created a youtrack ticket:
https://youtrack.jetbrains.com/issue/KT-11970

[2016-04-20 15:25] christophsturm commented on #260
I looked at the pitest source and it seems the error message is a bit misleading. Pitest runs fine without line number info, but wants a source file info for every class.
https://github.com/hcoles/pitest/blob/f6ebe062939d7a92d59d0225cb0db3f2846acaf6/pitest/src/main/java/org/pitest/mutationtest/verify/DefaultBuildVerifier.java#L61-L61

The WhenMapping class that kotlin generates is marked as synthe

[2016-04-20 21:20] KyleRogers commented on #242
Sorry @sebi-hgdata I cannot follow you?!?!

[2016-04-20 21:33] hcoles commented on #260
@christophsturm Thanks for the PR.

Not performing the check for synthetic classes sounds like the right solution as long as no directly source derived bytecode is ending up in those classes. I took a quick look at a XXX$WhenMappings class and this certainly looks to be the case.

[2016-04-21 07:39] sebi-hgdata commented on #242
There is a mutant at line 296.  The html reports only 255 lines.
I'm a little bit disappointed, as I didn’t expect such input around this.

[2016-04-21 08:15] hcoles commented on #242
@sebi-hgdata

The mutant is on the 296th source code line. The source file contains 415 lines, of which 255 contain instructions. The remaining 160 lines are white space, comments and declarations.

The only alternative behaviour I can think of to the current one would be to report the line coverage as 253/415. (ie covered lines / source lines) in the summary report.

If the shown percentage was r

[2016-04-21 08:34] hcoles commented on #257
@mcandre I've added a link to the gradle plugin here http://pitest.org/quickstart/

[2016-04-21 08:36] hcoles commented on #248
@KyleRogers yes, thanks.

[2016-04-21 08:36] #248 closed

[2016-04-21 09:45] sebi-hgdata commented on #242
When I read 'line', my first taught is about source lines, not instructions, and this was the trigger for this issue.
Being clearer about the distinction of 'number of instructions' vs 'number of source lines' would help a lot. This can take the form of providing just percentages instead of '2 out of 10',  using 'Instruction Set Coverage ' instead of 'Line Coverage'(looked over jacaco and the same

[2016-04-21 09:56] hcoles commented on #242
253 is not a count of instructions. It is a count of lines that contain executable code.

Each of these lines might have multiple instructions (in the sense of bytecode instructions). It might also contain multiple instructions (in the sense of java statements and expressions).

What is being measured is line coverage, not instruction/statement coverage.

[2016-04-21 11:07] christophsturm commented on #260
thanks for the quick fix! are you planning a new release soon?

[2016-04-21 11:15] hcoles commented on #260
It's been a while since the last release so no objection to doing one soon. There won't be very much in it at the moment however.

If you have time to run the snapshot release over a few kotlin codebases we could see if there are any other easy to fix kotlin issues that could be addressed first?

[2016-04-21 11:21] christophsturm commented on #260
ok will do!

[2016-04-21 11:36] #257 closed

[2016-04-21 11:41] sebi-hgdata commented on #242
Using 'instruction' is unclear also, 'expression statements' would be the correct form as you pointed out (this was my intention to refer too).

In the context of 'line that contain executable code coverage' , having a list of expression statements like ```int x=0; x++; if(1!=0) return; x++;```  (all on the same line ) would result in coverage of 100%, because statements after the return do not co

[2016-04-21 11:50] hcoles commented on #242
@sebi-hgdata I'm unclear about what changes you are suggesting to the report - could you provide an example?

Regarding your point about branch statements on a single line. This is a well known limitation of line coverage. Branch coverage solves this.

[2016-04-21 12:41] sebi-hgdata commented on #242
Instead of 'Line coverage ' use 'Lines with expression statements coverage'

Re, branch coverage, I think it will not say that the last statement was not executed, as it applies only to control structures in a conceptual way.
A better generalization would be to check that all statements on a line are executed and ... just googling around it seem that there is the concept of "Statement coverage", a

[2016-04-24 13:56] hcoles commented on #260
Just took a quick look at this myself. I don't know much about Kotlin, but was aware that it had something like Scala's case classes - which turned out to be data classes.

PIT generated a lot of junk mutations for these due to all the autogenerated methods.

I've out together a quick fix that will filter these out. It isn't pretty, it just looks for any mutation on line 0 of a class compiled from

[2016-04-24 14:04] christophsturm commented on #260
that fix should also remove this mutation:
1. removed call to kotlin/jvm/internal/Intrinsics::checkParameterIsNotNull → NO_COVERAGE
I guess kotlin generates that for parameters that are not nullable, which is the default. I will now build master again and run it against some kotlin code

[2016-04-24 14:33] christophsturm commented on #260
it seems if i run
<pre>mvn clean org.pitest:pitest-maven:mutationCoverage</pre>
pitest does not find any tests.
<pre>mvn test org.pitest:pitest-maven:mutationCoverage</pre>
works. I think the reason is that the pitest task depends on the java compile task, but in this case it should depend on the kotlin compile task.

Or I'm doing it wrong, I usually use pitest via the gradle plugin :)

btw I'm us

[2016-04-24 14:37] hcoles commented on #260
If you run a goal directly in maven you need to manually ensure any goals you depend on have already run.

If you bind the goal you want to a phase then maven takes care of making sure everything happens.

So you'll need to run test first unless you add pitest into the pom.

[2016-04-24 14:47] christophsturm commented on #260
this code:
`class Routing(val application: Application)`creates an instance variable "application" with a getter.
pitest mutates that getter. Which is probably ok, I'm not really sure :)

[2016-04-25 16:13] #242 closed

[2016-04-28 07:56] philglover opened #262 "Xstream dependency leaks Java 8 bytecode into pitest"
In commit ad1f0cfca7dbb2cb25352c1d3d6412a86ae8f726 (1.1.6 release) a number of dependencies were upgraded.  xstream moved from 1.4.2 to 1.4.8.

It appears that there is some java 8 bytecode in the xstream jar which is then shaded into pitest.  Pitclipse builds an OSGI bundle using Apache Felix, and after this change Felix identifies that Java 8 is a required capability:

Require-Capability: osgi.e

[2016-04-28 08:15] hcoles commented on #262
Sounds like you've been through some painful debugging.

I'd prefer not to roll back the version of xstream if possible as there have been some bugs in it that PIT users have run into, such as this one.

http://x-stream.github.io/jira/761/

Do you know which classes contain the bytecode and their purpose? It may be possible to shade them out.

[2016-04-28 17:09] philglover commented on #262
Thankfully after learning the power of git bisect, the problem space became a lot easier to identify.  I wasn't aware of the issues caused by 1.4.2 .  Let me evaluate a couple of other alternatives and I'll get back to you.

[2016-05-01 12:57] philglover commented on #262
The required java capability can be disabled in felix so I have done that instead.  If I get time, I'll work out the xstream lib issue as they advertise it being Java 6 compliant

[2016-05-01 12:57] #262 closed

[2016-05-01 20:21] theangrydev opened #263 "Bug: tests with @RunWith do not end up in the line coverage"
This means they are never used for mutation testing.

This happens when using @RunWith(TableRunner.class) from https://github.com/bodar/yatspec

[2016-05-02 07:45] theangrydev commented on #263
With verbose turned on, I can see that the correct runner seems to be invoked, because I can see the `FINE: Gathering coverage for test...` message with name set to the correct name of the test when the `com.googlecode.yatspec.junit.TableRunner` is used

[2016-05-02 07:49] theangrydev commented on #263
And if I rewrite the test to still use `TableRuner` but not use a parametrised `@Table` test then the coverage is correctly picked up.

[2016-05-02 14:21] #113 closed

[2016-05-03 15:33] hcoles commented on #263
Thanks for the PR.

As you've probably noticed the current logic is the wrong way round - there should really be a whitelist of runners that should be split rather than a blacklist of ones that shouldn't.

If I get chance I'll implement this change, otherwise I'll merge this in before the next release.

[2016-05-04 05:11] jeandersonbc opened #265 "Can't resolve JUnit dependency"
Hi,

I've cloned some Maven Java projects from Github to give a try on pitest but I'm unable to execute pitest:

`[ERROR] Failed to execute goal org.pitest:pitest-maven:1.1.9:mutationCoverage (default-cli) on project guava: Execution default-cli of goal org.pitest:pitest-maven:1.1.9:mutationCoverage failed: No test library found on classpath. PIT requires either JUnit 4 (but can run JUnit 3 tests)

[2016-05-04 08:24] hcoles commented on #265
The most likely problem is that the project is using JUnit3.

Which projects are you seeing this error for?

[2016-05-04 13:06] jeandersonbc commented on #265
Hi @hcoles, thanks for the promptly reply :smile:

I just attempted to use on Guava (https://github.com/google/guava) first.
After cloning the project and running "mvn test", it executes all tests from the project

In the root pom.xml file (https://github.com/google/guava/blob/master/pom.xml) you can see the JUnit 4 dependency declaration.

I thought that by just adding the PIT plugin entry on the

[2016-05-04 15:31] hcoles commented on #265
Guava looks to have all its units tests in a separate module.

This is highly unusual for a java projects, unless there is some technological constraint unit tests are normally placed in the same module as the code (for maven and gradle projects usually under src/test/java).

At the moment PIT doesn't support unconventional projects such as this out of the box, but with some work you ought to be a

[2016-05-04 16:42] jeandersonbc commented on #265
@hcoles Good to know. Maybe this information should be added in the "Quick-start for Maven" page.
I will see if I can tweak some code from PIT for mutant generation since I'm really interested running the same set of mutants against a particular test suite :)

By the way, does PIT generates mutants in a deterministic way? In another words, given the default settings and a given target class, does

[2016-05-04 16:45] hcoles commented on #265
Yes PIT generates mutants in a fully deterministic way - PIT will always generate the same mutants for the same input.

[2016-05-04 16:52] jeandersonbc commented on #265
@hcoles thanks for the promptly response and the assistance
I believe you can close this thread now :smile:

[2016-05-04 18:47] #265 closed

[2016-05-16 12:25] hcoles commented on #263
Released in 1.10

[2016-05-16 12:25] #263 closed

[2016-05-17 07:41] xeland opened #266 "ArrayIndexOutOfBoundsException"
I have multi-project based on OSGi.
I build it through Gradle (with plugin biz.aQute.bnd.gradle:3.1.0)
for example:
  my.project1;
  my.project2;
  ...
  my.projectN.

Project "my.project1"  successfully passed the test with pitest.
I am getting the exception in project "my.project2", but I don't have any test in "my.project2".
(I deleted tests because I am getting the same exception with them)
(I

[2016-05-17 09:38] hcoles commented on #266
Hi @xeland can you create a minimal project on github that re-creates the issue?

[2016-05-17 10:15] alexec opened #267 "Scala support"
Hi,

Can I please ask, has there been any recent attempts to try PIT with Scala code bases and SBT? I can see the SBT plugin has not been updated for some time.

Alex

[2016-05-17 18:29] KyleRogers commented on #247
@lx0704 -- Maybe you can elaborate more on your higher level goal. Why do you want to find out which tests pass? What are you mutating - generated code or hand-written production code? What information do you want to get?

[2016-05-17 18:31] KyleRogers commented on #220
everything fixed? :)

[2016-05-18 06:14] xeland commented on #266
Thank you, but I can't re-create the issue, the project is too big.

[2016-05-18 12:27] hcoles commented on #266
The usual process is to take the project where the issue was discovered and progressively remove source files, confirming that the issue can still be observed after each step.

Once a small project has been achieved the code can be modified to remove sensitive information.

The starting size of the project often does not have a large effect on how long this process takes.

Without a way to reprodu

[2016-05-18 16:35] alexec commented on #267
OK. So, I've done some spiking

SBT is a popular Scala build tool. So, firstly I [forked](https://github.com/alexec/sbt-pit) the existing SBT Pit plugin, and updated to latest PIT.

I wanted to see if it worked with the built in test frameworks. So I created an [SBT project](https://github.com/alexec/sbt-pit-junit-example) using Unit with a mixture of simple Java and Scala classes.

ScalaTest is a

[2016-05-19 05:54] xeland commented on #266
I understand you.
But I can't simplify project it takes too much time.
Thank you for the answer.

[2016-05-19 06:40] #266 closed

[2016-05-19 15:48] hcoles commented on #267
I spent some time a couple of years ago looking at adding Scala support to PIT with a vague plan to make it a commercial add on.

I produced a working spike, but decided not to continue as the cost of supporting it looked likely to be very high.

The main issue is that a large percentage of mutations are junk once you start using any of Scala's language features as they are mutations in scaffoldin

[2016-05-19 16:01] mbj commented on #267
Agreed.

I think that languages that do *not* have a very close mapping from AST to bytecode (Java has it for example) is better done at the AST level.

[2016-05-20 09:21] alexec commented on #267
Interesting. I'm also wondering about demand for Scala support. I could not find much on the Internet about it. If there's no demand, regardless of how interesting a technical problem it is, if no one want it, it would not be worthwhile supporting.

"Junk" mutations are a problem in Java, as they produce a high number of false issues (e.g. code covered by e2e tests, but not by any test unit used b

[2016-05-20 10:05] hcoles commented on #267
Mutations in code only covered by e2e tests are not junk - they are legitimately telling you that there is logic not tested by your unit tests. Integration code can usually be kept within separate from unit-testable code, so ignoring it ought to be a case of excluding packages from the analysis.

The junk created for Scala is different. It is logic that the programmer didn't actually write and it

[2016-05-20 14:36] mbj commented on #267
+1

Another way to say this: Mutations on the bytecode level might NOT have a corresponding source representation, when the source is not mostly 1:1 (as with Java and Java bytecode is mostly the case).

And as Scala is in many was much more high level than Java, the mutations to bytecode from Scala might not be as relevant as mutations to bytecode from Java.

[2016-05-20 14:37] alexec commented on #267
Thank you Mr Coles.

I agree about your interpretation of "junk".  I don't think my comments are clear. E2e tests are slower, and you're correct -- we've tended to exclude them, and the infrastructure code from analysis.

I've used PiTest extremely successfully on several projects, and it's been key in finding serious bugs (and seriously bad tests :) ) in real world applications, both micro-servic

[2016-05-23 09:12] mikehearn commented on #260
We are also thinking about using PIT with Kotlin. I have asked the JetBrains team if it'd be possible to annotate auto-generated messages in the compiler.

https://discuss.kotlinlang.org/t/annotating-auto-generated-methods/1693

[2016-05-23 09:24] hcoles commented on #260
@mikehearn That would certainly make life very easy at this end, though I'm not sure the kotlin team will want to increase the binary size.

I've not spent enough time looking at what kotlin produces to understand if all the the scaffolding code will be cleanly off in its own methods or if some of it will be intermingled with user code.

[2016-05-23 18:36] nfrankel commented on #260
@hcoles Tried again with this new version and it works much better.

Now I noticed that HTML reports don't get generated as nicely if you have more than one class for a file, probably because of the _one-public-class-per-file_ Java policy.

[2016-05-25 11:19] abbi031892 opened #268 "@RunWith SpringJunit4ClassRunner"
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = { "classpath:junit-spring-bean.xml" })

Whichever class has this annotation is coming as not runnable class, it comes as runner.getClass().isAssignableFrom(ErrorReportingRunner.class)

Can you point me to what could be the possible reason ?

[2016-05-25 15:02] abbi031892 commented on #268
I am attaching zip of the test product, which has class files and dependencies too,

Command i am using :

java -cp '/Users/kOLT/Documents/joda-time-pitest/pitest/*:/Users/kOLT/Documents/pitest_runner_test/target/classes/:/Users/kOLT/Documents/pitest_runner_test/target/test-classes/:/Users/kOLT/Documents/pitest_runner_test/target/dependency/' org.pitest.mutationtest.commandline.MutationCoverageRep

[2016-05-26 08:40] abbi031892 commented on #268
I found the issue, the xml was not having annotations configured. Thanks

[2016-05-26 08:40] #268 closed

[2016-05-30 11:42] hcoles commented on #267
@alexec If any of the organisations those projects were for could provide a quote for the website it would be much appreciated.

[2016-05-31 04:29] tbuchber commented on #140
I tested PIT 1.1.10. I love that I can now set maxSurviving. However, I did find a couple of issues.

1. The minimum maxSurviving value supported is 1. I really want to set it to 0. However, line 387 in pitest/AbstractPitMojo.java [if ((this.maxSurviving > 0)] limits maxSurviving to >=1.

2. The message at failure is displaying the incorrect number of max survivors. Line 391 in pitest/AbstractPitM

[2016-05-31 09:30] alexec commented on #267
@hcoles -- I don't currently work for a company using it, but I'll drop an email to a colleague and see if they're interested.

[2016-06-02 13:30] tbuchber opened #269 "PIT 1.1.10 maxSurviving issues"
I tested PIT 1.1.10. I love that I can now set maxSurviving. However, I did find a couple of issues.

1.The minimum maxSurviving value supported is 1. I really want to set it to 0. However, line 387 in pitest/AbstractPitMojo.java [if ((this.maxSurviving > 0)] limits maxSurviving to >=1.

2.The message at failure is displaying the incorrect number of max survivors. Line 391 in pitest/AbstractPitMoj

[2016-06-03 13:23] theangrydev commented on #269
Would setting <mutationThreshold>100</mutationThreshold> achieve what you want instead?

[2016-06-03 14:18] hcoles commented on #269
@theangrydev maxSurviving was introduced as the threshold doesn't quite allow you the break the build on a surviving mutant due to rounding.

It sounds like it is impressively broken for such as simple feature. I'll put out a fix when I get chance, or am happy to accept a PR.

[2016-06-06 15:43] tbuchber commented on #269
Your fixes look correct to me. Thanks for the fixes. I look forward to trying 1.1.11. Thank you!

[2016-06-07 00:15] cypai opened #270 "Different mutation thresholds for different classes"
It would be great if there was a way to set different mutation thresholds for different classes. I'm thinking of something like in Cobertura, where you can use regex to specify different coverage thresholds. This way we can have different thresholds for different sections of a project.

For example, see here: https://github.com/checkstyle/checkstyle/blob/57284ec47f870b57b2b7faf4c002f4db5c66bfc2/po

[2016-06-12 22:57] rnveach opened #272 "Windows Reports Tests Failure while Ubuntu doesn't"
I am trying to test out pitest on a project I work on in Windows, and pitest reports that the suite isn't green, but the same branch in an Ubuntu VM completes successfully. Both have the same maven version.

The project and test branch: https://github.com/rnveach/checkstyle/tree/pitest
pitest configuration: https://github.com/rnveach/checkstyle/commit/9f39f4be4af9e05e6978b38df5b9a1dc25677a5a

The

[2016-06-13 16:14] hcoles commented on #272
The coverage stage stops when a test fails, so your failing test is most likely com.puppycrawl.tools.checkstyle.utils.TokenUtilsTest.testTokenValueIncorrect2.

The most common reason for tests failing at the coverage stage are

a) Problem tests getting picked up that aren't usually run
b) Test order dependencies in the suite
c) An issue with an unusual test runner

As it's running ok for you on li

[2016-06-13 17:35] rnveach commented on #272
@hcoles

Either `stops when a test fails` is incorrect, or something else is wrong.
After removing the method in question still caused pitest to fail, I removed the entire test class. Pitest's last test is now `ScopeUtilsTest`, which was in my original output, and pitest is still saying the suite isn't green.
As far as I can tell, the test order looks the same from the first run except `TokenUtils

[2016-06-14 02:46] rnveach commented on #272
I was able to get pitest past the green suite issue by deleteing:
* com.puppycrawl.tools.checkstyle.utils.CommonUtilsTest
* com.puppycrawl.tools.checkstyle.internal.XDocsPagesTest

One uses `PowerMockRunner`, the other doesn't. I will see if I can identify a way to see if it is an order issue.

[2016-06-15 04:14] rnveach commented on #272
I am closing this issue. It looks like it is a test order issue between 3 tests.
* `com.puppycrawl.tools.checkstyle.MainTest.testDebugOption`
* `com.puppycrawl.tools.checkstyle.internal.XDocsPagesTest.testAllCheckSections`
* `com.puppycrawl.tools.checkstyle.internal.XDocsPagesTest.testAllXmlExamples`

[code]

Removing any of the 3 tests makes the suite green.
Somehow the first 2 are causing `XDocs

[2016-06-15 04:14] #272 closed

[2016-06-16 09:47] Tanushree-Mishra opened #273 "Incorrect Coverage"
Though code coverage is coming while debugging manually. But while running through PIT mutation test it's showing lines are not covered.

![pit_issue](https://cloud.githubusercontent.com/assets/19972099/16112559/75a3d4e4-33d5-11e6-9105-dc66cd01bf27.png)

[2016-06-16 20:09] feckertson commented on #230
The problem seems to be that DefaultTestPrioritiser.pickTests is comparing apples to oranges.

It passes into getTestsForClassLine a ClassLine that was generated from the bytecode generated by the default class loader. That class line ends up being compared to class lines that are generated from bytecode loaded and modified by PowerMock which has a completely different set of blocks and lines.

On

[2016-06-17 07:01] Tanushree-Mishra commented on #273
Hi

I am using jdk1.7.0_79, Junit4.11 and PIT 1.1.5 (which is available at Eclipse Market place). I am running pitest by eclipse maven project. I am trying to reproduce in sample project. But issue not coming.
Attached the generated report. You can check the method “private void startPMCollection()” in com.nokia.oss.mediations.ltea.pm.collector:CollectionTask.java

Thanks
Tanushree

From: Henry Co

[2016-06-18 20:40] feckertson commented on #230
Here is a better example to illustrate the issue.  It contains two essentially identical classes DataProcessorA and DataProcessorB with essentially identical unit tests but radically different mutation coverage.

The only difference between the two is that DataProcessorA directly constructs a new object where DataProcessorB uses a helper class to obtain that object.  In order to spy on the constru

[2016-06-20 12:06] Tanushree-Mishra opened #274 "How to mock final class method"
Can you please give example how to mock final class method

[2016-06-20 12:13] hcoles commented on #274
@Tanushree-Mishra Pitest is not a mocking framework, could you give a bit more detail on what the issue is that you're encountering?

[2016-06-20 12:15] Tanushree-Mishra commented on #274
Hi
I am trying to mock a method in final class such that it will return the desire result. Is there anyway to do the same?

Thanks
Tanushree

[2016-06-20 12:18] hcoles commented on #274
Something like powermock will let you do this. Pitest is not a mocking framework, so will not.

[2016-06-20 19:31] hcoles commented on #230
@feckertson Despite the bytecode re-writing performed by powermock this used to all hang together, it's taken me a little while to piece together how.

The way the coverage system used to work was to tie each test back to a line number based on the debug information added by the compiler. This information remained valid after the transformation.

A few releases back pitest switched to a block base

[2016-06-21 06:27] Tanushree-Mishra opened #275 "Is there any way i can check mutators of math operation done on local variables inside a method"
Hi
Is there any way i can check mutators of math operation done on local variables inside a method

Thanks
Tanushree
![mutation_issue](https://cloud.githubusercontent.com/assets/19972099/16219943/3e69fc4e-37a7-11e6-8bfb-cf944144f419.png)

[2016-06-21 09:55] Kidlike commented on #230
I vote for dropping support for PowerMock.

I can't find the infamous github page explaining why powermock is "bad" right now...

Nonetheless, I believe PowerMock doesn't serve any actual purpose in **new** TDD applications.
And also Pitest is at least "friendlier" in new applications (or: the effort to make use of it in legacy applications is not worth it).

So this alignment would make sense.

[2016-06-21 14:17] hcoles commented on #230
@Kidlike If a codebase needs powermock to test it then in all likelihood there will be other issues that make it unsuitable for mutation testing, so I agree that the default position is to drop powermock support.

That said supporting all mocking frameworks was an early goal of pitest so I'd like to first try and see if there's a way to cleanly get support back.

[2016-06-21 16:24] Tanushree-Mishra commented on #275
hi
any suggestion how to write mutation test case for this method.

Thanks
Tanushree

[2016-06-22 13:57] iwarapter opened #276 "Classpath too long on windows"
I have a project with a very large number of dependencies, when we try to run pitest (using the gradle plugin) we get:

[code]

I tried resolving this by instead providing a fat jar with all the dependencies and the appropriate manifest Class-Path but no joy, i ended up getting:

[code]

Is there another work around to deal with the windows limit on command length?

[2016-06-22 19:44] KyleRogers commented on #275
Hi,

if you have questions, you can post them at the mailing list/user group: https://groups.google.com/forum/#!forum/pitusers
GitHub issues should be used to report bugs and errors.

-----
The surviving mutants are telling you that you don't have test cases in place that check the calculation in your method. You need some tests that clearly check the return value ("str") for the correct year used

[2016-06-23 07:00] Tanushree-Mishra commented on #275
Thanks a lot for the suggestion... It worked

[2016-06-23 07:00] #275 closed

[2016-06-23 07:04] Tanushree-Mishra opened #277 "Is there any way to write mutation check for operations done on local variables"
Hi
Is there any way to write mutation check for operations done on local variables?

Thanks
Tanushree

![mutation_issue](https://cloud.githubusercontent.com/assets/19972099/16294541/d4643906-393e-11e6-8ff3-b624b025a1c1.png)

[2016-06-23 20:28] KyleRogers commented on #277
See my answer at https://groups.google.com/forum/#!topic/pitusers/FQ6gjWWvvuQ

Regards
Stefan

[2016-06-24 09:30] Tanushree-Mishra commented on #277
Hi
I tried with both valid and invalid path for file existence getting checked inside a void method. But still mutants are getting survived.

attached the sample project.
[SampleJunit.zip](https://github.com/hcoles/pitest/files/331533/SampleJunit.zip)

![filecheck_mutation](https://cloud.githubusercontent.com/assets/19972099/16334043/5e8819bc-3a1c-11e6-96d4-f486a37c8baf.png)

[2016-06-24 12:23] mariogarcia opened #278 "Pitest with simple Groovy project"
Hi:

First of all, great work, this project is amazing!

I'm trying to use `pitest` in a `Groovy` (`Gradle` based) project but although it always seems to find `Spock` specifications it never creates any mutation. I've created a basic `Groovy` project (which I've attached to this issue [pitestgroovyproject.zip](https://github.com/hcoles/pitest/files/331722/pitestgroovyproject.zip)) to reproduce th

[2016-06-24 12:37] hcoles commented on #278
Hi Mario,

At the moment pitest intentionally avoids mutating groovy code as it knows it can't do a very good job of it. It would create a lot of junk mutations in code that didn't map back directly to anything expressed in code by a developer.

It might be possible to filter those mutations out or create groovy specific mutation operators that give better results. The last time I looked at this t

[2016-06-24 12:56] mariogarcia commented on #278
Thanks for the explanation Henry! I understand.

I'll keep an eye on the repo to see if there is any progress on this. Anyway in case you start the task, it would be nice to have some kind of feedback to see if there's anything the `Groovy` community could do in order to help you.

Again thanks for your patience
Mario

[2016-06-25 02:31] zygoth commented on #255
Ok, but there is no reason for me to test auto-generated code, this stuff
should be exempt from mutations.

On Tue, Apr 19, 2016 at 1:26 PM, Stefan Penndorf <notifications@github.com>
wrote:

[2016-06-25 07:45] tobijdc commented on #255
PITEST works on the bytecode level.
I assume there is no easy way to distinguish between the two examples on bytecode level.

[2016-06-25 17:48] caarlos0 opened #279 "How can I found what is broken?"
A test fails, like this:

[code]

And that's about it of logs, even with `verbose` enabled. How can I find what is broken, and why?

The test passes running it normally (`mvn clean install`, in the IDE, well, everywhere but pitest).

Furthermore, this should probably be an error log instead of warning. (#280)

[2016-06-27 08:13] hcoles commented on #279
The problem is usually one of -

1. A test order dependency in the suite
2. A test being picked up by pitest that isn't normally run
3. An issue with a custom runner that pitest hasn't encountered before not splitting cleanly into subtests

A fix is needed for 3 (pitest currently contains a blacklist of runners to avoid splitting rather than the more sensible whitelist).

Unexpected tests can be s

[2016-06-27 08:46] hcoles opened #281 "Whitelist splittable runners"
Pitest breaks tests down into smaller parts than standard JUnit so that they may be targeted against mutants more precisely.

Most of the time this works well, but sometimes this causes issues with custom runners. Pitest currently works round this by maintaining a blacklist. To prevent pitest failing when encountering a new runner this should more sensibly be a configurable whitelist.

To help swi

[2016-06-27 12:02] caarlos0 commented on #279
yeah, that would probably be useful.
thanks 💃

[2016-06-27 15:30] jqno commented on #281
org.junit.runners.Parameterized | YES

<sub>(You probably didn't mean the runners that are bundled with JUnit itself, but just to be on the safe side...)</sub>

[2016-06-29 17:10] KyleRogers commented on #279
@hcoles

I think it would be more useful to capture the output of the test (System.out/System.err ?) and write that to a file for later inspection. The current problem is that you can't find out what went wrong :-/

[2016-06-29 17:21] KyleRogers commented on #281
We're using ```org.springframework.test.context.junit4.SpringJUnit4ClassRunner``` for integration tests but we usually don't run those with pitest. SpringJUnit4ClassRunner is not supposed to be thread safe as explained in [[SPR-5863]](https://jira.spring.io/browse/SPR-5863) and [[SPR-12421]](https://jira.spring.io/browse/SPR-12421)

We've been using

org.jmock.integration.junit4.JMock | YES

but r

[2016-06-29 17:53] KyleRogers commented on #255
@zygoth

Nevertheless this "auto-generated" code ships with some semantics and changes the behaviour of your method. I don't agree that this is auto-generated code which shouldn't be tested. If you don't need the behaviour or if you don't rely on that behaviour just don't use try-with-resources.

If you use try-with-ressources you SHOULD check at least:
- that your stream is closed on success
- th

[2016-06-30 14:54] hcoles commented on #281
@jqon Thanks - no harm in listing bundled ones particularly if that comes with a working/not working report

@KyleRogers Wasn't aware that SpringJUnit4ClassRunner wasn't thread safe. I avoid it as much as possible myself but I know a lot of people use it heavily.

[2016-07-04 20:02] theangrydev opened #282 "Bug: Some "removed call to" mutations claim to have been killed but actually weren't"
I don't have a minimal example yet, will put one up when I get time

[2016-07-04 20:52] theangrydev commented on #282
Are the mutations generated always independent?

By that I mean, are two mutations ever applied at the same time or will they always be applied individually to a fresh copy of the class?

I can't isolate the issue well unfortunately.

I have seen this today on a large suite of tests where if I manually mutate the class in the way pitest claims it has, then the test listed under "Tests examined" in

[2016-07-04 20:56] theangrydev commented on #282
It could be because I am using <threads>5</threads> and have a shared resource that I haven't accounted for. I'll look into that and let you know.

[2016-07-05 08:06] theangrydev commented on #282
I ran my suite with `<threads>1</threads>` and pitest behaved as expected. Looks like a problem with my test suite not pitest, so closing this issue

[2016-07-05 08:06] #282 closed

[2016-07-06 06:46] galovics commented on #41
Any update here?

In my opinion, many projects have multi-module setup so I agree that this is not a "nice to have" feature but a must.

[2016-07-06 06:52] galovics commented on #170
Is there any update here?

The data access layer testing is impossible without the Spring based tests and unfortunately there are projects which don't have the data access tests within one package, thus it's really really hard to skip those tests.
Besides that, there are other tests which can't be tested without setting up the spring context; for example AOP testing.

I would really appreciate an

[2016-07-06 09:45] Kidlike commented on #170
@galovics, Personally, I rely on the naming of such classes, which is "SomethingDao", or "SomethingDAO", depending on your preference (I go with the first one).

So then you can add a pattern to exclude all of these from pitesting.
I also add our legacy "infrastructure" package name in another pattern, to exclude any legacy data access classes from pitesting.

[2016-07-06 10:30] galovics commented on #170
@Kidlike yep, thats true and that's what I'm using as a naming convention. However, there are a lot of other cases when you need spring based tests with varying package names. Excluding them one-by-one is an extremely painful task.

Even if you have to create new ones, you have to exclude them explicitly which gives another complexity to the problem.

[2016-07-06 10:51] Kidlike commented on #170
Well, I agree in concept, that pitest needs what you suggested. I would find that very useful too.
That being test runner based filtering.
Or, ideally, filtering on any annotation on the test classes.

Anything else is a workaround.

[2016-07-06 12:49] galovics commented on #170
Hopefully [this](https://github.com/hcoles/pitest/pull/283) pull request extends the functionality to support this. :-)

[2016-07-07 18:38] KyleRogers commented on #170
We're using a naming convention as well. All tests ending just in *Test are considered unit tests and will be executed by surefire and qualify as tests for pitest.

Tests that access the file system, database etc. are considered integration tests and are end with *IntegrationTest. Those tests won't be run by surefire but will be run with failsafe. These tests usually take times longer than usual u

[2016-07-07 19:18] KyleRogers commented on #170
While reviewing the change I came across a limitation of the [pull request](https://github.com/hcoles/pitest/pull/283) :

This works if and only if you're using a Runner, e.g. SpringJUnit4ClassRunner. The trend is more towards using rules for that purpose instead of runners (rules allow you to combine a Parameterized Runner with a Spring test setup). Thus if one day one of your team members decide

[2016-07-07 19:28] KyleRogers commented on #41
@jakub-bochenski @galovics
I can't agree that this is a defect. I think that's a useful enhancement but not an error. I'm  using the Sonar plugin mentioned by @szpak successfully. Thus I had no need for an aggregate mojo yet.

This is an open source project managed by @hcoles in his free time and supported by a small community of volunteers. If this is a "significant defect" for you pull requests

[2016-07-08 06:19] galovics commented on #41
The sonar plugin is an option. I also tried it out but didn't fit into the setup.

Don't get offended. Noone is here to blame someone that this is a missing feature. I just wanted to refresh the thread. :-)

[2016-07-08 07:40] galovics commented on #170
I haven't used rules for this purpose but if this is the trend, it can be supported as well. I like to do small steps to the goal and this is the first one (excluding by runners). Let's see how it works and how people use it, then we can continue developing this option.

I heard about JUnit categories as well but if you have hundreds or thousands of tests, you don't want to categorize them one-by-